Repository dotnet/coreclr, pull requests merged in 2018-12, with the labels that each got.

#21360 Update the symbol uploader/publisher to version 1.0.0-beta-63604-05.
  dependencies.props
Labels: area-Diagnostics

#21313 Add AsyncIteratorStateMachineAttribute
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncIteratorStateMachineAttribute.cs
Labels: * NO MERGE *

#21340 Additional tests for type equivalence
  tests/src/Interop/StringMarshalling/VBByRefStr/PInvokeDef.cs
  tests/src/baseservices/typeequivalence/contracts/Types.cs
  tests/src/baseservices/typeequivalence/impl/Impls.cs
  tests/src/baseservices/typeequivalence/simple/Simple.cs
Labels: area-Interop, test enhancement

#21344 Add repro for `(reg2 == REG_NEXT(reg1)) || (reg2 == REG_LR)` assert in `codegenarm64`.
  tests/issues.targets
  tests/src/JIT/Regression/JitBlue/DevDiv_736188/DevDiv_736188.cs
  tests/src/JIT/Regression/JitBlue/DevDiv_736188/DevDiv_736188.csproj
Labels: arch-arm64

#21369 Convert SDK projects into non-SDK projects
  tests/src/baseservices/typeequivalence/contracts/TypeContracts.csproj
  tests/src/baseservices/typeequivalence/impl/TypeImpl.csproj
  tests/src/baseservices/typeequivalence/simple/Simple.csproj
Labels: area-Interop, test bug

#21091 Add tests for marshalling RuntimeHandle types.
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Primitives/RuntimeHandles/CMakeLists.txt
  tests/src/Interop/PInvoke/Primitives/RuntimeHandles/RuntimeHandlesNative.cpp
  tests/src/Interop/PInvoke/Primitives/RuntimeHandles/RuntimeHandlesTest.cs
  tests/src/Interop/PInvoke/Primitives/RuntimeHandles/RuntimeHandlesTest.csproj
  tests/src/Interop/common/types.h
Labels: area-Interop, test enhancement

#21384 Change from phases to jobs
  eng/build-job.yml
  eng/xplat-job.yml
Labels: area-Infrastructure

#21378 Disable native image usage for collectible assemblies
  src/vm/ceeload.cpp
  src/vm/ceeload.h
  src/vm/readytoruninfo.cpp
Labels: area-VM

#21393 Use array syntax in eng/test-job.yml
  eng/test-job.yml
  eng/xplat-job.yml
Labels: area-Infrastructure

#21343 Port CustomMarshalers.dll to C# and .NET Core
  src/System.Private.CoreLib/ILLinkTrim.xml
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/System/Collections/IEnumerable.cs
  src/System.Private.CoreLib/shared/System/HResults.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventsSink.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IEnumerable.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/ComDataHelpers.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumVariantViewOfEnumerator.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumerableToDispatchMarshaler.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumerableViewOfDispatch.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumeratorToEnumVariantMarshaler.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumeratorViewOfEnumVariant.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/IDispatch.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeMethods.cs
  src/vm/classnames.h
  src/vm/mlinfo.cpp
  src/vm/mngstdinterfaces.cpp
  src/vm/mngstditflist.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/COM/NativeServer/Servers.h
  tests/src/Interop/PInvoke/IEnumerator/CMakeLists.txt
  tests/src/Interop/PInvoke/IEnumerator/IEnumeratorNative.cpp
  tests/src/Interop/PInvoke/IEnumerator/IEnumeratorNative.h
  tests/src/Interop/PInvoke/IEnumerator/IEnumeratorTest.cs
  tests/src/Interop/PInvoke/IEnumerator/IEnumeratorTest.csproj
  tests/src/Interop/common/ComHelpers.h
Labels: area-Interop

#21417 [release/2.2] Fix CancellationTokenRegistration.Token after CTS.Dispose
  src/mscorlib/src/System/Threading/CancellationTokenRegistration.cs
Labels: Servicing-approved, area-System.Threading

#21428 Disable obsolete collectible corefx tests
  tests/CoreFX/CoreFX.issues.json
Labels: area-Diagnostics

#21426 Fix SOS thread statics display
  src/ToolBox/SOS/Strike/util.cpp
Labels: area-Diagnostics

#21429 Add PNSE implementations of other custom marshalers
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/ExpandoToDispatchExMarshaler.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/TypeToTypeInfoMarshaler.cs
Labels: area-Interop

#21401 Fix some SOS commands after SharedDomain removal
  src/ToolBox/SOS/Strike/strike.cpp
  src/ToolBox/SOS/Strike/util.cpp
Labels: area-Diagnostics

#21430 Add support for loading registered TLBs
  src/inc/corerror.xml
  src/pal/prebuilt/corerror/mscorurt.rc
  src/pal/prebuilt/inc/corerror.h
  src/vm/assembly.cpp
  src/vm/assembly.hpp
  src/vm/interoputil.cpp
  src/vm/interoputil.h
  src/vm/marshalnative.cpp
  src/vm/olevariant.cpp
  src/vm/stdinterfaces.cpp
  src/vm/stdinterfaces.h
Labels: area-Interop, os-windows

#21438 Add PNSE CustomMarshaler tests (for Tlbimp compat)
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/CustomMarshalers/CMakeLists.txt
  tests/src/Interop/PInvoke/CustomMarshalers/CustomMarshalersNative.cpp
  tests/src/Interop/PInvoke/CustomMarshalers/CustomMarshalersTest.cs
  tests/src/Interop/PInvoke/CustomMarshalers/CustomMarshalersTest.csproj
Labels: area-Interop, test enhancement

#21447 Remove `TryGetGuid()` and `GetDefaultInterfaceForCoclass()` from the
  src/vm/stdinterfaces.cpp
  src/vm/stdinterfaces.h
Labels: area-Interop

#21469 Instead of using Win8+ api-sets use legacy DLL entrypoint to support downleve…
  tests/src/Interop/PInvoke/SafeHandles/AbstractDerived/AbstractDerivedTest.cs
Labels: area-Interop, test bug

#21476 Minor cleanup of the interoputil.h API
  src/vm/interoputil.cpp
  src/vm/interoputil.h
Labels: area-Interop

#21526 Fixes issue #21485 and #21484
  src/debug/createdump/crashinfo.cpp
  src/debug/daccess/task.cpp
  src/pal/src/thread/process.cpp
Labels: area-Diagnostics

#21545 Add Azure DevOps signing support
  .gitignore
  Directory.Build.props
  Directory.Build.targets
  eng/Signing.props
  eng/build-job.yml
  eng/xplat-job.yml
Labels: area-Infrastructure

#21569 Add tests for marshalling a System.Drawing.Color.
  tests/src/Common/test_dependencies/test_dependencies.csproj
  tests/src/Interop/COM/NETClients/Primitives/ColorTests.cs
  tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/Interop/COM/NETClients/Primitives/Program.cs
  tests/src/Interop/COM/NETServer/ColorTesting.cs
  tests/src/Interop/COM/NETServer/NETServer.csproj
  tests/src/Interop/COM/NativeClients/Primitives/CMakeLists.txt
  tests/src/Interop/COM/NativeClients/Primitives/Client.cpp
  tests/src/Interop/COM/NativeClients/Primitives/ClientTests.h
  tests/src/Interop/COM/NativeClients/Primitives/ColorTests.cpp
  tests/src/Interop/COM/NativeClients/Primitives/CoreShim.X.manifest
  tests/src/Interop/COM/NativeServer/COMNativeServer.X.manifest
  tests/src/Interop/COM/NativeServer/ColorTesting.h
  tests/src/Interop/COM/NativeServer/Servers.cpp
  tests/src/Interop/COM/NativeServer/Servers.h
  tests/src/Interop/COM/ServerContracts/NativeServers.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
  tests/src/Interop/COM/ServerContracts/ServerGuids.cs
Labels: area-Interop, test enhancement

#21496 Update named mutex PAL tests to include case of file locks being inherited by child process
  src/pal/tests/palsuite/threading/NamedMutex/test1/namedmutex.cpp
Labels: area-System.Threading

#21607 Freebsd symbols3
  clrdefinitions.cmake
  src/publish.proj
Labels: os-freebsd

#21618 Update tiering guide to reference the new TieredCompilation label
  Documentation/design-docs/tiered-compilation-guide.md
Labels: area-TieredCompilation

#21624 Fix ArrayStack's call to default constructor for <T>.
  src/jit/arraystack.h
  src/jit/block.h
  src/jit/codegen.h
  src/jit/copyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/lower.cpp
  src/jit/morph.cpp
  src/jit/ssabuilder.cpp
Labels: area-CodeGen

#21523 Porting desktop changes to core
  clrdefinitions.cmake
  clrfeatures.cmake
  src/gc/env/gcenv.ee.h
  src/gc/gc.cpp
  src/gc/gc.h
  src/gc/gcconfig.h
  src/gc/gcee.cpp
  src/gc/gcenv.ee.standalone.inl
  src/gc/gcevents.h
  src/gc/gcimpl.h
  src/gc/gcinterface.ee.h
  src/gc/gcinterface.h
  src/gc/gcpriv.h
  src/inc/clrconfigvalues.h
  src/inc/configuration.h
  src/utilcode/configuration.cpp
  src/vm/ClrEtwAll.man
  src/vm/ClrEtwAllMeta.lst
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/eventtrace.cpp
  src/vm/gcenv.ee.cpp
  src/vm/gcenv.ee.h
  src/vm/gchelpers.cpp
  src/vm/gctoclreventsink.cpp
  src/vm/gctoclreventsink.h
  src/vm/threads.cpp
  src/vm/yieldprocessornormalized.cpp
Labels: area-GC

#21722 Don't Sleep(1) in some spin-wait loops
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/ConcurrentQueueSegment.cs
  src/System.Private.CoreLib/shared/System/Threading/ManualResetEventSlim.cs
  src/System.Private.CoreLib/shared/System/Threading/SpinWait.cs
Labels: area-System.Threading

#21718 Remove EventPipeController static constructor
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeController.cs
Labels: area-Tracing
