Repository dotnet/coreclr, pull requests merged in 2018-09, with the labels that each got.

#19842 Add support for collectible types to SOS
  src/ToolBox/SOS/Strike/eeheap.cpp
  src/ToolBox/SOS/Strike/gcroot.cpp
  src/ToolBox/SOS/Strike/sos.cpp
  src/ToolBox/SOS/Strike/sos.h
  src/ToolBox/SOS/Strike/util.h
  src/debug/daccess/daccess.cpp
  src/debug/daccess/dacimpl.h
  src/debug/daccess/request.cpp
  src/inc/dacprivate.h
  src/inc/sospriv.idl
  src/pal/prebuilt/idl/sospriv_i.cpp
  src/pal/prebuilt/inc/sospriv.h
Labels: area-Diagnostics

#17707 Add native vararg test
  tests/issues.targets
  tests/src/JIT/Directed/arglist/CMakeLists.txt
  tests/src/JIT/Directed/arglist/vararg.cs
  tests/src/JIT/Directed/arglist/vararg.csproj
  tests/src/JIT/Directed/arglist/varargmanaged.cs
  tests/src/JIT/Directed/arglist/varargnative.c
  tests/src/JIT/Directed/arglist/varargtypes.cs
  tests/testsUnsupportedOutsideWindows.txt
Labels: 2 - In Progress

#19804 Clean CodeGen::genEmitCall
  src/jit/codegen.h
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/emit.cpp
  src/jit/emit.h
  src/jit/emitarm.cpp
  src/jit/emitarm.h
  src/jit/emitarm64.cpp
  src/jit/emitarm64.h
  src/jit/emitxarch.cpp
  src/jit/emitxarch.h
Labels: area-CodeGen, enhancement

#19848 Add logging to file when CrossGen System.Private.CoreLib.dll on Unix
  build.sh
Labels: enhancement

#19812 Fix ICU load on OpenSUSE Tumbleweed
  src/corefx/System.Globalization.Native/icushim.cpp
Labels: area-System.Globalization

#19879 Add GetCacheSizePerLogicalCpu and GetCurrentProcessCpuCount to gcenv for windows
  src/gc/windows/gcenv.windows.cpp
Labels: area-GC

#19803 Port #19780 to the 2.1 branch.
  src/jit/codegencommon.cpp
  src/vm/amd64/jithelpers_fast.S
Labels: arch-x64, area-CodeGen, os-linux, reliability, servicing-approved

#19899 Fix optimization of CAST(int)(LSH(long)<<CNS_INT 32+ with side effects).
  src/jit/morph.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_19272/GitHub_19272.cs
  tests/src/JIT/Regression/JitBlue/GitHub_19272/GitHub_19272.csproj
Labels: area-CodeGen

#19874 CallSites for MemoryExtensions.Contains (CoreCLR)
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/TraceLogging/Statics.cs
  src/System.Private.CoreLib/shared/System/Globalization/CalendarData.Unix.cs
  src/System.Private.CoreLib/shared/System/Globalization/CultureData.cs
  src/System.Private.CoreLib/shared/System/Guid.cs
  src/System.Private.CoreLib/shared/System/IO/Path.Unix.cs
  src/System.Private.CoreLib/shared/System/IO/Path.Windows.cs
  src/System.Private.CoreLib/shared/System/IO/PathHelper.Windows.cs
  src/System.Private.CoreLib/shared/System/SpanHelpers.T.cs
  src/System.Private.CoreLib/shared/System/String.Searching.cs
  src/System.Private.CoreLib/src/Microsoft/Win32/RegistryKey.cs
  src/System.Private.CoreLib/src/System/Environment.cs
  src/System.Private.CoreLib/src/System/Reflection/AssemblyName.cs
Labels: area-System.Memory

#19892 Fix GC for collectible classes
  src/gc/gc.cpp
Labels: area-GC

#19911 Fix xplat debugging perf problem.
  src/debug/di/dbgtransportpipeline.cpp
  src/debug/ee/debugger.h
  src/debug/inc/dbgipcevents.h
Labels: area-Diagnostics

#19951 Move Assert class from Interop into the CoreCLRTestLibrary
  tests/src/Common/CoreCLRTestLibrary/Assertion.cs
  tests/src/Common/CoreCLRTestLibrary/CoreCLRTestLibrary.csproj
  tests/src/Interop/ArrayMarshalling/ByValArray/MarshalArrayByValTest.cs
  tests/src/Interop/ArrayMarshalling/ByValArray/MarshalArrayByValTest.csproj
  tests/src/Interop/BestFitMapping/BestFitMapping.csproj
  tests/src/Interop/COM/Activator/Program.cs
  tests/src/Interop/COM/NETClients/Primitives/ArrayTests.cs
  tests/src/Interop/COM/NETClients/Primitives/ErrorTests.cs
  tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/Interop/COM/NETClients/Primitives/NumericTests.cs
  tests/src/Interop/COM/NETClients/Primitives/StringTests.cs
  tests/src/Interop/COM/NativeClients/Primitives.csproj
  tests/src/Interop/DllImportAttribute/FileExtensionProbe.csproj
  tests/src/Interop/FuncPtrAsDelegateParam/FuncPtrAsDelegateParam.csproj
  tests/src/Interop/Interop.settings.targets
  tests/src/Interop/MarshalAPI/FunctionPointer/FunctionPtrTest.csproj
  tests/src/Interop/MarshalAPI/IUnknown/IUnknownTest.cs
  tests/src/Interop/MarshalAPI/IUnknown/IUnknownTest.csproj
  tests/src/Interop/NativeCallable/NativeCallableTest.csproj
  tests/src/Interop/PrimitiveMarshalling/Bool/BoolTest.csproj
  tests/src/Interop/PrimitiveMarshalling/EnumMarshalling/EnumTest.csproj
  tests/src/Interop/PrimitiveMarshalling/UIntPtr/PInvokeUIntPtrTest.csproj
  tests/src/Interop/ReadMe.md
  tests/src/Interop/RefCharArray/RefCharArrayTest.csproj
  tests/src/Interop/RefInt/RefIntTest.csproj
  tests/src/Interop/SimpleStruct/SimpleStruct.csproj
  tests/src/Interop/SizeConst/SizeConstTest.csproj
  tests/src/Interop/StringMarshalling/LPSTR/LPSTRTest.csproj
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTest.csproj
  tests/src/Interop/StringMarshalling/UTF8/UTF8Test.csproj
Labels: area-Interop, test enhancement

#19773 Add short guide for using tiered compilation and how to provide feedback
  Documentation/design-docs/tiered-compilation-guide.md
Labels: area-CodeVersioning

#19943 Fix spmi environment reset.
  src/ToolBox/superpmi/superpmi-shared/lwmlist.h
  src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/ToolBox/superpmi/superpmi-shared/methodcontextreader.cpp
  src/ToolBox/superpmi/superpmi/commandline.cpp
  src/ToolBox/superpmi/superpmi/jithost.cpp
  src/ToolBox/superpmi/superpmi/jithost.h
  src/ToolBox/superpmi/superpmi/jitinstance.cpp
  src/ToolBox/superpmi/superpmi/jitinstance.h
  src/ToolBox/superpmi/superpmi/superpmi.cpp
Labels: area-Infrastructure

#15657 Move FP DIV/MUL handling to genCodeForBinary
  src/jit/codegen.h
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/instr.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
Labels: area-CodeGen

#19976 Port Formatting Japanese First Year of Era
  src/System.Private.CoreLib/shared/System/Globalization/CultureData.cs
  src/System.Private.CoreLib/shared/System/Globalization/DateTimeFormat.cs
  src/System.Private.CoreLib/shared/System/Globalization/DateTimeFormatInfo.cs
  src/System.Private.CoreLib/shared/System/Globalization/DateTimeParse.cs
  src/System.Private.CoreLib/src/System/AppContext/AppContextDefaultValues.Defaults.cs
  src/System.Private.CoreLib/src/System/AppContext/AppContextSwitches.cs
Labels: area-System.Globalization

#19778 Add 2.2 sdk/runtime to JitBench
  tests/src/performance/Scenario/JitBench/Utilities/DotNetSetup.cs
Labels: area-CodeVersioning

#20007 Replace assert in Precode::SetTargetInterlocked
  src/vm/precode.cpp
Labels: area-VM

#20010 Fix perf scenarios in the min_opt config
  tests/scripts/run-xunit-perf.py
Labels: area-CodeVersioning, tenet-performance-benchmarks

#20084 Fix issue #20076 createdump faults.
  src/debug/daccess/stack.cpp
Labels: area-Diagnostics

#19959 Streamline MemoryExtension Trim and Trim(char) by removing calls to TrimStart/End and avoiding unnecessary Slice.
  src/System.Private.CoreLib/shared/System/MemoryExtensions.cs
Labels: area-System.Memory

#20113 clean code that counts promoted implict byref argument occurrences.
  src/jit/morph.cpp
Labels: area-CodeGen

#20094 Don't check for libintl.h on Darwin (OSX)
  src/pal/src/configure.cmake
Labels: area-Infrastructure

#20042 Fix hijacking for ARM/ARM64/x86 on Unix
  src/vm/excep.cpp
  src/vm/excep.h
  src/vm/threadsuspend.cpp
Labels: arch-arm32, arch-arm64, arch-x86, area-VM

#20120 switch to netcoreapp2.0 in test builds.
  tests/src/Common/external/external.depproj
Labels: area-Infrastructure

#20115 Porting fix on Desktop for VirtualUnlock perf issue on WKS GC
  src/gc/gc.cpp
Labels: area-GC

#20132 Fix possible overflow in SafeBuffer.Initialize.
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/SafeBuffer.cs
  tests/CoreFX/CoreFX.issues.json
Labels: area-Interop

#20141 Do not treat a custom layout as overlapping when trying to inline a struct method.
  src/jit/compiler.h
  src/jit/importer.cpp
  src/jit/lclvars.cpp
Labels: area-CodeGen

#20159 Avoid AwaitTaskContinuation allocation in some awaits
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilder.cs
  src/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs
Labels: tenet-performance

#19766 Enable BSTR Marshaling Support for x-plat PInvoke
  src/System.Private.CoreLib/src/Microsoft/Win32/Win32Native.cs
  src/System.Private.CoreLib/src/System/String.CoreCLR.cs
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/classlibnative/bcltype/stringnative.cpp
  src/classlibnative/bcltype/stringnative.h
  src/dlls/mscoree/mscorwks_unixexports.src
  src/vm/ecalllist.h
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/mlinfo.cpp
  src/vm/mscorlib.h
  src/vm/mtypes.h
Labels: area-Interop

#20158 Enable delegate marshalling for collectible types
  src/System.Private.CoreLib/Resources/Strings.resx
  src/vm/comdelegate.cpp
  tests/CoreFX/CoreFX.issues.json
Labels: area-VM

#20186 Avoid allocation in Task.Yield() awaiter
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/YieldAwaitable.cs
Labels: tenet-performance

#20191 Make `structType` optional in jitEEInterface method `getFieldType`.
  src/ToolBox/superpmi/superpmi-shared/icorjitinfoimpl.h
  src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/inc/corinfo.h
  src/jit/gentree.cpp
  src/jit/importer.cpp
  src/jit/lclvars.cpp
  src/jit/valuenum.cpp
  src/vm/jitinterface.cpp
  src/vm/jitinterface.h
Labels: area-VM

#20130 Add additional parameter verification for Marshal.GetHINSTANCE off-Windows
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  tests/CoreFX/CoreFX.issues.json
Labels: area-Interop

#20183 Improve Guid parsing performance
  src/System.Private.CoreLib/shared/System/Guid.Unix.cs
  src/System.Private.CoreLib/shared/System/Guid.cs
  src/System.Private.CoreLib/shared/System/Number.Parsing.cs
Labels: area-System.Runtime, tenet-performance
