Repository dotnet/coreclr, pull requests merged in 2018-11, with the labels that each got.

#19328 Add PInvoke/NativeCallManagedComVisible tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/AssemblyTrue/AssemblyTrueTest.cs
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/AssemblyTrue/AssemblyTrueTest.csproj
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/AssemblyWithoutComVisible/AssemblyWithoutComVisibleTest.cs
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/AssemblyWithoutComVisible/AssemblyWithoutComVisibleTest.csproj
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/CMakeLists.txt
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/ComVisibleNative.cpp
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/Default/DefaultTest.cs
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/Default/DefaultTest.csproj
  tests/src/Interop/PInvoke/NativeCallManagedComVisible/Helpers.cs
Labels: area-Interop, test enhancement

#20733 Workaround FreeBSD symbol publishing problem.
  src/publish.proj
Labels: area-Diagnostics

#20756 one more place to add case for freebsd
  src/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets
Labels: os-freebsd

#20701 Delete Free of the released GCHandle in tests/src/JIT/Regression/CLR-x86-JIT/V1-M09/b13621.cs
  tests/src/JIT/Regression/CLR-x86-JIT/V1-M09/b13621/b13621.cs
Labels: test bug

#20764 Allows Debug.Fail to go through Trace Listeners
  src/System.Private.CoreLib/shared/System/Diagnostics/Debug.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/DebugProvider.Unix.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/DebugProvider.cs
  src/System.Private.CoreLib/src/System/Diagnostics/DebugProvider.Windows.cs
Labels: area-Diagnostics

#20771 Perf improvements to Span and Memory
  src/System.Private.CoreLib/shared/System/Memory.cs
  src/System.Private.CoreLib/shared/System/MemoryExtensions.Fast.cs
  src/System.Private.CoreLib/shared/System/ReadOnlyMemory.cs
  src/System.Private.CoreLib/shared/System/ReadOnlySpan.Fast.cs
  src/System.Private.CoreLib/shared/System/Span.Fast.cs
Labels: area-System.Memory

#20773 Add StringBuilder.Append(ROM<char>)
  src/System.Private.CoreLib/shared/System/Text/StringBuilder.cs
Labels: area-System.Runtime

#20762 Fix perf regression in master.
  src/jit/morph.cpp
Labels: area-CodeGen

#20824 Exclude FreeBSD symbol packages from symbol uploader (Part 3)
  src/publish.proj
Labels: area-Diagnostics

#20830 Enable SyncBlk for xplat SOS
  src/ToolBox/SOS/Strike/sos_unixexports.src
  src/ToolBox/SOS/Strike/sosdocsunix.txt
  src/ToolBox/SOS/Strike/strike.cpp
  src/ToolBox/SOS/lldbplugin/soscommand.cpp
Labels: area-Diagnostics

#20386 Improve performance of Memory<T>.Span property getter
  src/System.Private.CoreLib/shared/System/Memory.cs
  src/System.Private.CoreLib/shared/System/ReadOnlyMemory.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/MemoryMarshal.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
  tests/CoreFX/CoreFX.issues.json
Labels: area-System.Memory

#20157 Loop-free GC rounding helpers with _BitScanReverse
  src/gc/env/gcenv.base.h
  src/gc/gc.cpp
  src/gc/gcrecord.h
  src/pal/inc/pal.h
  src/pal/src/include/pal/palinternal.h
Labels: area-GC

#20846 try to use Exclude on same line as Include instead of Remove to avoid issues with FreeBSD symbols
  src/publish.proj
Labels: os-freebsd

#20854 exclude freebsd symbols from publishing
  src/publish.proj
Labels: os-freebsd

#20384 Remove need for full GC for unloadable stuff
  src/gc/env/gcenv.ee.h
  src/gc/gc.cpp
  src/gc/gcenv.ee.standalone.inl
  src/gc/gcinterface.ee.h
  src/gc/sample/gcenv.ee.cpp
  src/vm/gcenv.ee.cpp
  src/vm/gcenv.ee.h
Labels: area-GC

#20418 Add unloadability support to ReliabilityFramework
  tests/src/GC/Stress/Framework/LoaderClass.cs
  tests/src/GC/Stress/Framework/ReliabilityConfiguration.cs
  tests/src/GC/Stress/Framework/ReliabilityFramework.cs
  tests/src/GC/Stress/Framework/ReliabilityTest.cs
  tests/src/GC/Stress/Framework/ReliabilityTestSet.cs
  tests/src/GC/Stress/testmix_gc.config
Labels: area-GC

#20874 Fix "LTTng-UST: Error (-17) while registering..." error when debugging
  src/dlls/mscoree/coreclr/CMakeLists.txt
  src/pal/src/CMakeLists.txt
Labels: area-Diagnostics

#20796 EventPipe support for "Parameters"
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventProvider.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeController.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
  src/inc/eventtracebase.h
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeeventsource.cpp
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventtrace.cpp
Labels: area-Diagnostics, area-Tracing

#20898 Port to release/2.2 branch: EventPipe support for "Parameters" #20796
  src/inc/eventtracebase.h
  src/mscorlib/shared/System/Diagnostics/Tracing/EventProvider.cs
  src/mscorlib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/mscorlib/src/System/Diagnostics/Eventing/EventPipeController.cs
  src/mscorlib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeeventsource.cpp
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventtrace.cpp
Labels: * NO MERGE *, area-Diagnostics, area-Tracing

#20896 Keep delegate fields alive across a full native call
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/vm/dllimport.cpp
  src/vm/fieldmarshaler.cpp
  src/vm/ilmarshalers.cpp
  src/vm/metasig.h
  src/vm/mscorlib.h
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsDefault/AsDefaultTest.cs
Labels: area-Interop

#20727 Support new Japanese calendar eras
  src/mscorlib/shared/System/Globalization/GregorianCalendarHelper.cs
  src/mscorlib/src/System/AppContext/AppContextDefaultValues.Defaults.cs
  src/mscorlib/src/System/AppContext/AppContextSwitches.cs
Labels: Servicing-approved

#20841 LoadLibrary refactoring
  src/inc/palclr_win.h
  src/pal/inc/pal.h
  src/pal/src/loader/module.cpp
  src/vm/assemblynative.cpp
  src/vm/dllimport.cpp
  src/vm/dllimport.h
Labels: area-AssemblyLoader, area-Interop, area-PAL

#20729 Port Formatting Japanese First Year of Era
  src/mscorlib/shared/System/Globalization/CultureData.cs
  src/mscorlib/shared/System/Globalization/DateTimeFormat.cs
  src/mscorlib/shared/System/Globalization/DateTimeFormatInfo.cs
  src/mscorlib/shared/System/Globalization/DateTimeParse.cs
  src/mscorlib/src/System/AppContext/AppContextDefaultValues.Defaults.cs
  src/mscorlib/src/System/AppContext/AppContextSwitches.cs
Labels: Servicing-approved

#20945 enable build-id on FreeBSD
  configurecompiler.cmake
  src/vm/CMakeLists.txt
Labels: os-freebsd

#20206 Update corefx exclusion file for Linux/arm64
  tests/arm64/corefx_linux_test_exclusions.txt
Labels: arch-arm64, os-linux

#20740 Lower fast tail call doesn't patch control expression
  src/jit/lower.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_20625/GitHub_20625.il
  tests/src/JIT/Regression/JitBlue/GitHub_20625/GitHub_20625.ilproj
Labels: area-CodeGen

#20118 Port to 2.1 - Don't check for libintl.h on OSX
  src/pal/src/configure.cmake
Labels: Servicing-approved, area-PAL

#20696 Optimize vtable calls
  src/vm/amd64/virtualcallstubcpu.hpp
  src/vm/arm/stubs.cpp
  src/vm/arm/virtualcallstubcpu.hpp
  src/vm/arm64/virtualcallstubcpu.hpp
  src/vm/i386/virtualcallstubcpu.hpp
  src/vm/jitinterface.cpp
  src/vm/loaderallocator.cpp
  src/vm/prestub.cpp
  src/vm/virtualcallstub.cpp
  src/vm/virtualcallstub.h
  src/zap/zapinfo.cpp
Labels: area-ReadyToRun

#20971 Increase FreeBSD job time allowance
  buildpipeline/DotNet-CoreClr-Trusted-FreeBSD.json
Labels: blocking-pipeline-build

#20910 Change GetAppDomain to return AppDomain from the global static
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/threads.h
  src/vm/threads.inl
Labels: area-VM

#20963 Add tests for AsAny Marshalling
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/AsAny/AsAnyNative.cpp
  tests/src/Interop/PInvoke/AsAny/AsAnyTest.cs
  tests/src/Interop/PInvoke/AsAny/AsAnyTest.csproj
  tests/src/Interop/PInvoke/AsAny/CMakeLists.txt
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/common/types.h
Labels: area-Interop, test enhancement

#20995 Fix arm64 PUTARG_STK(contained OBJ(contained LCL_FLD_ADDR)).
  src/jit/lower.cpp
  tests/src/JIT/Regression/JitBlue/DevDiv_718151/DevDiv_718151.cs
  tests/src/JIT/Regression/JitBlue/DevDiv_718151/DevDiv_718151.csproj
Labels: arch-arm64, area-CodeGen

#20888 Add test for marshalling ArgIterators on Windows
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Varargs/CMakeLists.txt
  tests/src/Interop/PInvoke/Varargs/VarargsNative.cpp
  tests/src/Interop/PInvoke/Varargs/VarargsTest.cs
  tests/src/Interop/PInvoke/Varargs/VarargsTest.csproj
Labels: area-Interop

#21010 Disable COM tests being CrossGen'd
  tests/src/CLRTest.CrossGen.targets
  tests/src/Interop/COM/NETClients/Aggregation/NETClientAggregation.csproj
  tests/src/Interop/COM/NETClients/IDispatch/NETClientIDispatch.csproj
  tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests.csproj
Labels: area-Interop, area-ReadyToRun, test bug

#21012 Fix invalid tests for COM native server
  tests/src/Interop/COM/NativeServer/StringTesting.h
Labels: area-Interop, test bug

#21016 Re-enable optimizations in interop helper function.
  src/vm/interoputil.cpp
Labels: area-Interop, optimization

#19326 Add PInvoke/Miscellaneous tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Miscellaneous/HandleRef/CMakeLists.txt
  tests/src/Interop/PInvoke/Miscellaneous/HandleRef/HandleRefNative.cpp
  tests/src/Interop/PInvoke/Miscellaneous/HandleRef/HandleRefTest.cs
  tests/src/Interop/PInvoke/Miscellaneous/HandleRef/HandleRefTest.csproj
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/CMakeLists.txt
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/MAWSPINative.cpp
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/MAWSPITest.cs
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/MAWSPITest.csproj
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/ManagedDll1/ManagedDll1.cs
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/ManagedDll1/ManagedDll1.csproj
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/ManagedDll2/ManagedDll2.cs
  tests/src/Interop/PInvoke/Miscellaneous/MultipleAssembliesWithSamePInvoke/ManagedDll2/ManagedDll2.csproj
Labels: area-Interop, test enhancement

#19266 Add PInvoke/Array tests
  tests/src/Common/Platform/platformdefines.cpp
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Array/MarshalArray.h
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsByValArray/AsByValArrayTest.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsByValArray/AsByValArrayTest.csproj
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsByValArray/FldDef_DefaultArray.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsLPArray/AsLPArrayTest.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsLPArray/AsLPArrayTest.csproj
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsLPArray/FldDef_LPArray.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/LPArrayNative/CMakeLists.txt
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/LPArrayNative/MarshalArrayByValArrayNative.cpp
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/AsDefault/AsDefaultTest.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/AsDefault/AsDefaultTest.csproj
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/AsLPArray/AsLPArrayTest.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/AsLPArray/AsLPArrayTest.csproj
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/LPArrayNative/CMakeLists.txt
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/LPArrayNative/MarshalArrayLPArrayNative.cpp
  tests/src/Interop/common/types.h
Labels: area-Interop, test enhancement

#21017 Fixes for Azure DevOps official build
  azure-pipelines.yml
  eng/test-job.yml
  eng/xplat-job.yml
Labels: area-Infrastructure

#20985 Add tests for ANSI BSTRs
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/mlinfo.cpp
  src/vm/mscorlib.h
  src/vm/mtypes.h
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/StringMarshalling/AnsiBSTR/AnsiBStrTest.cs
  tests/src/Interop/StringMarshalling/AnsiBSTR/AnsiBStrTest.csproj
  tests/src/Interop/StringMarshalling/AnsiBSTR/AnsiBStrTestNative.cpp
  tests/src/Interop/StringMarshalling/AnsiBSTR/CMakeLists.txt
  tests/src/Interop/StringMarshalling/AnsiBSTR/PinvokeDef.cs
  tests/src/Interop/common/xplatform.h
Labels: area-Interop, test enhancement

#19270 Add PInvoke/DllImportpath tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/DllImportPath/CMakeLists.txt
  tests/src/Interop/PInvoke/DllImportPath/DllImportPathNative.cpp
  tests/src/Interop/PInvoke/DllImportPath/DllImportPathTest.cs
  tests/src/Interop/PInvoke/DllImportPath/DllImportPathTest.csproj
  tests/src/dir.targets
Labels: area-Interop, test enhancement

#19348 Add PInvoke/SizeParamIndex tests
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByOut/CMakeLists.txt
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByOut/PInvokePassingByOutNative.cpp
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByOut/PassingByOutTest.cs
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByOut/PassingByOutTest.csproj
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByRef/CMakeLists.txt
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByRef/PInvokePassingByRefNative.cpp
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByRef/PassingByRefTest.cs
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/PassingByRef/PassingByRefTest.csproj
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/helper.cs
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/helper.h
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByOut/CMakeLists.txt
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByOut/PassingByOutTest.cs
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByOut/PassingByOutTest.csproj
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByOut/ReversePInvokePassingByOutNative.cpp
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByRef/CMakeLists.txt
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByRef/PassingByRefTest.cs
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByRef/PassingByRefTest.csproj
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByRef/ReversePInvokePassingByRefNative.cpp
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/helper.cs
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/helper.h
  tests/src/Interop/common/types.h
Labels: area-Interop, test enhancement

#20856 Add tests for marshalling as VARIANT_BOOL or VARIANT
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Variant/CMakeLists.txt
  tests/src/Interop/PInvoke/Variant/PInvokeDefs.cs
  tests/src/Interop/PInvoke/Variant/VariantNative.cpp
  tests/src/Interop/PInvoke/Variant/VariantTest.cs
  tests/src/Interop/PInvoke/Variant/VariantTest.csproj
  tests/src/Interop/PrimitiveMarshalling/Bool/BoolNative.cpp
  tests/src/Interop/PrimitiveMarshalling/Bool/BoolTest.cs
  tests/src/Interop/PrimitiveMarshalling/Bool/NativeMethodDef.cs
Labels: area-Interop, test enhancement

#20982 Add Tests for VBByRefStr marshalling
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/StringMarshalling/VBByRefStr/CMakeLists.txt
  tests/src/Interop/StringMarshalling/VBByRefStr/PInvokeDef.cs
  tests/src/Interop/StringMarshalling/VBByRefStr/VBByRefStrNative.cpp
  tests/src/Interop/StringMarshalling/VBByRefStr/VBByRefStrTest.cs
  tests/src/Interop/StringMarshalling/VBByRefStr/VBByRefStrTest.csproj
Labels: area-Interop, test enhancement

#19330 Add PInvoke/SafeHandles tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/AbstractDerived/AbstractDerivedTest.cs
  tests/src/Interop/PInvoke/SafeHandles/AbstractDerived/AbstractDerivedTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/CleanUpCheck/CleanUpCheckTest.cs
  tests/src/Interop/PInvoke/SafeHandles/CleanUpCheck/CleanUpCheckTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/Default/DefaultTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Default/DefaultTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/Helper.cs
  tests/src/Interop/PInvoke/SafeHandles/Interface/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/Interface/InterfaceNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/Interface/InterfaceTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Interface/InterfaceTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/InvalidMarshalAs/InvalidMarshalAsTest.cs
  tests/src/Interop/PInvoke/SafeHandles/InvalidMarshalAs/InvalidMarshalAsTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/Misc.Unsupported/MiscUnsupportedTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Misc.Unsupported/MiscUnsupportedTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/Misc/MiscTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Misc/MiscTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/ReleaseHandle/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/ReleaseHandle/ReleaseHandleNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/ReleaseHandle/ReleaseHandleTest.cs
  tests/src/Interop/PInvoke/SafeHandles/ReleaseHandle/ReleaseHandleTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/SafeFileHandle.cs
  tests/src/Interop/PInvoke/SafeHandles/SafeHandleNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/SigDiff/SigDiffTest.cs
  tests/src/Interop/PInvoke/SafeHandles/SigDiff/SigDiffTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/StructDefs.cs
  tests/src/Interop/PInvoke/SafeHandles/StructDefs.h
Labels: area-Interop, test enhancement

#19297 Add PInvoke/CriticalHandles tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/CriticalHandles/ArrayTest/ArrayTest.cs
  tests/src/Interop/PInvoke/CriticalHandles/ArrayTest/ArrayTest.csproj
  tests/src/Interop/PInvoke/CriticalHandles/CMakeLists.txt
  tests/src/Interop/PInvoke/CriticalHandles/CriticalHandlesNative.cpp
  tests/src/Interop/PInvoke/CriticalHandles/ReverseTest/ReverseTest.cs
  tests/src/Interop/PInvoke/CriticalHandles/ReverseTest/ReverseTest.csproj
  tests/src/Interop/PInvoke/CriticalHandles/StructTest/StructTest.cs
  tests/src/Interop/PInvoke/CriticalHandles/StructTest/StructTest.csproj
  tests/src/Interop/PInvoke/CriticalHandles/Test/Test.cs
  tests/src/Interop/PInvoke/CriticalHandles/Test/Test.csproj
Labels: area-Interop, test enhancement

#19107 Add Interop/PInvoke/Attributes tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Attributes/LCID/CMakeLists.txt
  tests/src/Interop/PInvoke/Attributes/LCID/LCIDNative.cpp
  tests/src/Interop/PInvoke/Attributes/LCID/LCIDTest.cs
  tests/src/Interop/PInvoke/Attributes/LCID/LCIDTest.csproj
Labels: area-Interop, test enhancement

#21013 Add simple tests for ArrayWithOffset marshaling.
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/ArrayWithOffset/ArrayWithOffsetNative.cpp
  tests/src/Interop/PInvoke/ArrayWithOffset/ArrayWithOffsetTest.cs
  tests/src/Interop/PInvoke/ArrayWithOffset/ArrayWithOffsetTest.csproj
  tests/src/Interop/PInvoke/ArrayWithOffset/CMakeLists.txt
  tests/src/Interop/PInvoke/ArrayWithOffset/PInvokeDefs.cs
Labels: area-Interop, test enhancement

#21024 Fix unloadability races
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/daccess/inspect.cpp
  src/debug/daccess/request.cpp
  src/gc/objecthandle.cpp
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/comsynchronizable.cpp
  src/vm/loaderallocator.cpp
  src/vm/methodtable.h
  src/vm/methodtable.inl
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/threadstatics.cpp
  src/vm/threadstatics.h
Labels: area-VM

#21072 Fix incorrect exception thrown in Marshal.ReleaseComObject(null)
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
Labels: area-Interop, tenet-compatibility

#19195 Add ICustomMarshaler tests
  tests/src/Interop/ICustomMarshaler/ICustomMarshaler.cs
  tests/src/Interop/ICustomMarshaler/ICustomMarshaler.csproj
  tests/src/Interop/common/XunitBase.cs
Labels: area-Interop

#20738 Single pass Vectorize Span<byte>.IndexOfAny(..., ReadOnlySpan<byte>) for 2,3 lengths
  src/System.Private.CoreLib/shared/System/MemoryExtensions.cs
Labels: area-System.Memory

#21071 Fix Type.GetInterface for null namespace and non-null interface names
  src/System.Private.CoreLib/src/System/Activator.cs
  src/System.Private.CoreLib/src/System/RtType.cs
Labels: area-System.Reflection

#21101 Make code in `getTargetMethodDesc` more reliable.
  src/vm/gccover.cpp
Labels: GCStress, area-VM

#20906 [release/2.2] Added support for running in a sandbox on Mac (#20735)
  src/pal/inc/pal.h
  src/pal/src/include/pal/palinternal.h
  src/pal/src/include/pal/process.h
  src/pal/src/include/pal/sharedmemory.h
  src/pal/src/include/pal/sharedmemory.inl
  src/pal/src/include/pal/stackstring.hpp
  src/pal/src/init/pal.cpp
  src/pal/src/sharedmemory/sharedmemory.cpp
  src/pal/src/synchobj/mutex.cpp
  src/pal/src/thread/process.cpp
Labels: Servicing-approved

#21141 Fix Unix ARM JIT_MemCpy and JIT_MemSet
  src/vm/arm/crthelpers.S
Labels: area-VM

#21175 Fix debugger thread statics access for collectible classes
  src/debug/di/rsclass.cpp
Labels: area-Diagnostics

#21131 Fix Interop/PInvoke/Miscellaneous/HandleRef tests under GCStress
  src/vm/ilmarshalers.cpp
  src/vm/mscorlib.h
  tests/src/Interop/PInvoke/Miscellaneous/HandleRef/HandleRefTest.cs
Labels: area-Interop

#21189 Disable noncollectible alc finalization
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.cs
Labels: area-System.Runtime

#21188 Fix ILStubCache allocation for collectible assemblies
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/ceeload.cpp
  src/vm/ilstubcache.cpp
  src/vm/loaderallocator.cpp
  src/vm/loaderallocator.hpp
Labels: area-VM

#21228 Port #18267 fix value numbering when selecting a constant to release/2.2
  src/jit/valuenum.cpp
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
  tests/src/JIT/Regression/JitBlue/GitHub_18235/GitHub_18235_1.cs
  tests/src/JIT/Regression/JitBlue/GitHub_18235/GitHub_18235_1.csproj
  tests/src/JIT/Regression/JitBlue/GitHub_18235/GitHub_18235_2.cs
  tests/src/JIT/Regression/JitBlue/GitHub_18235/GitHub_18235_2.csproj
Labels: area-CodeGen, bug, servicing-approved-2.2

#21229 Improve performance of cgroup access
  src/gc/unix/cgroup.cpp
  src/gc/unix/cgroup.h
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/include/pal/cgroup.h
  src/pal/src/init/pal.cpp
  src/pal/src/misc/cgroup.cpp
Labels: area-PAL

#21222 exclude tests\src\Interop\COM\NativeClients\Primitives from GCStress runs.
  tests/src/Interop/COM/NativeClients/Primitives.csproj
Labels: GCStress, disabled-test

#21238 Switch to preemptive mode before calling COM
  src/vm/olevariant.cpp
Labels: area-Interop

#21237 Fix #21209
  tests/issues.targets
  tests/src/Interop/MarshalAPI/NativeLibrary/NativeLibraryTests.cs
Labels: test bug

#21278 Fix build parallelism on Windows with NUMA
  build.cmd
Labels: area-Build

#21063 Add more advanced SafeArray tests
  src/vm/olevariant.cpp
  tests/src/Common/Platform/platformdefines.cpp
  tests/src/Common/Platform/platformdefines.h
  tests/src/Exceptions/ForeignThread/ForeignThreadExceptionsNative.cpp
  tests/src/Interop/ArrayMarshalling/ByValArray/MarshalArrayByValNative.cpp
  tests/src/Interop/ArrayMarshalling/SafeArray/CMakeLists.txt
  tests/src/Interop/ArrayMarshalling/SafeArray/RecordNative.cpp
  tests/src/Interop/ArrayMarshalling/SafeArray/SafeArrayNative.cpp
  tests/src/Interop/ArrayMarshalling/SafeArray/SafeArrayTest.cs
  tests/src/Interop/ArrayMarshalling/SafeArray/SafeArrayTest.csproj
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/FuncPtrAsDelegateParam/FuncPtrAsDelegateParamNative.cpp
  tests/src/Interop/SimpleStruct/SimpleStructNative.cpp
  tests/src/Interop/StringMarshalling/BSTR/BSTRTestNative.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/StructMarshalling/ReversePInvoke/MarshalExpStruct/ExpStructAsParamNative.h
  tests/src/Interop/StructMarshalling/ReversePInvoke/MarshalSeqStruct/SeqStructDelRevPInvokeNative.cpp
Labels: area-Interop, test enhancement

#21265 Enable type equivalence
  clr.coreclr.props
  clr.defines.targets
  clrdefinitions.cmake
  src/vm/CMakeLists.txt
  src/vm/appdomain.cpp
  src/vm/class.h
  src/vm/crossgen/CMakeLists.txt
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/method.inl
  src/vm/methodtable.cpp
  src/vm/methodtable.h
  src/vm/methodtablebuilder.cpp
  src/vm/siginfo.cpp
  src/vm/typeequivalencehash.cpp
  src/vm/typeequivalencehash.hpp
  tests/src/baseservices/typeequivalence/TypeEquivalence.props
  tests/src/baseservices/typeequivalence/TypeEquivalence.targets
  tests/src/baseservices/typeequivalence/contracts/TypeContracts.csproj
  tests/src/baseservices/typeequivalence/contracts/Types.cs
  tests/src/baseservices/typeequivalence/impl/Impls.cs
  tests/src/baseservices/typeequivalence/impl/TypeImpl.csproj
  tests/src/baseservices/typeequivalence/simple/Simple.cs
  tests/src/baseservices/typeequivalence/simple/Simple.csproj
Labels: area-Interop

#21214 Improve performance of Enum.{Try}Parse
  src/System.Private.CoreLib/shared/System/Char.cs
  src/System.Private.CoreLib/shared/System/Number.Parsing.cs
  src/System.Private.CoreLib/src/System/Enum.cs
Labels: tenet-performance

#21216 Added TryParse to StandardFormat
  src/System.Private.CoreLib/shared/System/Buffers/StandardFormat.cs
Labels: area-System.Memory

#21294 Disable TypeEquivalence tests due to flaky x86 build
  tests/src/baseservices/typeequivalence/TypeEquivalence.props
  tests/src/baseservices/typeequivalence/TypeEquivalence.targets
  tests/src/dirs.proj
Labels: disabled-test, test bug

#21261 Update how CoreDisTools is discovered
  src/inc/CrstTypes.def
  src/inc/crsttypes.h
  src/vm/disassembler.cpp
  tests/src/Interop/COM/NativeClients/Primitives.csproj
Labels: GCStress, area-Interop

#21309 Reenable TypeEquivalence tests
  tests/src/baseservices/typeequivalence/TypeEquivalence.targets
  tests/src/baseservices/typeequivalence/impl/TypeImpl.csproj
  tests/src/baseservices/typeequivalence/simple/Simple.csproj
  tests/src/dirs.proj
Labels: test enhancement
