Repository dotnet/coreclr, pull requests merged in 2018-05, with the labels that each got.

#17852 Fix arm test list creator for Windows
  tests/scripts/lst_creator.py
Labels: area-Infrastructure

#17856 Rename internal Utf8String to MdUtf8String
  src/mscorlib/src/System/Reflection/MdImport.cs
  src/mscorlib/src/System/Reflection/RuntimeEventInfo.cs
  src/mscorlib/src/System/Reflection/RuntimePropertyInfo.cs
  src/mscorlib/src/System/RtType.cs
  src/mscorlib/src/System/RuntimeHandles.cs
  src/vm/ecalllist.h
  src/vm/runtimehandles.cpp
  src/vm/runtimehandles.h
Labels: area-System.Runtime

#17792 Make intra-build feed containers private.
  src/publish.proj
Labels: 2 - In Progress

#17781 Fix for ARM secure delegate non-standard register arg
  src/jit/morph.cpp
  tests/arm/corefx_linux_test_exclusions.txt
Labels: 2 - In Progress

#17785 Split unix test builds in slices
  build-test.sh
  tests/src/dirs.proj
Labels: 2 - In Progress

#17887 Reflection.Emit: Allow `ParameterBuilder.SetConstant(null)` for value-typed parameters
  src/mscorlib/src/System/Reflection/Emit/TypeBuilder.cs
Labels: area-System.Reflection

#17855 Update arm/arm64 test lists
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
Labels: arch-arm32, arch-arm64, area-Infrastructure

#17934 [arm/arm64] fix semicolon and priorities for new excluded tests
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
Labels: test enhancement

#17936 Fix alternate stack for Alpine docker on SELinux
  src/pal/src/exception/signal.cpp
Labels: area-PAL, os-linux

#17784 Add a test case for HFA passing
  tests/arm64/Tests.lst
  tests/src/JIT/Methodical/Invoke/hfa_params/hfa_params.cs
  tests/src/JIT/Methodical/Invoke/hfa_params/hfa_params_cs_d.csproj
  tests/src/JIT/Methodical/Invoke/hfa_params/hfa_params_cs_do.csproj
  tests/src/JIT/Methodical/Invoke/hfa_params/hfa_params_cs_r.csproj
  tests/src/JIT/Methodical/Invoke/hfa_params/hfa_params_cs_ro.csproj
Labels: 2 - In Progress

#17960 Add explicit null check for VSD via tail call stub.
  src/jit/morph.cpp
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
  tests/issues.targets
Labels: arch-arm32, arch-arm64, arch-x64, area-CodeGen, bug

#17773 PEImageLayout: flush instruction cache only for pages with relocs.
  src/vm/peimagelayout.cpp
Labels: 2 - In Progress

#17956 Moving ConcurrentQueue to shared folder
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/Internal/Padding.cs
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/ConcurrentQueue.cs
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/ConcurrentQueue_Segment.cs
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/IProducerConsumerCollection.cs
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/ProducerConsumerCollectionDebugView.cs
  src/System.Private.CoreLib/src/System/Collections/Concurrent/ConcurrentStack.cs
Labels: area-System.Collections

#17759 Add tests for arm64 il issues.
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
  tests/issues.targets
  tests/scripts/lst_creator.py
  tests/src/JIT/Regression/JitBlue/DevDiv_590771/DevDiv_590771.il
  tests/src/JIT/Regression/JitBlue/DevDiv_590771/DevDiv_590771.ilproj
  tests/src/JIT/Regression/JitBlue/DevDiv_590772/DevDiv_590772.il
  tests/src/JIT/Regression/JitBlue/DevDiv_590772/DevDiv_590772.ilproj
  tests/src/JIT/Regression/JitBlue/DevDiv_605447/DevDiv_605447.il
  tests/src/JIT/Regression/JitBlue/DevDiv_605447/DevDiv_605447.ilproj
  tests/testsFailing.arm64.txt
Labels: 2 - In Progress, arch-arm64, bug

#18003 format spmi sources
  src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/ToolBox/superpmi/superpmi/jitinstance.cpp
Labels: area-Infrastructure

#17055 Do not allocate memory in compUpdateTreeLife.
  src/jit/CMakeLists.txt
  src/jit/codegencommon.cpp
  src/jit/codegeninterface.h
  src/jit/codegenlegacy.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/copyprop.cpp
  src/jit/treelifeupdater.cpp
  src/jit/treelifeupdater.h
Labels: area-CodeGen, enhancement

#17997 Tolerate spmi misses
  src/ToolBox/superpmi/superpmi-shared/errorhandling.cpp
  src/ToolBox/superpmi/superpmi-shared/lightweightmap.h
  src/ToolBox/superpmi/superpmi/superpmi.cpp
Labels: area-Infrastructure

#18002 ignore .tail opcode on arm64
  src/jit/morph.cpp
  tests/arm64/Tests.lst
Labels: arch-arm64

#18024 Making IProducerConsumerCollectionDebugView APIs public
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/ConcurrentQueue.cs
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/ConcurrentQueueSegment.cs
  src/System.Private.CoreLib/shared/System/Collections/Concurrent/IProducerConsumerCollectionDebugView.cs
  src/System.Private.CoreLib/src/System/Collections/Concurrent/ConcurrentStack.cs
Labels: area-System.Collections

#17764 [Arm64/Ubuntu] CI match arm32 except triggers
  netci.groovy
  tests/scripts/run-corefx-tests.py
Labels: 2 - In Progress

#15348 Remove useless IndirectAssignmentAnnotation
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/morph.cpp
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
  src/jit/valuenum.cpp
Labels: area-CodeGen

#18057 add repro for #18056
  tests/issues.targets
  tests/src/JIT/Regression/JitBlue/GitHub_18056/Bool_And_Op.cs
  tests/src/JIT/Regression/JitBlue/GitHub_18056/Bool_And_Op_cs_do.csproj
Labels: area-CodeGen

#17530 Adding EnumerateChunks which allow efficient scanning of a StringBuilder
  src/System.Private.CoreLib/shared/System/Text/StringBuilder.cs
Labels: 2 - In Progress, area-System.Runtime

#18082 Refactor fgDebugCheckBBlist
  src/jit/flowgraph.cpp
Labels: area-CodeGen, enhancement

#18102 sharing SerializationInfo for corert and coreclr
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Runtime/Serialization/SerializationInfo.cs
  src/System.Private.CoreLib/src/System/Runtime/Serialization/SerializationInfo.cs
Labels: area-System.Runtime

#15200 Improve SSA topological sort
  src/jit/arraystack.h
  src/jit/block.cpp
  src/jit/block.h
  src/jit/ssabuilder.cpp
Labels: area-CodeGen

#18053 Use sysconf(_SC_NPROCESSORS_CONF) in PAL_GetLogicalCpuCountFromOS
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/misc/sysinfo.cpp
Labels: arch-arm32, area-PAL

#18121 delete unused variables from jit
  src/jit/emitarm.cpp
  src/jit/emitarm64.cpp
  src/jit/gentree.cpp
  src/jit/hwintrinsicxarch.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lsraarm.cpp
  src/jit/lsraarm64.cpp
  src/jit/morph.cpp
  src/jit/unwindamd64.cpp
Labels: area-CodeGen

#18014 Add mixed-mode Book of the Runtime entry
  Documentation/botr/README.md
  Documentation/botr/mixed-mode.md
Labels: documentation

#18203 Expose Exception.set_HResult as Public
  src/System.Private.CoreLib/shared/System/Guid.Windows.cs
  src/System.Private.CoreLib/src/System/Exception.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/CLRIPropertyValueImpl.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/ConstantSplittableMap.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/DictionaryToMapAdapter.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/IReadOnlyDictionaryToIMapViewAdapter.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/IReadOnlyListToIVectorViewAdapter.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/ListToBindableVectorAdapter.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/ListToBindableVectorViewAdapter.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/ListToVectorAdapter.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/WindowsRuntimeMarshal.cs
Labels: area-Interop

#18209 Support new Japanese calendar eras
  src/System.Private.CoreLib/shared/System/Globalization/GregorianCalendarHelper.cs
  src/System.Private.CoreLib/src/System/AppContext/AppContextDefaultValues.Defaults.cs
  src/System.Private.CoreLib/src/System/AppContext/AppContextSwitches.cs
Labels: area-System.Globalization
