Repository dotnet/coreclr, pull requests merged in 2018-10, with the labels that each got.

#20192 Add back ExeFile directory for non-Windows
  tests/src/Interop/CMakeLists.txt
Labels: area-Interop

#20009 Add MethodImplOptions.AggressiveOptimization and use it for tiering
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/MethodImplOptions.cs
  src/ilasm/asmparse.y
  src/ilasm/prebuilt/asmparse.cpp
  src/ildasm/dasm.cpp
  src/inc/corhdr.h
  src/inc/corinfo.h
  src/inc/il_kywd.h
  src/vm/CMakeLists.txt
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/jitinterface.cpp
  src/vm/method.hpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
  src/zap/zapinfo.cpp
  tests/src/ilasm/System/Runtime/CompilerServices/MethodImplOptionsTests.cs
  tests/src/ilasm/System/Runtime/CompilerServices/MethodImplOptionsTests.csproj
  tests/src/ilasm/System/Runtime/CompilerServices/MiAggressiveOptimization.il
Labels: * NO MERGE *, area-CodeVersioning, area-ReadyToRun, area-System.Runtime

#20194 Marshal blittable structs via memcpy even if nested within non-blittable struct
  src/vm/fieldmarshaler.cpp
Labels: area-Interop

#20233 Fix memory reporting for GC in crash dumps
  src/debug/daccess/request.cpp
  src/debug/daccess/request_svr.cpp
Labels: area-GC

#20250 Remove AppDomain unload
  src/classlibnative/bcltype/system.cpp
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/ee/debugger.cpp
  src/inc/clrconfigvalues.h
  src/inc/utilcode.h
  src/vm/amd64/UMThunkStub.asm
  src/vm/amd64/asmconstants.h
  src/vm/amd64/umthunkstub.S
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/appdomain.inl
  src/vm/appdomainnative.cpp
  src/vm/appdomainnative.hpp
  src/vm/arm/asmconstants.h
  src/vm/arm/asmhelpers.S
  src/vm/arm/asmhelpers.asm
  src/vm/arm64/asmconstants.h
  src/vm/arm64/asmhelpers.S
  src/vm/arm64/asmhelpers.asm
  src/vm/callhelpers.cpp
  src/vm/ceemain.cpp
  src/vm/codeversion.cpp
  src/vm/comcallablewrapper.cpp
  src/vm/cominterfacemarshaler.cpp
  src/vm/comsynchronizable.cpp
  src/vm/comtoclrcall.cpp
  src/vm/corhost.cpp
  src/vm/delegateinfo.h
  src/vm/dispatchinfo.cpp
  src/vm/dllimportcallback.cpp
  src/vm/domainfile.cpp
  src/vm/domainfile.h
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/eepolicy.cpp
  src/vm/eepolicy.h
  src/vm/eventtrace.cpp
  src/vm/finalizerthread.cpp
  src/vm/finalizerthread.h
  src/vm/gcenv.ee.cpp
  src/vm/gchandleutilities.cpp
  src/vm/i386/asmconstants.h
  src/vm/i386/asmhelpers.S
  src/vm/i386/asmhelpers.asm
  src/vm/loaderallocator.cpp
  src/vm/marshalnative.cpp
  src/vm/methodtable.cpp
  src/vm/nativeoverlapped.cpp
  src/vm/object.cpp
  src/vm/profilingenumerators.cpp
  src/vm/stackprobe.cpp
  src/vm/stacksampler.cpp
  src/vm/stdinterfaces_wrapper.cpp
  src/vm/testhookmgr.cpp
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/threads.inl
  src/vm/threadsuspend.cpp
  src/vm/win32threadpool.h
Labels: area-VM

#20054 Fix xplat debugging perf problem. (#19911)
  src/debug/di/dbgtransportpipeline.cpp
  src/debug/ee/debugger.h
  src/debug/inc/dbgipcevents.h
Labels: Servicing-approved, area-Diagnostics

#20256 Remove context statics stuff
  src/ToolBox/SOS/Strike/strike.cpp
  src/ToolBox/SOS/Strike/util.cpp
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/di/rsclass.cpp
  src/debug/inc/dacdbistructures.h
  src/debug/inc/dacdbistructures.inl
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/array.cpp
  src/vm/class.cpp
  src/vm/classnames.h
  src/vm/field.cpp
  src/vm/field.h
  src/vm/generics.cpp
  src/vm/jitinterface.cpp
  src/vm/methodtable.h
  src/vm/methodtable.inl
  src/vm/methodtablebuilder.cpp
  src/vm/methodtablebuilder.h
  src/vm/object.h
  src/vm/prestub.cpp
  src/vm/proftoeeinterfaceimpl.cpp
Labels: area-VM

#20216 Refactoring of struct promotion code for the future fix.
  src/jit/compiler.h
  src/jit/importer.cpp
  src/jit/lclvars.cpp
  src/jit/morph.cpp
Labels: area-CodeGen, enhancement

#20231 Add BSTR xplat PInvoke testcase
  tests/src/Common/Platform/platformdefines.cpp
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/ArrayMarshalling/ByValArray/MarshalArrayByValNative.cpp
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/StringMarshalling/BSTR/BSTRTest.cs
  tests/src/Interop/StringMarshalling/BSTR/BSTRTest.csproj
  tests/src/Interop/StringMarshalling/BSTR/BSTRTestNative.cpp
  tests/src/Interop/StringMarshalling/BSTR/CMakeLists.txt
  tests/src/Interop/StringMarshalling/BSTR/PinvokeDef.cs
  tests/src/Interop/common/types.h
Labels: area-Interop

#20116 Port to release/2.1 - Fix hijack for ARM/ARM64/x86 on Unix
  src/vm/excep.cpp
  src/vm/excep.h
  src/vm/threadsuspend.cpp
Labels: Servicing-approved, arch-arm32, arch-arm64, arch-x86, area-VM

#20280 Fix SegmentInitialize for OS_PAGE_SIZE > 4k
  src/gc/handletablecore.cpp
Labels: area-GC

#20240 [arm64] Fix GitHub 20211 Issue
  src/jit/codegenarm64.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_20211/GitHub_20211.cs
  tests/src/JIT/Regression/JitBlue/GitHub_20211/GitHub_20211.csproj
  tests/src/JIT/Regression/JitBlue/GitHub_20211/GitHub_20211.tt
Labels: arch-arm64

#20085 Do not promote struct field with type mistmatch.
  src/jit/morph.cpp
  tests/src/JIT/Directed/StructPromote/Unsafe/AccessInvalidFieldOffset.cs
  tests/src/JIT/Directed/StructPromote/Unsafe/AccessInvalidFieldOffset.csproj
  tests/src/JIT/Directed/StructPromote/Unsafe/ReadDoubleFromIntOffset.cs
  tests/src/JIT/Directed/StructPromote/Unsafe/ReadDoubleFromIntOffset.csproj
  tests/src/JIT/Directed/StructPromote/Unsafe/ReadStructAsAnotherType.cs
  tests/src/JIT/Directed/StructPromote/Unsafe/ReadStructAsAnotherType.csproj
Labels: area-CodeGen

#20302 Reduce CPU consumption by Timer's FireNextTimers
  src/System.Private.CoreLib/src/System/Threading/Timer.cs
Labels: tenet-performance

#20263 Throw an exception when we try to marshal a non-blittable fixed buffer.
  src/vm/classnames.h
  src/vm/fieldmarshaler.cpp
Labels: area-Interop

#20345 Fix unwind on ARM64 Linux
  src/pal/src/exception/seh-unwind.cpp
Labels: area-PAL

#20363 fix issue where we wouldn't throw OOM after failing to allocate more space for finalize queue
  src/vm/comutilnative.cpp
Labels: area-GC

#20343 Add Timer duration/period to ThreadTransferSendObj
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/FrameworkEventSource.cs
  src/System.Private.CoreLib/src/System/Threading/Timer.cs
Labels: area-System.Threading

#20326 Port 'Pass --build-id=sha1 to linker explicitly' to 1.0.0
  CMakeLists.txt
Labels: Servicing-approved

#20264 Enable BSTR Field Marshaller for x-plat
  src/vm/callingconvention.h
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
  src/vm/methodtable.cpp
  src/vm/nsenums.h
  tests/src/Interop/StringMarshalling/BSTR/BSTRTest.cs
  tests/src/Interop/StringMarshalling/BSTR/BSTRTestNative.cpp
  tests/src/Interop/StringMarshalling/BSTR/PinvokeDef.cs
Labels: area-Interop

#20306 Implement LeadingSignCount and LeadingZeroCount ARM64 Base Intrinsics
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/Arm64/Base.cs
  src/jit/codegenarm64.cpp
  src/jit/hwintrinsicArm64.cpp
  tests/src/JIT/HardwareIntrinsics/Arm64/Base.cs
Labels: arch-arm64

#20005 [release/2.2] Startup hook provider
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/System.Private.CoreLib.csproj
  src/mscorlib/src/System/StartupHookProvider.cs
  src/vm/assembly.cpp
  src/vm/mscorlib.h
Labels: Servicing-consider

#20327 [arm64] Print target arch during JIT_Disasm
  src/jit/codegencommon.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
Labels: arch-arm64

#20410 Null out CancellationTokenSource._timer on Dispose/Cancel
  src/System.Private.CoreLib/src/System/Threading/CancellationTokenSource.cs
Labels: area-System.Threading, tenet-performance

#20393 Port BSTR support from master
  src/classlibnative/bcltype/stringnative.cpp
  src/classlibnative/bcltype/stringnative.h
  src/dlls/mscoree/mscorwks_unixexports.src
  src/mscorlib/src/Microsoft/Win32/Win32Native.cs
  src/mscorlib/src/System/String.CoreCLR.cs
  src/mscorlib/src/System/StubHelpers.cs
  src/vm/callingconvention.h
  src/vm/ecalllist.h
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/methodtable.cpp
  src/vm/mlinfo.cpp
  src/vm/mscorlib.h
  src/vm/mtypes.h
  src/vm/nsenums.h
Labels: Servicing-approved

#20417 Enable building with Clang 7
  build.sh
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
  src/pal/tools/gen-buildsys-clang.sh
Labels: area-Build

#20423 Remove per-AppDomain TLB
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/threadstatics.cpp
  src/vm/threadstatics.h
Labels: area-VM

#20459 make coreclr buildable on FreeBSD again
  src/dlls/mscordac/CMakeLists.txt
Labels: os-freebsd

#20360 Delete `FixupIfSIMDLocal`.
  src/jit/lsra.cpp
  src/jit/lsrabuild.cpp
  src/jit/rationalize.cpp
  src/jit/rationalize.h
Labels: area-CodeGen

#20438 Fix collectible NativeCallable UMThunkEntry lifetime
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/comdelegate.cpp
  src/vm/corhost.cpp
  src/vm/loaderallocator.cpp
  src/vm/loaderallocator.hpp
Labels: area-VM

#20387 Add public IThreadPoolWorkItem
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/YieldAwaitable.cs
  src/System.Private.CoreLib/shared/System/Threading/SemaphoreSlim.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/AsyncMethodBuilder.cs
  src/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
  src/System.Private.CoreLib/src/System/Threading/Tasks/TaskContinuation.cs
  src/System.Private.CoreLib/src/System/Threading/Tasks/ThreadPoolTaskScheduler.cs
  src/System.Private.CoreLib/src/System/Threading/ThreadPool.cs
  src/System.Private.CoreLib/src/System/Threading/Timer.cs
Labels: area-System.Threading

#19304 Add PInvoke/Primitives/Int tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Primitives/Int/CMakeLists.txt
  tests/src/Interop/PInvoke/Primitives/Int/PInvokeIntNative.cpp
  tests/src/Interop/PInvoke/Primitives/Int/PInvokeIntTest.cs
  tests/src/Interop/PInvoke/Primitives/Int/PInvokeIntTest.csproj
Labels: area-Interop, test enhancement

#19303 Add PInvoke/ExactSpelling tests
  src/vm/method.cpp
  src/vm/method.hpp
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/ExactSpelling/CMakeLists.txt
  tests/src/Interop/PInvoke/ExactSpelling/ExactSpellingNative.cpp
  tests/src/Interop/PInvoke/ExactSpelling/ExactSpellingTest.cs
  tests/src/Interop/PInvoke/ExactSpelling/ExactSpellingTest.csproj
Labels: area-Interop, test enhancement

#19298 Add PInvoke/DateTime tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/DateTime/CMakeLists.txt
  tests/src/Interop/PInvoke/DateTime/DateTimeTest.cs
  tests/src/Interop/PInvoke/DateTime/DateTimeTest.csproj
  tests/src/Interop/PInvoke/DateTime/NativeDateTime.cpp
Labels: area-Interop, test enhancement

#20495 Local GC - Fix GCToOSInterface::GetPhysicalMemoryLimit
  src/gc/windows/gcenv.windows.cpp
Labels: area-GC

#20274 Add MethodImplAttributes.AggressiveOptimization
  src/System.Private.CoreLib/shared/System/Reflection/MethodImplAttributes.cs
Labels: area-System.Reflection

#19323 Add PInvoke/Delegate tests
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsDefault/AsDefaultTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsDefault/AsDefaultTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsFieldNative.cpp
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsFunctionPtr/AsFunctionPtrTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsFunctionPtr/AsFunctionPtrTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsInterface/AsInterfaceTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsInterface/AsInterfaceTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/CMakeLists.txt
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/RefLib/RefLib.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/RefLib/RefLib.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsDefault/AsDefaultTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsDefault/AsDefaultTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsFunctionPtr/AsFunctionPtrTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsFunctionPtr/AsFunctionPtrTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsInterface/AsInterfaceTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsInterface/AsInterfaceTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsParamNative.cpp
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/CMakeLists.txt
Labels: area-Interop, test enhancement

#20402 Fix MacOS launch bug when spaces in module names.
  src/pal/src/thread/process.cpp
Labels: Servicing-approved, area-Diagnostics

#20056 Fix `gtNewRefCOMfield` with `FEATURE_MULTIREG_RET`.
  src/jit/gentree.cpp
Labels: area-CodeGen

#20529 Update Unicode data to version 11
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Globalization/CharUnicodeInfoData.cs
  src/System.Private.CoreLib/src/System/Globalization/CharUnicodeInfoData.cs
  tests/CoreFX/CoreFX.issues.json
Labels: area-System.Globalization

#20396 Remove support for nonexistent UnmanagedFunctionPointerAttribute.PreserveSig.
  src/vm/dllimport.cpp
Labels: area-Interop

#20575 Fallback to old behavior when marshaling a non-blittable fixed buffer
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
Labels: area-Interop

#20525 [2.2] Disable tiered compilation by default for 2.2 RTM
  Documentation/project-docs/clr-configuration-knobs.md
  src/inc/clrconfigvalues.h
  tests/scripts/run-xunit-perf.py
  tests/src/CLRTest.Execute.Bash.targets
  tests/src/CLRTest.Execute.Batch.targets
  tests/src/performance/Scenario/JitBench/Runner/BenchmarkConfiguration.cs
  tests/src/performance/Scenario/JitBench/Runner/Program.cs
Labels: Servicing-approved, area-CodeVersioning

#20588 fixes to build properly on FreeBSD
  build.sh
  init-tools.sh
Labels: os-freebsd

#20618 Implement interface dispatch to COM for ARM64
  src/vm/arm64/asmhelpers.asm
  src/vm/arm64/stubs.cpp
  tests/issues.targets
Labels: area-Interop

#20621 Add a run time check for Windows.Nano to all COM related tests.
  tests/issues.targets
  tests/src/Interop/COM/NETClients/Aggregation/Program.cs
  tests/src/Interop/COM/NETClients/IDispatch/Program.cs
  tests/src/Interop/COM/NETClients/Primitives/Program.cs
  tests/src/Interop/COM/NativeClients/Primitives.csproj
  tests/src/Interop/common/ExeLauncherProgram.cs
Labels: area-Interop, test bug

#20675 Disable failing on Windows/ARM Interop/COM tests
  tests/issues.targets
Labels: arch-arm32, os-windows

#20623 Fix `JitStressRegs=0x1` issue with `RefTypeUpperVectorSaveDef`.
  src/jit/lsra.cpp
  src/jit/lsrabuild.cpp
  tests/src/JIT/Regression/JitBlue/DevDiv_714266/DevDiv_714266.cs
  tests/src/JIT/Regression/JitBlue/DevDiv_714266/DevDiv_714266.csproj
Labels: area-CodeGen

#20551 fix detection for LLDB.h and make sos mandatory on FreeBSD
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
Labels: os-freebsd

#20698 Fix printing in `CodeGen::siEndScope`.
  src/jit/scopeinfo.cpp
Labels: area-CodeGen

#20704 Fix Windows x86 EH for exception from UMThunkPrestub
  src/vm/i386/excepx86.cpp
Labels: area-ExceptionHandling

#20485 Fix DevDiv issue with JitStressRegs=0x3 on arm32.
  src/jit/lsrabuild.cpp
Labels: area-CodeGen

#20725 more changes to fix packaging on FreeBSD
  build-packages.sh
  buildpipeline/DotNet-CoreClr-Trusted-FreeBSD.json
  src/.nuget/dir.props
Labels: os-freebsd
