Repository dotnet/coreclr, pull requests merged in 2018-07, with the labels that each got.

#18742 Add back DefinePInvokeMethod
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/vm/ecalllist.h
Labels: area-System.Reflection

#18722 reenable fixed arm64 altjit tests
  tests/issues.targets
Labels: disabled-test

#18721 SuperPMI: add ability to exclude failing method contexts from replays
  src/ToolBox/superpmi/mcs/verbremovedup.cpp
  src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/ToolBox/superpmi/superpmi-shared/methodcontext.h
  src/ToolBox/superpmi/superpmi-shared/methodcontextreader.cpp
  src/ToolBox/superpmi/superpmi-shared/methodcontextreader.h
  src/ToolBox/superpmi/superpmi-shim-collector/icorjitinfo.cpp
  src/ToolBox/superpmi/superpmi-shim-counter/icorjitinfo.cpp
  src/ToolBox/superpmi/superpmi-shim-simple/icorjitinfo.cpp
  src/ToolBox/superpmi/superpmi/icorjitinfo.cpp
  src/ToolBox/superpmi/superpmi/parallelsuperpmi.cpp
  src/ToolBox/superpmi/superpmi/superpmi.cpp
Labels: area-Infrastructure

#18652 Add LastIndexOf compareoptions overload
  src/System.Private.CoreLib/shared/Interop/Unix/System.Globalization.Native/Interop.Collation.cs
  src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Invariant.cs
  src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Unix.cs
  src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Windows.cs
  src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.cs
  src/System.Private.CoreLib/shared/System/MemoryExtensions.Fast.cs
Labels: area-System.Memory

#18771 Improve DateTime{Offset}.ParseExact{Multiple} performance for RFC1123 ("r")
  src/System.Private.CoreLib/shared/System/Globalization/DateTimeParse.cs
Labels: area-System.Runtime, tenet-performance

#18791 Update certain Marshal APIs to match exception thrown on .NET Framework
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteObject.cs
Labels: area-Interop, tenet-compatibility

#18826 LastIndexOf corner case fix when span is empty
  src/System.Private.CoreLib/shared/System/MemoryExtensions.Fast.cs
Labels: area-System.Memory

#18809 Correct AssemblyLoadContext comment
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.cs
Labels: area-AssemblyLoader

#18833 Fix serialization type in NotFiniteNumberException
  src/System.Private.CoreLib/shared/System/NotFiniteNumberException.cs
Labels: area-System.Runtime

#18841 Add Utf8String class
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/System/Utf8String.cs
  src/inc/dacvars.h
  src/vm/appdomain.cpp
  src/vm/classnames.h
  src/vm/ecall.cpp
  src/vm/ecall.h
  src/vm/ecalllist.h
  src/vm/gchelpers.cpp
  src/vm/gchelpers.h
  src/vm/jithelpers.cpp
  src/vm/jitinterface.h
  src/vm/jitinterfacegen.cpp
  src/vm/metasig.h
  src/vm/methodtable.h
  src/vm/methodtablebuilder.cpp
  src/vm/mscorlib.h
  src/vm/object.h
  src/vm/object.inl
  src/vm/reflectioninvocation.cpp
  src/vm/vars.cpp
  src/vm/vars.hpp
Labels: area-System.Runtime

#18859 GS cookie check fix for debugger stackwalks port
  src/debug/daccess/dacimpl.h
  src/debug/ee/debugger.cpp
  src/debug/ee/frameinfo.cpp
  src/vm/stackwalk.cpp
  src/vm/threads.h
Labels: area-Diagnostics

#18873 Add prefix to DAC's PAL exports for alpine
  CMakeLists.txt
  functions.cmake
  generateexportedsymbols.awk
  generateredefinesfile.awk
  generateversionscript.awk
  src/ToolBox/SOS/Strike/CMakeLists.txt
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
  src/debug/createdump/CMakeLists.txt
  src/dlls/mscordac/CMakeLists.txt
  src/dlls/mscordac/libredefines.S
  src/dlls/mscordac/mscordac_unixexports.src
  src/dlls/mscordac/palredefines.S
  src/dlls/mscordbi/CMakeLists.txt
  src/pal/inc/pal.h
  src/pal/src/exception/seh.cpp
  src/pal/src/include/pal/thread.hpp
  src/palrt/guid.cpp
  src/palrt/guiddef.h
Labels: area-Diagnostics

#18807 Remove System.Security.Cryptography.X509Certificates.Tests from exclusion list
  tests/arm/corefx_test_exclusions.txt
Labels: arch-arm32, os-windows

#18204 Expose SpinWait.SpinOnce(int sleep1Threshold) overload
  src/System.Private.CoreLib/shared/System/Threading/ManualResetEventSlim.cs
  src/System.Private.CoreLib/shared/System/Threading/SemaphoreSlim.cs
  src/System.Private.CoreLib/shared/System/Threading/SpinWait.cs
  src/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-System.Threading

#18610 Apply tiering's call counting delay more broadly
  src/inc/CrstTypes.def
  src/inc/clrconfigvalues.h
  src/inc/crsttypes.h
  src/inc/utilcode.h
  src/utilcode/util.cpp
  src/vm/ceemain.cpp
  src/vm/eeconfig.cpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
Labels: area-VM

#18946 Update NativeCallable attribute tests
  tests/src/Interop/NativeCallable/NativeCallableDll.cpp
  tests/src/Interop/NativeCallable/NativeCallableTest.cs
  tests/src/Interop/NativeCallable/NativeCallableTest.csproj
Labels: area-Interop, test enhancement

#18900 Implement GetComObjectData and SetComObjectData
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ArrayWithOffset.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Attributes.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/BStrWrapper.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/COMException.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComMemberType.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IBindCtx.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IConnectionPoint.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IConnectionPointContainer.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IEnumConnectionPoints.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IEnumConnections.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IEnumMoniker.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IEnumString.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IEnumVARIANT.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IMoniker.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IPersistFile.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IRunningObjectTable.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/IStream.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/ITypeComp.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/ITypeInfo.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/ITypeInfo2.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/ITypeLib.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComTypes/ITypeLib2.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CurrencyWrapper.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/DispatchWrapper.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ErrorWrapper.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Expando/IExpando.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ICustomAdapter.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ICustomFactory.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ICustomMarshaler.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ICustomQueryInterface.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/InvalidComObjectException.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/InvalidOleVariantTypeException.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeCallableAttribute.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeMethods.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/NonPortable.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/PInvokeMap.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/SEHException.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeArrayRankMismatchException.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/SafeArrayTypeMismatchException.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/UnknownWrapper.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/VariantWrapper.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/Attributes.cs
  src/System.Private.CoreLib/src/System/__ComObject.cs
  tests/CoreFX/CoreFX.issues.json
Labels: area-Interop

#19047 Address issues with COM tests in the helix build.
  tests/issues.targets
  tests/src/Interop/COM/NETClients/Primitives/Program.cs
Labels: area-Interop, disabled-test

#19005 Minor interop code changes
  src/vm/comcallablewrapper.cpp
  src/vm/comcallablewrapper.h
  src/vm/interoputil.cpp
  src/vm/interoputil.h
  src/vm/stdinterfaces.cpp
Labels: area-Interop

#19042 Disable manual COM registration logic on ARM32
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
  tests/src/Interop/CMakeLists.txt
Labels: area-Interop, test bug

#19079 Remove hosthook api
  Documentation/project-docs/clr-configuration-knobs.md
  src/inc/clrconfigvalues.h
  src/vm/amd64/UMThunkStub.asm
  src/vm/comdelegate.cpp
  src/vm/comdelegate.h
  src/vm/compile.cpp
  src/vm/dllimport.cpp
  src/vm/dllimport.h
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/i386/cgenx86.cpp
  src/vm/method.hpp
  src/vm/stubhelpers.cpp
  src/vm/syncblk.cpp
  src/vm/syncblk.h
Labels: area-Interop

#18257 Change gtExtractSideEffList to use GenTreeVisitor
  src/jit/assertionprop.cpp
  src/jit/compmemkind.h
  src/jit/gentree.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_18232/GitHub_18232.cs
  tests/src/JIT/Regression/JitBlue/GitHub_18232/GitHub_18232.csproj
Labels: area-CodeGen

#18784 Add missing FlushInstructionCache to CommitGCStressInstructionUpdate
  src/vm/threadsuspend.cpp
Labels: GCStress, arch-arm32

#19069 Prep for ported PInvoke tests from .NET Framework
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/Interop.cmake
  tests/src/Interop/Interop.settings.targets
  tests/src/Interop/ReadMe.md
Labels: area-Interop, test enhancement

#19070 Fix mscordbi metadata reader alignment bug on Linux.
  src/md/datasource/datatargetreader.cpp
  src/md/datasource/targettypes.cpp
Labels: area-Diagnostics

#19128 reenable corefx System.Runtime.Tests on arm32
  tests/arm/corefx_test_exclusions.txt
Labels: disabled-test

#19176 Add comment explaining the return value of ToUpper/ToLower
  src/System.Private.CoreLib/shared/System/MemoryExtensions.Fast.cs
Labels: area-System.Memory

#18769 spmi: exclude methods using a file with saved md5 hashes.
  src/ToolBox/superpmi/superpmi-shared/methodcontextreader.cpp
  src/ToolBox/superpmi/superpmi-shared/methodcontextreader.h
  src/inc/clr_std/string
Labels: area-Infrastructure

#19180 build-test - fix TestWrapper CS warnings
  tests/runtest.proj
Labels: area-Interop, test enhancement
