Repository dotnet/coreclr, pull requests merged in 2018-02, with the labels that each got.

#16264 Fix GC reporting for slow tail calls with by-ref-like args
  src/vm/i386/stublinkerx86.cpp
  tests/src/CoreMangLib/system/span/SlowTailCallArgs.cs
  tests/src/CoreMangLib/system/span/SlowTailCallArgs.csproj
Labels: area-VM

#16217 fix the Incorrect EventPipe Assert, fixes #16158
  src/vm/eventpipebuffer.cpp
Labels: area-Tracing

#16303 Debugger api to set a breakpoint on offset 0 of all methods
  src/debug/di/breakpoint.cpp
  src/debug/di/module.cpp
  src/debug/di/rsfunction.cpp
  src/debug/di/rspriv.h
  src/debug/di/shimprocess.cpp
  src/debug/ee/controller.cpp
  src/debug/ee/controller.h
  src/debug/ee/debugger.cpp
  src/inc/cordebug.idl
  src/pal/prebuilt/idl/cordebug_i.cpp
  src/pal/prebuilt/inc/cordebug.h
Labels: area-Diagnostics

#16318 Fix GC reporting for by-ref-like structs (#16231)
  src/vm/object.inl
  tests/src/CoreMangLib/system/span/RefStructWithSpan.cs
  tests/src/CoreMangLib/system/span/RefStructWithSpan.csproj
Labels: area-VM

#16302 Fix stack trace population to get proper source/line info for tier 1 methods
  src/debug/ee/debugger.cpp
  src/debug/ee/debugger.h
  src/debug/ee/functioninfo.cpp
  src/vm/codeman.cpp
  src/vm/codeman.h
  src/vm/eedbginterface.h
  src/vm/eedbginterfaceimpl.cpp
  src/vm/eedbginterfaceimpl.h
  tests/src/baseservices/exceptions/stacktrace/Tier1StackTrace.cs
  tests/src/baseservices/exceptions/stacktrace/Tier1StackTrace.csproj
Labels: area-Diagnostics

#15444 [Port to Release/2.0.0] Fix uaf in DestroyThread function
  src/vm/threads.cpp
Labels: Servicing-Approved-2.0.7

#16152 Fix SIGSEGV in EventPipe on Shutdown
  src/vm/eventpipe.cpp
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
Labels: Servicing-Approved-2.0.7

#16008 [Arm64] Add Simd HWIntrinsic test
  tests/src/JIT/HardwareIntrinsics/Arm64/Simd.cs
  tests/src/JIT/HardwareIntrinsics/Arm64/Simd.csproj
Labels: area-CodeGen

#16181 [RyuJIT/arm32] Support GTF_IND_VOLATILE and GTF_BLK_VOLATILE
  src/jit/codegenarm.cpp
Labels: area-CodeGen

#15950 On all platforms first member of InstructionSet enum is InstructionSet_ILLEGAL
  src/jit/instr.h
Labels: area-CodeGen

#16223 Add ReadOnlySpan string-like StartsWith and EndsWith API with globalization support
  src/mscorlib/shared/Interop/Unix/System.Globalization.Native/Interop.Collation.cs
  src/mscorlib/shared/System/Globalization/CompareInfo.cs
  src/mscorlib/shared/System/Span.NonGeneric.cs
  src/mscorlib/shared/System/StringSpanHelpers.cs
  src/mscorlib/src/System/Globalization/CompareInfo.Unix.cs
  src/mscorlib/src/System/Globalization/CompareInfo.Windows.cs
  src/mscorlib/src/System/String.Comparison.cs
Labels: area-System.Memory

#16039 Fix ARM/ARM64 hijacking in tail calls
  src/gcdump/gcdumpnonx86.cpp
  src/gcinfo/gcinfodumper.cpp
  src/gcinfo/gcinfoencoder.cpp
  src/inc/eetwain.h
  src/inc/gcinfodecoder.h
  src/inc/gcinfoencoder.h
  src/jit/codegencommon.cpp
  src/jit/codegeninterface.h
  src/jit/compiler.h
  src/jit/gcencode.cpp
  src/jit/legacynonjit/CMakeLists.txt
  src/vm/eetwain.cpp
  src/vm/gcinfodecoder.cpp
  src/vm/stackwalk.cpp
  src/vm/stackwalk.h
  src/vm/threadsuspend.cpp
  tests/arm64/Tests.lst
  tests/testsFailingOnArm64.txt
Labels: arch-arm32, arch-arm64, area-VM

#16314 Change SetGCConcurrent to TemporaryDisableConcurrentGC for profiler startup path
  src/vm/profilinghelper.cpp
Labels: area-Diagnostics

#16267 Add VSD additional param for DIRECT calls.
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/lower.cpp
  src/jit/morph.cpp
Labels: area-CodeGen, bug

#16383 Implement WaitHandle.SignalAndWait on Unix
  src/mscorlib/src/System/Threading/WaitHandle.cs
  src/pal/inc/pal.h
  src/pal/inc/pal_error.h
  src/pal/src/include/pal/synchobjects.hpp
  src/pal/src/synchmgr/wait.cpp
  src/pal/src/synchobj/semaphore.cpp
  src/pal/tests/palsuite/threading/CMakeLists.txt
  src/pal/tests/palsuite/threading/SignalObjectAndWait/CMakeLists.txt
  src/pal/tests/palsuite/threading/SignalObjectAndWait/SignalObjectAndWaitTest.cpp
  src/vm/comwaithandle.cpp
  src/vm/comwaithandle.h
  src/vm/ecalllist.h
  src/vm/threads.cpp
  src/vm/threads.h
Labels: area-System.Threading

#15597 [RyuJit] Stack level setter
  src/jit/CMakeLists.txt
  src/jit/codegencommon.cpp
  src/jit/codegeninterface.h
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compphases.h
  src/jit/flowgraph.cpp
  src/jit/gentree.h
  src/jit/gtstructs.h
  src/jit/jit.settings.targets
  src/jit/stacklevelsetter.cpp
  src/jit/stacklevelsetter.h
  tests/src/JIT/Regression/JitBlue/DevDiv_534476/DevDiv_534476.il
  tests/src/JIT/Regression/JitBlue/DevDiv_534476/DevDiv_534476.ilproj
Labels: area-CodeGen, bug

#16276 sigsegv_handler: handle case when it is called on original stack
  src/pal/src/exception/seh.cpp
  src/pal/src/exception/signal.cpp
  src/vm/threads.inl
Labels: area-PAL

#16160 [Arm64] Implement Simd.Insert
  src/jit/codegenarm64.cpp
  src/jit/hwintrinsicArm64.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lsraarm64.cpp
Labels: area-CodeGen

#16398 Fix typo in GC log
  src/gc/gcrecord.h
Labels: area-GC

#16379 Add ReadOnlySpan string-like ToLower/ToUpper API with globalization support
  src/mscorlib/shared/System/Globalization/TextInfo.Unix.cs
  src/mscorlib/shared/System/Globalization/TextInfo.Windows.cs
  src/mscorlib/shared/System/Globalization/TextInfo.cs
  src/mscorlib/shared/System/Span.NonGeneric.cs
  src/mscorlib/src/System/Globalization/CompareInfo.Unix.cs
  src/mscorlib/src/System/ThrowHelper.cs
Labels: area-System.Memory

#16415 Fix coreOverlayDir in Unix test instructions documentation
  Documentation/building/unix-test-instructions.md
Labels: documentation

#16418 Fix impl of ReadOnlySpan StartsWith/EndsWith for Unix.
  src/mscorlib/src/System/Globalization/CompareInfo.Unix.cs
Labels: area-System.Memory

#16416 [RyuJit] delete liveness workarond for setFramePointerRequired.
  src/jit/liveness.cpp
Labels: area-CodeGen

#16410 Fix dlStack test
  tests/arm/Tests.lst
  tests/src/GC/Scenarios/DoublinkList/dlstack.cs
Labels: test bug

#16405 [release/2.1] Configure auto-update from product builds
  BuildToolsVersion.txt
  ILAsmVersion.txt
  dependencies.props
Labels: area-Infrastructure

#16461 Revert TLS model change of the gCurrentThreadInfo
  src/vm/threads.inl
Labels: area-VM

#16447 Dial back aggressive checks in Path
  src/mscorlib/shared/System/IO/Path.Unix.cs
  src/mscorlib/shared/System/IO/Path.Windows.cs
  src/mscorlib/shared/System/IO/Path.cs
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
  src/mscorlib/shared/System/IO/PathInternal.Unix.cs
  src/mscorlib/shared/System/IO/PathInternal.Windows.cs
  src/mscorlib/shared/System/IO/PathInternal.cs
Labels: area-System.IO

#16437 Disable tiered compilation for collectible assemblies
  src/vm/method.hpp
  tests/src/reflection/Tier1Collectible/Tier1Collectible.cs
  tests/src/reflection/Tier1Collectible/Tier1Collectible.csproj
Labels: area-VM

#16496 Fix impl of ReadOnlySpan ToLower/ToUpper for Unix.
  src/mscorlib/shared/System/Globalization/TextInfo.Unix.cs
Labels: area-System.Memory

#16505 Add CoreLib helpers for MemoryExtensions.AsSpan/AsMemory(T[], int)
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/Span.NonGeneric.cs
Labels: area-System.Memory

#16473 LEA on rhs of block copy can't be contained
  src/jit/lowerarmarch.cpp
  src/jit/lsraarmarch.cpp
  tests/src/JIT/Regression/JitBlue/DevDiv_541648/DevDiv_541648.il
  tests/src/JIT/Regression/JitBlue/DevDiv_541648/DevDiv_541648.ilproj
Labels: arch-arm32, area-CodeGen

#16478 Remove most preemptive checks from GetFullPath
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/IO/Path.Windows.cs
  src/mscorlib/shared/System/IO/Path.cs
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
  src/mscorlib/shared/System/IO/PathInternal.Windows.StringBuffer.cs
  src/mscorlib/shared/System/IO/PathInternal.Windows.cs
  src/mscorlib/shared/System/IO/Win32Marshal.cs
  src/mscorlib/shared/System/Runtime/InteropServices/StringBuffer.cs
Labels: area-System.IO

#16467 Add ReadOnlySpan string-like Equals/CompareTo/IndexOf/Contains API with globalization support
  src/mscorlib/shared/Interop/Unix/System.Globalization.Native/Interop.Collation.cs
  src/mscorlib/shared/System/Globalization/CompareInfo.Invariant.cs
  src/mscorlib/shared/System/Globalization/CompareInfo.cs
  src/mscorlib/shared/System/Span.NonGeneric.cs
  src/mscorlib/src/System/Globalization/CompareInfo.Unix.cs
  src/mscorlib/src/System/Globalization/CompareInfo.Windows.cs
  src/mscorlib/src/System/String.Comparison.cs
Labels: area-System.Memory

#16485 Fix preventing memory allocation in signal handler
  src/pal/src/exception/signal.cpp
Labels: area-PAL

#16512 Remove StringBuffer and use ValueStringBuilder
  src/mscorlib/shared/Interop/Windows/Kernel32/Interop.GetFullPathNameW.cs
  src/mscorlib/shared/Interop/Windows/Kernel32/Interop.GetLongPathNameW.cs
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
  src/mscorlib/shared/System/Runtime/InteropServices/StringBuffer.cs
  src/mscorlib/shared/System/Text/ValueStringBuilder.cs
Labels: area-System.IO

#16516 Enabling CLR implemented write watch on AMD64 on Windows.
  clrdefinitions.cmake
Labels: area-GC

#16532 Update BuildTools to 2.1.0-preview2-02522-03
  BuildToolsVersion.txt
  dependencies.props
Labels: area-Infrastructure

#16529 Return empty array if length is zero
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/Runtime/InteropServices/MemoryMarshal.cs
Labels: area-System.Memory

#16554 Fix path issues
  src/mscorlib/shared/System/IO/Path.cs
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
  src/mscorlib/shared/System/IO/PathInternal.Windows.cs
Labels: area-System.IO

#15744 JIT: port fix to spill the eval stack when storing to a pinned local to release/2.0
  src/jit/importer.cpp
Labels: Servicing-Approved-2.0.6

#16552 Fixed mixed mode attach/JIT debugging.
  src/debug/di/process.cpp
  src/debug/di/rspriv.h
  src/debug/di/rsthread.cpp
  src/debug/ee/debugger.cpp
  src/debug/ee/rcthread.cpp
  src/debug/inc/dbgipcevents.h
  src/inc/dacvars.h
  src/inc/tls.h
  src/vm/eedbginterface.h
  src/vm/eedbginterfaceimpl.cpp
  src/vm/eedbginterfaceimpl.h
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/vars.cpp
  src/vm/vars.hpp
Labels: area-Diagnostics

#16428 Add test for GC.GetAllocatedBytesForCurrentThread
  tests/src/GC/API/GC/GetAllocatedBytesForCurrentThread.cs
  tests/src/GC/API/GC/GetAllocatedBytesForCurrentThread.csproj
Labels: area-GC, test enhancement

#16514 Replace sizeof(void*)-like expressions with TARGET_POINTER_SIZE macro
  src/inc/corinfo.h
  src/vm/array.cpp
  src/vm/callingconvention.h
  src/vm/compile.cpp
  src/vm/fieldmarshaler.cpp
  src/vm/jitinterface.cpp
  src/vm/methodtablebuilder.cpp
  src/vm/siginfo.cpp
Labels: enhancement

#16521 Add MemoryExtensions to CoreLib along with necessary SpanHelpers
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/Double.cs
  src/mscorlib/shared/System/MemoryExtensions.Fast.cs
  src/mscorlib/shared/System/MemoryExtensions.cs
  src/mscorlib/shared/System/Span.Fast.cs
  src/mscorlib/shared/System/Span.NonGeneric.cs
  src/mscorlib/shared/System/SpanHelpers.BinarySearch.cs
  src/mscorlib/shared/System/SpanHelpers.Byte.cs
  src/mscorlib/shared/System/SpanHelpers.T.cs
  src/mscorlib/shared/System/SpanHelpers.cs
  src/mscorlib/shared/System/StringSpanHelpers.cs
  src/mscorlib/src/System/ThrowHelper.cs
Labels: area-System.Memory

#16629 [release/2.1] Update BuildTools to 2.1.0-preview1-02523-01
  BuildToolsVersion.txt
  dependencies.props
Labels: area-Infrastructure

#16574 [RyuJit] add new compiler phase: PHASE_COMPUTE_REACHABILITY
  src/jit/compiler.cpp
  src/jit/compphases.h
Labels: area-CodeGen

#16316 Event pipe guid in metadata
  src/mscorlib/shared/System/Diagnostics/Tracing/EventSource.cs
  tests/src/tracing/common/NetPerfFile.cs
  tests/src/tracing/common/common.csproj
  tests/src/tracing/eventpipesmoke/EventPipeSmoke.cs
  tests/src/tracing/eventsourcesmoke/EventSourceSmoke.cs
  tests/src/tracing/eventsourcetrace/EventSourceTrace.cs
  tests/src/tracing/tracevalidation/inducedgc/InducedGC.cs
  tests/src/tracing/tracevalidation/jittingstarted/JittingStarted.cs
Labels: area-Tracing

#16561 Add Path.Join() methods.
  src/mscorlib/shared/System/IO/Path.Unix.cs
  src/mscorlib/shared/System/IO/Path.Windows.cs
  src/mscorlib/shared/System/IO/Path.cs
  src/mscorlib/shared/System/IO/PathInternal.cs
Labels: area-System.IO

#16531 Make _TARGET_64BIT_ macro global to coreclr
  clrdefinitions.cmake
  src/jit/jit.h
Labels: * NO MERGE *

#16658 Add the array/arraysegment->Span/Memory overloads to CoreCLR.
  src/mscorlib/shared/System/MemoryExtensions.cs
Labels: area-System.Memory
