Repository dotnet/coreclr, pull requests merged in 2018-04, with the labels that each got.

#17341 [local gc] gc spinning part 1
  src/gc/gc.h
  src/gc/gccommon.cpp
  src/gc/gcee.cpp
  src/gc/gcimpl.h
  src/gc/gcinterface.h
  src/gc/gcpriv.h
  src/vm/yieldprocessornormalized.cpp
Labels: area-GC

#17370 Vectorize and use ROSpan.LastIndexOf as the workhorse for string.LastIndexOf
  src/mscorlib/shared/System/MemoryExtensions.cs
  src/mscorlib/shared/System/SpanHelpers.Char.cs
  src/mscorlib/shared/System/String.Searching.cs
Labels: area-System.Memory

#17422 Update docker images for arm32
  Documentation/building/linux-instructions.md
  build.sh
  buildpipeline/pipelines.json
  netci.groovy
Labels: arch-arm32, area-Infrastructure

#17447 Add some comments to SpanHelpers.Char IndexOf and LastIndexOf
  src/mscorlib/shared/System/SpanHelpers.Char.cs
Labels: area-System.Memory

#17456 Fix GC stress modes 4 and 8 on Linux ARM
  src/vm/arm/cgencpu.h
  src/vm/gccover.h
Labels: area-VM

#17437 Disable some tests under GCStress where they take too long to complete
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
  tests/src/CoreMangLib/cti/system/array/ArraySort3.csproj
  tests/src/JIT/Methodical/Arrays/lcs/_dbglcs2.csproj
  tests/src/JIT/Methodical/Arrays/lcs/_rellcs2.csproj
  tests/src/JIT/Methodical/Arrays/lcs/_speed_dbglcs2.csproj
  tests/src/JIT/Methodical/Arrays/lcs/_speed_rellcs2.csproj
  tests/src/JIT/Methodical/refany/_relvirtcall.csproj
  tests/src/JIT/Methodical/refany/_speed_relvirtcall.csproj
  tests/src/baseservices/compilerservices/dynamicobjectproperties/Dev10_535767.csproj
  tests/src/baseservices/exceptions/regressions/V1/SEH/VJ/ExternalException.csproj
  tests/src/baseservices/threading/interlocked/compareexchange/CompareExchangeTClass.csproj
  tests/src/baseservices/threading/interlocked/compareexchange/CompareExchangeTClass_1.csproj
Labels: area-Meta

#17482 Reverting changes from #17401
  tests/src/Common/test_dependencies/test_dependencies.csproj
  tests/src/baseservices/exceptions/WindowsEventLog/WindowsEventLog.cs
  tests/src/baseservices/exceptions/WindowsEventLog/WindowsEventLog.csproj
  tests/testsUnsupportedOutsideWindows.txt
Labels: 2 - In Progress

#17452 Fix MemoryManager ctor and use internal span ctor to improve performance
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/ReadOnlyMemory.cs
  src/mscorlib/src/System/ThrowHelper.cs
Labels: area-System.Memory

#17471 Avoid Unsafe.As usage in ValueTask that can break type safety
  src/mscorlib/shared/System/Runtime/CompilerServices/ConfiguredValueTaskAwaitable.cs
  src/mscorlib/shared/System/Runtime/CompilerServices/ValueTaskAwaiter.cs
  src/mscorlib/shared/System/Threading/Tasks/ValueTask.cs
Labels: 2 - In Progress, area-System.Threading

#17477 Fix trigger for tier 1 call counting delay
  src/vm/prestub.cpp
Labels: 2 - In Progress, area-VM

#17492 Use non-inlineable overload for rare CompareOrdinalIgnoreCase path
  src/mscorlib/shared/System/String.Comparison.cs
Labels: 2 - In Progress

#17500 Add CreateFromPinnedArray to MemoryMarshal
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/Runtime/InteropServices/MemoryMarshal.cs
Labels: 2 - In Progress, area-System.Memory

#17476 Fix x86 steady state tiered compilation performance
  src/inc/clrconfigvalues.h
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  tests/src/performance/Scenario/JitBench/Runner/Benchmark.cs
Labels: 2 - In Progress

#17504 Add GetPinnableReference back to Span and ReadOnlySpan
  src/mscorlib/shared/System/ReadOnlySpan.Fast.cs
  src/mscorlib/shared/System/Span.Fast.cs
Labels: 2 - In Progress, area-System.Memory

#17514 Ensure previous steps haven't failed when building tests
  buildpipeline/tests/Dotnet-CoreClr-Trusted-BuildTests.json
Labels: 2 - In Progress

#17502 [1.1] Enable clang6 build
  build.sh
  compileoptions.cmake
  src/inc/utilcode.h
  src/jit/ee_il_dll.cpp
  src/vm/gcenv.ee.cpp
Labels: 2 - In Progress, area-Infrastructure, enhancement, os-linux

#17497 [1.1] Clean up the portable-linux init-tools logic
  init-tools.sh
Labels: 2 - In Progress, area-Infrastructure, enhancement

#17506 Fix Valuenum:EvalFuncForConstantArgs
  src/jit/valuenum.cpp
Labels: area-CodeGen, bug

#17498 Remove MemoryManager.Length
  src/mscorlib/shared/System/Buffers/MemoryManager.cs
  src/mscorlib/shared/System/Memory.cs
Labels: area-System.Memory

#17518 Some cleanup for ArrayPool trimming
  src/mscorlib/shared/System/Buffers/ArrayPoolEventSource.cs
  src/mscorlib/shared/System/Buffers/TlsOverPerCoreLockedStacksArrayPool.cs
Labels: 2 - In Progress

#17520 Reenable Perf Correctness smoketest
  perf.groovy
Labels: 2 - In Progress

#17479 Fixed #16503 [x64 arm32] the test smalloom terminated with signal SIGKILL
  tests/testsUnsupportedOutsideWindows.txt
Labels: 2 - In Progress

#17512 Use string.IsNullOrEmpty to eliminate bounds check to first char
  src/mscorlib/shared/System/String.cs
Labels: area-System.Runtime

#17532 Remove CreateFromPinnedArray from Memory (moved to MemoryMarshal)
  src/mscorlib/shared/System/Memory.cs
Labels: 2 - In Progress, area-System.Memory

#17521 Preserve VASigCookieReg across PInvokeStubWorker call
  src/vm/arm64/PInvokeStubs.asm
Labels: 2 - In Progress, arch-arm64, area-VM

#17537 [Arm64/Windows] Simplify JIT_MemSet & JIT_MemCpy
  src/vm/arm64/crthelpers.asm
Labels: 2 - In Progress, area-VM

#17536 [Arm64/Linux] Use platform memset/memcpy
  src/vm/amd64/crthelpers.S
  src/vm/arm64/crthelpers.S
Labels: 2 - In Progress

#17531 Protect SuperPMI from crashes calling jitStartup
  src/ToolBox/superpmi/superpmi/jitinstance.cpp
  src/ToolBox/superpmi/superpmi/jitinstance.h
Labels: 2 - In Progress, area-CodeGen

#17556 Fix default style argument to Double/Single/Decimal.Parse
  src/mscorlib/shared/System/Double.cs
  src/mscorlib/shared/System/Single.cs
  src/mscorlib/src/System/Decimal.cs
Labels: 2 - In Progress, area-System.Runtime

#17535 Insert int3 after non-returning calls at the end of basic blocks.
  src/jit/codegenlinear.cpp
Labels: 2 - In Progress, area-CodeGen

#17551 Fix OpenVirtualProcess on Linux issue.
  src/md/datasource/datatargetreader.cpp
Labels: 2 - In Progress

#17516 [1.1] Add packaging for Fedora28 and Debian9
  src/.nuget/Microsoft.NETCore.ILAsm/Microsoft.NETCore.ILAsm.builds
  src/.nuget/Microsoft.NETCore.ILAsm/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILAsm/debian/8/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILAsm/debian/9/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILAsm/fedora/28/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/Microsoft.NETCore.ILDAsm.builds
  src/.nuget/Microsoft.NETCore.ILDAsm/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/debian/8/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/debian/9/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/fedora/28/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/Microsoft.NETCore.Jit.builds
  src/.nuget/Microsoft.NETCore.Jit/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/debian/8/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/debian/9/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/fedora/28/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/Microsoft.NETCore.Runtime.CoreCLR.builds
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/debian/8/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/debian/9/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/fedora/28/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/Microsoft.NETCore.TestHost.builds
  src/.nuget/Microsoft.NETCore.TestHost/Microsoft.NETCore.TestHost.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/debian/8/Microsoft.NETCore.TestHost.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/debian/9/Microsoft.NETCore.TestHost.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/fedora/28/Microsoft.NETCore.TestHost.pkgproj
Labels: 2 - In Progress, packaging

#17561 [1.1] Replace tool-runtime binaries with portable linux binaries
  init-tools.sh
Labels: 2 - In Progress, area-Infrastructure, enhancement

#17523 Fix random Segfaults on Ubuntu arm
  src/pal/src/thread/context.cpp
Labels: 2 - In Progress, area-PAL

#17546 [Arm64/Linux] #17521 for linux
  src/vm/arm64/pinvokestubs.S
Labels: 2 - In Progress

#17559 Disable failing Ubuntu/arm tests
  tests/testsFailing.arm.txt
Labels: 2 - In Progress

#17375 Enable building of Ubuntu/arm crossarch components in netci
  netci.groovy
Labels: area-Build

#17524 Avoid creating illegal byref pointers
  src/jit/morph.cpp
  src/jit/target.h
Labels: 2 - In Progress, area-CodeGen

#17569 Don't use runtesttilstable script for Ubuntu arm jobs
  netci.groovy
Labels: 2 - In Progress, arch-arm32, area-Infrastructure, enhancement

#17567 [Arm64] Add full barrier after locking operations
  src/jit/codegenarm64.cpp
Labels: 2 - In Progress, area-CodeGen

#17542 Update KoreanLunisolarCalendar.cs
  src/mscorlib/shared/System/Globalization/KoreanLunisolarCalendar.cs
Labels: area-System.Globalization

#17455 [x86/Linux] Fix marshalling struct with 64-bit types
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
  tests/src/CoreMangLib/cti/system/runtime/interopservices/marshal/marshalsizeof1.cs
  tests/src/CoreMangLib/cti/system/runtime/interopservices/marshal/marshalsizeof2.cs
  tests/src/Interop/MarshalAPI/OffsetOf/OffsetOf.cs
  tests/src/Interop/StructPacking/StructPacking.cs
Labels: arch-x86, area-Interop

#17436 [x86/Linux] Fix ICorDebug frames API
  src/debug/di/rspriv.h
  src/debug/di/rsthread.cpp
Labels: area-Diagnostics

#17596 [1.1] Add missing fed28 and deb9 requirements
  build.sh
  init-tools.sh
Labels: 2 - In Progress, area-Infrastructure, bug

#17599 Cleanup ubuntu arm build machine 2.1
  netci.groovy
Labels: 2 - In Progress

#17402 [Arm64] Add corefx_test_exclusions.txt
  tests/arm64/corefx_test_exclusions.txt
Labels: area-Infrastructure

#15206 Update memory histogram buckets
  src/jit/compiler.cpp
Labels: area-CodeGen

#17589 Move master to 2.2-preview1
  dependencies.props
Labels: 2 - In Progress

#17595 [Arm64] Add memory barrier after interlocked operations
  src/gc/env/gcenv.interlocked.h
  src/gc/env/gcenv.interlocked.inl
  src/pal/inc/pal.h
Labels: 2 - In Progress, arch-arm64, area-System.Threading

#17513 [X86] Fix cross toolchain library paths
  cross/toolchain.cmake
Labels: 2 - In Progress, area-Build

#17505 Enable support DllImport a native assembly whose name contains '.'
  src/pal/inc/pal.h
  src/vm/dllimport.cpp
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/ExeFile/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/ExeFile/ExeFile.cpp
  tests/src/Interop/DllImportAttribute/FileExtensionProbe.cs
  tests/src/Interop/DllImportAttribute/FileExtensionProbe.csproj
  tests/src/Interop/DllImportAttribute/FileNameContainDot/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/FileNameContainDot/DllFile.Probe.cpp
  tests/src/Interop/DllImportAttribute/Simple/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/Simple/DllFileProbe.cpp
Labels: area-Interop

#17575 [Arm64] Disable SIMD in crossgen (added as part of #14633)
  src/zap/zapper.cpp
Labels: area-CodeGen

#17560 Fix extra register-dependency on mem-form of vcvtsd/s2ss
  src/jit/emitxarch.cpp
Labels: 2 - In Progress

#17606 Fix line endings
  tests/src/Interop/DllImportAttribute/FileExtensionProbe.cs
Labels: 2 - In Progress

#17608 [1.1] Fix Debian packaging bug.
  init-tools.sh
  src/.nuget/Microsoft.NETCore.ILAsm/debian/8/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILAsm/debian/9/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/debian/8/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/debian/9/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/debian/8/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/debian/9/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/debian/8/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/debian/9/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/debian/8/Microsoft.NETCore.TestHost.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/debian/9/Microsoft.NETCore.TestHost.pkgproj
Labels: 2 - In Progress, area-Infrastructure, bug

#15661 Adding failing string to Boolean and TimeSpan parse failure exceptions
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/shared/System/Boolean.cs
  src/mscorlib/shared/System/Globalization/TimeSpanParse.cs
Labels: area-System.Globalization

#17594 Fix GC tests.
  tests/src/GC/Scenarios/DoublinkList/dlbigleak.cs
  tests/src/GC/Scenarios/DoublinkList/dlbigleakthd.cs
  tests/src/GC/Scenarios/DoublinkList/dlcollect.cs
  tests/src/GC/Scenarios/DoublinkList/dlstack.cs
  tests/src/GC/Scenarios/DoublinkList/doublinkgen.cs
  tests/src/GC/Scenarios/DoublinkList/doublinknoleak.cs
  tests/src/GC/Scenarios/DoublinkList/doublinkstay.cs
Labels: 2 - In Progress, test bug

#17472 Convert native StringBuilder methods to managed
  src/classlibnative/bcltype/CMakeLists.txt
  src/classlibnative/bcltype/stringbuffer.cpp
  src/classlibnative/bcltype/stringbuffer.h
  src/classlibnative/bcltype/stringnative.cpp
  src/mscorlib/src/System/Text/StringBuilder.CoreCLR.cs
  src/strongname/api/common.h
  src/vm/common.h
  src/vm/ecalllist.h
  src/vm/mscorlib.cpp
  src/vm/mscorlib.h
  src/vm/object.cpp
  src/vm/object.h
  src/vm/vars.hpp
Labels: 2 - In Progress, area-VM

#15006 Improve SSA dom tree memory usage
  src/jit/copyprop.cpp
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
Labels: area-CodeGen

#17620 Fix minor issue with missing end quotes on command line
  netci.groovy
Labels: 2 - In Progress

#17592 Handle getTailCallCopyArgsThunk returning NULL in the JIT
  src/jit/compiler.h
  src/jit/morph.cpp
  src/vm/jitinterface.cpp
Labels: 2 - In Progress, area-CodeGen

#17623 Add linux-musl build leg
  buildpipeline/DotNet-CoreClr-Trusted-Linux.json
  buildpipeline/pipelines.json
  src/.nuget/dir.props
Labels: 2 - In Progress

#17602 Clean up FlushInstructionCache for precodes and interlocked target change operations
  src/vm/i386/stublinkerx86.cpp
  src/vm/i386/stublinkerx86.h
  src/vm/precode.cpp
Labels: 2 - In Progress, area-VM

#17633 Adjust non-PR triggers
  netci.groovy
Labels: 2 - In Progress

#17613 Port #17594 to the 2.1 branch (Fix GC tests)
  tests/src/GC/Scenarios/DoublinkList/dlbigleak.cs
  tests/src/GC/Scenarios/DoublinkList/dlbigleakthd.cs
  tests/src/GC/Scenarios/DoublinkList/dlcollect.cs
  tests/src/GC/Scenarios/DoublinkList/dlstack.cs
  tests/src/GC/Scenarios/DoublinkList/doublinkgen.cs
  tests/src/GC/Scenarios/DoublinkList/doublinknoleak.cs
  tests/src/GC/Scenarios/DoublinkList/doublinkstay.cs
Labels: 2 - In Progress, test bug

#17614 fix build.cmd generateLayout
  build.cmd
Labels: 2 - In Progress, area-Build

#17636 Disallow Ubuntu arm32 non-PR jobs in non-master branches
  netci.groovy
Labels: 2 - In Progress

#17648 Disallow Ubuntu arm32 non-PR jobs in non-master branches
  netci.groovy
Labels: 2 - In Progress

#17652 [Arm64/Linux] Enable crosscomponent build in CI
  netci.groovy
Labels: 2 - In Progress

#17616 Fix extra register-dependency on mem-form cvtsd/s2ss
  src/jit/emitxarch.cpp
Labels: 2 - In Progress

#17615 [Arm64] Disable SIMD in crossgen (added as part of #14633)
  src/zap/zapper.cpp
Labels: 2 - In Progress

#17624 [arm32] Disable corefx Microsoft.Win32.SystemEvents.Tests
  tests/arm/corefx_test_exclusions.txt
Labels: 2 - In Progress

#17639 Enable Invoke and GetValue for ref-returning members
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/src/System/Reflection/RuntimeMethodInfo.cs
  src/vm/invokeutil.cpp
  src/vm/invokeutil.h
  src/vm/reflectioninvocation.cpp
Labels: 2 - In Progress, area-System.Reflection

#17641 Fix ephemeral limits checks in write barrier for ARM64
  src/vm/arm64/asmhelpers.S
  src/vm/arm64/asmhelpers.asm
Labels: 2 - In Progress, arch-arm64, area-GC

#17643 Delete RuntimeMethodHandle.GetSecurityFlag
  src/mscorlib/src/System/Reflection/INVOCATION_FLAGS.cs
  src/mscorlib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/mscorlib/src/System/Reflection/RuntimeMethodInfo.cs
  src/mscorlib/src/System/RuntimeHandles.cs
  src/vm/comdelegate.cpp
  src/vm/dangerousapis.h
  src/vm/ecalllist.h
  src/vm/invokeutil.cpp
  src/vm/invokeutil.h
  src/vm/reflectioninvocation.cpp
  src/vm/reflectioninvocation.h
  src/vm/runtimehandles.cpp
Labels: 2 - In Progress

#17658 Remove incorrect UNIX_AMD64_ABI define
  clrdefinitions.cmake
Labels: 2 - In Progress

#17635 Fix reading Time zone rules using Julian days
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/shared/System/TimeZoneInfo.Unix.cs
Labels: 2 - In Progress

#17660 Tweak order of interface declarations on string
  src/mscorlib/shared/System/String.cs
Labels: 2 - In Progress

#17655 Skip container creation
  src/publish.proj
Labels: 2 - In Progress

#17656 Fix GC leakwheel scenario test
  tests/src/GC/Scenarios/LeakWheel/leakwheel.cs
Labels: 2 - In Progress

#17330 GCStress: try to reduce races and tolerate races better
  src/inc/CrstTypes.def
  src/inc/crsttypes.h
  src/inc/switches.h
  src/vm/ceemain.cpp
  src/vm/dynamicmethod.cpp
  src/vm/excep.cpp
  src/vm/excep.h
  src/vm/exceptionhandling.cpp
  src/vm/gccover.cpp
  src/vm/i386/excepx86.cpp
  src/vm/method.hpp
  src/vm/prestub.cpp
  src/vm/threads.cpp
  src/vm/threads.h
Labels: GCStress

#17663 Remove debug/checked builds
  buildpipeline/pipelines.json
Labels: 2 - In Progress, area-Infrastructure

#17672 Porting the fix reading Time zone rules using Julian days to 2.1
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/shared/System/TimeZoneInfo.Unix.cs
Labels: 2 - In Progress

#17675 [release/2.1] Add linux-musl build leg
  buildpipeline/DotNet-CoreClr-Trusted-Linux.json
  buildpipeline/pipelines.json
  src/.nuget/dir.props
Labels: 2 - In Progress

#15737 Skip commas when trying to remove some narrowing casts
  src/jit/morph.cpp
Labels: area-CodeGen

#17677 Fix nested spin locks in thread pool etw firing
  src/vm/threadpoolrequest.cpp
Labels: 2 - In Progress, area-System.Threading

#17685 Change assert in emit.cpp to consider unused space between hot/cold blocks.
  src/jit/emit.cpp
Labels: 2 - In Progress

#17699 Stop building Linux with "verbose"
  netci.groovy
Labels: 2 - In Progress

#17688 Fix for Retail/Checked Asm diffs
  src/jit/compiler.cpp
Labels: 2 - In Progress

#17700 Add adityamandaleeka to arm64 users
  netci.groovy
Labels: 2 - In Progress

#17680 Fix GC tests that contain GC.Collect() used in wrong scope
  tests/src/GC/API/GC/Finalize.cs
  tests/src/GC/API/GC/GetTotalMemory.cs
  tests/src/GC/API/GC/KeepAlive.cs
  tests/src/GC/API/GC/KeepAliveNull.cs
  tests/src/GC/API/GC/KeepAliveRecur.cs
  tests/src/GC/API/GC/SuppressFinalize.cs
  tests/src/GC/API/GCHandle/HandleCopy.cs
  tests/src/GC/API/GCHandle/Normal.cs
  tests/src/GC/API/GCHandle/Weak.cs
  tests/src/GC/API/GCHandleCollector/Usage.cs
  tests/src/GC/API/WeakReference/Finalize.cs
  tests/src/GC/Features/Finalizer/finalizeio/finalizeio.cs
  tests/src/GC/Features/Finalizer/finalizeother/finalizearray.cs
  tests/src/GC/Features/Finalizer/finalizeother/finalizearraysleep.cs
  tests/src/GC/Features/Finalizer/finalizeother/finalizedest.cs
  tests/src/GC/Features/Finalizer/finalizeother/finalizeexcep.cs
  tests/src/GC/Features/Finalizer/finalizeother/finalizeinherit.cs
  tests/src/GC/Features/Finalizer/finalizeother/finalizenested.cs
  tests/src/GC/Features/Pinning/PinningOther/PinnedInt.cs
  tests/src/GC/Performance/Tests/GCLarge.cs
  tests/src/GC/Performance/Tests/GCMicroBench.cs
  tests/src/GC/Scenarios/BaseFinal/basefinal.cs
  tests/src/GC/Scenarios/DoublinkList/dlbigleak.cs
  tests/src/GC/Scenarios/DoublinkList/doublinknoleak2.cs
  tests/src/GC/Scenarios/FinalNStruct/finalnstruct.cs
  tests/src/GC/Scenarios/FinalNStruct/nstructtun.cs
  tests/src/GC/Scenarios/FragMan/fragman.cs
  tests/src/GC/Scenarios/LeakGen/leakgen.cs
  tests/src/GC/Scenarios/NDPin/ndpinfinal.cs
  tests/src/GC/Scenarios/ReflectObj/reflectobj.cs
  tests/src/GC/Scenarios/Resurrection/continue.cs
  tests/src/GC/Scenarios/Rootmem/rootmem.cs
  tests/src/GC/Scenarios/SingLinkList/singlinkgen.cs
  tests/src/GC/Scenarios/WeakReference/weakreffinal.cs
  tests/src/GC/Stress/Tests/LargeObjectAlloc2.cs
  tests/src/GC/Stress/Tests/PlugGaps.cs
  tests/src/GC/Stress/Tests/doubLinkStay.cs
Labels: 2 - In Progress

#17713 Port two changes from CoreFX to *memory.cs that were missed by mirror
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/ReadOnlyMemory.cs
Labels: 2 - In Progress

#17714 [release/2.1] Port Preserve pinned flag in {ReadOnly}Memory<T>.Slice
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/ReadOnlyMemory.cs
Labels: 2 - In Progress, area-System.Memory

#17673 Treat EDI as killed by MaskMove
  src/jit/lsra.h
  src/jit/lsrabuild.cpp
Labels: 2 - In Progress, area-CodeGen

#17711 Fix getting the Absolute path while looking up the TZ files
  src/mscorlib/shared/System/TimeZoneInfo.Unix.cs
Labels: 2 - In Progress, area-System.Runtime, os-linux

#17644 port #17618 to the 2.1 branch (Disable timeout test)
  tests/src/JIT/Regression/JitBlue/DevDiv_255294/DevDiv_255294.csproj
Labels: 2 - In Progress, disabled-test

#17722 Fix docker permission issues with Ubuntu arm corefx jobs
  netci.groovy
Labels: 2 - In Progress

#17723 Also save the run-test.sh script
  netci.groovy
Labels: 2 - In Progress

#17718 [release/2.1] Use volatile load to read brick table entries
  src/gc/gc.cpp
  src/gc/gcpriv.h
Labels: 2 - In Progress

#17724 Fix FakePromote assert
  src/vm/compile.cpp
Labels: 2 - In Progress, area-CrossGen/NGEN

#17720 [release/2.0.x] Fix built-in GetHashCode crash on nested structs
  src/vm/comutilnative.cpp
Labels: 2 - In Progress

#17682 Make intra-build containers private
  src/publish.proj
Labels: 2 - In Progress

#17732 Enable Invoke and GetValue for ref-returning members
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/src/System/Reflection/RuntimeMethodInfo.cs
  src/vm/invokeutil.cpp
  src/vm/invokeutil.h
  src/vm/reflectioninvocation.cpp
Labels: 2 - In Progress, area-System.Reflection

#17729 Enable Ubuntu arm32 corefx testing
  netci.groovy
  tests/arm/corefx_linux_test_exclusions.txt
  tests/scripts/run-corefx-tests.py
Labels: 2 - In Progress

#17742 Fix arm corefx test exclusions
  netci.groovy
  tests/arm/corefx_linux_test_exclusions.txt
  tests/arm/corefx_test_exclusions.txt
Labels: 2 - In Progress

#17746 Fix Ubuntu arm corefx triggers: no cron trigger on build job
  netci.groovy
Labels: 2 - In Progress

#17734 Fix dotnet/corefx#29266
  src/vm/amd64/PInvokeStubs.asm
  src/vm/amd64/pinvokestubs.S
  src/vm/arm64/PInvokeStubs.asm
  src/vm/arm64/pinvokestubs.S
  src/vm/dllimport.cpp
  src/vm/frames.h
  src/vm/stubhelpers.cpp
Labels: 2 - In Progress

#17743 Delete unused variables from CMakeLists.txt
  CMakeLists.txt
Labels: 2 - In Progress

#17316 Move Hashtable & friends to shared parition
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/System.Private.CoreLib.csproj
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/Collections/CompatibleComparer.cs
  src/mscorlib/shared/System/Collections/HashHelpers.SerializationInfoTable.cs
  src/mscorlib/shared/System/Collections/HashHelpers.cs
  src/mscorlib/shared/System/Collections/Hashtable.cs
  src/mscorlib/shared/System/Collections/IHashCodeProvider.cs
  src/mscorlib/shared/System/Collections/KeyValuePairs.cs
  src/mscorlib/src/System/Collections/CompatibleComparer.cs
  src/mscorlib/src/System/Collections/IHashCodeProvider.cs
Labels: area-System.Collections

#17745 Delete unused tests\arm64\fails.testlist
  tests/arm64/fails.testlist
Labels: 2 - In Progress, arch-arm64, disabled-test

#17747 Remove Alpine 3.6 builds
  build-packages.sh
  build-test.sh
  build.sh
  buildpipeline/linux-musl.groovy
  buildpipeline/pipelinejobs.groovy
  buildpipeline/pipelines.json
  init-tools.sh
  src/.nuget/dir.props
Labels: 2 - In Progress

#17757 Disable all failing Ubuntu arm corefx tests
  tests/arm/corefx_linux_test_exclusions.txt
Labels: 2 - In Progress

#17763 Fix TailCallStress mode to do more legality checks.
  src/jit/importer.cpp
Labels: 2 - In Progress

#17776 Don't optimize away Task code needed for debugger
  src/mscorlib/ILLinkTrim.xml
Labels: 2 - In Progress

#17694 Account for copied bytes in struct copy loop when generating GT_PUTARG_STK code [ARM64]
  src/jit/codegenarmarch.cpp
Labels: 2 - In Progress, arch-arm64, area-CodeGen

#17788 Remove some fgMorphArgs dead code
  src/jit/morph.cpp
Labels: 2 - In Progress

#17793 Allocate the lvaOutgoingArgSpaceVar early
  src/jit/lclvars.cpp
  src/jit/utils.h
  tests/src/JIT/Regression/JitBlue/GitHub_17777/GitHub_17777.cs
  tests/src/JIT/Regression/JitBlue/GitHub_17777/GitHub_17777.csproj
Labels: 2 - In Progress

#17806 Fix register being shifted in PInvoke stub
  src/vm/arm64/PInvokeStubs.asm
  src/vm/arm64/pinvokestubs.S
Labels: 2 - In Progress

#17804 Add better portable PDB caching to System.Diagnostics.StackTrace.
  src/mscorlib/src/System/Diagnostics/Stackframe.cs
  src/mscorlib/src/System/Diagnostics/Stacktrace.cs
  src/vm/debugdebugger.h
  src/vm/mscorlib.h
Labels: 2 - In Progress, area-Diagnostics

#17808 Fix Number.ParseNumber to not assume '\0' at the end of a span
  src/mscorlib/shared/System/Number.Parsing.cs
Labels: 2 - In Progress

#17811 Fix jitbench
  dependencies.props
  tests/src/performance/Scenario/JitBench/Benchmarks/MLBenchmark.cs
  tests/src/performance/Scenario/JitBench/Runner/Benchmark.cs
  tests/src/performance/Scenario/JitBench/Runner/TestRun.cs
Labels: 2 - In Progress

#17786 [release/2.1] Don't optimize away Task code needed for debugger
  src/mscorlib/ILLinkTrim.xml
Labels: 2 - In Progress

#17779 [release/2.1] Remove Alpine 3.6 builds
  build-packages.sh
  build-test.sh
  build.sh
  buildpipeline/linux-musl.groovy
  buildpipeline/pipelinejobs.groovy
  buildpipeline/pipelines.json
  init-tools.sh
  src/.nuget/dir.props
Labels: 2 - In Progress

#17765 Initialize Compiler::Vector128/256ULongHandle in compInit
  src/jit/compiler.cpp
Labels: 2 - In Progress
