Repository dotnet/coreclr, pull requests merged in 2018-03, with the labels that each got.

#16676 Remove ConvertILOnlyPE32ToPE64 and ConvertILOnlyPE32ToPE64Worker
  src/vm/peimagelayout.cpp
  src/vm/peimagelayout.h
Labels: enhancement

#16660 Use _TARGET_64BIT_ macro
  src/inc/jithelpers.h
  src/vm/array.cpp
  src/vm/ceeload.cpp
  src/vm/class.cpp
  src/vm/codeman.cpp
  src/vm/codeman.h
  src/vm/compile.cpp
  src/vm/dataimage.h
  src/vm/dllimport.cpp
  src/vm/ecalllist.h
  src/vm/fieldmarshaler.cpp
  src/vm/methodtablebuilder.cpp
  src/vm/mscorlib.h
  src/vm/object.h
  src/vm/pefile.cpp
  src/vm/stubhelpers.cpp
  src/vm/stubhelpers.h
  src/zap/zapimage.cpp
  src/zap/zapimage.h
  src/zap/zaprelocs.h
  src/zap/zapwriter.cpp
  src/zap/zapwriter.h
Labels: enhancement

#16689 Remove Span.NonGenerics and update leftover AsRoS -> AsSpan changes
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
  src/mscorlib/shared/System/Span.NonGeneric.cs
Labels: area-System.Memory

#15419 Dictionary CQ
  src/mscorlib/shared/System/Collections/Generic/Dictionary.cs
Labels: area-System.Collections

#16617 [RyuJIT/ARM32]Use emitter::code_t typedef for ARM
  src/jit/emit.h
  src/jit/emitarm.cpp
  src/jit/emitarm.h
Labels: arch-arm32, area-CodeGen

#16693 [RyuJit] fix clang switch warning
  src/jit/stacklevelsetter.cpp
Labels: area-CodeGen

#16640 Use TARGET_POINTER_SIZE macro
  src/ToolBox/SOS/Strike/util.h
  src/inc/cortypeinfo.h
  src/vm/siginfo.cpp
Labels: enhancement

#15777 Implement Shuffle* Sse2 Intel hardware intrinsics
  src/jit/compiler.h
  src/jit/emitxarch.cpp
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/hwintrinsiclistxarch.h
  src/jit/hwintrinsicxarch.cpp
  src/jit/instrsxarch.h
  src/jit/lowerxarch.cpp
  src/jit/lsraxarch.cpp
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Shuffle.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Shuffle.tt
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleHigh.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleHigh.tt
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleHigh_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleHigh_ro.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleLow.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleLow.tt
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleLow_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/ShuffleLow_ro.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Shuffle_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Shuffle_ro.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/TestTableSse2.cs
Labels: area-CodeGen

#16718 Remove StringSpanHelpers and start using MemoryExtensions
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/Boolean.cs
  src/mscorlib/shared/System/Double.cs
  src/mscorlib/shared/System/Globalization/CompareInfo.cs
  src/mscorlib/shared/System/Globalization/DateTimeParse.cs
  src/mscorlib/shared/System/Globalization/TimeSpanParse.cs
  src/mscorlib/shared/System/Guid.cs
  src/mscorlib/shared/System/IO/Path.Windows.cs
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
  src/mscorlib/shared/System/MemoryExtensions.Fast.cs
  src/mscorlib/shared/System/MemoryExtensions.cs
  src/mscorlib/shared/System/Number.Parsing.cs
  src/mscorlib/shared/System/Single.cs
  src/mscorlib/shared/System/StringSpanHelpers.cs
  src/mscorlib/shared/System/Text/StringBuilder.cs
  src/mscorlib/shared/System/Version.cs
  src/mscorlib/src/System/String.Comparison.cs
  src/mscorlib/src/System/ThrowHelper.cs
Labels: area-System.Memory

#16732 Fix MemoryDebugView and override Memory.ToString similar to Span
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/MemoryDebugView.cs
  src/mscorlib/shared/System/ReadOnlyMemory.cs
Labels: area-System.Memory

#16741 fix desktop legacy backend failures
  src/jit/emitxarch.cpp
Labels: area-CodeGen

#16752 Remove flock usage from InternalCreateFile in PAL
  src/pal/src/file/file.cpp
Labels: area-PAL

#16728 [ARM32] RyuJIT support for profiler ELT callbacks
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
Labels: arch-arm32, area-CodeGen

#16643 Remove libuuid usage
  src/ToolBox/superpmi/superpmi-shim-collector/superpmi-shim-collector.cpp
  src/ToolBox/superpmi/superpmi-shim-counter/methodcallsummarizer.cpp
  src/ToolBox/superpmi/superpmi/parallelsuperpmi.cpp
  src/dlls/mscordac/mscordac_unixexports.src
  src/dlls/mscoree/mscorwks_unixexports.src
  src/mscorlib/System.Private.CoreLib.csproj
  src/mscorlib/shared/Interop/Windows/Ole32/Interop.CoCreateGuid.cs
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/Guid.Unix.cs
  src/mscorlib/shared/System/Guid.Windows.cs
  src/mscorlib/src/Microsoft/Win32/Win32Native.cs
  src/mscorlib/src/System/Guid.CoreCLR.cs
  src/pal/inc/pal.h
  src/pal/inc/rt/palrt.h
  src/pal/src/CMakeLists.txt
  src/pal/src/config.h.in
  src/pal/src/configure.cmake
  src/pal/src/misc/miscpalapi.cpp
  src/palrt/guid.cpp
  src/vm/comutilnative.cpp
Labels: area-PAL

#16756 Port to 2.0 Remove flock usage from InternalCreateFile in PAL
  src/pal/src/file/file.cpp
Labels: Servicing-Approved-2.0.7, area-PAL

#16719 Fix hang on Ctrl+C when tiering is enabled
  src/vm/appdomain.cpp
  src/vm/ceemain.cpp
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
  tests/src/performance/Scenario/JitBench/Benchmarks/MusicStoreBenchmark.cs
Labels: area-VM

#16733 CoreFX #24343 Vector Ctor using Span
  src/mscorlib/Resources/Strings.resx
  src/mscorlib/System.Private.CoreLib.csproj
  src/mscorlib/shared/System/Numerics/GenerationConfig.ttinclude
  src/mscorlib/shared/System/Numerics/Vector.cs
  src/mscorlib/shared/System/Numerics/Vector.tt
Labels: area-System.Numerics

#16789 an additional assert for fgValueNumberHelperCallFunc
  src/jit/valuenum.cpp
Labels: area-CodeGen, question

#16698 Fix ensuring primary stack size
  src/pal/inc/pal.h
  src/pal/src/CMakeLists.txt
  src/pal/src/init/pal.cpp
Labels: area-PAL

#16816 Delete incorrect assert in stackLevelSetter.
  src/jit/stacklevelsetter.cpp
  tests/src/JIT/Regression/JitBlue/DevDiv_578217/DevDiv_578217.il
  tests/src/JIT/Regression/JitBlue/DevDiv_578217/DevDiv_578217.ilproj
Labels: arch-x86, area-CodeGen, bug

#16576 Port to 1.1 - fix detection of YMM regs presence
  src/pal/src/include/pal/context.h
  src/pal/src/thread/context.cpp
Labels: Servicing-Approved-1.1.8, area-PAL

#16577 Port to 2.0 - fix detection of YMM regs presence
  src/pal/src/include/pal/context.h
  src/pal/src/thread/context.cpp
Labels: Servicing-Approved-2.0.7, area-PAL

#16845 [RyuJit] Fix DCE in liveness.
  src/jit/liveness.cpp
  tests/src/JIT/Regression/JitBlue/DevDiv_578214/DevDiv_578214.il
  tests/src/JIT/Regression/JitBlue/DevDiv_578214/DevDiv_578214.ilproj
Labels: area-CodeGen, bug

#16729 Replace install with _install in all superpmi CMakeLists.txt files
  crosscomponents.cmake
  src/ToolBox/superpmi/mcs/CMakeLists.txt
  src/ToolBox/superpmi/superpmi-shim-collector/CMakeLists.txt
  src/ToolBox/superpmi/superpmi-shim-counter/CMakeLists.txt
  src/ToolBox/superpmi/superpmi-shim-simple/CMakeLists.txt
  src/ToolBox/superpmi/superpmi/CMakeLists.txt
Labels: * NO MERGE *

#16863 Revert "Disable fragile NGen for System.Private.CoreLib.dll on ARM"
  src/tools/crossgen/crossgen.cpp
Labels: arch-arm32

#16855 Fix build with Clang 6.0 and enable build with Clang 5.0
  build.sh
  compileoptions.cmake
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
  src/inc/utilcode.h
  src/jit/ee_il_dll.cpp
  src/vm/gcenv.ee.cpp
Labels: area-Build

#16171 [R2R][RyuJit][ARM] Fix R2R relative indirection for arm.
  src/jit/lower.cpp
  src/jit/morph.cpp
  src/jit/rationalize.cpp
  src/jit/valuenum.cpp
Labels: arch-arm32, arch-arm64, area-CodeGen, area-ReadyToRun, bug

#16901 Fix short path expansion
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
Labels: area-System.IO

#16765 [local gc] refactor apis for threading and suspension to avoid redundant calls in to the runtime
  src/gc/env/gcenv.ee.h
  src/gc/gc.cpp
  src/gc/gc.h
  src/gc/gccommon.cpp
  src/gc/gcee.cpp
  src/gc/gcenv.ee.standalone.inl
  src/gc/gcimpl.h
  src/gc/gcinterface.ee.h
  src/gc/gcinterface.h
  src/gc/gcpriv.h
  src/gc/sample/gcenv.ee.cpp
  src/gc/sample/gcenv.h
  src/vm/gcenv.ee.cpp
  src/vm/gcenv.ee.h
  src/vm/threadsuspend.cpp
Labels: area-GC

#16904 Fix shuffling thunk for Unix AMD64
  src/vm/comdelegate.cpp
  src/vm/i386/stublinkerx86.cpp
  tests/src/Regressions/coreclr/GitHub_16833/Test16833.csproj
  tests/src/Regressions/coreclr/GitHub_16833/test16833.cs
Labels: area-VM

#16914 [local gc] change bool to bool
  src/gc/gc.cpp
Labels: area-GC

#16936 DIfferent Directory Separator for linux
  src/mscorlib/shared/System/IO/PathInternal.cs
Labels: area-System.IO

#16895 [ARM] Disable fragile NGen when compiling S.P.C.dll for _TARGET_ARM_
  src/tools/crossgen/crossgen.cpp
Labels: arch-arm32, area-CrossGen/NGEN

#16859 Include Linux/cross-arch components into NuGet packages
  build.sh
  config.json
  dir.props
  src/.nuget/Microsoft.NETCore.Jit/runtime.Linux.Microsoft.NETCore.Jit.props
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Linux.Microsoft.NETCore.Runtime.CoreCLR.props
Labels: area-Build

#16921 Fix GetTempPath
  src/mscorlib/shared/Interop/Windows/Kernel32/Interop.GetFullPathNameW.cs
  src/mscorlib/shared/Interop/Windows/Kernel32/Interop.GetTempFileNameW.cs
  src/mscorlib/shared/Interop/Windows/Kernel32/Interop.GetTempPathW.cs
  src/mscorlib/shared/System/IO/Path.Windows.cs
  src/mscorlib/shared/System/IO/PathHelper.Windows.cs
  src/mscorlib/shared/System/Text/ValueStringBuilder.cs
Labels: area-System.IO

#16941 Fix to not reuse preallocated jump stubs for dynamic methods
  src/vm/amd64/cgenamd64.cpp
  src/vm/amd64/cgencpu.h
  src/vm/crossgencompile.cpp
  src/vm/i386/stublinkerx86.cpp
  src/vm/i386/stublinkerx86.h
  src/vm/precode.cpp
  tests/src/CoreMangLib/cti/system/reflection/emit/DynMethodJumpStubTests/DynMethodJumpStubTests.cs
Labels: area-VM

#16948 [1.1] Port Clang5 fixes to rel/1.1.0, unblock Fedora27 build
  build.sh
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
  src/ToolBox/superpmi/superpmi-shared/methodcontext.cpp
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/di/dbgtransportmanager.cpp
  src/debug/di/rsmain.cpp
  src/debug/di/rspriv.h
  src/debug/ee/debugger.cpp
  src/debug/ee/debugger.h
  src/debug/ildbsymlib/symwrite.h
  src/debug/inc/dacdbiinterface.h
  src/gc/gc.cpp
  src/jit/codegenxarch.cpp
  src/pal/inc/pal.h
  src/pal/inc/pal_mstypes.h
  src/pal/inc/rt/intsafe.h
  src/pal/src/config.h.in
  src/pal/src/configure.cmake
  src/pal/src/exception/seh.cpp
  src/pal/src/include/pal/context.h
  src/vm/amd64/unixstubs.cpp
  src/vm/exceptionhandling.cpp
  src/vm/i386/cgenx86.cpp
  tests/src/Common/Platform/platformdefines.cpp
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/common/types.h
Labels: area-Meta

#16858 Fix etmdummy.h file not found during Linux/arm crosscomponent build
  build.sh
Labels: bug

#16945 Use managed marvin hashing for IgnoreCase comparison
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/Globalization/CompareInfo.cs
  src/mscorlib/shared/System/Globalization/TextInfo.cs
  src/mscorlib/shared/System/Marvin.cs
  src/mscorlib/shared/System/StringComparer.cs
Labels: area-System.Globalization

#16998 Put the path on IOException strings when possible
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/IO/DriveNotFoundException.cs
  src/mscorlib/shared/System/IO/FileStream.Windows.cs
  src/mscorlib/shared/System/IO/Win32Marshal.cs
Labels: area-System.IO

#15146 Do not compute the IDF for all blocks in advance
  src/jit/compphases.h
  src/jit/jitstd/vector.h
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
Labels: area-CodeGen

#16141 Add environment variable (COMPlus_EnableDiagnostics) to disable debuggging and profiling
  src/debug/daccess/enummem.cpp
  src/debug/ee/debugger.cpp
  src/debug/ee/debugger.h
  src/inc/clrconfigvalues.h
Labels: * NO MERGE *

#16953 Publish x86_arm/crossgen during Linux/arm build
  buildpipeline/DotNet-CoreClr-Trusted-Linux-Crossbuild.json
  buildpipeline/pipelines.json
Labels: area-Build

#17041 delete unused debug arg from genChangeLife and compChangeLife.
  src/jit/codegencommon.cpp
  src/jit/codegenlegacy.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
Labels: area-CodeGen

#16978 Add new ICLRDebuggingLibraryProvider2 interface for OpenVirtualProces that works on Linux
  src/debug/shim/debugshim.cpp
  src/dlls/dbgshim/CMakeLists.txt
  src/inc/metahost.idl
  src/pal/prebuilt/inc/metahost.h
Labels: area-Diagnostics

#17033 Port System.Memory performance improvements to Convert.TryFromBase64Chars
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/Convert.Base64.cs
  src/mscorlib/shared/System/Convert.cs
Labels: area-System.Memory

#14260 Fix type for lvaCachedGenericContextArgOffs
  src/jit/compiler.h
  src/jit/compiler.hpp
Labels: area-CodeGen, cla-already-signed

#17087 Moving Span APIs that allow skipping visibility checks to MemoryMarshal
  src/mscorlib/shared/System/Runtime/InteropServices/MemoryMarshal.Fast.cs
  src/mscorlib/shared/System/Runtime/InteropServices/MemoryMarshal.cs
Labels: area-System.Memory

#17079 null terminate the converted LPStr at the right index
  src/vm/olevariant.cpp
Labels: area-Interop

#17057 [1.1] Update buildtools and cli version to same ones as CoreFX
  BuildToolsVersion.txt
  DotnetCLIVersion.txt
  Tools-Override/_
  init-tools.cmd
  init-tools.sh
  src/mscorlib/facade/mscorlib.csproj
Labels: area-Build

#17106 Rename {Try}Read/WriteMachineEndian to just {Try}Read/Write
  src/mscorlib/shared/System/Runtime/InteropServices/MemoryMarshal.cs
Labels: area-System.Memory

#17074 Disable min_opt and tiered jit permutations on the release branch.
  perf.groovy
Labels: area-Benchmarks, area-Infrastructure, tenet-performance

#17119 fix order of Serialize for linux build
  src/gc/gcevent_serializers.h
Labels: area-GC

#17139 Enable Ubuntu 18.04 build in release/1.1.0
  build.sh
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
Labels: area-Build

#17137 [arm32] Disable JIT\jit64\opt\cse\hugeexpr1 stress testing.
  tests/arm/Tests.lst
Labels: JitStress, arch-arm32, area-ReadyToRun

#17157 Generate native image for System.Private.CoreLib.dll during Linux/arm build.sh
  build.sh
Labels: arch-arm32, area-Infrastructure

#17103 [RyuJit/ARM] Fix lsra BuildShiftRotate
  src/jit/lsra.h
  src/jit/lsraarm.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraarmarch.cpp
  tests/src/JIT/Regression/JitBlue/DevDiv_545497/DevDiv_545497.il
  tests/src/JIT/Regression/JitBlue/DevDiv_545497/DevDiv_545497.ilproj
Labels: arch-arm32, area-CodeGen, bug

#17159 increase timeout for altjit jobs
  netci.groovy
Labels: area-Infrastructure

#17115 Fix CompareTo/Equals when dealing with Empty Span or Span wrapping a null string
  src/mscorlib/shared/System/Globalization/CompareInfo.Unix.cs
  src/mscorlib/shared/System/Globalization/CompareInfo.Windows.cs
  src/mscorlib/shared/System/Globalization/CompareInfo.cs
  src/mscorlib/shared/System/MemoryExtensions.cs
Labels: area-System.Memory

#17214 Update use of AsBytes in perf tests to use MemoryMarshal.AsBytes.
  tests/src/JIT/Performance/CodeQuality/Span/SpanBench.cs
Labels: area-System.Memory

#17142 [local gc] Fix for BitScanForward64, it was ignoring the high byte check
  src/gc/env/gcenv.base.h
Labels: area-GC

#15301 Fix inconsistent handling of zero extending casts
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/decomposelongs.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/importer.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/simd.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_13501/GitHub_13501.il
  tests/src/JIT/Regression/JitBlue/GitHub_13501/GitHub_13501.ilproj
Labels: area-CodeGen

#16973 [1.1] Add packaging for Fedora27, OpenSuse423, Ubuntu1804
  src/.nuget/Microsoft.NETCore.ILAsm/Microsoft.NETCore.ILAsm.builds
  src/.nuget/Microsoft.NETCore.ILAsm/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILAsm/fedora/27/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILAsm/opensuse/42.3/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILAsm/ubuntu/18.04/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/Microsoft.NETCore.ILDAsm.builds
  src/.nuget/Microsoft.NETCore.ILDAsm/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/fedora/27/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/opensuse/42.3/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/ubuntu/18.04/Microsoft.NETCore.ILDAsm.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/Microsoft.NETCore.Jit.builds
  src/.nuget/Microsoft.NETCore.Jit/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/fedora/27/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/opensuse/42.3/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Jit/ubuntu/18.04/Microsoft.NETCore.Jit.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/Microsoft.NETCore.Runtime.CoreCLR.builds
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/fedora/27/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/opensuse/42.3/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/ubuntu/18.04/Microsoft.NETCore.Runtime.CoreCLR.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/Microsoft.NETCore.TestHost.builds
  src/.nuget/Microsoft.NETCore.TestHost/Microsoft.NETCore.TestHost.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/fedora/27/Microsoft.NETCore.TestHost.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/opensuse/42.3/Microsoft.NETCore.TestHost.pkgproj
  src/.nuget/Microsoft.NETCore.TestHost/ubuntu/18.04/Microsoft.NETCore.TestHost.pkgproj
Labels: packaging

#17221 Fix build without libunwind installed
  src/pal/src/CMakeLists.txt
  src/pal/src/configure.cmake
  src/pal/src/exception/remote-unwind.cpp
  src/pal/src/exception/seh-unwind.cpp
  src/pal/src/libunwind/CMakeLists.txt
Labels: area-PAL

#17104 Enable building Linux/arm crossarch components in ci
  netci.groovy
Labels: arch-arm32, area-Infrastructure

#16943 Enable reflection load ComImport assembly and Type.IsComObjectType
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/ecall.cpp
  src/vm/interoputil.cpp
  src/vm/interoputil.h
  src/vm/methodtable.cpp
  src/vm/methodtable.h
  src/vm/methodtablebuilder.cpp
  src/vm/methodtablebuilder.h
  src/vm/runtimehandles.cpp
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/ClassicCOM/CMakeLists.txt
  tests/src/Interop/ClassicCOM/COMLib.cs
  tests/src/Interop/ClassicCOM/COMLib.csproj
  tests/src/Interop/ClassicCOM/COMLib2.cs
  tests/src/Interop/ClassicCOM/COMLib2.csproj
  tests/src/Interop/ClassicCOM/ClassicCOMNative.cpp
  tests/src/Interop/ClassicCOM/ClassicCOMUnitTest.cs
  tests/src/Interop/ClassicCOM/ClassicCOMUnitTest.csproj
Labels: area-Interop, os-linux

#17252 Fix handling of FCalls in ExternalMethodFixupWorker
  src/vm/method.cpp
Labels: area-ReadyToRun

#17269 Adding Memory.Pin() to eventually replace Memory.Retain(bool)
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/ReadOnlyMemory.cs
Labels: area-System.Memory

#17275 Fix DelayLoad_MethodCall unwinding
  src/vm/arm/asmhelpers.S
Labels: area-ReadyToRun

#17277 [local gc] fix for logalways eventing level
  src/gc/gceventstatus.h
  src/gc/gcinterface.h
Labels: area-GC

#17005 [RyuJIT/ARM] Cross-Bitness Support for RyuJIT
  crosscomponents.cmake
  src/jit/codegen.h
  src/jit/codegencommon.cpp
  src/jit/compiler.hpp
  src/jit/emit.cpp
  src/jit/emitarm.cpp
  src/jit/lclvars.cpp
  src/jit/target.h
Labels: * NO MERGE *, arch-arm32, area-CodeGen

#17292 Fix some more unwinding in R2R ARM
  src/vm/arm/asmhelpers.S
Labels: area-ReadyToRun

#17284 Use ROSpan.IndexOf as the workhorse for string.IndexOf
  src/mscorlib/shared/System/SpanHelpers.Char.cs
  src/mscorlib/shared/System/String.Searching.cs
Labels: area-System.Runtime

#17308 change arm32 rerun number to 20.
  tests/runtesttilstable.sh
Labels: area-Infrastructure

#17340 Change OwnedMemory to MemoryManager and add an IMemoryOwner.
  src/mscorlib/shared/System.Private.CoreLib.Shared.projitems
  src/mscorlib/shared/System/Buffers/IMemoryOwner.cs
  src/mscorlib/shared/System/Buffers/IPinnable.cs
  src/mscorlib/shared/System/Buffers/IRetainable.cs
  src/mscorlib/shared/System/Buffers/MemoryHandle.cs
  src/mscorlib/shared/System/Buffers/MemoryManager.cs
  src/mscorlib/shared/System/Buffers/OwnedMemory.cs
  src/mscorlib/shared/System/IO/FileStreamCompletionSource.Win32.cs
  src/mscorlib/shared/System/Memory.cs
  src/mscorlib/shared/System/ReadOnlyMemory.cs
  src/mscorlib/shared/System/Runtime/InteropServices/MemoryMarshal.cs
  src/mscorlib/src/System/ThrowHelper.cs
Labels: area-System.Memory

#17351 Fix remote unwind
  src/pal/src/exception/remote-unwind.cpp
  src/pal/src/libunwind/src/CMakeLists.txt
Labels: area-PAL

#17319 Mark GCCollect test as GC stress excluded
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
Labels: area-Meta

#17369 Fix for #17356
  src/gc/env/gcenv.object.h
Labels: area-GC
