Repository dotnet/coreclr, pull requests merged in 2018-08, with the labels that each got.

#19054 Allow rejit on attach
  src/debug/ee/debugger.cpp
  src/inc/clrconfigvalues.h
  src/inc/corprof.idl
  src/pal/prebuilt/inc/corprof.h
  src/vm/codeman.cpp
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/eetoprofinterfaceimpl.cpp
  src/vm/eetoprofinterfaceimpl.h
  src/vm/eetoprofinterfaceimpl.inl
  src/vm/jitinterface.cpp
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/rejit.cpp
  src/vm/rejit.inl
Labels: area-Diagnostics

#19238 Fix interop test targets
  tests/src/Interop/Interop.settings.targets
Labels: test bug

#18223 Get rid of codegenlinear.h and x86_instrs.h
  src/jit/CMakeLists.txt
  src/jit/codegen.h
  src/jit/codegenlinear.h
  src/jit/instr.h
  src/jit/x86_instrs.h
Labels: area-CodeGen

#19013 [ARM32] Handle MovRelocatableImmediate as a special case (IF_T2_N3)
  src/jit/codegen.h
  src/jit/codegenarm.cpp
  src/jit/codegencommon.cpp
  src/jit/emit.cpp
  src/jit/emit.h
  src/jit/emitarm.cpp
  src/jit/emitarm.h
  src/jit/emitarm64.cpp
  src/jit/emitarm64.h
  src/jit/emitfmtsarm.h
  src/jit/instrsarm.h
  src/jit/target.h
Labels: arch-arm32, area-CodeGen

#19224 JIT: port extra check to struct of struct of x promotion to relase/2.1
  src/jit/lclvars.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_19149/GitHub_19149.cs
  tests/src/JIT/Regression/JitBlue/GitHub_19149/GitHub_19149.csproj
Labels: area-CodeGen

#19324 Use dotnet MSBuild for tests
  build-test.cmd
  tests/build.proj
  tests/dir.sdkbuild.props
  tests/src/dir.props
Labels: test enhancement

#17769 [local gc] disable feature redhawk
  src/gc/CMakeLists.txt
  src/gc/env/gcenv.base.h
  src/gc/gc.cpp
  src/gc/gcpriv.h
  src/gc/handletable.cpp
  src/gc/handletablecore.cpp
  src/gc/handletablescan.cpp
  src/gc/objecthandle.cpp
  src/vm/eeconfig.h
  src/vm/gcenv.ee.cpp
  src/vm/gchelpers.cpp
Labels: 2 - In Progress

#19384 Fix a couple of apartment state issues
  src/System.Private.CoreLib/Resources/Strings.resx
  src/vm/appdomain.cpp
  src/vm/assembly.cpp
  src/vm/comwaithandle.cpp
  tests/CoreFX/CoreFX.issues.json
Labels: area-System.Threading

#19451 [release/2.1] Sign api-ms-win-core-xstate-l2-1-0.dll
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Windows_NT.Microsoft.NETCore.Runtime.CoreCLR.props
  src/build.proj
  src/sign.builds
Labels: Servicing-Consider, area-Infrastructure

#19465 disable tests\src\JIT\Methodical\fp\exgen\10w5d_cs_do
  tests/src/JIT/Methodical/fp/exgen/10w5d_cs_do.csproj
Labels: disabled-test

#19507 Add Public API Marshal.IsTypeVisibleFromCom and Marshal.GetEndComSlot
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/NonPortable.cs
  src/vm/ecalllist.h
Labels: area-Interop

#19505 Revert "Temporarily flag a SIMD test as optimization-sensitive (#19163)"
  tests/src/JIT/SIMD/VectorExp_ro.csproj
Labels: area-CodeGen

#19508 Make file handle checks accurate on Windows
  src/System.Private.CoreLib/shared/Interop/Windows/Interop.Libraries.cs
  src/System.Private.CoreLib/shared/Interop/Windows/NtDll/NtQueryInformationFile.cs
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/IO/FileStream.Unix.cs
  src/System.Private.CoreLib/shared/System/IO/FileStream.Win32.cs
  src/System.Private.CoreLib/shared/System/IO/FileStream.WinRT.cs
  src/System.Private.CoreLib/shared/System/IO/FileStream.Windows.cs
  src/System.Private.CoreLib/shared/System/IO/FileStream.cs
Labels: area-System.IO

#19490 Add an empty console application to measure startup of the runtime.
  tests/src/performance/Scenario/JitBench/Benchmarks/EmptyConsoleProgramExecution.cs
Labels: tenet-performance-benchmarks

#19525 Enable Tiered Compilation by default
  Documentation/project-docs/clr-configuration-knobs.md
  src/inc/clrconfigvalues.h
  src/vm/eeconfig.cpp
  src/vm/tieredcompilation.cpp
  tests/runtest.cmd
  tests/scripts/run-xunit-perf.py
  tests/src/CLRTest.Execute.Bash.targets
  tests/src/CLRTest.Execute.Batch.targets
  tests/src/baseservices/exceptions/stacktrace/Tier1StackTrace.csproj
  tests/src/performance/Scenario/JitBench/Runner/BenchmarkConfiguration.cs
  tests/src/performance/Scenario/JitBench/Runner/Program.cs
  tests/src/reflection/Tier1Collectible/Tier1Collectible.csproj
Labels: area-VM

#19527 Remove tests previously ported to CoreFX repo
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
  tests/issues.targets
  tests/src/Interop/MarshalAPI/Copy/CopyByteArray.cs
  tests/src/Interop/MarshalAPI/Copy/CopyByteArray.csproj
  tests/src/Interop/MarshalAPI/Copy/CopyCharArray.cs
  tests/src/Interop/MarshalAPI/Copy/CopyCharArray.csproj
  tests/src/Interop/MarshalAPI/Copy/CopyDoubleArray.cs
  tests/src/Interop/MarshalAPI/Copy/CopyDoubleArray.csproj
  tests/src/Interop/MarshalAPI/Copy/CopyInt16Array.cs
  tests/src/Interop/MarshalAPI/Copy/CopyInt16Array.csproj
  tests/src/Interop/MarshalAPI/Copy/CopyInt32Array.cs
  tests/src/Interop/MarshalAPI/Copy/CopyInt32Array.csproj
  tests/src/Interop/MarshalAPI/Copy/CopyInt64Array.cs
  tests/src/Interop/MarshalAPI/Copy/CopyInt64Array.csproj
  tests/src/Interop/MarshalAPI/Copy/CopyIntPtrArray.cs
  tests/src/Interop/MarshalAPI/Copy/CopyIntPtrArray.csproj
  tests/src/Interop/MarshalAPI/Copy/CopySingleArray.cs
  tests/src/Interop/MarshalAPI/Copy/CopySingleArray.csproj
  tests/src/Interop/MarshalAPI/GetExceptionForHR/GetExceptionForHR.cs
  tests/src/Interop/MarshalAPI/GetExceptionForHR/GetExceptionForHR.csproj
  tests/src/Interop/MarshalAPI/GetNativeVariantForObject/GetNativeVariantForObject.cs
  tests/src/Interop/MarshalAPI/GetNativeVariantForObject/GetNativeVariantForObject.csproj
  tests/src/Interop/MarshalAPI/GetObjectForNativeVariant/GetObjectForNativeVariant.cs
  tests/src/Interop/MarshalAPI/GetObjectForNativeVariant/GetObjectForNativeVariant.csproj
  tests/src/Interop/MarshalAPI/GetObjectsForNativeVariants/GetObjectsForNativeVariants.cs
  tests/src/Interop/MarshalAPI/GetObjectsForNativeVariants/GetObjectsForNativeVariants.csproj
  tests/src/Interop/MarshalAPI/MarshalStructure/MarshalStructure.cs
  tests/src/Interop/MarshalAPI/MarshalStructure/MarshalStructure.csproj
  tests/src/Interop/MarshalAPI/Miscellaneous/AutoLayoutStructure.cs
  tests/src/Interop/MarshalAPI/Miscellaneous/AutoLayoutStructure.csproj
  tests/src/Interop/MarshalAPI/Miscellaneous/MarshalClassTests.cs
  tests/src/Interop/MarshalAPI/Miscellaneous/MarshalClassTests.csproj
  tests/src/Interop/MarshalAPI/OffsetOf/OffsetOf.cs
  tests/src/Interop/MarshalAPI/OffsetOf/OffsetOf.csproj
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteByte.cs
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteByte.csproj
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt16.cs
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt16.csproj
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt32.cs
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt32.csproj
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt64.cs
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteInt64.csproj
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteIntPtr.cs
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteIntPtr.csproj
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteObject.cs
  tests/src/Interop/MarshalAPI/ReadWrite/ReadWriteObject.csproj
  tests/src/Interop/MarshalAPI/String/StringMarshalingTest.cs
  tests/src/Interop/MarshalAPI/String/StringMarshalingTest.csproj
  tests/src/Interop/MarshalAPI/UnsafeAddrOfPinnedArrayElement/UnsafeAddrOfPinnedArrayElement.cs
  tests/src/Interop/MarshalAPI/UnsafeAddrOfPinnedArrayElement/UnsafeAddrOfPinnedArrayElement.csproj
  tests/testsUnsupportedOutsideWindows.txt
Labels: area-Interop, test enhancement

#19536 Fix wrong sprinf_s format string in gtGetArgMsg getGetLateArgMsg on ARM32
  src/jit/gentree.cpp
Labels: arch-arm32

#19548 Fix issues with calling convention in tests.
  tests/src/Interop/BestFitMapping/BestFitMappingNative.cpp
  tests/src/Interop/RefCharArray/RefCharArrayNative.cpp
  tests/src/Interop/RefCharArray/RefCharArrayTest.cs
  tests/src/Interop/SizeConst/SizeConstNative.cpp
  tests/src/JIT/Directed/pinning/object-pin/Object-Pin.il
Labels: test bug

#19553 Fix dbgshim's > 1000 module bug (issue #19538)
  src/dlls/dbgshim/dbgshim.cpp
Labels: area-Diagnostics

#19565 Add no-tiering CI jobs for testing with tiering enabled
  netci.groovy
Labels: area-Meta

#19604 Fix a PAL spin lock issue
  src/pal/src/synchobj/mutex.cpp
Labels: area-PAL

#18476 Enable unloading of AssemblyLoadContext
  clr.coreclr.props
  clr.defines.targets
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.cs
  src/binder/assembly.cpp
  src/binder/clrprivbinderassemblyloadcontext.cpp
  src/binder/clrprivbindercoreclr.cpp
  src/binder/inc/assembly.hpp
  src/binder/inc/clrprivbinderassemblyloadcontext.h
  src/binder/inc/clrprivbindercoreclr.h
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/inc/clrprivbinderutil.h
  src/inc/clrprivbinding.idl
  src/inc/loaderheap.h
  src/pal/prebuilt/inc/clrprivbinding.h
  src/utilcode/loaderheap.cpp
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/arm/cgencpu.h
  src/vm/arm/stubs.cpp
  src/vm/assembly.cpp
  src/vm/assemblynative.cpp
  src/vm/assemblynative.hpp
  src/vm/assemblyspec.cpp
  src/vm/assemblyspec.hpp
  src/vm/ceeload.cpp
  src/vm/clrprivbinderloadfile.h
  src/vm/clrprivbinderwinrt.h
  src/vm/comdelegate.cpp
  src/vm/comdelegate.h
  src/vm/coreassemblyspec.cpp
  src/vm/domainfile.cpp
  src/vm/domainfile.h
  src/vm/dynamicmethod.cpp
  src/vm/ecalllist.h
  src/vm/eventtrace.cpp
  src/vm/excep.cpp
  src/vm/hash.h
  src/vm/i386/stublinkerx86.cpp
  src/vm/i386/stublinkerx86.h
  src/vm/jithelpers.cpp
  src/vm/jitinterface.cpp
  src/vm/loaderallocator.cpp
  src/vm/loaderallocator.hpp
  src/vm/loaderallocator.inl
  src/vm/methodtable.inl
  src/vm/methodtablebuilder.cpp
  src/vm/stublink.cpp
  src/vm/stublink.h
  tests/src/GC/API/GCHandle/Casting.cs
  tests/src/GC/API/GCHandle/Normal.cs
  tests/src/GC/API/GCHandle/Target.cs
  tests/src/GC/API/GCHandle/ToFromIntPtr.cs
  tests/src/GC/API/WeakReference/Finalize.cs
  tests/src/JIT/Directed/nullabletypes/Desktop/StructDefinitions.cs
  tests/src/JIT/Regression/CLR-x86-JIT/V1-M09/b13621/b13621.cs
  tests/src/JIT/jit64/valuetypes/nullable/box-unbox/structdef.cs
  tests/src/JIT/jit64/valuetypes/nullable/castclass/structdef.cs
Labels: area-VM

#15011 Eliminate duplicate SSA number bookkeeping
  src/jit/assertionprop.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/lclvars.cpp
  src/jit/morph.cpp
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
  src/jit/ssaconfig.h
  src/jit/ssarenamestate.cpp
  src/jit/ssarenamestate.h
  src/jit/valuenum.cpp
Labels: JitThroughput, area-CodeGen

#19640 Workaround to remove unnecessary bounds checks when using {ReadOnly}Span.IsEmpty
  src/System.Private.CoreLib/shared/System/ReadOnlySpan.cs
  src/System.Private.CoreLib/shared/System/Span.cs
Labels: area-System.Memory, optimization, tenet-performance

#19584 Fix JitBench
  tests/src/performance/Scenario/JitBench/Benchmarks/EmptyConsoleProgramExecution.cs
  tests/src/performance/Scenario/JitBench/JitBench.csproj
  tests/src/performance/Scenario/JitBench/Runner/Benchmark.cs
  tests/src/performance/Scenario/JitBench/unofficial_dotnet/Directory.Build.props
  tests/src/performance/Scenario/JitBench/unofficial_dotnet/Directory.Build.targets
Labels: area-Meta

#19659 Fix FileStream in WinRT build
  src/System.Private.CoreLib/shared/System/IO/FileStream.Win32.cs
  src/System.Private.CoreLib/shared/System/IO/FileStream.WinRT.cs
  src/System.Private.CoreLib/shared/System/IO/FileStream.Windows.cs
Labels: area-System.IO

#15351 Streamline fgExcludeFromSsa
  src/jit/assertionprop.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/copyprop.cpp
  src/jit/earlyprop.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
  src/jit/valuenum.cpp
Labels: area-CodeGen

#18205 Remove some GT_ASG_op leftovers
  src/jit/assertionprop.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/flowgraph.cpp
  src/jit/gcinfo.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/jitgcinfo.h
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/lower.cpp
  src/jit/lsra.cpp
  src/jit/lsraarm.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/sideeffects.cpp
  src/jit/ssabuilder.cpp
  src/jit/treelifeupdater.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#19681 re-enable com for local gc
  src/gc/env/gcenv.ee.h
  src/gc/objecthandle.cpp
  src/vm/gcenv.ee.cpp
Labels: area-GC

#19542 Enable mixed mode assembly loading
  configurecompiler.cmake
  src/vm/dllimport.cpp
  src/vm/dllimport.h
  src/vm/jitinterface.cpp
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/methodtablebuilder.cpp
  src/vm/peimage.cpp
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/IJW/FakeMscoree/CMakeLists.txt
  tests/src/Interop/IJW/FakeMscoree/mscoree.cpp
  tests/src/Interop/IJW/FakeMscoree/mscoree.def
  tests/src/Interop/IJW/ManagedCallingNative/IjwNativeDll/CMakeLists.txt
  tests/src/Interop/IJW/ManagedCallingNative/IjwNativeDll/IjwNativeDll.cpp
  tests/src/Interop/IJW/ManagedCallingNative/ManagedCallingNative.cs
  tests/src/Interop/IJW/ManagedCallingNative/ManagedCallingNative.csproj
  tests/testsUnsupportedOutsideWindows.txt
Labels: area-Interop

#19053 Set function size to -1 if sizing info unavailable
  src/tools/r2rdump/R2RMethod.cs
Labels: area-R2RDump

#19744 fix merge conflict in build-test.sh
  build-test.sh
Labels: area-Infrastructure

#19703 Delete code that tracks stack level in morph.
  src/jit/codegencommon.cpp
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/morph.cpp
  src/jit/rationalize.cpp
  src/jit/stacklevelsetter.cpp
  src/jit/stacklevelsetter.h
Labels: area-CodeGen, enhancement

#19652 [release/2.1] Arm stepping fix
  src/debug/ee/controller.cpp
  src/debug/ee/debugger.cpp
  src/debug/ee/debugger.h
  src/debug/ee/frameinfo.cpp
  src/debug/ee/functioninfo.cpp
  src/inc/daccess.h
  src/vm/codeman.cpp
  src/vm/comdelegate.cpp
  src/vm/stubmgr.h
Labels: servicing-approved

#19691 Enable tiered compilation
  Documentation/project-docs/clr-configuration-knobs.md
  src/inc/CrstTypes.def
  src/inc/clrconfigvalues.h
  src/inc/crsttypes.h
  src/inc/utilcode.h
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/regset.cpp
  src/utilcode/util.cpp
  src/vm/appdomain.cpp
  src/vm/arm64/cgencpu.h
  src/vm/assembly.cpp
  src/vm/ceemain.cpp
  src/vm/eeconfig.cpp
  src/vm/prestub.cpp
  src/vm/threadpoolrequest.cpp
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
  tests/runtest.cmd
  tests/scripts/run-xunit-perf.py
  tests/src/CLRTest.Execute.Bash.targets
  tests/src/CLRTest.Execute.Batch.targets
  tests/src/JIT/Regression/JitBlue/GitHub_19197/GitHub_19197.cs
  tests/src/JIT/Regression/JitBlue/GitHub_19197/GitHub_19197.csproj
  tests/src/baseservices/exceptions/stacktrace/Tier1StackTrace.csproj
  tests/src/performance/Scenario/JitBench/Runner/BenchmarkConfiguration.cs
  tests/src/performance/Scenario/JitBench/Runner/Program.cs
  tests/src/reflection/Tier1Collectible/Tier1Collectible.csproj
Labels: Servicing-Approved-2.2, area-CodeGen, area-CodeVersioning, area-Meta

#19774 [local gc] move DacNotifyGCMarkEnd and AnalyzeSurvivorsRequested to GCToEEInterface
  src/gc/env/gcenv.ee.h
  src/gc/gc.cpp
  src/gc/gcenv.ee.standalone.inl
  src/gc/gcinterface.ee.h
  src/gc/sample/gcenv.ee.cpp
  src/vm/gcenv.ee.cpp
  src/vm/gcenv.ee.h
  src/vm/util.cpp
Labels: area-GC

#19777 [local gc] Enable gc_profiling for local gc
  src/gc/gcinterface.h
Labels: area-GC

#19650 [release/2.1] Determine memory load based on cgroup usage.
  src/gc/unix/cgroup.cpp
  src/gc/unix/gcenv.unix.cpp
  src/pal/inc/pal.h
  src/pal/src/misc/cgroup.cpp
  src/vm/gcenv.os.cpp
Labels: servicing-approved

#19780 Fix callKillSet for CORINFO_HELP_ASSIGN_BYREF on x64.
  src/jit/codegencommon.cpp
  src/vm/amd64/jithelpers_fast.S
Labels: area-CodeGen
