Repository dotnet/coreclr, pull requests merged in 2018-06, with the labels that each got.

#18210 Fix GitHub_16041 test.
  tests/src/JIT/Regression/JitBlue/GitHub_16041/GitHub_16041.il
Labels: test bug

#18253 Implement corefx/#16619: Add FormattableString.CurrentCulture
  src/System.Private.CoreLib/shared/System/FormattableString.cs
Labels: area-Meta-corelib

#18246 Enable tailcall_v4\smallFrame\smallFrame
  tests/arm/Tests.lst
  tests/arm64/Tests.lst
  tests/testsUnsupported.arm.txt
  tests/testsUnsupportedOutsideWindows.txt
Labels: arch-arm32, arch-arm64, disabled-test

#18258 Cleanup and remove unused parameters from genCreateAddrMode
  src/jit/codegen.h
  src/jit/codegencommon.cpp
  src/jit/codegeninterface.h
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/lower.cpp
Labels: area-CodeGen

#18260 Warnings cleanup
  src/ToolBox/SOS/Strike/ExpressionNode.cpp
  src/ToolBox/SOS/Strike/disasm.cpp
  src/ToolBox/SOS/Strike/strike.cpp
  src/classlibnative/bcltype/arraynative.cpp
  src/debug/daccess/daccess.cpp
  src/debug/daccess/fntableaccess.cpp
  src/debug/di/module.cpp
  src/debug/ee/debugger.cpp
  src/gcinfo/gcinfoencoder.cpp
  src/ildasm/dasm.cpp
  src/ildasm/dis.cpp
  src/inc/warningcontrol.h
  src/jit/compiler.cpp
  src/jit/gentree.cpp
  src/md/compiler/disp.cpp
  src/md/compiler/regmeta_vm.cpp
  src/md/winmd/adapter.cpp
  src/strongname/api/strongname.cpp
  src/unwinder/amd64/unwinder_amd64.cpp
  src/unwinder/arm64/unwinder_arm64.cpp
  src/utilcode/ccomprc.cpp
  src/utilcode/longfilepathwrappers.cpp
  src/utilcode/securityutil.cpp
  src/utilcode/stacktrace.cpp
  src/utilcode/stresslog.cpp
  src/utilcode/utilmessagebox.cpp
  src/vm/assemblynative.cpp
  src/vm/ceeload.cpp
  src/vm/classcompat.cpp
  src/vm/clrtocomcall.cpp
  src/vm/comsynchronizable.cpp
  src/vm/comtoclrcall.cpp
  src/vm/gcenv.ee.common.cpp
  src/vm/gcheaputilities.cpp
  src/vm/interoputil.cpp
  src/vm/jitinterface.cpp
  src/vm/methodtablebuilder.cpp
  src/vm/multicorejitplayer.cpp
  src/vm/olevariant.cpp
  src/vm/readytoruninfo.cpp
  src/vm/runtimecallablewrapper.cpp
  src/zap/zapinfo.cpp
  src/zap/zapreadytorun.cpp
Labels: area-Build

#18245 Replace some sizeof-s with target specific constants
  src/inc/stdmacros.h
  src/vm/array.cpp
  src/vm/ceeload.cpp
  src/vm/ceemain.cpp
  src/vm/class.cpp
  src/vm/compile.cpp
  src/vm/jitinterface.cpp
  src/vm/methodtable.cpp
  src/vm/methodtablebuilder.cpp
  src/vm/nativeoverlapped.cpp
  src/vm/object.h
  src/vm/object.inl
  src/vm/readytoruninfo.cpp
  src/vm/siginfo.cpp
  src/vm/syncblk.h
Labels: area-VM

#18294 Use WChar instead of char
  src/pal/src/locale/utf8.cpp
Labels: Servicing-Consider-2.1.next

#18312 Increase timeout and log the result for some WaitAny tests that expect AbandonedMutexException
  tests/src/baseservices/threading/waithandle/waitany/waitanyex2a.cs
  tests/src/baseservices/threading/waithandle/waitany/waitanyex4.cs
  tests/src/baseservices/threading/waithandle/waitany/waitanyex4a.cs
Labels: area-System.Threading

#18328 Fix issue in Compiler::impImportStaticFieldAccess
  src/jit/importer.cpp
Labels: area-CodeGen

#18063 Fix ARM cast codegen
  src/jit/codegenarm.cpp
  src/jit/codegenarmarch.cpp
  src/jit/emitarm.cpp
  tests/src/JIT/Directed/Convert/ldind_conv.il
  tests/src/JIT/Directed/Convert/ldind_conv.ilproj
  tests/src/JIT/Directed/Convert/ldind_conv_gen.csx
Labels: arch-arm32, area-CodeGen

#18347 Disable CoreFx tests on Windows/arm and Linux/arm
  tests/arm/corefx_linux_test_exclusions.txt
  tests/arm/corefx_test_exclusions.txt
Labels: arch-arm32, blocking-clean-ci, os-linux, os-windows

#18292 Workaround for compiler.hpp (1848) - Assertion failed 'lvRefCnt'
  src/jit/assertionprop.cpp
  src/jit/flowgraph.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_18291/GitHub_18291.il
  tests/src/JIT/Regression/JitBlue/GitHub_18291/GitHub_18291.ilproj
Labels: bug

#18374 Fix coredistools download script now that Packages layout has changed
  tests/setup-stress-dependencies.cmd
Labels: area-Infrastructure

#18402 Removed length restrictions on named synchronization primitives lengths on Windows
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/shared/System/Threading/Mutex.Windows.cs
  src/System.Private.CoreLib/shared/System/Threading/Mutex.cs
  src/System.Private.CoreLib/src/System/Threading/EventWaitHandle.cs
  src/System.Private.CoreLib/src/System/Threading/Semaphore.cs
Labels: area-System.Threading

#18247 Fix PCODE not having thumb bit set when comparing two addresses
  src/debug/ee/debugger.h
Labels: area-Diagnostics

#18415 skip empty regMask in verifyRegistersUsed
  src/jit/regset.cpp
Labels: area-CodeGen

#17458 [x86/Linux] Fix unwinding of funclets with no epilog
  src/vm/eetwain.cpp
Labels: area-VM

#18457 Fix allocation methods at few places in PAL
  src/pal/src/include/pal/malloc.hpp
  src/pal/src/locale/utf8.cpp
  src/pal/src/thread/process.cpp
Labels: Servicing-Consider-2.1.next, area-PAL

#18456 Added ISOWeek to System.Globalization
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Globalization/GregorianCalendar.cs
  src/System.Private.CoreLib/shared/System/Globalization/ISOWeek.cs
Labels: area-System.Globalization

#18455 Adds original error info to NotSupportedException during FileStream initialization
  src/System.Private.CoreLib/shared/System/IO/FileStream.Windows.cs
Labels: area-System.IO

#18458 Add Path.Join string overloads
  src/System.Private.CoreLib/shared/System/IO/Path.cs
Labels: area-System.IO

#18422 Revert "Temporarily disable package signing in 2.0.0"
  buildpipeline/DotNet-Trusted-Publish.json
Labels: * NO MERGE *

#18475 fix the desktop build break
  src/jit/lsraarm64.cpp
Labels: area-CodeGen

#18318 clean up list of disabled warnings.
  src/debug/ee/arm64/arm64walker.cpp
  src/gcinfo/gcinfoencoder.cpp
  src/inc/gcinfodecoder.h
  src/inc/warningcontrol.h
  src/jit/emitarm64.cpp
  src/jit/gentree.cpp
  src/md/inc/verifylayouts.h
  src/vm/methodtablebuilder.cpp
  src/zap/nativeformatwriter.cpp
Labels: 2 - In Progress

#18460 Fix handling of generating relative path to parent
  src/System.Private.CoreLib/shared/System/IO/Path.cs
Labels: area-System.IO, netfx-port-consider

#18419 Fix formatting job in 2.1 branch
  tests/scripts/format.py
Labels: Servicing-Consider-2.1.next

#18477 Ensure AdjustmentRule.DaylightDelta is within [-12,12]
  src/System.Private.CoreLib/shared/System/TimeZoneInfo.AdjustmentRule.cs
Labels: area-System.Runtime

#18480 temporarily disable pthread based named mutexes on FreeBSD
  src/pal/src/include/pal/mutex.hpp
Labels: os-freebsd

#17637 Improve Intel hardware intrinsic APIs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Avx.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Avx.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Sse2.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Sse2.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Sse41.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/X86/Sse41.cs
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Avx_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Avx_ro.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Extract.Int16.1.cs
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Extract.Int16.11.cs
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Extract.Int16.27.cs
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Extract.SByte.1.cs
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Extract.SByte.20.cs
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Extract.SByte.52.cs
  tests/src/JIT/HardwareIntrinsics/X86/Avx/MaskLoad_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Avx/MaskLoad_ro.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Program.Avx.cs
  tests/src/JIT/HardwareIntrinsics/X86/Shared/GenerateTests.csx
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Extract.Int16.1.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Extract.Int16.129.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Program.Sse2.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Sse2_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Sse2_ro.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Extract.SByte.1.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Extract.SByte.129.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.1.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.128.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.129.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.16.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.192.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.2.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.217.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.32.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.4.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.48.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.64.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Insert.Single.8.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Program.Sse41.cs
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Sse41_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Sse41_ro.csproj
Labels: 2 - In Progress, area-CodeGen

#18479 fixes for sos on FreeBSD
  src/pal/src/CMakeLists.txt
  src/pal/src/include/pal/thread.hpp
Labels: os-freebsd

#18546 Avoid two unnecessary string.Substring calls in PunycodeDecode
  src/System.Private.CoreLib/shared/System/Globalization/IdnMapping.cs
Labels: area-System.Globalization

#17775 Fix instruction groups offset on the border between cold/hot code.
  src/jit/emit.cpp
Labels: 2 - In Progress, area-CodeGen

#18551 Avoid extra allocation in IDNA
  src/System.Private.CoreLib/shared/System/Globalization/CharUnicodeInfo.cs
  src/System.Private.CoreLib/shared/System/Globalization/IdnMapping.cs
Labels: area-System.Globalization

#18031 [JIT/ARM] Fix Compiler::lvaFrameAddress
  src/jit/compiler.hpp
Labels: area-CodeGen

#18060 Don't close the JIT func info file on shutdown
  src/jit/compiler.cpp
Labels: area-CodeGen

#18526 [release/2.1] mach_absolute_time as the primary clock source on macOS (corefx#30391…
  src/pal/src/misc/time.cpp
Labels: Servicing-Consider-2.1.next

#18572 Port Fix handling of generating relative path to parent (#18460)
  src/mscorlib/shared/System/IO/Path.cs
Labels: Servicing-Approved-2.1.3, area-System.IO

#18502 Allow ILCodeVersion to fallback to default IL
  src/debug/daccess/dacdbiimpl.cpp
  src/vm/codeversion.cpp
Labels: Servicing-Consider-2.1.next

#18667 [release/2.1] Fix number formatting exception with empty NumberGroupSizes array
  src/mscorlib/shared/System/Number.Formatting.cs
Labels: Servicing-Approved-2.1.3

#18384 [release/2.1] JIT: Fix bug in finally cloning caused by unsound callfinally reordering
  src/jit/flowgraph.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_18332/GitHub_18332.cs
  tests/src/JIT/Regression/JitBlue/GitHub_18332/GitHub_18332.csproj
Labels: Servicing-Consider-2.1.next, area-CodeGen

#18130 [Arm64] JIT generate LSE Atomics
  src/jit/codegenarm64.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lsraarm64.cpp
Labels: area-CodeGen

#18671 Add Public implementation RemoveEventHandler in EventRegistrationTokenTable
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/EventRegistrationTokenTable.cs
Labels: area-Interop

#18677 Re-enable Test Logs and build only test host in CoreFX CI jobs
  netci.groovy
Labels: area-Infrastructure

#18685 Fix alternate stack cleanup on MUSL
  src/pal/src/exception/signal.cpp
Labels: Servicing-Consider-2.1.next, area-PAL, os-linux

#18687 Port to 2.1: Fix alternate stack cleanup on MUSL
  src/pal/src/exception/signal.cpp
Labels: area-PAL, os-linux

#18698 Change CancellationTokenRegistration.Unregister visibility from internal to public
  src/System.Private.CoreLib/src/System/Threading/CancellationTokenRegistration.cs
Labels: area-Interop

#18582 optimize fgMorphTree for GenTreeArgList
  src/jit/compiler.h
  src/jit/morph.cpp
Labels: area-CodeGen, enhancement

#15025 Stop passing CompAllocator pointers around
  Documentation/coding-guidelines/clr-jit-coding-conventions.md
  src/jit/alloc.cpp
  src/jit/alloc.h
  src/jit/arraystack.h
  src/jit/bitset.cpp
  src/jit/bitset.h
  src/jit/block.cpp
  src/jit/codegencommon.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/compilerbitsettraits.hpp
  src/jit/copyprop.cpp
  src/jit/ee_il_dll.cpp
  src/jit/eeinterface.cpp
  src/jit/emit.cpp
  src/jit/flowgraph.cpp
  src/jit/gcencode.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/hostallocator.cpp
  src/jit/hostallocator.h
  src/jit/importer.cpp
  src/jit/jit.h
  src/jit/jitexpandarray.h
  src/jit/jithashtable.h
  src/jit/jitstd/allocator.h
  src/jit/jitstd/utility.h
  src/jit/lclvars.cpp
  src/jit/lir.cpp
  src/jit/loopcloning.cpp
  src/jit/loopcloning.h
  src/jit/lower.cpp
  src/jit/lsra.cpp
  src/jit/lsra.h
  src/jit/lsrabuild.cpp
  src/jit/morph.cpp
  src/jit/rangecheck.cpp
  src/jit/rangecheck.h
  src/jit/regset.cpp
  src/jit/scopeinfo.cpp
  src/jit/smallhash.h
  src/jit/ssabuilder.cpp
  src/jit/ssarenamestate.cpp
  src/jit/ssarenamestate.h
  src/jit/stacklevelsetter.cpp
  src/jit/unwind.cpp
  src/jit/utils.cpp
  src/jit/utils.h
  src/jit/valuenum.cpp
  src/jit/valuenum.h
Labels: area-CodeGen
