Repository dotnet/coreclr, pull requests merged in 2019-10, with the labels that each got.

#26959 Replace otherRegNum with GetOtherRegNum
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/lsraxarch.cpp
Labels: area-CodeGen

#23982 Parenthesize macros
  src/binder/bindinglog.cpp
  src/debug/di/rspriv.h
  src/debug/di/rstype.cpp
  src/debug/ee/controller.cpp
  src/debug/ee/debugger.h
  src/dlls/mscorrc/resource.h
  src/gc/gc.cpp
  src/gc/handletablepriv.h
  src/gc/handletablescan.cpp
  src/gc/objecthandle.h
  src/ilasm/grammar_before.cpp
  src/ilasm/writer.cpp
  src/ildasm/dasm.cpp
  src/inc/clrprivbinderutil.h
  src/inc/corhdr.h
  src/inc/debugmacros.h
  src/inc/eventtracebase.h
  src/inc/ex.h
  src/inc/palclr.h
  src/inc/sbuffer.h
  src/inc/utilcode.h
  src/jit/error.h
  src/jit/gentree.h
  src/jit/instr.h
  src/jit/instrsxarch.h
  src/jit/register.h
  src/jit/simdcodegenxarch.cpp
  src/md/compiler/filtermanager.cpp
  src/md/debug_metadata.h
  src/md/runtime/metamodel.cpp
  src/utilcode/loadrc-impl.cpp
  src/utilcode/md5.cpp
  src/utilcode/sha1.cpp
  src/vm/cachelinealloc.cpp
  src/vm/callhelpers.h
  src/vm/clrex.h
  src/vm/comcallablewrapper.cpp
  src/vm/dataimage.cpp
  src/vm/decodemd.cpp
  src/vm/eetwain.cpp
  src/vm/exceptmacros.h
  src/vm/fcall.h
  src/vm/methodtable.h
  src/vm/mlinfo.h
  src/vm/object.h
  src/vm/threadsuspend.cpp
  src/vm/win32threadpool.cpp
  src/vm/win32threadpool.h
  src/zap/zapper.cpp
Labels: area-CodeGen

#26957 Fix the problem with the VS2019 fix on x86
  src/vm/exstate.cpp
  src/vm/exstate.h
  src/vm/frames.cpp
  src/vm/i386/excepx86.cpp
Labels: area-ExceptionHandling

#26958 replace isHfaRegArg with IsHfaRegArg()
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#26777 Update to minimum CMake version of 3.14
  CMakeLists.txt
  Documentation/building/linux-instructions.md
  eng/build-test-job.yml
  eng/platform-matrix-managed-test-build.yml
  global.json
  tests/CMakeLists.txt
Labels: area-Infrastructure

#26918 Create IL Rewriting Basics.md
  Documentation/Profiling/IL Rewriting Basics.md
Labels: area-Diagnostics

#26800 Stop using LIST nodes for FIELD_LIST
  src/jit/codegenarmarch.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/decomposelongs.cpp
  src/jit/decomposelongs.h
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gtlist.h
  src/jit/gtstructs.h
  src/jit/lower.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarmarch.cpp
  src/jit/lsrabuild.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/rationalize.cpp
Labels: area-CodeGen

#26977 Replace lvRegNum with GetRegNum()
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/emit.cpp
  src/jit/emitxarch.cpp
  src/jit/gcencode.cpp
  src/jit/lclvars.cpp
  src/jit/lsra.cpp
  src/jit/scopeinfo.cpp
Labels: area-CodeGen

#27003 [crossgen2] Handle Floor and Ceiling
  src/tools/crossgen2/Common/JitInterface/CorInfoImpl.Intrinsics.cs
Labels: area-crossgen2

#26997 Fix read ordering bug between buckets pointer and counter
  src/vm/ngenhash.inl
Labels: bug, reliability

#27009 Fix read ordering bug between buckets pointer and counter (#26997)
  src/vm/ngenhash.inl
Labels: ask-mode, bug, reliability

#26983 oom (#26457)
  src/gc/gc.cpp
  src/gc/gcpriv.h
Labels: area-GC, ask-mode

#27006 Rename genFullPtrRegMap
  src/jit/codegencommon.cpp
  src/jit/codegeninterface.h
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/emit.cpp
  src/jit/gcencode.cpp
  src/jit/gcinfo.cpp
Labels: area-CodeGen

#27022 Fix crossgen2 to fix several Loader tests
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#27026 Fix couple of generic context tests
  src/tools/crossgen2/Common/Compiler/TypeExtensions.cs
Labels: area-crossgen2

#27029 Handle AV caused by invalid IBC data
  src/vm/genmeth.cpp
Labels: area-CrossGen/NGEN, bug, os-linux

#26962 apply StartsWith optimizations to EndsWith
  src/corefx/System.Globalization.Native/pal_collation.c
  src/corefx/System.Globalization.Native/pal_icushim.h
Labels: area-System.Globalization, tenet-performance

#27034 Handle AV caused by invalid IBC data (#27029)
  src/vm/genmeth.cpp
Labels: area-CrossGen/NGEN, ask-mode, bug

#27012 Rename rsMaskVars
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/gcinfo.cpp
  src/jit/regset.h
Labels: area-CodeGen

#26986 Put single-def CSEs into SSA
  src/jit/optcse.cpp
Labels: area-CodeGen

#26952 New fix for #26417 - Don't allow the hoisting of GT_CLS_VARs that were assigned a constant value.
  src/jit/optimizer.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_26417/GitHub_26417.cs
  tests/src/JIT/Regression/JitBlue/GitHub_26417/GitHub_26417.csproj
Labels: area-CodeGen

#26807 Implement stack probing using helpers
  src/inc/corinfo.h
  src/inc/jithelpers.h
  src/inc/readytorun.h
  src/inc/readytorunhelpers.h
  src/jit/codegenxarch.cpp
  src/jit/target.h
  src/tools/crossgen2/Common/JitInterface/CorInfoHelpFunc.cs
  src/tools/crossgen2/jitinterface/jitwrapper.cpp
  src/vm/amd64/JitHelpers_Fast.asm
  src/vm/amd64/jithelpers_fast.S
  src/vm/i386/jithelp.S
  src/vm/i386/jithelp.asm
  src/vm/jitinterface.h
  tests/src/JIT/Regression/JitBlue/GitHub_21061/GitHub_21061_StackOverflowInFuncletProlog.tt
  tests/src/JIT/Regression/JitBlue/GitHub_21061/GitHub_21061_StackOverflowInFunctionProlog.tt
Labels: arch-x64, arch-x86, area-CodeGen, os-linux, os-windows

#26897 Initial perf jitdump implementation
  Documentation/project-docs/clr-configuration-knobs.md
  src/inc/clrconfigvalues.h
  src/pal/inc/pal.h
  src/pal/src/CMakeLists.txt
  src/pal/src/misc/perfjitdump.cpp
  src/vm/perfmap.cpp
  src/vm/perfmap.h
  src/vm/prestub.cpp
Labels: area-Diagnostics, os-linux

#27017 Print tier in DumpJittedMethods.
  src/jit/compiler.cpp
  src/jit/compiler.h
Labels: area-CodeGen

#27011 Rename isSplit
  src/jit/codegenarmarch.cpp
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/lower.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27025 Improve superilc test copying speed and cleanup
  src/tools/ReadyToRun.SuperIlc/BuildFolder.cs
  src/tools/ReadyToRun.SuperIlc/Commands/CompileDirectoryCommand.cs
  src/tools/ReadyToRun.SuperIlc/Commands/CompileNugetCommand.cs
  src/tools/ReadyToRun.SuperIlc/Commands/CompileSubtreeCommand.cs
  src/tools/ReadyToRun.SuperIlc/PathHelpers.cs
Labels: area-crossgen2

#27050 Fix crossgen2 for methods with StackCrawlMark
  src/tools/crossgen2/Common/JitInterface/CorInfoImpl.cs
  src/tools/crossgen2/Common/TypeSystem/CodeGen/MethodDelegator.CodeGen.cs
  src/tools/crossgen2/Common/TypeSystem/CodeGen/MethodDesc.CodeGen.cs
  src/tools/crossgen2/Common/TypeSystem/Ecma/EcmaMethod.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
Labels: area-crossgen2

#27042 Explicitly make our minimum ICU version be the version available in Alpine 3.6
  src/corefx/System.Globalization.Native/pal_icushim.c
Labels: area-System.Globalization, os-linux

#27069 Remove SQL callout cookie from JIT.
  Documentation/botr/clr-abi.md
  src/jit/morph.cpp
Labels: area-CodeGen

#27014 Enable optimized single-proc allocation helpers for single-proc x86/x64 systems only
  src/vm/gcheaputilities.h
Labels: area-GC

#27086 Replace gtRegNum with GetRegNum()
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.hpp
  src/jit/emitarm.cpp
  src/jit/emitarm64.cpp
  src/jit/emitxarch.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/instr.cpp
  src/jit/lower.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsra.cpp
  src/jit/lsraarm.cpp
  src/jit/lsraarmarch.cpp
  src/jit/lsrabuild.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/regset.cpp
  src/jit/simdcodegenxarch.cpp
  src/jit/treelifeupdater.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27030 Rename genAlignLoops
  src/jit/codegeninterface.h
  src/jit/codegenlinear.cpp
  src/jit/compiler.cpp
Labels: area-CodeGen

#27100 Replace isHfaArg with IsHfaArg()
  src/jit/compiler.h
  src/jit/morph.cpp
Labels: area-CodeGen

#27088 JIT: allow block cloning opt in methods with EH
  src/jit/flowgraph.cpp
Labels: area-CodeGen

#26876 Finish `Statement` rework.
  Documentation/botr/ryujit-overview.md
  Documentation/botr/ryujit-tutorial.md
  src/jit/assertionprop.cpp
  src/jit/block.cpp
  src/jit/codegencommon.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/copyprop.cpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/gtlist.h
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/inline.cpp
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/morph.cpp
  src/jit/objectalloc.cpp
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/rationalize.cpp
  src/jit/simd.cpp
  src/jit/ssabuilder.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27084 [crossgen2] Attribute Presence Filter
  src/tools/crossgen2/Common/Internal/Runtime/ModuleHeaders.cs
  src/tools/crossgen2/Common/TypeSystem/Common/TypeHashingAlgorithms.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/AttributePresenceFilterNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunHashCode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
Labels: area-crossgen2

#27079 JIT: only tail recursive calls become loops
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/jit/importer.cpp
Labels: area-CodeGen

#27136 Remove unnecessary cleanup on diagnostics server thread during shutdown
  src/vm/diagnosticserver.cpp
Labels: area-Tracing

#27137 Do not create diagnostics server thread and pipe if EnableDiagnostics is set to 0
  src/inc/clrconfigvalues.h
  src/vm/diagnosticserver.cpp
Labels: area-Tracing

#27097 Replace lvArgReg with GetArgReg()
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/lclvars.cpp
  src/jit/lsra.cpp
  src/jit/lsrabuild.cpp
  src/jit/morph.cpp
  src/jit/regalloc.cpp
  src/jit/scopeinfo.cpp
Labels: area-CodeGen

#27114 Jit: Fix SetIndirExceptionFlags.
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/morph.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_27027/GitHub_27027.cs
  tests/src/JIT/Regression/JitBlue/GitHub_27027/GitHub_27027.csproj
Labels: area-CodeGen

#27120 Replace regNum with GetRegNum()
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/lower.cpp
  src/jit/lsraarmarch.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27093 Run tests on Alpine 3.10.
  eng/platform-matrix-managed-test-build.yml
Labels: area-Infrastructure, os-linux

#27145 Remove duplicate code from emitIns_R_AR[R|X]/AR[R|X]_R
  src/jit/emitxarch.cpp
  src/jit/emitxarch.h
Labels: area-CodeGen

#27146 Cleanup unrolled block op codegen
  src/jit/codegen.h
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
Labels: area-CodeGen

#27122 Replace gt## with As##
  src/jit/assertionprop.cpp
  src/jit/block.cpp
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.hpp
  src/jit/decomposelongs.cpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gcinfo.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/importer.cpp
  src/jit/instr.cpp
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarm.cpp
  src/jit/morph.cpp
  src/jit/objectalloc.cpp
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/rationalize.cpp
  src/jit/simd.cpp
  src/jit/simdcodegenxarch.cpp
  src/jit/ssabuilder.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#26938 Port to Release/3.1 - Fix available memory extraction on Linux
  src/gc/unix/config.h.in
  src/gc/unix/configure.cmake
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/misc/sysinfo.cpp
Labels: * NO MERGE *, Servicing-approved

#27080 [release/3.1] Enable optimized single-proc allocation helpers for single-proc x86/x64 systems only (#27014)
  src/vm/gcheaputilities.h
Labels: ask-mode

#26778 Correctly handle variable argument SIMDScalar (#26421)
  src/jit/hwintrinsiccodegenxarch.cpp
Labels: arch-x64, arch-x86, area-CodeGen, ask-mode

#26458 Conditionally remove the GC transition from a P/Invoke
  Documentation/botr/clr-abi.md
  Documentation/botr/readytorun-format.md
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/SuppressGCTransitionAttribute.cs
  src/debug/daccess/nidump.cpp
  src/inc/corcompile.h
  src/inc/corinfo.h
  src/inc/readytorun.h
  src/inc/readytorunhelpers.h
  src/jit/codegencommon.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/flowgraph.cpp
  src/jit/gentree.h
  src/jit/importer.cpp
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/lower.cpp
  src/jit/lsrabuild.cpp
  src/jit/morph.cpp
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/FixupConstants.cs
  src/tools/r2rdump/R2RConstants.cs
  src/tools/r2rdump/R2RSignature.cs
  src/vm/compile.cpp
  src/vm/compile.h
  src/vm/dllimport.cpp
  src/vm/dllimport.h
  src/vm/jithelpers.cpp
  src/vm/jitinterface.cpp
  src/vm/jitinterface.h
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/wellknownattributes.h
  src/zap/zapimport.cpp
  src/zap/zapimport.h
  src/zap/zapinfo.cpp
  src/zap/zapnodetype.h
  src/zap/zapreadytorun.cpp
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Attributes/SuppressGCTransition/CMakeLists.txt
  tests/src/Interop/PInvoke/Attributes/SuppressGCTransition/SuppressGCTransitionNative.cpp
  tests/src/Interop/PInvoke/Attributes/SuppressGCTransition/SuppressGCTransitionTest.cs
  tests/src/Interop/PInvoke/Attributes/SuppressGCTransition/SuppressGCTransitionTest.csproj
  tests/src/Interop/PInvoke/Attributes/SuppressGCTransition/SuppressGCTransitionUtil.il
  tests/src/Interop/PInvoke/Attributes/SuppressGCTransition/SuppressGCTransitionUtil.ilproj
Labels: area-Interop

#27159 Replace gtDblCon. with AsDblCon()
  src/jit/assertionprop.cpp
  src/jit/codegenarm.cpp
  src/jit/codegenxarch.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/lsraarm64.cpp
  src/jit/morph.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27160 Replace gtIntConCommon. with AsIntConCommon()->
  src/jit/assertionprop.cpp
  src/jit/codegencommon.cpp
  src/jit/earlyprop.cpp
  src/jit/emitxarch.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/lower.cpp
  src/jit/lowerxarch.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27181 Handle the case where customAttributeConstructorHandle could be a MemberRef
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/AttributePresenceFilterNode.cs
Labels: area-crossgen2

#27183 Fix 2 small Statement issues
  src/jit/gentree.h
  src/jit/morph.cpp
Labels: area-CodeGen

#27140 [3.1 port] Do not create diagnostics server thread and pipe if EnableDiagnostics is set to 0
  src/inc/clrconfigvalues.h
  src/vm/diagnosticserver.cpp
Labels: area-Tracing, ask-mode

#27162 Replace gtRetExpr. with AsRetExpr()->
  src/jit/compiler.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27161 Replace gtBox. with AsBox()
  src/jit/gentree.cpp
  src/jit/gentree.h
Labels: area-CodeGen

#27164 find src/jit -type f -exec sed -i -e 's/gtArrLen\./AsArrLen()\./g' {} \;
  src/jit/compiler.hpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
Labels: area-CodeGen

#27170 Cleanup LowerBlockStore
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_27169/GitHub_27169.il
  tests/src/JIT/Regression/JitBlue/GitHub_27169/GitHub_27169.ilproj
Labels: area-CodeGen

#27046 Update Utf8String to match latest prototype
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/System/Text/Rune.cs
  src/System.Private.CoreLib/shared/System/Text/Unicode/Utf8Utility.cs
  src/System.Private.CoreLib/src/System/Text/Utf8Span.Comparison.cs
  src/System.Private.CoreLib/src/System/Text/Utf8Span.Conversion.cs
  src/System.Private.CoreLib/src/System/Text/Utf8Span.Manipulation.cs
  src/System.Private.CoreLib/src/System/Text/Utf8Span.cs
  src/System.Private.CoreLib/src/System/Text/Utf8StringComparer.cs
  src/System.Private.CoreLib/src/System/Utf8Extensions.cs
  src/System.Private.CoreLib/src/System/Utf8String.Comparison.cs
  src/System.Private.CoreLib/src/System/Utf8String.Construction.cs
  src/System.Private.CoreLib/src/System/Utf8String.Conversion.cs
  src/System.Private.CoreLib/src/System/Utf8String.Enumeration.cs
  src/System.Private.CoreLib/src/System/Utf8String.Manipulation.cs
  src/System.Private.CoreLib/src/System/Utf8String.Searching.cs
  src/System.Private.CoreLib/src/System/Utf8String.cs
Labels: area-System.Runtime

#26910 Fix Segfault in PerfInfo Image Logging
  src/vm/perfinfo.cpp
Labels: Servicing-approved

#27166 Replace gtCast. with AsCast()->
  src/jit/assertionprop.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/lowerxarch.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27165 Replace gtSIMD. with AsSIMD()->
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/rationalize.cpp
Labels: area-CodeGen

#27197 Rewrite some bad-readable conditions exposed by #27122.
  src/jit/gcinfo.cpp
  src/jit/gentree.cpp
  src/jit/importer.cpp
Labels: area-CodeGen

#27172 Replace gtCall. with AsCall()->
  src/jit/assertionprop.cpp
  src/jit/codegenlinear.cpp
  src/jit/compiler.cpp
  src/jit/compiler.hpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/inline.cpp
  src/jit/liveness.cpp
  src/jit/morph.cpp
  src/jit/objectalloc.cpp
  src/jit/rationalize.cpp
Labels: area-CodeGen

#27193 Fix some optimization warnings in jit.
  src/jit/block.h
  src/jit/compiler.h
  src/jit/gentree.h
  src/jit/importer.cpp
  src/jit/loopcloning.h
  src/jit/valuenum.h
Labels: area-CodeGen

#27196 Fix Compare and gtHashValue handling of BLK & OBJ
  src/jit/gentree.cpp
  src/jit/gtlist.h
Labels: area-CodeGen

#27190 Fix RBM_PROFILER_TAILCALL_TRASH on x86
  src/jit/target.h
Labels: arch-x86

#26549 Add STRESS_PROFILER_CALLBACKS stress mode
  src/jit/compiler.cpp
  src/jit/compiler.h
Labels: JitStress, area-CodeGen

#27210 Fix DecoderNLS.Convert to out the correct value for 'completed'
  src/System.Private.CoreLib/shared/System/Text/DecoderNLS.cs
  src/System.Private.CoreLib/shared/System/Text/EncoderNLS.cs
  tests/CoreFX/CoreFX.issues.rsp
Labels: area-System.Runtime

#27212 [3.1 port] Improve the performance of Environment.WorkingSet in Windows (#26522)
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.GetProcessMemoryInfo.cs
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Environment.Unix.cs
  src/System.Private.CoreLib/shared/System/Environment.Windows.cs
  src/System.Private.CoreLib/shared/System/Environment.cs
Labels: area-Tracing, ask-mode

#27035 Refactor init/copy block codegen
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarmarch.cpp
  src/jit/lsrabuild.cpp
  src/jit/lsraxarch.cpp
  src/jit/target.h
Labels: area-CodeGen

#27075 Respect profiler provided IL maps in the DAC (Port #25802 to 3.1)
  src/debug/daccess/dacdbiimpl.cpp
Labels: area-Diagnostics, ask-mode

#25458 Optimize u>=1 to u!=0 and u<1 to u==0
  src/jit/morph.cpp
Labels: area-CodeGen

#27223 Replace gtClsVar. with AsClsVar()->
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/emitxarch.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/instr.cpp
  src/jit/lower.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27239 Update Jupiter host interface method names to match official documentation
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/ICustomPropertyProvider.cs
  src/vm/jupiterobject.h
  src/vm/rcwwalker.cpp
  src/vm/rcwwalker.h
Labels: area-Interop

#27219 Replace gtLngCon. with AsLngCon()->
  src/jit/assertionprop.cpp
  src/jit/compiler.hpp
  src/jit/gentree.cpp
  src/jit/instr.cpp
Labels: area-CodeGen

#27222 Replace gtLclVar. with AsLclVar()->
  src/jit/assertionprop.cpp
  src/jit/codegenxarch.cpp
  src/jit/emitxarch.cpp
  src/jit/gentree.cpp
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/importer.cpp
  src/jit/instr.cpp
  src/jit/morph.cpp
  src/jit/ssabuilder.cpp
Labels: area-CodeGen

#27235 Use aligned memory access in JIT_StackProbe
  src/vm/amd64/JitHelpers_Fast.asm
  src/vm/amd64/jithelpers_fast.S
  src/vm/i386/jithelp.S
  src/vm/i386/jithelp.asm
Labels: arch-x64, arch-x86, area-CodeGen

#27218 Replace gtLclFld. with AsLclFld()->
  src/jit/codegenarm64.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.hpp
  src/jit/emitxarch.cpp
  src/jit/gentree.cpp
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/instr.cpp
  src/jit/lclvars.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/rationalize.cpp
  src/jit/simdcodegenxarch.cpp
Labels: area-CodeGen

#27256 Replace gtAddrMode. with AsAddrMode()->
  src/jit/gentree.cpp
Labels: area-CodeGen

#27217 [release/3.1] Enable ETW/EventSource logging of task IDs for boxed state machines
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncMethodBuilder.cs
Labels: area-System.Threading, ask-mode

#27248 Fix debug check in `CheckAndMoveRMWLastUse`.
  src/jit/lsra.h
  src/jit/lsraxarch.cpp
Labels: area-CodeGen

#27255 Replace gtIntrinsic. with AsIntrinsic()->
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/gentree.cpp
  src/jit/importer.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarm.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/rationalize.cpp
Labels: area-CodeGen

#27254 Replace gtArgPlace. with AsArgPlace()->
  src/jit/codegencommon.cpp
  src/jit/gentree.cpp
  src/jit/importer.cpp
Labels: area-CodeGen

#27213 Replace gtIntCon. with AsIntCon()->
  src/jit/assertionprop.cpp
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.hpp
  src/jit/decomposelongs.cpp
  src/jit/flowgraph.cpp
  src/jit/gcinfo.cpp
  src/jit/gentree.cpp
  src/jit/importer.cpp
  src/jit/instr.cpp
  src/jit/lclvars.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lsra.h
  src/jit/lsraarm.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/simd.cpp
  src/jit/simdcodegenxarch.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27220 Replace gtArrElem. with AsArrElem()->
  src/jit/assertionprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/lower.cpp
  src/jit/morph.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27234 Delete fgMorphUnsafeBlk
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/morph.cpp
  src/jit/rationalize.cpp
Labels: area-CodeGen

#27077 Simplify native component build
  CMakeLists.txt
  build-test.cmd
  build-test.sh
  build.cmd
  build.sh
  cmake_msbuild.cmd
  configurecompiler.cmake
  configuretools.cmake
  src/pal/tools/find-clang.sh
  src/pal/tools/find-gcc.sh
  src/pal/tools/gen-buildsys-clang.sh
  src/pal/tools/gen-buildsys-gcc.sh
  src/pal/tools/gen-buildsys.cmd
  src/pal/tools/gen-buildsys.sh
  tests/CMakeLists.txt
Labels: area-Build

#27264 Replace gtField. with AsField()->
  src/jit/compiler.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/importer.cpp
  src/jit/morph.cpp
  src/jit/simd.cpp
Labels: area-CodeGen

#27266 Replace gtCmpXchg with AsCmpXchg()->
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/importer.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27249 JIT: describe requested and actual opt levels more accurately
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/flowgraph.cpp
Labels: area-CodeGen

#27259 Enable NGEN for methods marked with AggressiveOptimization
  src/zap/zapinfo.cpp
Labels: area-TieredCompilation

#27273 Fix LTTng build for build environments with older liblttng-ust-dev
  src/scripts/genLttngProvider.py
  src/vm/eventtrace.cpp
Labels: area-Tracing

#27276 Change MSBuild property name for Microsoft.Private.CoreFx.NETCoreApp version.
  Documentation/building/testing-with-corefx.md
  eng/Versions.props
  eng/helixcorefxtests.proj
  tests/src/Common/CoreFX/CoreFX.csproj
  tests/src/Common/test_dependencies/test_dependencies.csproj
  tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/JIT/config/benchmark+intrinsic/benchmark+intrinsic.csproj
  tests/src/JIT/config/benchmark/benchmark.csproj
  tests/src/performance/performance.csproj
Labels: area-Infrastructure

#26985 Only set THREAD_IS_SUSPENDED if we are truly doing an async stack walk
  src/vm/proftoeeinterfaceimpl.cpp
Labels: area-Diagnostics

#27238 Process/send etw rundown events only during graceful shutdown and not during process detach (a form of abrupt shutdown)
  src/vm/ceemain.cpp
Labels: area-System.Diagnostics.Tracing, area-Tracing

#27246 Fix step with stackalloc
  src/debug/di/module.cpp
  src/debug/di/rsfunction.cpp
  src/debug/di/rspriv.h
  src/debug/ee/controller.cpp
  src/debug/ee/controller.h
  src/debug/ee/frameinfo.cpp
  src/debug/ee/frameinfo.h
  src/inc/regdisp.h
Labels: area-Diagnostics

#27216 Rewrite Buffer.BlockCopy in C#
  src/System.Private.CoreLib/shared/System/Buffer.cs
  src/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Buffer.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
  src/inc/dacvars.h
  src/inc/jithelpers.h
  src/jit/gentree.cpp
  src/vm/appdomain.cpp
  src/vm/comutilnative.cpp
  src/vm/comutilnative.h
  src/vm/ecalllist.h
  src/vm/ilmarshalers.cpp
  src/vm/jithelpers.cpp
  src/vm/jitinterface.cpp
  src/vm/metasig.h
  src/vm/methodtable.h
  src/vm/mscorlib.h
  src/vm/typehandle.cpp
  src/vm/typehandle.h
  src/vm/typehandle.inl
  src/vm/vars.cpp
  src/vm/vars.hpp
  tests/CoreFX/CoreFX.issues.rsp
Labels: * NO MERGE *

#27250 Fix unique ETW events for GC Type logging to also be sent to EventPipe
  src/vm/eventtrace.cpp
Labels: EventPipe, area-Tracing, diagnostic global tooling

#27265 Replace gtArrOffs. with AsArrOffs()->
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/lower.cpp
  src/jit/lsraarm.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27257 Replace gtIndex. with AsIndex()->
  src/jit/gentree.cpp
  src/jit/importer.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27138 Fix assert when CORECLR_PROFILER is set but CORECLR_PROFILER_PATH is not
  src/vm/profilinghelper.cpp
Labels: area-Diagnostics

#27277 Fix `costEx/Sz/level` for `GT_STORE_DYN_BLK`.
  src/jit/gentree.cpp
Labels: area-CodeGen

#27291 Disable VectorMgdMgd_ro.csproj under stress modes.
  tests/src/JIT/Directed/VectorABI/VectorMgdMgd_ro.csproj
Labels: disabled-test

#27293 Validate cmake version in build scripts.
  build-test.cmd
  build.sh
  src/pal/tools/set-cmake-path.ps1
Labels: area-Build

#27041 Use a new COR_PRF_SUSPEND_FOR_PROFILER in ICorProfilerCallback::Runti…
  src/inc/corprof.idl
  src/pal/prebuilt/inc/corprof.h
  src/vm/threadsuspend.cpp
Labels: area-Diagnostics

#27089 Changes in virtual.cpp to reduce coredump size(~20 times less)
  src/pal/src/map/virtual.cpp
Labels: area-PAL

#27306 Mark GetTypeFromHandle as intrinsic
  src/System.Private.CoreLib/src/System/Type.CoreCLR.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#27319 Replace gtHWIntrinsic. with AsHWIntrinsic()->
  src/jit/gentree.cpp
  src/jit/hwintrinsicxarch.cpp
Labels: area-CodeGen

#27207 Replace gtLclVarCommon. with AsLclVarCommon()->
  src/jit/assertionprop.cpp
  src/jit/codegen.h
  src/jit/codegenarm64.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.hpp
  src/jit/copyprop.cpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gschecks.cpp
  src/jit/importer.cpp
  src/jit/instr.cpp
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/loopcloning.h
  src/jit/lower.cpp
  src/jit/lsra.cpp
  src/jit/lsra.h
  src/jit/morph.cpp
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/simd.cpp
  src/jit/simdcodegenxarch.cpp
  src/jit/ssabuilder.cpp
  src/jit/treelifeupdater.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27309 Replace gtBoundsChk. with AsBoundsChk()->
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
Labels: area-CodeGen

#27311 Replace gtStrCon. with AsStrCon()->
  src/jit/gentree.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27312 Replace gtVal. with AsVal()->
  src/jit/codegencommon.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
Labels: area-CodeGen

#27284 Cleanup Lowering::TryCreateAddrMode
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/lower.cpp
  src/jit/lower.h
  src/jit/lowerxarch.cpp
Labels: area-CodeGen

#27318 Replace gtObj. with AsObj()->
  src/jit/importer.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27314 Replace gtBlk. with AsBlk()->
  src/jit/rationalize.cpp
Labels: area-CodeGen

#27310 Replace gtDynBlk. with AsDynBlk()->
  src/jit/gentree.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#27320 Replace gtRuntimeLookup. with AsRuntimeLookup()->
  src/jit/gentree.cpp
Labels: area-CodeGen

#27315 Replace gtArrIndex. with AsArrIndex()->
  src/jit/gentree.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27316 Replace gtPhysReg. with AsPhysReg()->
  src/jit/compiler.cpp
  src/jit/gentree.cpp
Labels: area-CodeGen

#27313 Replace gtAllocObj. with AsAllocObj()->
  src/jit/gentree.cpp
Labels: area-CodeGen

#27329 Replace gtILOffset, with AsILOffset()->
  src/jit/compiler.cpp
  src/jit/gentree.cpp
Labels: area-CodeGen

#27330 Forgotten gtIntCon replacement for AsIntCon()->
  src/jit/morph.cpp
Labels: area-CodeGen

#27201 Enabled FunctionEnter/FunctionLeave/ProfileTailcall hooks on Linux x86.
  src/vm/i386/asmhelpers.S
Labels: arch-x86, area-Diagnostics, os-linux

#27317 Replace gtFptrVal. with AsFptrVal()->
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/importer.cpp
  src/jit/morph.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27297 [3.1] Backport fixes to ETW/EventPipe events to enable GCDumps
  src/vm/eventtrace.cpp
Labels: EventPipe, area-System.Diagnostics.Tracing, ask-mode

#27298 Fix issue with unwind code F8 dump on Arm32
  src/jit/unwindarm.cpp
Labels: arch-arm32, area-CodeGen

#27300 [Release/3.1] Fixes for profiler stack sampling
  src/inc/corprof.idl
  src/pal/prebuilt/inc/corprof.h
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/threadsuspend.cpp
Labels: area-Diagnostics

#27301 JIT: fix def tree for CSE locals going into SSA
  src/jit/optcse.cpp
Labels: area-CodeGen

#27294 [3.1 port] Fix LTTng build for build environments with older liblttng-ust-dev
  src/scripts/genLttngProvider.py
  src/vm/eventtrace.cpp
Labels: area-Tracing, ask-mode

#27343 Delete dead liveness code
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/jit/liveness.cpp
Labels: area-CodeGen

#27341 Remove declspec
  src/jit/compiler.hpp
  src/jit/gentree.h
Labels: area-CodeGen

#27339 Fix -gcc flag in bash build scripts.
  build-test.sh
  build.sh
Labels: area-Build

#27340 remove double bound check from StringBuilder.Append(char)
  src/System.Private.CoreLib/shared/System/Text/StringBuilder.cs
Labels: tenet-performance

#27263 [crossgen2] Fixes the test failure when crossgen2smoke is ran with GCStress turned on
  src/tools/crossgen2/Common/Compiler/DependencyAnalysis/ObjectDataBuilder.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapBuilder.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunLibraryRootProvider.cs
  tests/src/readytorun/crossgen2/crossgen2smoke.csproj
Labels: area-crossgen2

#27350 Delete `fgArgInfo::ArgsComplete():hasStackArgs` local var.
  src/jit/morph.cpp
Labels: area-CodeGen

#27354 Refactor genEventing script to remove SELECTANY from provider context struct definitions
  src/inc/eventtracebase.h
  src/scripts/genEventing.py
  src/vm/eventtrace.cpp
  src/vm/eventtrace.inl
Labels: area-Tracing

#27352 Fix: Expression 'refType == RefTypeUpperVectorSave' is always false.
  src/jit/lsra.cpp
Labels: area-CodeGen

#27351 Fix step with stackalloc (#27246)
  src/debug/di/module.cpp
  src/debug/di/rsfunction.cpp
  src/debug/di/rspriv.h
  src/debug/ee/controller.cpp
  src/debug/ee/controller.h
  src/debug/ee/frameinfo.cpp
  src/debug/ee/frameinfo.h
  src/inc/regdisp.h
Labels: area-Diagnostics, ask-mode

#23572 Cleanup ILStub signature delta management
  src/vm/dllimport.cpp
  src/vm/dllimport.h
  src/vm/ilmarshalers.h
  src/vm/stubgen.cpp
Labels: area-Interop

#27368 Add documentation for SuppressGCTransition
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/SuppressGCTransitionAttribute.cs
Labels: area-Interop

#27347 [crossgen2] Make sure hardware intrinsic are generated for CoreLib only
  src/tools/crossgen2/Common/JitInterface/CorInfoImpl.cs
Labels: area-crossgen2

#27367 Fix noway_assert condition in `optOptimizeBools`.
  src/jit/optimizer.cpp
Labels: area-CodeGen

#26695 BGC tuning using the free list with PI loops
  src/gc/gc.cpp
  src/gc/gc.h
  src/gc/gcconfig.h
  src/gc/gcpriv.h
Labels: area-GC

#27337 JIT: fix assertion prop issues with subtypes
  src/jit/assertionprop.cpp
Labels: area-CodeGen

#27369 Apply SuppressGCAttribute to some SPCL functions.
  src/System.Private.CoreLib/shared/Interop/Unix/System.Native/Interop.GetTimestamp.cs
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.GetCurrentProcessId.cs
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.GetCurrentThreadId.cs
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.GetStdHandle.cs
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.QueryPerformanceCounter.cs
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.SetThreadErrorMode.cs
  src/jit/morph.cpp
Labels: area-VM

#27388 Ensure that `GenTreeIndir load` is used in a scope where it can't be optimized away.
  src/jit/hwintrinsiccodegenxarch.cpp
Labels: area-CodeGen

#27292 Expression 'sigType == TYP_STRUCT' is always false. importer.cpp 18806
  src/jit/importer.cpp
Labels: area-CodeGen

#26310 Make "async ValueTask/ValueTask<T>" methods ammortized allocation-free
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncMethodBuilderCore.cs
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncTaskCache.cs
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncTaskMethodBuilder.cs
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncTaskMethodBuilderT.cs
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncValueTaskMethodBuilder.cs
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/AsyncValueTaskMethodBuilderT.cs
  src/System.Private.CoreLib/shared/System/Threading/Tasks/Task.cs
Labels: area-System.Threading
