Repository dotnet/coreclr, pull requests merged in 2019-07, with the labels that each got.

#25525 test DisplayUnits/DisplayRateTimeScale properties
  tests/src/tracing/eventcounter/incrementingeventcounter.cs
  tests/src/tracing/eventcounter/incrementingpollingcounter.cs
Labels: area-Tracing, test enhancement

#25526 Decrease EventListener buffer size
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
Labels: area-Tracing

#25495 Add RundownRequested switch to EventPipe IPC protocol
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
Labels: EventPipe, area-Tracing

#25491 Ensure YIELD_WHILE() in EventPipeBufferManager::SuspendWriteEvent() always terminates
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
Labels: EventPipe, area-Tracing

#25518 Merge ReadyToRunInfo::GenericMethodIterator with ReadyToRunInfo::MethodIterator
  src/vm/eventtrace.cpp
  src/vm/readytoruninfo.cpp
  src/vm/readytoruninfo.h
  src/vm/zapsig.cpp
Labels: area-Tracing

#25555 Add test for eventcounter
  tests/src/tracing/eventcounter/eventcounter.cs
  tests/src/tracing/eventcounter/eventcounter.csproj
Labels: area-Tracing

#25261 Fix GCStress modes that do code instrumentation to work with code versioning
  src/debug/daccess/request.cpp
  src/vm/codeman.cpp
  src/vm/codeman.h
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/gccover.cpp
  src/vm/gccover.h
  src/vm/jitinterface.cpp
  src/vm/jitinterface.h
  src/vm/prestub.cpp
  src/vm/threads.h
Labels: area-TieredCompilation

#25520 Add check to prevent attaching a profiler when one is already present
  src/inc/profilepriv.h
  src/vm/profilerdiagnosticprotocolhelper.cpp
  src/vm/profilinghelper.cpp
  src/vm/profilinghelper.h
Labels: area-Diagnostics

#25523 Prevent EventPipe rundown from blocking on write
  src/vm/eventpipe.cpp
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
Labels: EventPipe, area-Tracing

#25512 arm64singlestepper
  clrdefinitions.cmake
  src/debug/ee/arm64/primitives.cpp
  src/debug/ee/controller.cpp
  src/debug/ee/debugger.cpp
  src/debug/ee/funceval.cpp
  src/vm/CMakeLists.txt
  src/vm/arm64/arm64singlestepper.cpp
  src/vm/arm64singlestepper.h
  src/vm/excep.cpp
  src/vm/exceptionhandling.cpp
  src/vm/threads.h
  src/vm/threadsuspend.cpp
Labels: arch-arm64, area-Diagnostics

#25450 Fix getting rundown events during EventPipe::Shutdown
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
Labels: EventPipe, area-Tracing

#25560 Remove legacy resource value (PrivateBuild) in binaries.
  src/pal/prebuilt/inc/fxver.h
  src/pal/prebuilt/inc/fxver.rc
Labels: area-Build

#25558 Fix instantiation stub maker for case where no register is used by function parameters
  src/vm/arm/stubs.cpp
  tests/src/Regressions/coreclr/GitHub_24701/test24701.cs
  tests/src/Regressions/coreclr/GitHub_24701/test24701.csproj
Labels: arch-arm32, area-VM, bug

#25350 many core perf fixes
  src/gc/env/gcenv.interlocked.h
  src/gc/env/gcenv.interlocked.inl
  src/gc/env/gcenv.os.h
  src/gc/gc.cpp
  src/gc/gcpriv.h
  src/gc/unix/gcenv.unix.cpp
  src/gc/windows/gcenv.windows.cpp
  src/inc/utilcode.h
  src/tools/GCLogParser/App.config
  src/tools/GCLogParser/Properties/AssemblyInfo.cs
  src/tools/GCLogParser/parse-hb-log.cs
  src/tools/GCLogParser/parse-hb-log.csproj
  src/tools/GCLogParser/parse-hb-log.sln
  src/utilcode/util.cpp
  src/vm/gcenv.os.cpp
Labels: area-GC

#25597 Add arm64 floatconversion.S
  src/debug/di/CMakeLists.txt
  src/debug/di/arm64/floatconversion.S
Labels: arch-arm64, area-Diagnostics

#25598 Adding DisplayUnits property to all the runtime counters
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSource.cs
Labels: area-Tracing

#25601 Let EventPipe threads sleep when no events are available
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
  src/vm/ecalllist.h
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeinternal.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
Labels: EventPipe, area-Tracing

#25633 Add AggressiveInlining to Single.GetHashCode
  src/System.Private.CoreLib/shared/System/Single.cs
Labels: area-System.Runtime, tenet-performance

#25636 Arm64 debug issues
  src/debug/daccess/request.cpp
  src/debug/inc/dbgipcevents.h
Labels: arch-arm64, area-Diagnostics, bug

#25627 Fix handling of NullReferenceException in VSD on ARM
  src/vm/arm/exceparm.cpp
  src/vm/excep.cpp
  src/vm/excep.h
  src/vm/exceptionhandling.cpp
  src/vm/i386/excepx86.cpp
  src/vm/stackwalk.cpp
Labels: area-ExceptionHandling

#25628 Fix GS cookie check on ARM in functions with stackalloc
  src/inc/corinfo.h
  src/jit/lower.cpp
  src/jit/target.h
  src/vm/arm/PInvokeStubs.asm
  src/vm/arm/asmconstants.h
  src/vm/arm/pinvokestubs.S
  src/vm/arm/stubs.cpp
  src/vm/frames.h
  src/vm/jitinterface.cpp
Labels: area-VM

#25457 Add EventPipe/DiagnosticsIpc tests
  dependencies.props
  tests/src/Common/test_dependencies/test_dependencies.csproj
  tests/src/tracing/eventpipe/buffersize/buffersize.cs
  tests/src/tracing/eventpipe/buffersize/buffersize.csproj
  tests/src/tracing/eventpipe/common/IpcTraceTest.cs
  tests/src/tracing/eventpipe/common/common.csproj
  tests/src/tracing/eventpipe/providervalidation/providervalidation.cs
  tests/src/tracing/eventpipe/providervalidation/providervalidation.csproj
  tests/src/tracing/eventpipe/rundownvalidation/rundownvalidation.cs
  tests/src/tracing/eventpipe/rundownvalidation/rundownvalidation.csproj
Labels: EventPipe, area-Tracing, test enhancement

#25695 Add missing Arm64 specific diagnostic code
  src/debug/di/arm64/cordbregisterset.cpp
  src/debug/di/rsthread.cpp
  src/debug/ee/funceval.cpp
  src/vm/arm64/cgencpu.h
Labels: arch-arm64, area-Diagnostics

#25727 Disable debugger evaluation of ValueTask<T>.Result
  src/System.Private.CoreLib/shared/System/Threading/Tasks/ValueTask.cs
Labels: area-System.Threading, bug

#25716 Enable MHR support on OSX
  clrdefinitions.cmake
  src/pal/src/include/pal/utils.h
  src/pal/src/map/map.cpp
  src/pal/src/map/virtual.cpp
  src/pal/src/misc/utils.cpp
  src/vm/amd64/jitinterfaceamd64.cpp
  src/vm/ceemain.cpp
  src/vm/excep.cpp
  src/vm/exceptionhandling.cpp
  src/vm/stackwalk.cpp
  src/vm/threads.cpp
  src/vm/threads.h
Labels: area-Meta

#25626 R2RDump: Add support for partially interruptible regions
  src/tools/r2rdump/Amd64/GcInfo.cs
  src/tools/r2rdump/Amd64/GcSlotTable.cs
  src/tools/r2rdump/GCInfoTypes.cs
  src/tools/r2rdump/R2RMethod.cs
  src/tools/r2rdump/TextDumper.cs
Labels: * NO MERGE *

#25602 Fix: Diagnostics Server IPC thread causes 20-40ms shutdown delays on Windows
  src/debug/debug-pal/unix/diagnosticsipc.cpp
  src/debug/debug-pal/win/diagnosticsipc.cpp
  src/debug/inc/diagnosticsipc.h
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticserver.h
Labels: EventPipe, area-Tracing

#25745 Arm64 Fix Rtl*Context
  src/pal/src/arch/arm64/asmconstants.h
  src/pal/src/arch/arm64/context2.S
Labels: arch-arm64, area-PAL

#25746 Temporarily make a default interface method test incompatible for GCStress
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_d.ilproj
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_r.ilproj
Labels: area-TieredCompilation

#25747 Temporarily make a default interface method test incompatible for GCStress
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_d.ilproj
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_r.ilproj
Labels: area-TieredCompilation

#25637 Add a few #if... FEATURE_EMULATE_SINGLESTEP
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/ee/controller.h
Labels: arch-arm64, area-Diagnostics

#25757 Arm64 support SIMD registers context to/from native context
  src/pal/src/include/pal/context.h
  src/pal/src/thread/context.cpp
Labels: arch-arm64, area-PAL

#25766 Arm32 restore d8-d15 in ThrowExceptionFromContextInternal
  src/pal/src/arch/arm/exceptionhelper.S
Labels: arch-arm32, area-PAL

#25743 Arm64 restore d8-d15 in ThrowExceptionFromContextInternal
  src/pal/src/arch/arm64/exceptionhelper.S
Labels: arch-arm64, area-PAL

#25729 Arm64 : Fix ldr Dt/St emulation
  src/debug/ee/arm64/arm64walker.cpp
Labels: arch-arm64, area-Diagnostics, os-windows

#25777 Arm32 restore d8-d15 in ThrowExceptionFromContextInternal
  src/pal/src/arch/arm/exceptionhelper.S
Labels: arch-arm32, area-PAL

#25780 A simple disassembler fix
  src/debug/ee/amd64/amd64walker.cpp
Labels: area-Diagnostics

#25775 Arm32 support VFP registers context to/from native context
  src/pal/src/include/pal/context.h
  src/pal/src/thread/context.cpp
Labels: arch-arm32, area-PAL

#25608 Fix PInvoke primitive test to actually test the desired method
  tests/src/Interop/PInvoke/Primitives/Int/PInvokeIntTest.cs
Labels: area-Interop, test bug

#25773 Code cleanup in binder
  src/binder/assemblybinder.cpp
  src/binder/clrprivbinderassemblyloadcontext.cpp
  src/vm/appdomain.cpp
  src/vm/assemblyspec.cpp
  src/vm/baseassemblyspec.h
  src/vm/coreassemblyspec.cpp
Labels: area-AssemblyLoader

#25786 Remove assertion from Shutdown path
  src/vm/diagnosticserver.cpp
Labels: * NO MERGE *, area-Tracing

#25784 Rewrite SafeHandle interop tests
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/AbstractDerived/AbstractDerivedTest.cs
  tests/src/Interop/PInvoke/SafeHandles/AbstractDerived/AbstractDerivedTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/CleanUpCheck/CleanUpCheckTest.cs
  tests/src/Interop/PInvoke/SafeHandles/CleanUpCheck/CleanUpCheckTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/Default/DefaultTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Helper.cs
  tests/src/Interop/PInvoke/SafeHandles/Interface/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/Interface/InterfaceNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/Interface/InterfaceTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Interface/InterfaceTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/InvalidMarshalAs/InvalidMarshalAsTest.cs
  tests/src/Interop/PInvoke/SafeHandles/InvalidMarshalAs/InvalidMarshalAsTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/InvalidSafeHandleMarshallingTests.cs
  tests/src/Interop/PInvoke/SafeHandles/Misc.Unsupported/MiscUnsupportedTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Misc.Unsupported/MiscUnsupportedTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/Misc/MiscTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Misc/MiscTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/Program.cs
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/ReliableUnmarshalNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/ReliableUnmarshalTest.cs
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/ReliableUnmarshalTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshalTest.cs
  tests/src/Interop/PInvoke/SafeHandles/SafeFileHandle.cs
  tests/src/Interop/PInvoke/SafeHandles/SafeHandleLifetimeTests.cs
  tests/src/Interop/PInvoke/SafeHandles/SafeHandleNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/SafeHandleNative.cs
  tests/src/Interop/PInvoke/SafeHandles/SafeHandleTests.cs
  tests/src/Interop/PInvoke/SafeHandles/SafeHandleTests.csproj
  tests/src/Interop/PInvoke/SafeHandles/SafeHandles.cs
  tests/src/Interop/PInvoke/SafeHandles/SigDiff/SigDiffTest.cs
  tests/src/Interop/PInvoke/SafeHandles/SigDiff/SigDiffTest.csproj
  tests/src/Interop/PInvoke/SafeHandles/StructDefs.cs
  tests/src/Interop/PInvoke/SafeHandles/StructDefs.h
Labels: area-Interop, test enhancement

#25739 Fix first value of counter payload being skewed
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/IncrementingEventCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/IncrementingPollingCounter.cs
  tests/src/tracing/eventcounter/regression-25709.cs
  tests/src/tracing/eventcounter/regression-25709.csproj
Labels: area-Tracing

#25763 Fixing Buffer::BlockCopy, JIT_MemCpy, and JIT_MemSet to just call the appropriate CRT functions for x64 Windows, as is already done for all other platforms/targets
  src/vm/amd64/CrtHelpers.asm
  src/vm/amd64/crthelpers.S
  src/vm/comutilnative.cpp
Labels: tell-mode

#25800 Remove dead ContextTransitionFrame
  src/inc/vptr_list.h
  src/vm/callhelpers.cpp
  src/vm/callhelpers.h
  src/vm/excep.cpp
  src/vm/excep.h
  src/vm/frames.cpp
  src/vm/frames.h
  src/vm/stackwalk.cpp
  src/vm/threads.cpp
  src/vm/threads.h
Labels: area-System.Runtime

#25804 Arm64 define FEATURE_DATATARGET4
  clrdefinitions.cmake
Labels: arch-arm64, area-Diagnostics

#22489 Remove GTF_REVERSE_OPS checks from LSRA
  src/jit/lsraarmarch.cpp
  src/jit/lsrabuild.cpp
  src/jit/lsraxarch.cpp
Labels: area-CodeGen

#25779 Pull arm/arm64 critical 5.0 PAL/diagnostic changes into 3.0
  clrdefinitions.cmake
  src/debug/ee/arm64/arm64walker.cpp
  src/pal/src/arch/arm/exceptionhelper.S
  src/pal/src/arch/arm64/asmconstants.h
  src/pal/src/arch/arm64/context2.S
  src/pal/src/arch/arm64/exceptionhelper.S
  src/pal/src/include/pal/context.h
  src/pal/src/thread/context.cpp
Labels: arch-arm64, area-PAL

#25760 Delay Diagnostics IPC response till after EventPipe::Enable has completed
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipefile.cpp
  src/vm/eventpipefile.h
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/fastserializer.cpp
Labels: EventPipe, area-Tracing, diagnostic global tooling

#25845 Avoid AV when `EventPipeSession::m_pFile` is nullptr.
  src/vm/eventpipesession.cpp
Labels: EventPipe, area-Tracing

#25822 We need to reset the scope list for the USING_VARIABLE_LIVE_RANGE case
  src/jit/scopeinfo.cpp
Labels: area-CodeGen

#22203 Superpmi parallel dasm output
  scripts/superpmi.py
Labels: area-CodeGen

#25802 Fix GetSequencePoints when profiler provides mapping via SetILInstrumentedCodeMap
  src/debug/daccess/dacdbiimpl.cpp
Labels: area-Diagnostics

#25862 Fix EventCounter regression test
  tests/src/tracing/eventcounter/regression-25709.cs
Labels: area-Tracing, test bug

#25887 Fix packages folder name for CoreDisTools package.
  tests/setup-stress-dependencies.cmd
Labels: area-Infrastructure

#25867 Sort debug info to allow diffing
  src/tools/r2rdump/DebugInfo.cs
  src/tools/r2rdump/R2RReader.cs
Labels: area-R2RDump

#25863 Close hPipe when a connection error occurred.
  src/debug/debug-pal/win/diagnosticsipc.cpp
Labels: EventPipe, area-Tracing

#25892 Remove some mutex abandon tests
  tests/issues.targets
  tests/src/baseservices/threading/waithandle/waitany/waitanyex2.cs
  tests/src/baseservices/threading/waithandle/waitany/waitanyex2.csproj
  tests/src/baseservices/threading/waithandle/waitany/waitanyex2a.cs
  tests/src/baseservices/threading/waithandle/waitany/waitanyex2a.csproj
  tests/src/baseservices/threading/waithandle/waitany/waitanyex4.cs
  tests/src/baseservices/threading/waithandle/waitany/waitanyex4.csproj
  tests/src/baseservices/threading/waithandle/waitany/waitanyex4a.cs
  tests/src/baseservices/threading/waithandle/waitany/waitanyex4a.csproj
  tests/testsUnsupportedOutsideWindows.txt
Labels: area-System.Threading

#25886 Delete a few unused functions around stmt.
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/gentree.h
Labels: area-CodeGen

#25890 fix gc config
  src/vm/eeconfig.cpp
Labels: tell-mode

#25902 Disable windows formatting job in CI.
  eng/pipelines/ci.yml
Labels: area-Infrastructure

#25908 Fix a typo
  src/jit/codegen.h
Labels: area-CodeGen

#25910 Do not fast tail call if caller has multislot structs (#25885)
  src/jit/lclvars.cpp
  tests/src/JIT/opt/FastTailCall/FastTailCallCandidates.cs
Labels: tell-mode

#20643 Update fgCanFastTailCall to use new fgArgInfo
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/lower.cpp
  src/jit/morph.cpp
  tests/src/JIT/opt/FastTailCall/FastTailCallCandidates.cs
  tests/src/JIT/opt/FastTailCall/FastTailCallCandidates.csproj
Labels: area-CodeGen

#25736 ILMarshaler Refactor v2
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/vm/fieldmarshaler.cpp
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/metasig.h
  src/vm/mlinfo.cpp
  src/vm/mscorlib.h
  src/vm/stubgen.h
Labels: area-Interop

#25795 Fix issue with out-of-scope GCFrame in Frame list
  src/vm/assembly.cpp
  src/vm/frames.cpp
  src/vm/frames.h
  src/vm/syncblk.cpp
Labels: area-ExceptionHandling

#25864 Make counters use dedicated thread instead of timer
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventCounter.cs
  tests/src/tracing/eventcounter/eventcounter.cs
Labels: area-Tracing
