Repository dotnet/coreclr, pull requests merged in 2019-02, with the labels that each got.

#22328 [Arm64/arm32] GCStress failure in tracing/eventsourcetrace/eventsourcetrace
  tests/src/tracing/eventsource/eventsourcetrace/eventsourcetrace.csproj
Labels: area-Tracing

#22298 Increase arm64 timeout.
  netci.groovy
Labels: area-Infrastructure

#22040 Update the double/float formatters to return the shortest roundtrippable string.
  THIRD-PARTY-NOTICES.TXT
  src/System.Private.CoreLib/shared/System/Number.BigInteger.cs
  src/System.Private.CoreLib/shared/System/Number.DiyFp.cs
  src/System.Private.CoreLib/shared/System/Number.Dragon4.cs
  src/System.Private.CoreLib/shared/System/Number.Formatting.cs
  src/System.Private.CoreLib/shared/System/Number.Grisu3.cs
  tests/CoreFX/CoreFX.issues.json
Labels: * NO MERGE *

#22340 Exclude RecursiveException and MultipleException from GCStress runs.
  tests/src/baseservices/exceptions/regressions/V1/SEH/VJ/MultipleException.csproj
  tests/src/baseservices/exceptions/regressions/V1/SEH/VJ/RecursiveException.csproj
Labels: GCStress, disabled-test

#22311 Spill tree temp large vectors around calls
  src/jit/lsra.cpp
  src/jit/lsra.h
  src/jit/lsrabuild.cpp
Labels: arch-arm64, arch-x64, area-CodeGen

#22355 Delete exclusions that reference fixed issues.
  tests/issues.targets
Labels: disabled-test

#22362 Reenable corefx System.Linq.Expressions.Tests.
  tests/arm/corefx_test_exclusions.txt
  tests/arm64/corefx_test_exclusions.txt
Labels: disabled-test, test-corefx

#22406 Handle SPC in GetLoadContext
  src/vm/assemblynative.cpp
Labels: area-System.Runtime

#22387 Extract addressing mode analysis from gtSetEvalOrder
  src/jit/compiler.h
  src/jit/gentree.cpp
Labels: arch-x64, arch-x86, area-CodeGen

#22408 Fix marshalling UTF8 string struct member from native to managed.
  src/vm/fieldmarshaler.cpp
  tests/src/Interop/StringMarshalling/UTF8/UTF8Test.cs
  tests/src/Interop/StringMarshalling/UTF8/UTF8TestNative.cpp
Labels: area-Interop

#22357 Correctly error out gracefully on setup-stress-dependencies when libcoredistools isn't available.
  tests/setup-stress-dependencies.sh
Labels: GCStress, area-Infrastructure

#21513 Throw an exception when passing strings by-value as out parameters.
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  tests/src/Interop/COM/NETClients/Primitives/StringTests.cs
  tests/src/Interop/COM/NETServer/StringTesting.cs
  tests/src/Interop/StringMarshalling/LPSTR/LPSTRTest.cs
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTest.cs
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTestNative.cpp
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTestPInvokeDef.cs
Labels: area-Interop

#22370 Add config option to disable tier 0 JIT
  src/inc/clrconfigvalues.h
  src/vm/callcounter.cpp
  src/vm/callcounter.h
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
Labels: area-TieredCompilation

#17947 Add reporting exception from ResolveEHClause
  src/vm/exceptionhandling.cpp
  src/zap/zapinfo.cpp
Labels: area-VM

#22317 Update COM Activator class
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/coreclr/hosts/coreshim/ComActivation.cpp
  src/coreclr/hosts/coreshim/CoreShim.cpp
  src/coreclr/hosts/coreshim/CoreShim.h
  tests/src/Common/CoreCLRTestLibrary/CoreCLRTestLibrary.csproj
  tests/src/Common/CoreCLRTestLibrary/HostPolicyMock.cs
  tests/src/Common/CoreCLRTestLibrary/XPlatformUtils.cs
  tests/src/Common/hostpolicymock/CMakeLists.txt
  tests/src/Common/hostpolicymock/HostpolicyMock.cpp
  tests/src/Interop/COM/Activator/Activator.csproj
  tests/src/Interop/COM/Activator/Program.cs
  tests/src/Interop/COM/Activator/Servers/AssemblyA.cs
  tests/src/Interop/COM/Activator/Servers/AssemblyA.csproj
  tests/src/Interop/COM/Activator/Servers/AssemblyB.cs
  tests/src/Interop/COM/Activator/Servers/AssemblyB.csproj
  tests/src/Interop/COM/Activator/Servers/AssemblyC.cs
  tests/src/Interop/COM/Activator/Servers/AssemblyC.csproj
  tests/src/Interop/COM/Activator/Servers/AssemblyContracts.cs
  tests/src/Interop/COM/Activator/Servers/AssemblyContracts.csproj
  tests/src/Interop/COM/NativeClients/Primitives.csproj
  tests/src/Interop/COM/NativeClients/Primitives/ArrayTests.cpp
  tests/src/Interop/COM/NativeClients/Primitives/ColorTests.cpp
  tests/src/Interop/COM/NativeClients/Primitives/ErrorTests.cpp
  tests/src/Interop/COM/NativeClients/Primitives/NumericTests.cpp
  tests/src/Interop/COM/NativeClients/Primitives/StringTests.cpp
  tests/src/Interop/ExecInDefAppDom/ExecInDefAppDom.csproj
  tests/src/Interop/Interop.settings.targets
  tests/src/Interop/NativeCallable/NativeCallableTest.csproj
  tests/src/Interop/PInvoke/CustomMarshalers/CustomMarshalersTest.csproj
  tests/src/Loader/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.cs
  tests/src/Loader/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.csproj
  tests/src/Loader/AssemblyDependencyResolverTests/InvalidHostingTest.cs
  tests/src/Loader/AssemblyDependencyResolverTests/NativeDependencyTests.cs
Labels: area-Interop, os-windows

#22318 Bug Fix: Calling System.Diagnostics.Tracing.EventPipe.Enable twice asserts #22247
  src/vm/sampleprofiler.cpp
  tests/src/tracing/regress/GitHub_22247/GitHub_22247.cs
  tests/src/tracing/regress/GitHub_22247/GitHub_22247.csproj
Labels: * NO MERGE *, area-Tracing

#22567 Fix gen-buildsys-win for vs2019 x86
  src/pal/tools/gen-buildsys-win.bat
Labels: area-Build

#22418 Back patching #21804 to the 2.2 branch
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/jit/importer.cpp
  tests/src/JIT/Regression/JitBlue/DevDiv_754566/DevDiv_754566.il
  tests/src/JIT/Regression/JitBlue/DevDiv_754566/DevDiv_754566.ilproj
  tests/src/JIT/Regression/JitBlue/DevDiv_754566/test.cs
Labels: Servicing-approved, area-CodeGen

#22218 Backporting #21993 to 2.2 branch - EventParameterInfo.GetMetadataLength() throws NotSupportedException
  src/mscorlib/src/System/Diagnostics/Eventing/EventPipeMetadataGenerator.cs
Labels: Servicing-approved, area-Tracing

#20572 Fix System.Reflection.TargetException: Non-static method requires a target
  src/mscorlib/shared/System/Diagnostics/Tracing/TraceLogging/SimpleTypeInfos.cs
  src/mscorlib/shared/System/Diagnostics/Tracing/TraceLogging/TraceLoggingDataCollector.cs
Labels: Servicing-approved, area-Diagnostics, area-Tracing

#22579 Remove Marshaling MDA
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
  src/vm/mdaBoilerplate.exe.mda.config
  src/vm/mdaassistants.cpp
  src/vm/mdaassistants.h
  src/vm/methodtablebuilder.cpp
Labels: area-Interop

#22544 Use dependency flow for core-setup and corefx dependencies
  dependencies.props
  eng/Version.Details.xml
  eng/Versions.props
  src/tools/runincontext/runincontext.csproj
  tests/dir.sdkbuild.props
  tests/runtest.proj
  tests/src/Common/CoreFX/CoreFX.depproj
  tests/src/Common/test_dependencies/test_dependencies.csproj
  tests/src/Common/test_runtime/test_runtime.csproj
  tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/JIT/Regression/JitBlue/GitHub_20958/GitHub_20958.cs
  tests/src/JIT/config/benchmark+intrinsic/benchmark+intrinsic.csproj
  tests/src/JIT/config/benchmark+roslyn/benchmark+roslyn.csproj
  tests/src/JIT/config/benchmark+serialize/benchmark+serialize.csproj
  tests/src/JIT/config/benchmark/benchmark.csproj
  tests/src/performance/performance.csproj
Labels: area-Infrastructure

#22363 Port profiler howtos from David Broman's blog to the documentation folder
  Documentation/Profiling/Profiler Loading.md
  Documentation/Profiling/davbr-blog-archive/Attach.md
  Documentation/Profiling/davbr-blog-archive/Attach2.md
  Documentation/Profiling/davbr-blog-archive/CORPROF_E_UNSUPPORTED_CALL_SEQUENCE.md
  Documentation/Profiling/davbr-blog-archive/Creating an IL-rewriting profiler.md
  Documentation/Profiling/davbr-blog-archive/Debugging - Activation.md
  Documentation/Profiling/davbr-blog-archive/Debugging - SOS and IDs.md
  Documentation/Profiling/davbr-blog-archive/DoStackSnapshot - Callback CONTEXT Registers.md
  Documentation/Profiling/davbr-blog-archive/DoStackSnapshot - Exception Filters.md
  Documentation/Profiling/davbr-blog-archive/DoStackSnapshot - HRESULTs.md
  Documentation/Profiling/davbr-blog-archive/ELT Hooks - The Basics.md
  Documentation/Profiling/davbr-blog-archive/ELT Hooks - tail calls.md
  Documentation/Profiling/davbr-blog-archive/GC Heap and Alignment Padding.md
  Documentation/Profiling/davbr-blog-archive/Generics and Your Profiler.md
  Documentation/Profiling/davbr-blog-archive/Metadata Tokens, Run-Time IDs, and Type Loading.md
  Documentation/Profiling/davbr-blog-archive/Profiler Detach.md
  Documentation/Profiling/davbr-blog-archive/Profiler stack walking Basics and beyond.md
  Documentation/Profiling/davbr-blog-archive/README.md
  Documentation/Profiling/davbr-blog-archive/ReJIT - Limitations.md
  Documentation/Profiling/davbr-blog-archive/ReJIT - The Basics.md
  Documentation/Profiling/davbr-blog-archive/Sample A Signature Blob Parser for your Profiler.md
  Documentation/Profiling/davbr-blog-archive/Tail call JIT conditions.md
  Documentation/Profiling/davbr-blog-archive/Type Forwarding.md
  Documentation/Profiling/davbr-blog-archive/When is it safe to use ObjectIDs.md
  Documentation/Profiling/davbr-blog-archive/media/2110.image_051F632D.png
  Documentation/Profiling/davbr-blog-archive/media/4276.image1_31CAADB7.png
  Documentation/Profiling/davbr-blog-archive/media/8715.image1_thumb_38118445.png
  Documentation/Profiling/davbr-blog-archive/media/8715.image_thumb_01A0D243.png
  Documentation/Profiling/davbr-blog-archive/media/Attach.jpg
  Documentation/Profiling/davbr-blog-archive/media/NoBirthAnnouncement.JPG
  Documentation/Profiling/davbr-blog-archive/media/deadlock.jpg
  Documentation/Profiling/davbr-blog-archive/media/gccycle.jpg
  Documentation/Profiling/davbr-blog-archive/samples/Add local to LocalVarSig.cpp
  Documentation/Profiling/davbr-blog-archive/samples/PlugInToYourProfiler.cpp
  Documentation/Profiling/davbr-blog-archive/samples/sigformat.cpp
  Documentation/Profiling/davbr-blog-archive/samples/sigparse.cpp
Labels: area-Diagnostics

#22605 Disable arm64 contracts.
  configurecompiler.cmake
  netci.groovy
  src/debug/ee/debugger.h
  src/debug/ee/rcthread.cpp
  src/inc/contract.h
  src/inc/palclr.h
Labels: arch-arm32, arch-arm64, area-Infrastructure, area-Meta, test-corefx

#22652 Fix bug in FindDispatchSlot usage
  src/vm/comcallablewrapper.cpp
  src/vm/contractimpl.h
  src/vm/gccover.cpp
  src/vm/memberload.cpp
  src/vm/methodtable.cpp
  src/vm/methodtable.h
  src/vm/virtualcallstub.cpp
Labels: bug

#22639 Set the 'PLATFORM_OSX' constant during OSX build
  clr.defines.targets
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-AssemblyLoader, test bug

#22701 Fix CLRDataCreateInstance export. This was breaking SOS.
  src/debug/daccess/daccess.cpp
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/daccess/dacdbiimpl.h
  src/dlls/mscordac/CMakeLists.txt
  src/dlls/mscordac/mscordac.cpp
Labels: area-Diagnostics

#22721 Support COM events
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/Interop/Windows/OleAut32/Interop.VariantClear.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventsHelper.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventsInfo.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventsMethod.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/ComEventsSink.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/CustomMarshalers/EnumerableViewOfDispatch.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/IDispatch.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Variant.cs
  tests/src/Interop/COM/NETClients/Events/App.manifest
  tests/src/Interop/COM/NETClients/Events/NETClientEvents.csproj
  tests/src/Interop/COM/NETClients/Events/Program.cs
  tests/src/Interop/COM/NativeServer/ArrayTesting.h
  tests/src/Interop/COM/NativeServer/COMNativeServer.X.manifest
  tests/src/Interop/COM/NativeServer/ColorTesting.h
  tests/src/Interop/COM/NativeServer/DispatchTesting.h
  tests/src/Interop/COM/NativeServer/ErrorMarshalTesting.h
  tests/src/Interop/COM/NativeServer/EventTesting.h
  tests/src/Interop/COM/NativeServer/NumericTesting.h
  tests/src/Interop/COM/NativeServer/Servers.cpp
  tests/src/Interop/COM/NativeServer/Servers.h
  tests/src/Interop/COM/NativeServer/StringTesting.h
  tests/src/Interop/COM/ServerContracts/NativeServers.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
  tests/src/Interop/COM/ServerContracts/Server.Events.cs
  tests/src/Interop/COM/ServerContracts/ServerGuids.cs
  tests/src/Interop/PInvoke/IEnumerator/IEnumeratorNative.h
  tests/src/Interop/common/ComHelpers.h
Labels: area-Interop, tenet-compatibility

#22746 [XUnit] Use ParallelRun==Collections on all platforms.
  tests/tests.targets
Labels: area-Infrastructure, test-run-core

#22773 Fix CoreFX build break.
  tests/scripts/run-corefx-tests.py
Labels: test-corefx

#22741 Update ReJIT/MethodDescBackpatchInfoTracker lock relationship
  src/inc/CrstTypes.def
  src/inc/crsttypes.h
Labels: area-Diagnostics

#22779 Disable IJW tests on Windows 7.
  tests/src/Common/CoreCLRTestLibrary/Utilities.cs
  tests/src/Interop/IJW/ManagedCallingNative/ManagedCallingNative.cs
  tests/src/Interop/IJW/NativeCallingManaged/NativeCallingManaged.cs
Labels: disabled-test

#22695 Update CoreFX Windows Arm32 exclusion list.
  tests/arm/corefx_test_exclusions.txt
Labels: disabled-test, test-corefx

#22789 Add fatal error details printing
  src/vm/eepolicy.cpp
  src/vm/exceptionhandling.cpp
Labels: area-VM

#22840 For linux-musl-arm64 use OutputRid
  build-packages.sh
Labels: blocking-release

#22835 Remove buildpipelines
  build-test.cmd
  build-test.sh
  buildpipeline/DotNet-CoreClr-Trusted-FreeBSD.json
  buildpipeline/DotNet-CoreClr-Trusted-Linux-Crossbuild.json
  buildpipeline/DotNet-CoreClr-Trusted-Linux.json
  buildpipeline/DotNet-CoreClr-Trusted-Mac.json
  buildpipeline/DotNet-CoreClr-Trusted-Windows-x86.json
  buildpipeline/DotNet-CoreClr-Trusted-Windows.json
  buildpipeline/DotNet-Trusted-Publish-Symbols.json
  buildpipeline/DotNet-Trusted-Publish.json
  buildpipeline/README.md
  buildpipeline/linux-musl.groovy
  buildpipeline/perf-pipeline.groovy
  buildpipeline/perf_pipelinejobs.groovy
  buildpipeline/pipelinejobs.groovy
  buildpipeline/pipelines.json
  buildpipeline/security/DotNet-CoreClr-Security-Windows.json
  buildpipeline/security/pipeline.json
  buildpipeline/tests/Dotnet-CoreClr-Trusted-BuildTests.json
  buildpipeline/tests/test_pipelines.json
  publish-packages.cmd
  publish-packages.sh
  src/publish.proj
  src/sign.builds
  tests/helixperftasks.targets
  tests/helixprep.proj
  tests/helixpublish.proj
  tests/runtest.cmd
  tests/runtest.proj
Labels: area-Build, area-Infrastructure

#22839 Add the coreclr blob feed as a restore source for test builds.
  NuGet.config
  src/NuGet.Config
  tests/src/NuGet.Config
Labels: area-Infrastructure

#22617 Update added types and methoddefs on ApplyMetadata
  Documentation/Profiling/Profiler Breaking Changes.md
  src/vm/ceeload.cpp
  src/vm/ceeload.h
  src/vm/clsload.cpp
  src/vm/proftoeeinterfaceimpl.cpp
Labels: area-Diagnostics

#22494 Fix Assembly::Load context for collectible assemblies
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/assemblynative.cpp
  src/vm/assemblyspec.cpp
  src/vm/assemblyspec.hpp
Labels: area-VM

#22865 Fix `optVNConstantPropOnJTrue`.
  src/jit/assertionprop.cpp
Labels: area-CodeGen

#22857 Add coreclr blob feed to dependencies.props
  dependencies.props
Labels: area-Infrastructure

#22889 Disabling windows event log test till further investigation on failures
  tests/src/baseservices/exceptions/WindowsEventLog/WindowsEventLog.csproj
Labels: area-Tracing

#22899 Disabling runtimeeventsource to unblock official build.
  tests/src/tracing/runtimeeventsource/runtimeeventsource.csproj
Labels: area-Tracing, test bug

#22870 [Test fix] Test failure: tracing_eventsource._eventpipeandetw_eventpipeandetw_eventpipeandetw_/_eventpipeandetw_eventpipeandetw_eventpipeandetw_cmd
  dependencies.props
  tests/src/tracing/eventsource/eventpipeandetw/eventpipeandetw.csproj
Labels: area-Tracing

#22883 Simple build infra improvements
  sync.sh
Labels: area-Build, area-Infrastructure

#22895 Remove legacy classfactory.cpp implementation for managed COM activation
  src/inc/MSCOREE.IDL
  src/inc/metahost.idl
  src/pal/prebuilt/inc/mscoree.h
  src/vm/CMakeLists.txt
  src/vm/classfactory.cpp
  src/vm/ecalllist.h
  src/vm/mscorlib.cpp
  src/vm/registration.h
Labels: area-Interop

#22884 Remove unused packages from init-tools.msbuild
  dependencies.props
  init-tools.msbuild
Labels: area-Build, area-Infrastructure

#22930 Set the MarshalByRefObject to be ComVisible
  src/System.Private.CoreLib/shared/System/MarshalByRefObject.cs
Labels: area-Interop
