Repository dotnet/coreclr, pull requests merged in 2019-08, with the labels that each got.

#25954 Marking some EventPipe test as incompatible with runincontext.
  tests/src/tracing/eventpipe/buffersize/buffersize.csproj
  tests/src/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.csproj
  tests/src/tracing/eventpipe/eventsvalidation/GCStartStop.csproj
  tests/src/tracing/eventpipe/providervalidation/providervalidation.csproj
Labels: EventPipe, area-Tracing

#25970 DllImportAttribute Test Cleanup.
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/DllImportPath/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/DllImportPath/DllImportPathNative.cpp
  tests/src/Interop/DllImportAttribute/DllImportPath/DllImportPathTest.cs
  tests/src/Interop/DllImportAttribute/DllImportPath/DllImportPathTest.csproj
  tests/src/Interop/DllImportAttribute/ExactSpelling/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/ExactSpelling/ExactSpellingNative.cpp
  tests/src/Interop/DllImportAttribute/ExactSpelling/ExactSpellingTest.cs
  tests/src/Interop/DllImportAttribute/ExactSpelling/ExactSpellingTest.csproj
  tests/src/Interop/DllImportAttribute/ExeFile/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/FileExtensionProbe.cs
  tests/src/Interop/DllImportAttribute/FileExtensionProbe.csproj
  tests/src/Interop/DllImportAttribute/FileNameContainDot/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/FileNameContainDot/DllFile.Probe.cpp
  tests/src/Interop/DllImportAttribute/Simple/CMakeLists.txt
  tests/src/Interop/DllImportAttribute/Simple/DllFileProbe.cpp
  tests/src/Interop/PInvoke/DllImportPath/DllImportPathNative.cpp
  tests/src/Interop/PInvoke/DllImportPath/DllImportPathTest.cs
Labels: area-Interop

#25844 Allow for interface implementations in EventSource.WriteEventVarArgs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventSource.cs
Labels: area-Diagnostics, area-System.Diagnostics.Tracing

#25955 Decimal test refresh
  src/vm/methodtable.cpp
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Decimal/CMakeLists.txt
  tests/src/Interop/PInvoke/Decimal/DecimalTest.cs
  tests/src/Interop/PInvoke/Decimal/DecimalTest.csproj
  tests/src/Interop/PInvoke/Decimal/DecimalTestNative.cpp
  tests/src/Interop/PInvoke/Decimal/DecimalTestNative.cs
  tests/src/Interop/PInvoke/Decimal/PInvoke/CMakeLists.txt
  tests/src/Interop/PInvoke/Decimal/PInvoke/DecNative.cpp
  tests/src/Interop/PInvoke/Decimal/PInvoke/DecimalTest.cs
  tests/src/Interop/PInvoke/Decimal/ReversePInvoke/CMakeLists.txt
  tests/src/Interop/PInvoke/Decimal/ReversePInvoke/DecimalTest.cs
  tests/src/Interop/PInvoke/Decimal/ReversePInvoke/DecimalTest.csproj
  tests/src/Interop/PInvoke/Decimal/ReversePInvoke/RevNative.cpp
Labels: area-Interop, test enhancement

#25972 Fix WSL alternate stack check
  src/pal/src/exception/signal.cpp
  src/pal/src/include/pal/signal.hpp
Labels: area-PAL

#25963 Fix check for no affinitization in GC on Unix
  src/gc/gc.cpp
Labels: area-GC

#25909 arm64 out of proc unwind for DAC
  clrdefinitions.cmake
  src/debug/createdump/threadinfo.cpp
  src/pal/src/exception/remote-unwind.cpp
Labels: area-Diagnostics

#25975 Fix telemetry for formatting jobs failures.
  tests/scripts/format.py
Labels: area-Infrastructure

#25991 Do not set source for CoreDisTools.
  tests/setup-stress-dependencies.cmd
  tests/setup-stress-dependencies.sh
Labels: area-Infrastructure

#26015 Binder minor cleanup
  src/binder/assemblybinder.cpp
  src/binder/clrprivbindercoreclr.cpp
  src/binder/inc/assemblybinder.hpp
  src/binder/inc/bindresult.hpp
  src/binder/inc/bindresult.inl
  src/binder/inc/clrprivbindercoreclr.h
Labels: area-AssemblyLoader

#26030 Remove inspection only from binder
  src/binder/applicationcontext.cpp
  src/binder/assembly.cpp
  src/binder/assemblybinder.cpp
  src/binder/assemblyname.cpp
  src/binder/coreclrbindercommon.cpp
  src/binder/inc/applicationcontext.hpp
  src/binder/inc/applicationcontext.inl
  src/binder/inc/assembly.hpp
  src/binder/inc/assembly.inl
  src/binder/inc/assemblybinder.hpp
  src/binder/inc/assemblyname.hpp
  src/binder/inc/bindertypes.hpp
  src/binder/inc/coreclrbindercommon.h
  src/binder/inc/loadcontext.hpp
  src/vm/clrprivbinderwinrt.cpp
Labels: area-AssemblyLoader

#26036 Delete TRANSLATE_PDB.
  src/jit/emit.cpp
  src/jit/emit.h
  src/jit/emitxarch.cpp
Labels: area-CodeGen

#25978 [3.0 port] Make counters use dedicated thread for polling
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventCounter.cs
  tests/src/tracing/eventcounter/eventcounter.cs
Labels: area-Tracing

#26048 Fix passing unprocessed build args when building managed tests
  build-test.cmd
  build.cmd
Labels: area-Infrastructure

#25981 Delegate marshaling test refresh.
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/Delegate/CMakeLists.txt
  tests/src/Interop/PInvoke/Delegate/DelegateAsInterfaceTestNative.cpp
  tests/src/Interop/PInvoke/Delegate/DelegateTest.cs
  tests/src/Interop/PInvoke/Delegate/DelegateTest.csproj
  tests/src/Interop/PInvoke/Delegate/DelegateTestNative.cpp
  tests/src/Interop/PInvoke/Delegate/DelegateTestNative.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsDefault/AsDefaultTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsDefault/AsDefaultTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsFieldNative.cpp
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsFunctionPtr/AsFunctionPtrTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsFunctionPtr/AsFunctionPtrTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsInterface/AsInterfaceTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsInterface/AsInterfaceTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/CMakeLists.txt
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/RefLib/RefLib.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsDefault/AsDefaultTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsDefault/AsDefaultTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsFunctionPtr/AsFunctionPtrTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsFunctionPtr/AsFunctionPtrTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsInterface/AsInterfaceTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsInterface/AsInterfaceTest.csproj
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsParamNative.cpp
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/CMakeLists.txt
Labels: area-Interop, test enhancement

#26035 Improve ArgumentNullExceptions on DiagnosticCounter.DisplayName/Unit
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/DiagnosticCounter.cs
Labels: area-Tracing

#25976 Clean up diagnosticserver socket on unexpected shutdown
  src/debug/ee/debugger.cpp
  src/debug/ee/debugger.h
  src/vm/ceemain.cpp
  src/vm/dbginterface.h
Labels: area-Diagnostics

#25898 Separate statements from GenTree, part 1
  src/jit/block.cpp
  src/jit/codegenlinear.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gtstructs.h
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/rationalize.cpp
  src/jit/ssabuilder.cpp
Labels: area-CodeGen

#25953 Catch InvalidCastException properly in Collection
  src/System.Private.CoreLib/shared/System/Collections/ObjectModel/Collection.cs
Labels: area-System.Collections

#26085 Fix a potential division by 0 in post GC counter computation
  src/gc/gcee.cpp
Labels: area-GC

#25930 Make ILAsm and ILDasm packages standalone. Clean up Microsoft.NET.Sdk.IL
  src/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets
  src/.nuget/Microsoft.NETCore.ILAsm/Microsoft.NETCore.ILAsm.pkgproj
  src/.nuget/Microsoft.NETCore.ILDAsm/Microsoft.NETCore.ILDAsm.pkgproj
Labels: area-ILTools

#26082 ARM32 out of proc unwind support
  clrdefinitions.cmake
  src/pal/src/exception/remote-unwind.cpp
  src/pal/src/libunwind/src/CMakeLists.txt
  src/pal/src/libunwind/src/oop/_OOP_find_proc_info.c
  src/pal/src/libunwind/src/oop/_OOP_internal.h
Labels: area-Diagnostics

#26020 Add support for servicing (post-build.yml)
  eng/Publishing.props
  eng/SignCheckExclusionsFile.txt
  eng/build-job.yml
  eng/crossgen-comparison-job.yml
  eng/finalize-publish.yml
  eng/pipelines/internal.yml
  eng/test-job.yml
  eng/xplat-job.yml
  src/publishwitharcade.proj
Labels: area-Infrastructure

#26092 Separate statements from GenTree, part 2
  src/jit/assertionprop.cpp
  src/jit/block.cpp
  src/jit/block.h
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/gtstructs.h
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/loopcloning.cpp
  src/jit/morph.cpp
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/rationalize.cpp
  src/jit/ssabuilder.cpp
Labels: area-CodeGen, enhancement

#26120 Pass HRESULT instead of Win32 error code
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.QueryUnbiasedInterruptTime.cs
  src/System.Private.CoreLib/shared/System/Threading/TimerQueue.Windows.cs
Labels: area-System.Threading, reliability

#20661 Recognize unsigned compare with 0
  src/jit/gentree.cpp
  src/jit/valuenum.cpp
  src/jit/valuenum.h
Labels: area-CodeGen

#26109 Cleanup YML and and create readme.md
  azure-pipelines.yml
  eng/build-job.yml
  eng/readme.md
Labels: area-Infrastructure

#26134 Tell Arcade to continue on error for test runs.
  eng/test-job.yml
  eng/xplat-job.yml
Labels: area-Infrastructure

#26133 [release/3.0] Use Arcade's internal tool restore project for restoring IBCMerge
  eng/Versions.props
  eng/build-job.yml
  src/.nuget/optdata/ibcmerge.csproj
Labels: area-Infrastructure

#25891 Fix EventPipeFile precondition
  src/vm/eventpipefile.cpp
Labels: EventPipe, area-Diagnostics

#26151 Unblock official build publish
  eng/common/sdk-task.ps1
  eng/common/templates/post-build/channels/netcore-tools-latest.yml
  eng/pipelines/internal.yml
Labels: area-Infrastructure

#26157 Fix the targeted blob feed URL
  eng/pipelines/internal.yml
Labels: area-Infrastructure

#26161 Update netcore-dev-5.yml
  eng/common/templates/post-build/channels/netcore-dev-5.yml
Labels: area-Infrastructure

#26172 Test set continueOnError to 'true' only on internal builds.
  eng/test-job.yml
Labels: area-Infrastructure

#21415 Remove knowledge of specific field marshalers from non-marshalling subsystems
  src/vm/class.cpp
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
  src/vm/methodtable.cpp
  src/vm/methodtablebuilder.cpp
  src/vm/nativefieldflags.h
  src/vm/nsenumhandleallcases.h
  src/vm/olevariant.cpp
  src/vm/olevariant.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/DateTime/DateTimeTest.csproj
Labels: area-Interop

#26168 Remove unused method
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
Labels: area-AssemblyLoader

#26169 Fix GenerateShuffleArray to support cyclic shuffles
  src/vm/comdelegate.cpp
  src/vm/comdelegate.h
  src/vm/i386/stublinkerx86.cpp
  src/vm/i386/stublinkerx86.h
  tests/src/JIT/Stress/ABI/Program.cs
Labels: area-VM

#26159 Account for quoted values in provider filter string
  src/vm/eventpipeprovider.cpp
Labels: EventPipe, area-Tracing

#26180 Add symbol publishing exclusion list.
  eng/SymbolPublishingExclusionsFile.txt
Labels: area-Infrastructure

#26174 Fix ARM64 HFA arguments passing via reflection
  src/vm/callingconvention.h
  tests/src/JIT/Stress/ABI/Program.cs
Labels: area-VM

#26188 Add perf pipeline
  eng/perf-job.yml
  eng/pipelines/perf.yml
Labels: area-Infrastructure

#26193 Enable MHR support on OSX
  clrdefinitions.cmake
  src/pal/src/include/pal/utils.h
  src/pal/src/map/map.cpp
  src/pal/src/map/virtual.cpp
  src/pal/src/misc/utils.cpp
  src/vm/amd64/jithelpers_fast.S
  src/vm/amd64/jitinterfaceamd64.cpp
  src/vm/ceemain.cpp
  src/vm/excep.cpp
  src/vm/exceptionhandling.cpp
  src/vm/stackwalk.cpp
  src/vm/threads.cpp
  src/vm/threads.h
Labels: area-Meta

#26198 Delete TRACK_GC_TEMP_LIFETIMES.
  src/jit/codegencommon.cpp
  src/jit/emit.cpp
  src/jit/emit.h
  src/jit/lclvars.cpp
Labels: area-CodeGen

#26218 Explicitly handle char marshalling in OleVariant::GetNativeMethodTableForVarType.
  src/vm/olevariant.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/StructMarshalling/PInvoke/Struct.cs
Labels: area-Interop

#26089 [3.0 port] Fix a potential division by 0 in post GC counter computation
  src/gc/gcee.cpp
Labels: area-GC, ask-mode

#26056 [3.0 port] Allow for interface implementations in EventSource.WriteEventVarArgs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventSource.cs
Labels: area-Tracing, ask-mode

#26190 [3.0 port] Clean up diagnosticserver socket on unexpected shutdown
  src/debug/ee/debugger.cpp
  src/debug/ee/debugger.h
  src/vm/ceemain.cpp
  src/vm/dbginterface.h
Labels: area-Diagnostics, ask-mode

#25770 Use native code slot for default interface methods
  src/debug/ee/functioninfo.cpp
  src/vm/codeversion.cpp
  src/vm/eventtrace.cpp
  src/vm/gccover.cpp
  src/vm/jitinterface.cpp
  src/vm/method.cpp
  src/vm/methodtablebuilder.cpp
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_d.ilproj
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_r.ilproj
Labels: area-TieredCompilation

#26195 [3.0 port] Account for quoted values in provider filter string (#26159)
  src/vm/eventpipeprovider.cpp
Labels: area-Tracing, ask-mode

#26156 ARM64 out of proc unwind for DAC
  clrdefinitions.cmake
  src/debug/createdump/threadinfo.cpp
  src/pal/src/exception/remote-unwind.cpp
Labels: arch-arm64, area-Diagnostics, ask-mode

#26256 Use function-local StackingAllocator for EnC added methods
  src/vm/class.cpp
Labels: ask-mode

#26238 Fix assert when taking the jit inline tracking map
  src/inc/CrstTypes.def
  src/inc/crsttypes.h
Labels: area-Diagnostics

#26224 Fix for 26223
  src/vm/eventpipeprotocolhelper.cpp
Labels: area-Tracing

#26137 Port stage work for 3.0
  eng/Publishing.props
  eng/SignCheckExclusionsFile.txt
  eng/SymbolPublishingExclusionsFile.txt
  eng/build-job.yml
  eng/finalize-publish.yml
  eng/pipelines/internal.yml
  eng/test-job.yml
  eng/xplat-job.yml
  src/publishwitharcade.proj
Labels: area-Infrastructure, ask-mode

#20650 Fix loop hoist ordering (part I - "swap" case)
  src/jit/arraystack.h
  src/jit/codegenarm64.cpp
  src/jit/compiler.h
  src/jit/copyprop.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/morph.cpp
  src/jit/objectalloc.cpp
  src/jit/optimizer.cpp
  src/jit/rationalize.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_7147/GitHub_7147.cs
  tests/src/JIT/Regression/JitBlue/GitHub_7147/GitHub_7147.csproj
Labels: area-CodeGen

#26270 [master] Move TypeSystemLog::OnKeywordsChanged
  src/vm/eventtrace.cpp
Labels: EventPipe, area-Tracing

#26258 Remove timeout in a test for GCStress modes
  tests/src/ilasm/System/Runtime/CompilerServices/MethodImplOptionsTests.cs
Labels: area-VM

#26192 Small cleaning in JIT32_GCENCODER functions.
  src/jit/compiler.h
  src/jit/gcencode.cpp
  src/jit/gcinfo.cpp
  src/jit/jitgcinfo.h
Labels: area-CodeGen

#26323 Fix PIE options
  configurecompiler.cmake
  src/binder/CMakeLists.txt
  src/classlibnative/bcltype/CMakeLists.txt
  src/classlibnative/float/CMakeLists.txt
  src/coreclr/hosts/osxbundlerun/CMakeLists.txt
  src/coreclr/hosts/unixcoreconsole/CMakeLists.txt
  src/coreclr/hosts/unixcorerun/CMakeLists.txt
  src/coreclr/hosts/unixcoreruncommon/CMakeLists.txt
  src/corefx/System.Globalization.Native/CMakeLists.txt
  src/debug/createdump/CMakeLists.txt
  src/debug/daccess/CMakeLists.txt
  src/debug/dbgutil/CMakeLists.txt
  src/debug/debug-pal/CMakeLists.txt
  src/debug/di/CMakeLists.txt
  src/debug/ee/CMakeLists.txt
  src/debug/ee/wks/CMakeLists.txt
  src/debug/ildbsymlib/CMakeLists.txt
  src/debug/shim/CMakeLists.txt
  src/dlls/dbgshim/CMakeLists.txt
  src/dlls/mscordac/CMakeLists.txt
  src/dlls/mscorrc/CMakeLists.txt
  src/gc/CMakeLists.txt
  src/gc/unix/CMakeLists.txt
  src/gcinfo/CMakeLists.txt
  src/ilasm/CMakeLists.txt
  src/ildasm/exe/CMakeLists.txt
  src/inc/CMakeLists.txt
  src/jit/dll/CMakeLists.txt
  src/md/ceefilegen/CMakeLists.txt
  src/md/compiler/CMakeLists.txt
  src/md/datasource/CMakeLists.txt
  src/md/enc/CMakeLists.txt
  src/md/hotdata/CMakeLists.txt
  src/md/runtime/CMakeLists.txt
  src/md/staticmd/CMakeLists.txt
  src/md/winmd/CMakeLists.txt
  src/nativeresources/CMakeLists.txt
  src/pal/src/CMakeLists.txt
  src/pal/src/eventprovider/lttngprovider/CMakeLists.txt
  src/pal/tests/palsuite/exception_handling/pal_sxs/test1/CMakeLists.txt
  src/palrt/CMakeLists.txt
  src/strongname/api/CMakeLists.txt
  src/tools/crossgen/CMakeLists.txt
  src/unwinder/CMakeLists.txt
  src/utilcode/CMakeLists.txt
  src/vm/CMakeLists.txt
  tests/CMakeLists.txt
Labels: area-Build

#26298 Remove unused runtime functions and files
  src/binder/assembly.cpp
  src/binder/inc/assembly.hpp
  src/binder/inc/utils.hpp
  src/binder/utils.cpp
  src/inc/circularlog.h
  src/inc/corhost.h
  src/inc/longfilepathwrappers.h
  src/inc/safewrap.h
  src/inc/utilcode.h
  src/inc/winwrap.h
  src/md/compiler/mdutil.cpp
  src/md/compiler/mdutil.h
  src/utilcode/circularlog.cpp
  src/utilcode/longfilepathwrappers.cpp
  src/utilcode/safewrap.cpp
  src/utilcode/util.cpp
  src/vm/callhelpers.cpp
  src/vm/callhelpers.h
  src/vm/codeman.cpp
  src/vm/commodule.cpp
  src/vm/commodule.h
  src/vm/corhost.cpp
  src/vm/excep.cpp
  src/vm/excep.h
  src/vm/jithelpers.cpp
  src/vm/loaderallocator.cpp
  src/vm/loaderallocator.hpp
  src/vm/pefile.cpp
  src/vm/pefile.h
  src/vm/util.cpp
  src/vm/util.hpp
Labels: area-VM

#26227 Add ISOSDacInterface7 implementation
  src/debug/daccess/daccess.cpp
  src/debug/daccess/dacimpl.h
  src/debug/daccess/request.cpp
  src/inc/dacprivate.h
  src/inc/sospriv.idl
  src/pal/prebuilt/idl/sospriv_i.cpp
  src/pal/prebuilt/inc/sospriv.h
Labels: area-Diagnostics

#26349 Remove unused test file introduced in #25948
  LPTStrTestNative.cpp
Labels: test bug

#26430 Fix JIT_CheckedWriteBarrier for MHR
  src/vm/amd64/jithelpers_fast.S
Labels: area-VM

#26395 Update JITEEVersionIdentifier
  src/inc/corinfo.h
Labels: area-CodeGen

#25860 Use Span<T> in Encoding
  src/System.Private.CoreLib/shared/System/Text/Encoding.cs
Labels: tenet-performance

#26451 Add ability to only copy native test files to managed tests in build-test scripts
  build-test.cmd
  build-test.sh
  tests/dir.traversal.targets
  tests/runtest.sh
  tests/src/dir.targets
  tests/src/dirs.proj
Labels: area-Build
