Repository dotnet/coreclr, pull requests merged in 2019-03, with the labels that each got.

#22942 Move COM related attributes to the shared source location of Object c…
  src/System.Private.CoreLib/shared/System/Object.cs
  src/System.Private.CoreLib/src/System/Object.CoreCLR.cs
Labels: area-Interop, area-TypeSystem

#22943 Another small tweak to fix Thread behavioral difference
  src/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
Labels: area-System.Threading, test-corefx

#22925 Fix resource stream for collectible assemblies
  src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  tests/src/Regressions/coreclr/GitHub_22888/test22888.cs
  tests/src/Regressions/coreclr/GitHub_22888/test22888.csproj
  tests/src/Regressions/coreclr/GitHub_22888/test22888.resx
  tests/src/Regressions/coreclr/GitHub_22888/test22888resources.cs
  tests/src/Regressions/coreclr/GitHub_22888/test22888resources.csproj
Labels: area-Meta-corelib

#22801 Improve coreclrhost.h header
  src/coreclr/hosts/inc/coreclrhost.h
  src/dlls/mscoree/unixinterface.cpp
Labels: area-Meta

#22843 Turn on IBC and enforce PGO in official and release builds.
  eng/build-job.yml
  src/scripts/pgocheck.py
Labels: area-Build, area-Infrastructure

#22941 Fix issue #22337
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSource.cs
Labels: area-Tracing

#22795 Fixes: Audit missing entries in ClrEtwAll.man #22790
  src/vm/ClrEtwAll.man
Labels: area-Tracing

#22853 Remove unused code from EventSource
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventSource.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/StubEnvironment.cs
Labels: area-Tracing

#22755 Use arcade's version of dotnet to build
  Documentation/building/unix-test-instructions.md
  Documentation/workflow/RunningTests.md
  build-packages.cmd
  build-test.cmd
  build-test.sh
  build.cmd
  build.sh
  cmake_msbuild.cmd
  dir.props
  dotnet.cmd
  dotnet.sh
  eng/build-job.yml
  eng/common/tools.ps1
  eng/configure-toolset.ps1
  eng/configure-toolset.sh
  eng/update-dependencies.cmd
  init-tools.cmd
  init-tools.sh
  tests/bringup_runtest.sh
  tests/dir.props
  tests/runtest.cmd
  tests/runtest.proj
  tests/runtest.py
  tests/runtest.sh
  tests/scripts/build_illink.cmd
  tests/scripts/build_illink.sh
  tests/scripts/run-xunit-perf.py
  tests/setup-stress-dependencies.cmd
  tests/setup-stress-dependencies.sh
  tests/src/readytorun/r2rdump/R2RDumpTest.csproj
  tests/src/readytorun/r2rdump/rebaseline.cmd
Labels: area-Build, area-Infrastructure

#22846 Support IClassFactory2 - LicenseManager use in COM activation
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  tests/issues.targets
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/COM/NETClients/Licensing/App.manifest
  tests/src/Interop/COM/NETClients/Licensing/NETClientLicense.csproj
  tests/src/Interop/COM/NETClients/Licensing/Program.cs
  tests/src/Interop/COM/NETServer/LicenseTesting.cs
  tests/src/Interop/COM/NETServer/NETServer.csproj
  tests/src/Interop/COM/NativeClients/Licensing.csproj
  tests/src/Interop/COM/NativeClients/Licensing/App.manifest
  tests/src/Interop/COM/NativeClients/Licensing/CMakeLists.txt
  tests/src/Interop/COM/NativeClients/Licensing/CoreShim.X.manifest
  tests/src/Interop/COM/NativeClients/Licensing/LicenseTests.cpp
  tests/src/Interop/COM/NativeServer/COMNativeServer.X.manifest
  tests/src/Interop/COM/NativeServer/LicenseTesting.h
  tests/src/Interop/COM/NativeServer/Servers.cpp
  tests/src/Interop/COM/NativeServer/Servers.h
  tests/src/Interop/COM/ServerContracts/NativeServers.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
  tests/src/Interop/COM/ServerContracts/ServerGuids.cs
  tests/src/Interop/common/ComHelpers.h
Labels: area-Interop, tenet-compatibility

#22955 Revert "Improve coreclrhost.h header"
  src/coreclr/hosts/inc/coreclrhost.h
  src/dlls/mscoree/unixinterface.cpp
Labels: * NO MERGE *

#22932 Move EEClassLayoutInfo::CollectLayoutFieldMetadataThrowing to class.cpp
  src/vm/class.cpp
  src/vm/class.h
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
Labels: area-Interop

#23010 Remove loose dependency in runtime on System.ComponentModel.
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/metasig.h
  src/vm/mscorlib.h
  src/vm/namespace.h
  src/vm/runtimecallablewrapper.cpp
  tests/src/Interop/COM/NETClients/Licensing/Program.cs
Labels: area-Interop, disabled-test, test-corefx

#22960 Make StackTrace Aware of Collectible Types (Phase 2)
  src/System.Private.CoreLib/src/System/Diagnostics/StackFrameHelper.cs
Labels: area-Diagnostics

#23015 Move HasLayoutMetadata to methodtablebuilder.cpp
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
  src/vm/methodtablebuilder.cpp
Labels: area-Interop

#22997 Temporarily disable some WaitAny tests that have been failing periodically in the CI
  tests/issues.targets
Labels: area-System.Threading

#23082 Ignore warning in another build script.
  tests/scripts/run-corefx-tests.py
Labels: area-Infrastructure, os-linux, test-corefx

#23092 Update error message for when a parent is marked as COMVisible(false)
  src/dlls/mscorrc/mscorrc.rc
  src/vm/comcallablewrapper.cpp
  src/vm/comcallablewrapper.h
Labels: area-Interop

#23116 Fix a rare JitStress assert.
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/ee_il_dll.cpp
  src/jit/jit.h
Labels: JitStress, area-CodeGen

#15000 Improve SSA renaming memory usage
  src/jit/gentree.h
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
  src/jit/ssarenamestate.cpp
  src/jit/ssarenamestate.h
Labels: area-CodeGen

#23018 Added Range Manipulation APIs to Collection<T> and ObservableCollection<T>
  src/System.Private.CoreLib/shared/System/Collections/ObjectModel/Collection.cs
Labels: area-System.Collections

#23135 Fix missing RunTests.sh in CoreFX Linux jobs.
  tests/scripts/run-corefx-tests.py
Labels: area-Infrastructure, test-corefx

#23137 Properly override IsEquivalentTo() API in RuntimeType
  src/System.Private.CoreLib/src/System/RtType.cs
  src/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/vm/ecalllist.h
  src/vm/runtimehandles.cpp
  src/vm/runtimehandles.h
  tests/src/baseservices/typeequivalence/simple/Simple.cs
Labels: area-Interop

#23148 Avoid StackWalk in EventPipeEventInstance constructor
  src/vm/eventpipe.cpp
  src/vm/eventpipebuffer.cpp
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeeventinstance.cpp
  src/vm/eventpipeeventinstance.h
Labels: EventPipe, area-Tracing

#23121 Enable build with clang static analyzer
  build.sh
  src/pal/tools/gen-buildsys-clang.sh
Labels: area-Build

#23099 Remove init_count zeroing from PAL cleanup at process exit
  src/pal/src/init/pal.cpp
Labels: area-PAL

#23174 Fix NRE in EqualStringArrays
  src/System.Private.CoreLib/shared/System/Globalization/DateTimeFormatInfoScanner.cs
Labels: area-System.Globalization

#23195 Default Interface COM testing project
  tests/issues.targets
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/COM/NETServer/NETServer.DefaultInterfaces.il
  tests/src/Interop/COM/NETServer/NETServer.DefaultInterfaces.ilproj
  tests/src/Interop/COM/NativeClients/DefaultInterfaces.csproj
  tests/src/Interop/COM/NativeClients/DefaultInterfaces/App.manifest
  tests/src/Interop/COM/NativeClients/DefaultInterfaces/CMakeLists.txt
  tests/src/Interop/COM/NativeClients/DefaultInterfaces/CoreShim.X.manifest
  tests/src/Interop/COM/NativeClients/DefaultInterfaces/DefaultInterfacesTests.cpp
  tests/src/Interop/COM/NativeClients/Primitives/ClientTests.h
  tests/src/Interop/COM/NativeServer/Servers.h
  tests/src/Interop/COM/ServerContracts/NativeServers.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
  tests/src/Interop/COM/ServerContracts/ServerGuids.cs
Labels: area-Interop

#23185 Fix issue 23151 (Cleanup TODO introduced by PR #23148)
  src/vm/eventpipebuffer.cpp
Labels: EventPipe, area-Tracing

#23237 exclude tracing/keyword/TwoKeywords/TwoKeywords on WIndows x86.
  tests/issues.targets
Labels: disabled-test

#23182 Remove fixed sign tool version
  eng/Versions.props
Labels: area-Infrastructure

#23219 Add OperationStatus-based UTF8 transcoding APIs
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Text/Unicode/Utf8.cs
Labels: area-System.Runtime

#23078 Fix/clean compNoGCHelperCallKillSet for arm.
  src/jit/codegencommon.cpp
  src/jit/compiler.h
  src/jit/emit.cpp
  src/jit/emit.h
Labels: area-CodeGen

#23203 Fix no-return false positives in static analyzer build
  src/inc/check.h
  src/inc/debugmacros.h
  src/inc/palclr.h
  src/jit/error.h
  src/jit/host.h
  src/pal/inc/pal.h
  src/pal/src/include/pal/dbgmsg.h
Labels: area-Meta

#23138 JIT: fix filter liveness computation
  src/jit/liveness.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_22820/GitHub_22820.cs
  tests/src/JIT/Regression/JitBlue/GitHub_22820/GitHub_22820.csproj
Labels: Servicing-consider, Servicing-more-info

#23108 Port Japanese era fix from master
  src/corefx/System.Globalization.Native/calendarData.cpp
Labels: Servicing-approved

#22697 Update CoreFX Linux Arm64 exclusion list.
  tests/arm64/corefx_linux_test_exclusions.txt
Labels: disabled-test, test-corefx

#23200 Fix DisableTier0Jit when multi-core JIT is enabled
  src/vm/callcounter.cpp
  src/vm/callcounter.h
Labels: area-TieredCompilation

#23247 Fix GetProcessAffinityMask
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/numa/numa.cpp
Labels: area-PAL

#23249 Fix the calling convention for P/Invokes and delegates to hostpolicy
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyDependencyResolver.cs
  src/coreclr/hosts/coreshim/CoreShim.cpp
  tests/src/Common/CoreCLRTestLibrary/HostPolicyMock.cs
  tests/src/Common/hostpolicymock/HostpolicyMock.cpp
Labels: arch-x86, bug, os-windows

#23270 Fix Ubuntu arm build break.
  tests/src/Common/hostpolicymock/CMakeLists.txt
  tests/src/Common/hostpolicymock/HostpolicyMock.cpp
Labels: blocking-clean-ci

#23166 Collection<T>: Validate parameters in the public methods
  src/System.Private.CoreLib/shared/System/Collections/ObjectModel/Collection.cs
Labels: area-System.Collections

#22632 In CLRLifoSemaphore, start the underlying semaphore with 0 for the initial signal count
  src/vm/synch.cpp
Labels: area-System.Threading

#23267 Exclude tracing/keyword/TwoKeywords test from running on Unix/x64
  tests/issues.targets
Labels: arch-x64, os-mac-os-x

#23271 Add `Schedule` and 'Manual' as possible triggers for ADO outerloop jobs.
  azure-pipelines.yml
Labels: area-Infrastructure

#23276 Fix GetFullAffinityMask for cpuCount==64
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/numa/numa.cpp
Labels: area-PAL

#23258 Use HKLM for CLSID lookup
  src/inc/utilcode.h
  src/utilcode/util.cpp
  src/vm/appdomain.cpp
  src/vm/runtimecallablewrapper.cpp
Labels: area-Diagnostics, area-Interop, os-windows, tenet-compatibility

#23106 [EventPipe] Adding an IPC server to handle out of process communication.
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/debug/debug-pal/CMakeLists.txt
  src/debug/debug-pal/unix/diagnosticsipc.cpp
  src/debug/debug-pal/win/diagnosticsipc.cpp
  src/debug/inc/diagnosticsipc.h
  src/inc/stresslog.h
  src/pal/inc/pal.h
  src/pal/src/thread/process.cpp
  src/vm/CMakeLists.txt
  src/vm/ceemain.cpp
  src/vm/common.h
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticserver.h
  src/vm/diagnosticsprotocol.h
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeeventinstance.h
  src/vm/eventpipeeventsource.cpp
  src/vm/eventpipefile.cpp
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeinternal.h
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
  src/vm/eventpipeprovider.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventpipesessionprovider.cpp
  src/vm/eventpipesessionprovider.h
  src/vm/fastserializer.cpp
  src/vm/fastserializer.h
  src/vm/mscorlib.cpp
Labels: EventPipe, area-Tracing

#20268 Fix Interop/SizeConst/SizeConstTest to successfully run in all locales.
  tests/src/Interop/SizeConst/SizeConstTest.cs
Labels: area-Interop, test bug

#23261 Update CoreFX Windows Arm64 exclusion list.
  tests/arm64/corefx_test_exclusions.txt
Labels: disabled-test, test-corefx

#23202 Reintroduce PR #22617 (Update added types and methoddefs on ApplyMetadata)
  Documentation/Profiling/Profiler Breaking Changes.md
  src/vm/ceeload.cpp
  src/vm/ceeload.h
  src/vm/clsload.cpp
  src/vm/proftoeeinterfaceimpl.cpp
Labels: area-Diagnostics

#22798 Trim/TrimStart/TrimEnd methods for Memory and Span
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/MemoryExtensions.Trim.cs
  src/System.Private.CoreLib/shared/System/MemoryExtensions.cs
Labels: area-System.Memory

#22805 Implement support for copy constructors when marshalling in IJW
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/dllimport.cpp
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/mlinfo.cpp
  src/vm/mtypes.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/IJW/CopyConstructorMarshaler/CMakeLists.txt
  tests/src/Interop/IJW/CopyConstructorMarshaler/CopyConstructorMarshaler.cs
  tests/src/Interop/IJW/CopyConstructorMarshaler/CopyConstructorMarshaler.csproj
  tests/src/Interop/IJW/CopyConstructorMarshaler/IjwCopyConstructorMarshaler.cpp
Labels: area-Interop

#23345 Exclude GC/Collect from GCStress testing.
  tests/src/GC/API/GC/Collect.csproj
Labels: GCStress, disabled-test

#23353 Restrict gc stress platforms for ADO runs.
  azure-pipelines.yml
Labels: area-Infrastructure

#23357 [EventPipe] Fix linker warning on Debug/Checked build and unlink Unix Domain Socket #23334
  src/debug/debug-pal/CMakeLists.txt
  src/debug/debug-pal/unix/diagnosticsipc.cpp
  src/debug/debug-pal/win/diagnosticsipc.cpp
  src/debug/inc/diagnosticsipc.h
  src/inc/loglf.h
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticserver.h
  src/vm/fastserializer.cpp
  src/vm/fastserializer.h
Labels: EventPipe, area-Tracing

#23326 Avoid stack walk as specified in the exclusion list
  build.cmd
  build.sh
  src/scripts/genEtwProvider.py
  src/scripts/genEventPipe.py
  src/scripts/utilities.py
  src/vm/eventpipeeventsource.cpp
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
Labels: EventPipe, area-Tracing

#23374 Update Ubuntu 18.04 ARM64 queues
  eng/platform-matrix.yml
Labels: area-Infrastructure

#23399 Delete unused variables in jit. Part1.
  src/jit/assertionprop.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/compiler.cpp
  src/jit/earlyprop.cpp
  src/jit/gcinfo.cpp
  src/jit/gschecks.cpp
  src/jit/hashbv.cpp
  src/jit/jiteh.cpp
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/optimizer.cpp
Labels: area-CodeGen, easy

#23401 Fix WinRT marshalling for NotifyPropertyChangedEventArgs and NotifyCollectionChangedEventArgs (CoreCLR side)
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/WindowsRuntimeMarshal.cs
  src/vm/dllimport.cpp
  src/vm/ecalllist.h
  src/vm/marshalnative.cpp
  src/vm/marshalnative.h
  src/vm/mlinfo.cpp
  src/vm/mscorlib.h
Labels: area-Interop, os-windows

#23354 Add call to setup-stress-dependencies.sh to build-test.sh.
  build-test.sh
  init-distro-rid.sh
  tests/setup-stress-dependencies.sh
Labels: area-Infrastructure, os-linux

#23430 Disable loading IJW assemblies into collectible ALC
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/assemblynative.cpp
  tests/src/Interop/IJW/CopyConstructorMarshaler/CopyConstructorMarshaler.csproj
  tests/src/Interop/IJW/FixupCallsHostWhenLoaded/FixupCallsHostWhenLoaded.csproj
  tests/src/Interop/IJW/LoadIjwFromModuleHandle/LoadIjwFromModuleHandle.csproj
  tests/src/Interop/IJW/ManagedCallingNative/ManagedCallingNative.csproj
  tests/src/Interop/IJW/NativeCallingManaged/NativeCallingManaged.csproj
Labels: area-VM

#23479 Use DotNet-HelixApi-Access only in internal project
  eng/test-job.yml
Labels: area-Infrastructure

#23463 Update CoreFX arm64 test exclusions.
  tests/arm64/corefx_linux_test_exclusions.txt
  tests/arm64/corefx_test_exclusions.txt
Labels: disabled-test, test-corefx

#23435 Add call to setup-stress-dependencies.sh to build-test.sh.
  build-test.sh
  init-distro-rid.sh
  tests/setup-stress-dependencies.sh
Labels: GCStress, area-Infrastructure

#23481 Delete unused variables in jit. Part 2.
  src/jit/emitarm64.cpp
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraarmarch.cpp
  src/jit/scopeinfo.cpp
  src/jit/simd.cpp
  src/jit/simdcodegenxarch.cpp
  src/jit/ssabuilder.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen, easy

#22273 ALC enhancements
  src/System.Private.CoreLib/shared/System/Reflection/Assembly.cs
  src/System.Private.CoreLib/shared/System/Runtime/Loader/AssemblyLoadContext.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  tests/src/Loader/AssemblyLoadContext30Extensions/AssemblyLoadContext30Extensions.cs
  tests/src/Loader/AssemblyLoadContext30Extensions/AssemblyLoadContext30Extensions.csproj
Labels: area-System.Runtime

#23468 Fix Helix queue names
  eng/platform-matrix.yml
Labels: area-Infrastructure

#23523 Restrict Ubuntu.1404.Arm32.Open from running against PRs
  eng/platform-matrix.yml
Labels: area-Infrastructure

#23535 Exclude failing in PRs tests.
  tests/issues.targets
Labels: disabled-test

#23495 Delete `setup_coredis_tools` from runtest.py.
  tests/runtest.py
Labels: GCStress, area-Infrastructure, os-linux

#23540 Exclude failing in PRs tests 2.
  tests/issues.targets
Labels: disabled-test

#23491 Delete simple unused vars2
  src/jit/emitarm64.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraarmarch.cpp
  src/jit/scopeinfo.cpp
  src/jit/simd.cpp
  src/jit/simdcodegenxarch.cpp
  src/jit/ssabuilder.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen, easy

#23145 Correctly marshal structure return values in member functions on Win-x64 and Win-x86
  src/vm/dllimport.cpp
  src/vm/dllimport.h
  src/vm/ilmarshalers.h
  src/vm/stubgen.cpp
  src/vm/stubgen.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/COM/NETClients/Primitives/NumericTests.cs
  tests/src/Interop/COM/NETServer/NumericTesting.cs
  tests/src/Interop/COM/NativeClients/Primitives/NumericTests.cpp
  tests/src/Interop/COM/NativeServer/NumericTesting.h
  tests/src/Interop/COM/ServerContracts/Server.Contracts.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
  tests/src/Interop/PInvoke/Miscellaneous/ThisCall/CMakeLists.txt
  tests/src/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallNative.cpp
  tests/src/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallTest.cs
  tests/src/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallTest.csproj
Labels: area-Interop

#23566 exclude JIT/Methodical/flowgraph/dev10_bug679955/volatileLocal1/
  tests/issues.targets
Labels: disabled-test

#22963 Use GenTreeStmt* where it is implied.
  src/jit/assertionprop.cpp
  src/jit/block.cpp
  src/jit/block.h
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/copyprop.cpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gtlist.h
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/liveness.cpp
  src/jit/loopcloning.cpp
  src/jit/loopcloning.h
  src/jit/lsra.h
  src/jit/morph.cpp
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/rangecheck.h
  src/jit/rationalize.cpp
  src/jit/rationalize.h
  src/jit/simd.cpp
  src/jit/ssabuilder.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen, enhancement

#23578 Make tracelogging GCStressIncompatible.
  tests/src/tracing/tracevalidation/tracelogging/tracelogging.csproj
Labels: GCStress, disabled-test

#23576 Increase GCStress test timeouts.
  eng/test-job.yml
Labels: area-Infrastructure

#23579 Remove Fedora runs.
  eng/platform-matrix.yml
Labels: area-Infrastructure

#23586 Implement IEquatable to Memory and ReadOnlyMemory
  src/System.Private.CoreLib/shared/System/Memory.cs
  src/System.Private.CoreLib/shared/System/ReadOnlyMemory.cs
Labels: area-System.Memory
