Repository dotnet/coreclr, pull requests merged in 2019-05, with the labels that each got.

#24332 Fix module override effect on method instantiating signature
  src/vm/zapsig.cpp
Labels: area-CrossGen/NGEN

#24349 Add Series/CounterType to CounterPayload and IncrementingCounterPayload
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterPayload.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/DiagnosticCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/IncrementingEventCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/IncrementingPollingCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/PollingCounter.cs
Labels: area-Tracing

#24252 When QuickJit is enabled, disable it for methods that contain loops by default
  Documentation/project-docs/clr-configuration-knobs.md
  src/inc/clrconfigvalues.h
  src/inc/corinfo.h
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/vm/callcounter.cpp
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/jitinterface.cpp
  src/vm/methodtablebuilder.cpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  tests/src/JIT/Directed/IL/Tailcall/ExplicitTailCallNoSO.il
  tests/src/JIT/Directed/IL/Tailcall/ExplicitTailCallNoSO.ilproj
Labels: area-TieredCompilation

#24361 Make sure the thread running EventPipe::Disable is registered with the thread store so that rundown events can be collected
  src/vm/eventpipe.cpp
Labels: EventPipe, area-Tracing

#24357 Make sure we check the second buffer's creation date before we return
  src/vm/eventpipebuffermanager.cpp
Labels: EventPipe, area-Tracing

#24363 Fix GCStress for multireg returns.
  src/vm/gccover.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.cs
  tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.csproj
Labels: GCStress

#24362 Change our DateTime marshalling tests to be culture-independent.
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/DateTime/CMakeLists.txt
  tests/src/Interop/PInvoke/DateTime/DateTimeTest.cs
  tests/src/Interop/PInvoke/DateTime/NativeDateTime.cpp
Labels: area-Interop, test bug

#24384 Fix EventPipe initialization order
  src/vm/ceemain.cpp
Labels: EventPipe, area-Tracing

#24347 Use our local-built instances of tools from Microsoft.DotNet.BuildTools.CoreClr instead of using the package.
  CMakeLists.txt
  build.cmd
  init-tools.msbuild
  src/dlls/mscoree/coreclr/CMakeLists.txt
  src/pal/tools/gen-buildsys-win.bat
  src/tools/CMakeLists.txt
  src/tools/GenClrDebugResource/CMakeLists.txt
  src/tools/InjectResource/CMakeLists.txt
  src/tools/InjectResource/InjectResource.cpp
Labels: area-Build

#24365 Re-enable EventSourceTrace test
  tests/issues.targets
Labels: area-Tracing

#24374 Fix incorrect tier reported by SOS
  src/vm/CMakeLists.txt
  src/vm/callcounter.cpp
  src/vm/callcounter.h
  src/vm/jitinterface.cpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
Labels: area-TieredCompilation

#24392 Revert "Fix GCStress for multireg returns. "
  src/vm/gccover.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.cs
  tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.csproj
Labels: GCStress

#24157 Reenable tests
  tests/CoreFX/CoreFX.issues.json
Labels: area-System.Runtime

#24285 Port all managed product binaries to use SDK style projects
  Directory.Build.props
  build.cmd
  build.proj
  build.sh
  clr.coreclr.props
  clr.featuredefines.props
  dir.common.props
  dir.props
  global.json
  pgosupport.cmake
  src/.nuget/optdata/ibcmerge.csproj
  src/.nuget/optdata/optdata.csproj
  src/Directory.Build.props
  src/Directory.Build.targets
  src/System.Private.CoreLib/Common/System/SR.cs
  src/System.Private.CoreLib/GenerateCompilerResponseFile.targets
  src/System.Private.CoreLib/ILLink.targets
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/System/Threading/Tasks/TplEventSource.cs
  src/System.Private.CoreLib/src/System/Internal.cs
  src/ToolBox/SOS/NETCore/SOS.NETCore.csproj
  src/build.proj
  src/scripts/check-definitions.py
  src/tools/r2rdump/R2RDump.csproj
  tests/scripts/optdata/optdata.csproj
  tests/src/dir.targets
Labels: area-Infrastructure

#24387 Handle E_NOTIMPL return from CoInitializeEx.
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/threads.cpp
  tests/src/JIT/Methodical/eh/deadcode/loopstrswitchgoto.cs
  tests/src/JIT/Methodical/eh/finallyexec/switchincatch.cs
  tests/src/JIT/Methodical/eh/interactions/gcincatch.cs
  tests/src/JIT/Methodical/eh/interactions/strswitchfinal.cs
  tests/src/JIT/Methodical/eh/interactions/switchinfinally.cs
  tests/src/JIT/Methodical/eh/regress/asurt/122239/outermostFinally.cs
  tests/src/JIT/Regression/VS-ia64-JIT/M00/b111192/strswitch2.cs
  tests/src/JIT/Regression/VS-ia64-JIT/M00/b98431/ConsoleApplication2.il
  tests/src/JIT/Regression/VS-ia64-JIT/M00/b99403/cbyte7a.il
  tests/src/Loader/classloader/generics/Variance/Regressions/dev10_468712/dev10_468712.il
  tests/src/Loader/classloader/regressions/91888/pumpFromCctor.cs
  tests/src/baseservices/compilerservices/RuntimeHelpers/ExecuteCodeWithGuaranteedCleanup.cs
  tests/src/baseservices/threading/interlocked/compareexchange/compareexchangefloat.cs
  tests/src/baseservices/threading/interlocked/compareexchange/compareexchangeintptr.cs
  tests/src/baseservices/threading/interlocked/compareexchange/compareexchangeobject.cs
  tests/src/baseservices/threading/interlocked/exchange/exchangefloat.cs
  tests/src/baseservices/threading/interlocked/exchange/exchangeobject.cs
Labels: area-Interop, os-windows

#24367 Move the Formatting jobs over to AzDO
  azure-pipelines.yml
  eng/format-job.yml
  netci.groovy
  tests/scripts/format.py
Labels: area-Infrastructure

#24415 Add new CoreFX exclusions.
  tests/arm/corefx_test_exclusions.txt
  tests/arm64/corefx_linux_test_exclusions.txt
Labels: disabled-test, test-corefx

#24421 Add ZapDisable and TailCallStress ADO testing.
  azure-pipelines.yml
  eng/test-job.yml
Labels: area-Infrastructure

#24430 Update Microsoft.Build.Traversal SDK to v2.
  global.json
Labels: area-Build

#24463 Exclude MethodImplOptionsTests.
  tests/src/ilasm/System/Runtime/CompilerServices/MethodImplOptionsTests.csproj
Labels: GCStress, disabled-test

#24460 Add generate crash dump command to diagnostics server
  Documentation/botr/xplat-minidump-generation.md
  src/debug/createdump/crashinfo.cpp
  src/pal/inc/pal.h
  src/pal/src/thread/process.cpp
  src/vm/CMakeLists.txt
  src/vm/diagnosticprotocolhelper.cpp
  src/vm/diagnosticprotocolhelper.h
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticserver.h
Labels: area-Diagnostics

#24447 Add GCStress extra jobs.
  azure-pipelines.yml
  eng/test-job.yml
Labels: GCStress, area-Infrastructure

#24452 Add support in SPCL to call into user supplied register and unregiste…
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  tests/src/Interop/COM/Activator/Program.cs
  tests/src/Interop/COM/Activator/Servers/AssemblyA.cs
  tests/src/Interop/COM/Activator/Servers/AssemblyContracts.cs
Labels: os-windows, tenet-compatibility

#24477 Fix scenarios where SPCL is not crossgen'd and the output is not in t…
  build.sh
Labels: area-Build

#24422 Fix ETL event rejit IDs and sending of the IL to native map event when code versioning is in use
  src/debug/ee/debugger.cpp
  src/debug/ee/debugger.h
  src/debug/ee/functioninfo.cpp
  src/inc/eventtracebase.h
  src/vm/dbginterface.h
  src/vm/eventtrace.cpp
  src/vm/prestub.cpp
Labels: area-TieredCompilation

#24450 Remove premature throw
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/vm/appdomain.cpp
Labels: area-AssemblyLoader, tenet-performance

#24486 Return the required padding size instead of the current position to avoid integer overflow.
  src/vm/eventpipeblock.h
  src/vm/fastserializer.cpp
  src/vm/fastserializer.h
Labels: EventPipe, area-Tracing

#24485 Fix ComActivator typo.
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  tests/src/Interop/COM/Activator/Program.cs
Labels: area-Interop

#24512 Fix an overflow issue with EventPipe buffer size
  src/vm/eventpipesession.cpp
Labels: EventPipe, area-Tracing

#24505 Properly set the nuget cache for the repo
  NuGet.config
  build-test.cmd
  build-test.sh
  build.cmd
  build.sh
  dir.common.props
  dir.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/build-job.yml
  init-tools.cmd
  init-tools.sh
  tests/dir.props
  tests/publishdependency.targets
  tests/scripts/arm32_ci_script.sh
  tests/setup-stress-dependencies.sh
Labels: area-Build

#24530 Reenable IJW tests.
  tests/issues.targets
Labels: area-Interop, disabled-test

#24531 Re-enable accidentally disabled tests.
  tests/issues.targets
Labels: area-Interop, disabled-test, os-linux, os-mac-os-x

#24478 Move EventProvider native layout to be driven by CMake configure
  CMakeLists.txt
  build.cmd
  build.sh
  src/binder/v3binder/CMakeLists.txt
  src/binder/v3binder_crossgen/CMakeLists.txt
  src/classlibnative/bcltype/CMakeLists.txt
  src/classlibnative/float/CMakeLists.txt
  src/debug/daccess/CMakeLists.txt
  src/debug/di/CMakeLists.txt
  src/debug/ee/dac/CMakeLists.txt
  src/debug/ee/wks/CMakeLists.txt
  src/gc/CMakeLists.txt
  src/pal/src/CMakeLists.txt
  src/pal/src/eventprovider/CMakeLists.txt
  src/pal/src/eventprovider/dummyprovider/CMakeLists.txt
  src/pal/src/eventprovider/lttngprovider/CMakeLists.txt
  src/pal/src/eventprovider/lttngprovider/eventproviderhelpers.cpp
  src/pal/tests/palsuite/CMakeLists.txt
  src/pal/tests/palsuite/eventprovider/CMakeLists.txt
  src/scripts/genDummyProvider.py
  src/scripts/genEtwProvider.py
  src/scripts/genEventPipe.py
  src/scripts/genEventing.py
  src/scripts/genEventingTests.py
  src/scripts/genLttngProvider.py
  src/strongname/api/crossgen/CMakeLists.txt
  src/strongname/api/dac/CMakeLists.txt
  src/strongname/api/wks/CMakeLists.txt
  src/unwinder/dac/CMakeLists.txt
  src/unwinder/wks/CMakeLists.txt
  src/utilcode/CMakeLists.txt
  src/utilcode/crossgen/CMakeLists.txt
  src/utilcode/dac/CMakeLists.txt
  src/utilcode/dyncrt/CMakeLists.txt
  src/utilcode/staticnohost/CMakeLists.txt
  src/vm/CMakeLists.txt
  src/vm/crossgen/CMakeLists.txt
  src/vm/crossgen_mscorlib/CMakeLists.txt
  src/vm/dac/CMakeLists.txt
  src/vm/eventing/CMakeLists.txt
  src/vm/eventing/EtwProvider/CMakeLists.txt
  src/vm/eventing/eventpipe/CMakeLists.txt
  src/vm/wks/CMakeLists.txt
Labels: EventPipe, area-Build

#24426 Disable a tail call test when using minopts
  tests/src/JIT/Directed/IL/Tailcall/ExplicitTailCallNoSO.ilproj
Labels: area-TieredCompilation

#24519 Fix EventCounter disable logic
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
Labels: area-Tracing

#24539 Cleanup some build files
  cmake.definitions
  dir.props
  oacr.cfg
  src/AUTOEXP.DAT
  src/build.proj
  tests/dir.props
  tests/src/JIT/Methodical/tailcall/Desktop/thread-race.cs
Labels: area-Build

#24556 The PackagesDir property is used in places that expected a trailing s…
  dir.common.props
Labels: area-Build, blocking-official-build

#24558 Was too aggressive with changes to PackageOutputPath property.
  dir.common.props
  dir.props
Labels: area-Build, blocking-official-build

#24523 Add module override for constraint type in method
  src/vm/zapsig.cpp
Labels: area-CrossGen/NGEN

#24524 Fix field signature generation
  src/vm/zapsig.cpp
Labels: area-CrossGen/NGEN

#24562 Miscellaneous build issues
  eng/Version.Details.xml
Labels: area-Build

#24461 Profiler API to request ReJIT with inliners
  src/inc/CrstTypes.def
  src/inc/clrconfigvalues.h
  src/inc/corerror.xml
  src/inc/corprof.idl
  src/inc/crsttypes.h
  src/pal/prebuilt/idl/corprof_i.cpp
  src/pal/prebuilt/inc/corerror.h
  src/pal/prebuilt/inc/corprof.h
  src/vm/ceeload.cpp
  src/vm/ceeload.h
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/crossloaderallocatorhash.h
  src/vm/crossloaderallocatorhash.inl
  src/vm/inlinetracking.cpp
  src/vm/inlinetracking.h
  src/vm/jitinterface.cpp
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/proftoeeinterfaceimpl.h
  src/vm/rejit.cpp
  src/vm/rejit.h
  src/vm/rejit.inl
  tests/src/JIT/opt/ObjectStackAllocation/ObjectStackAllocationTests.csproj
Labels: area-Diagnostics

#24551 Exclude eventsourcetrace from jitstress runs.
  tests/src/tracing/eventsource/eventsourcetrace/eventsourcetrace.csproj
Labels: disabled-test

#24553 Exclude tests that are failing under gc stress
  tests/src/JIT/HardwareIntrinsics/X86/Avx/Avx_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Avx2/Avx2_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse2/Sse2_r.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Sse41/Sse41_r.csproj
  tests/src/JIT/Methodical/ELEMENT_TYPE_IU/_il_relu_fld.ilproj
  tests/src/readytorun/tests/versionbubbles/versionbubbles.csproj
Labels: GCStress, disabled-test

#24570 Disable IJW tests on ARM32
  tests/issues.targets
Labels: area-Interop, disabled-test

#24433 Log the real command line in case the process is started as a service
  src/vm/ceeload.cpp
  src/vm/eventpipe.cpp
Labels: EventPipe, area-Interop, area-Tracing

#24535 Fix a contract violation in ThreadPool.get_CompletedWorkItemCount
  src/System.Private.CoreLib/src/System/Threading/Monitor.cs
  src/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/classlibnative/bcltype/objectnative.cpp
  src/classlibnative/bcltype/objectnative.h
  src/vm/comthreadpool.cpp
  src/vm/comthreadpool.h
  src/vm/ecalllist.h
  src/vm/threads.cpp
Labels: area-System.Threading

#24575 Add explicit cmake dependency between clretwrc and eventing_headers.
  src/dlls/clretwrc/CMakeLists.txt
Labels: EventPipe, area-Build

#24532 Stack size override
  Documentation/project-docs/clr-configuration-knobs.md
  src/inc/clrconfigvalues.h
  src/vm/corhost.cpp
  src/vm/threads.cpp
Labels: area-VM

#24576 Enable QuickJit by default
  src/inc/clrconfigvalues.h
Labels: area-TieredCompilation

#23013 Split the phases of EEClassLayoutInfo::CollectLayoutFieldMetadataThrowing
  src/vm/class.cpp
  src/vm/class.h
  src/vm/fieldmarshaler.cpp
  src/vm/fieldmarshaler.h
  src/vm/methodtablebuilder.cpp
Labels: area-Interop

#23529 Add Managed->Native tests for our WinRT primitives
  build-test.cmd
  tests/src/Common/CoreCLRTestLibrary/Assertion.cs
  tests/src/Common/CoreCLRTestLibrary/Utilities.cs
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/WinRT/Contracts/Component.Contracts.cs
  tests/src/Interop/WinRT/Contracts/Component.Contracts.idl
  tests/src/Interop/WinRT/Contracts/NativeComponent.cs
  tests/src/Interop/WinRT/Contracts/WindowsRuntimeImportAttribute.cs
  tests/src/Interop/WinRT/NETClients/Bindings/BindingTests.cs
  tests/src/Interop/WinRT/NETClients/Bindings/NETClientBindings.csproj
  tests/src/Interop/WinRT/NETClients/Bindings/Program.cs
  tests/src/Interop/WinRT/NETClients/Primitives/ArrayTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/BooleanTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/EnumTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/ExceptionTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/KeyValuePairTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/Interop/WinRT/NETClients/Primitives/NullableTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/Program.cs
  tests/src/Interop/WinRT/NETClients/Primitives/StringTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/TypeTests.cs
  tests/src/Interop/WinRT/NETClients/Primitives/UriTests.cs
  tests/src/Interop/WinRT/NativeComponent/CMakeLists.txt
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.ArrayTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.ArrayTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.BindingProjectionsTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.BindingProjectionsTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.BindingViewModel.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.BindingViewModel.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.BooleanTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.BooleanTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.EnumTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.EnumTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.ExceptionTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.ExceptionTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.KeyValuePairTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.KeyValuePairTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.NullableTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.NullableTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.StringTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.StringTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.TypeTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.TypeTesting.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.UriTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.UriTesting.h
  tests/src/Interop/WinRT/NativeComponent/Exports.def
  tests/src/Interop/WinRT/NativeComponent/pch.h
Labels: area-Interop, os-windows

#24617 Fix parameter names in ToUtf16
  src/System.Private.CoreLib/shared/System/Text/Unicode/Utf8.cs
Labels: area-System.Runtime

#24612 Correcting documentation for span and memory slice
  src/System.Private.CoreLib/shared/System/Memory.cs
  src/System.Private.CoreLib/shared/System/MemoryExtensions.cs
  src/System.Private.CoreLib/shared/System/ReadOnlyMemory.cs
  src/System.Private.CoreLib/shared/System/ReadOnlySpan.Fast.cs
  src/System.Private.CoreLib/shared/System/Span.Fast.cs
Labels: area-System.Memory, documentation

#24618 Add runtime counter for TP work items produced
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSource.cs
Labels: area-Tracing

#24620 add ReadyToRun ADO extra testing.
  azure-pipelines.yml
  eng/test-job.yml
Labels: area-Infrastructure, area-ReadyToRun

#24635 Manually update xunit.console runner package
  eng/Versions.props
Labels: area-Infrastructure

#24632 Disable WinRT NETClientBindings test on ARM/ARM64
  tests/src/Interop/WinRT/NETClients/Bindings/NETClientBindings.csproj
Labels: area-Interop, disabled-test, os-windows, test bug

#24641 Allow the write when the buffer can fit the event exactly
  src/vm/eventpipebuffer.cpp
  src/vm/eventpipebuffer.h
Labels: EventPipe, area-Tracing

#24540 Enable Go To Definition for VSCode in VM
  .gitignore
  src/vm/.vscode/c_cpp_properties.json
Labels: area-Meta

#24611 Add regression test for #24524
  tests/src/Regressions/coreclr/GitHub_24524/test24524.il
  tests/src/Regressions/coreclr/GitHub_24524/test24524.ilproj
Labels: area-ReadyToRun

#24655 Comment the include files that have SOS dependencies
  src/inc/gcdecoder.cpp
  src/inc/gcinfo.h
  src/inc/gcinfodecoder.h
  src/inc/gcinfodumper.h
  src/inc/gcinfotypes.h
  src/inc/stresslog.h
Labels: area-Diagnostics

#24665 Disable Interop/WinRT/NETClients/Primitives test on Nano Server.
  tests/src/Common/CoreCLRTestLibrary/Utilities.cs
  tests/src/Interop/WinRT/NETClients/Bindings/Program.cs
Labels: area-Interop, disabled-test

#24675 Exclude superpmicollect with JitStress on arm.
  tests/src/JIT/superpmi/superpmicollect.csproj
Labels: disabled-test

#24619 Switch NuGet package build to use Arcade instead of BuildTools
  .gitignore
  Directory.Build.props
  build-packages.cmd
  build-packages.sh
  build.cmd
  build.proj
  build.sh
  dependencies.props
  dir.common.props
  dir.props
  dir.targets
  eng/Tools.props
  eng/Versions.props
  eng/build-job.yml
  eng/configure-toolset.ps1
  eng/configure-toolset.sh
  src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/runtime.Windows_NT.Microsoft.NETCore.Runtime.CoreCLR.props
  src/.nuget/dir.props
  src/.nuget/dir.targets
  src/.nuget/init/init.csproj
  src/.nuget/optdata/ibcmerge.csproj
  src/.nuget/optdata/optdata.csproj
  src/.nuget/packages.builds
  src/.nuget/packaging.props
  src/Directory.Build.props
  src/build.proj
  src/restorearcadepublishtasks.proj
Labels: area-Infrastructure

#24690 Update CreateNativeDelegate calling convention
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
Labels: area-Interop

#24695 Add CreateNativeDelegate flags check
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
Labels: area-Interop

#24706 Fix GCToOSInterface::SetCurrentThreadIdealAffinity on Unix
  src/gc/unix/gcenv.unix.cpp
  src/vm/gcenv.os.cpp
Labels: area-GC

#24593 Update build docker images to enable NUMA support
  azure-pipelines.yml
  eng/build-job.yml
  eng/test-job.yml
Labels: area-Build

#24698 Add runtime counter for current assemblies loaded
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSource.cs
  src/System.Private.CoreLib/src/System/Reflection/Assembly.CoreCLR.cs
  src/vm/assembly.cpp
  src/vm/assemblynative.cpp
  src/vm/assemblynative.hpp
  src/vm/ecalllist.h
Labels: area-Tracing

#24139 Track debug info for DynamicMethods in Profiler API
  src/debug/ee/debugger.cpp
  src/inc/clrconfigvalues.h
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/jitinterface.cpp
Labels: area-Diagnostics

#24541 GC Moved Objects Profiler API fix
  src/vm/eventtrace.cpp
Labels: area-Diagnostics

#24729 put lttng probe check under FEATURE_EVENT_TRACE
  src/vm/gcenv.ee.cpp
Labels: area-Tracing

#24725 Remove filter for Exception type during registry inquiry.
  tests/src/Common/CoreCLRTestLibrary/Utilities.cs
Labels: os-windows, test bug

#24732 ComponentActivator GetType must throwOnError
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComponentActivator.cs
Labels: area-Interop

#24731 Change timeouts for outerloop job and move one test to longRunningGc.
  eng/test-job.yml
  tests/src/JIT/Methodical/tailcall/Desktop/_il_relthread-race.csproj
Labels: area-Infrastructure

#24542 Add EnumerateRefs API and remove GetObjectReferences
  src/inc/corprof.idl
  src/pal/prebuilt/inc/corprof.h
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/proftoeeinterfaceimpl.h
Labels: area-Diagnostics

#24670 Profiler attach over the diagnostics pipe
  clrdefinitions.cmake
  crossgen.cmake
  dac.cmake
  src/dlls/mscoree/mscoree.cpp
  src/dlls/mscoree/mscorwks_ntdef.src
  src/inc/corprof.idl
  src/inc/metahost.idl
  src/inc/profilepriv.h
  src/inc/profilepriv.inl
  src/pal/prebuilt/inc/corprof.h
  src/vm/CMakeLists.txt
  src/vm/diagnosticprotocolhelper.cpp
  src/vm/diagnosticprotocolhelper.h
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticserver.h
  src/vm/diagnosticsprotocol.h
  src/vm/finalizerthread.cpp
  src/vm/finalizerthread.h
  src/vm/profattach.cpp
  src/vm/profattach.h
  src/vm/profattach.inl
  src/vm/profattachclient.cpp
  src/vm/profattachclient.h
  src/vm/profattachserver.cpp
  src/vm/profattachserver.h
  src/vm/profattachserver.inl
  src/vm/profilinghelper.cpp
  src/vm/profilinghelper.h
  src/vm/profilinghelper.inl
  src/vm/proftoeeinterfaceimpl.h
  src/vm/threads.cpp
  src/vm/threads.h
Labels: area-Diagnostics

#24737 Prevent duplicate class addition when a profiler adds a type
  src/vm/ceeload.cpp
  src/vm/clsload.cpp
  src/vm/clsload.hpp
Labels: area-Diagnostics

#24607 Add some perf events/data for tiered compilation
  src/ToolBox/SOS/Strike/util.cpp
  src/debug/daccess/request.cpp
  src/inc/corinfo.h
  src/inc/dacprivate.h
  src/inc/eventtracebase.h
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/vm/ClrEtwAll.man
  src/vm/ClrEtwAllMeta.lst
  src/vm/callcounter.cpp
  src/vm/callcounter.h
  src/vm/codeversion.h
  src/vm/common.h
  src/vm/eeconfig.cpp
  src/vm/eventtrace.cpp
  src/vm/eventtrace.inl
  src/vm/jitinterface.cpp
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/methodtablebuilder.cpp
  src/vm/prestub.cpp
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/threads.inl
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
Labels: area-TieredCompilation

#11291 Re-enable queryperformancecounter PAL test
  src/pal/tests/palsuite/paltestlist.txt
  src/pal/tests/palsuite/paltestlist_to_be_reviewed.txt
Labels: area-PAL

#24582 Diagnostics IPC
  src/inc/corerror.xml
  src/pal/prebuilt/inc/corerror.h
  src/vm/CMakeLists.txt
  src/vm/diagnosticprotocolhelper.cpp
  src/vm/diagnosticprotocolhelper.h
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticsprotocol.h
  src/vm/dumpdiagnosticprotocolhelper.cpp
  src/vm/dumpdiagnosticprotocolhelper.h
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
  src/vm/fastserializer.cpp
  src/vm/profilerdiagnosticprotocolhelper.cpp
  src/vm/profilerdiagnosticprotocolhelper.h
Labels: EventPipe, area-Diagnostics, area-Tracing, diagnostic global tooling, enhancement

#24600 Delete RETURNTYPE and change how we get ReturnKind for gccover.
  src/inc/gcinfotypes.h
  src/vm/callhelpers.h
  src/vm/compile.cpp
  src/vm/frames.cpp
  src/vm/gccover.cpp
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/siginfo.hpp
  src/vm/threadsuspend.cpp
Labels: GCStress, area-VM

#24642 Enable LCID marshalling and clean up our LCID marshalling tests.
  src/vm/dllimport.cpp
  src/vm/interoputil.cpp
  src/vm/mscorlib.h
  src/vm/threads.cpp
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/COM/NETClients/IDispatch/Program.cs
  tests/src/Interop/COM/NETClients/Primitives/StringTests.cs
  tests/src/Interop/COM/NETServer/DispatchTesting.cs
  tests/src/Interop/COM/NETServer/StringTesting.cs
  tests/src/Interop/COM/NativeClients/Dispatch.csproj
  tests/src/Interop/COM/NativeClients/Dispatch/App.manifest
  tests/src/Interop/COM/NativeClients/Dispatch/CMakeLists.txt
  tests/src/Interop/COM/NativeClients/Dispatch/Client.cpp
  tests/src/Interop/COM/NativeClients/Dispatch/ClientTests.h
  tests/src/Interop/COM/NativeClients/Dispatch/CoreShim.X.manifest
  tests/src/Interop/COM/NativeClients/Primitives/StringTests.cpp
  tests/src/Interop/COM/NativeServer/DispatchTesting.h
  tests/src/Interop/COM/NativeServer/StringTesting.h
  tests/src/Interop/COM/ServerContracts/Server.Contracts.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
  tests/src/Interop/PInvoke/Attributes/LCID/LCIDNative.cpp
  tests/src/Interop/PInvoke/Attributes/LCID/LCIDTest.cs
  tests/src/Interop/PInvoke/Attributes/LCID/LCIDTest.csproj
Labels: area-Interop

#24762 Arm64: Take more bounds checks into consideration when inlining immediates
  src/jit/lowerarmarch.cpp
Labels: area-CodeGen

#24770 Disable ARM64 IDispatch tests
  tests/issues.targets
Labels: arch-arm64, area-Interop, disabled-test, os-windows

#24771 Make sure all of the calculations of enregistered return types match correctly.
  src/vm/arm/asmconstants.h
  src/vm/arm/asmhelpers.asm
  src/vm/arm64/asmconstants.h
  src/vm/arm64/asmhelpers.asm
  tests/issues.targets
Labels: arch-arm64, area-Interop, os-windows

#24707 Fix module override for recursive generic signatures
  src/vm/siginfo.hpp
  src/vm/zapsig.cpp
  src/vm/zapsig.h
Labels: area-GC

#24801 Fix initial thread affinity on Linux
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/config.h.in
  src/pal/src/configure.cmake
  src/pal/src/misc/sysinfo.cpp
  src/pal/src/thread/thread.cpp
Labels: area-PAL

#24812 Change DllImportPath policy to create unicode-named test library immediately before use
  tests/src/Interop/PInvoke/DllImportPath/CMakeLists.txt
  tests/src/Interop/PInvoke/DllImportPath/DllImportPathTest.cs
Labels: area-Interop

#24417 Create the Concept of Multiple EventPipe Sessions
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
  src/vm/diagnosticserver.h
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeblock.cpp
  src/vm/eventpipebuffer.cpp
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeevent.cpp
  src/vm/eventpipeevent.h
  src/vm/eventpipeeventinstance.cpp
  src/vm/eventpipeeventinstance.h
  src/vm/eventpipeeventsource.cpp
  src/vm/eventpipefile.cpp
  src/vm/eventpipefile.h
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeinternal.h
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventpipesessionprovider.cpp
  src/vm/eventpipesessionprovider.h
  src/vm/sampleprofiler.cpp
  src/vm/sampleprofiler.h
  tests/issues.targets
Labels: EventPipe, area-Tracing

#24825 Specify restore sources in optdata.csproj
  src/.nuget/optdata/optdata.csproj
Labels: area-Build

#20045 Change binary op tree display
  src/jit/gentree.cpp
Labels: area-CodeGen

#23999 Use Ubuntu 14.04-on-16.04 Docker image for arm cross builds.
  azure-pipelines.yml
Labels: area-Infrastructure

#23897 Refactor native build to remove the compiler-override files
  CMakeLists.txt
  configurecompiler.cmake
  configureoptimization.cmake
  src/dlls/mscorpe/CMakeLists.txt
  src/jit/CMakeLists.txt
  src/pal/tools/clang-compiler-override-arm.txt
  src/pal/tools/clang-compiler-override.txt
  src/pal/tools/gcc-compiler-override.txt
  src/pal/tools/gen-buildsys-clang.sh
  src/pal/tools/gen-buildsys-gcc.sh
  src/pal/tools/gen-buildsys-win.bat
  src/pal/tools/windows-compiler-override.txt
  tests/CMakeLists.txt
Labels: area-Build

#20126 Sort out ARM load/store instruction size issues
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/emitarm.cpp
  src/jit/emitarm.h
  src/jit/emitarm64.cpp
  src/jit/emitarm64.h
  src/jit/instr.cpp
Labels: area-CodeGen

#24733 Add COMPlus_Lttng environment variable
  src/inc/clrconfigvalues.h
  src/pal/src/misc/tracepointprovider.cpp
Labels: area-Diagnostics

#24847 Remove all uses of CanRunManagedCode()
  src/vm/ceemain.cpp
  src/vm/clrex.h
  src/vm/comcallablewrapper.cpp
  src/vm/comcallablewrapper.h
  src/vm/comtoclrcall.cpp
  src/vm/corhost.cpp
  src/vm/dllimportcallback.cpp
  src/vm/excep.cpp
  src/vm/excep.h
  src/vm/i386/cgenx86.cpp
  src/vm/runtimeexceptionkind.h
  src/vm/stdinterfaces_wrapper.cpp
  src/vm/threads.cpp
  src/vm/util.cpp
  src/vm/util.hpp
  src/vm/vars.hpp
Labels: area-Interop, area-VM

#24817 Add build-tools.cmd
  src/build.proj
  src/tools/r2rdump/R2RDump.csproj
  src/tools/runincontext/runincontext.csproj
  tests/scripts/runincontext.cmd
  tests/scripts/runincontext.sh
Labels: area-Build

#24865 Add information in docs for required Windows SDK version for test build.
  Documentation/building/windows-instructions.md
Labels: area-Interop, documentation

#24863 Remove unused code in vm/util.*
  src/vm/peimagelayout.cpp
  src/vm/threads.h
  src/vm/util.cpp
  src/vm/util.hpp
Labels: area-VM

#24872 Check that we are using a valid IDispatch invocation flag earlier
  src/vm/dispatchinfo.cpp
Labels: area-Interop

#24881 Fix overlooked moduleIndex initial value
  src/vm/zapsig.cpp
Labels: area-CrossGen/NGEN
