Repository dotnet/coreclr, pull requests merged in 2019-11, with the labels that each got.

#27540 Publish zipped product build bits like we do for test artifacts
  eng/build-job.yml
  eng/build-test-job.yml
  eng/crossgen-comparison-job.yml
  eng/perf-job.yml
  eng/run-test-job.yml
  eng/xplat-pipeline-job.yml
Labels: area-Infrastructure

#27598 Candidate fix for signing errors in official build
  eng/Signing.props
Labels: area-Infrastructure

#27606 Use Version suffix for version properties
  Documentation/building/testing-with-corefx.md
  eng/Versions.props
  eng/helixcorefxtests.proj
  src/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets
  tests/src/Common/CoreFX/CoreFX.csproj
  tests/src/Common/test_dependencies/test_dependencies.csproj
  tests/src/Interop/COM/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/JIT/config/benchmark+intrinsic/benchmark+intrinsic.csproj
  tests/src/JIT/config/benchmark/benchmark.csproj
  tests/src/helixpublishwitharcade.proj
  tests/src/performance/Scenario/JitBench/JitBench.csproj
  tests/src/performance/Scenario/JitBench/Runner/Program.cs
  tests/src/performance/Scenario/JitBench/unofficial_dotnet/JitBench.csproj
  tests/src/performance/performance.csproj
Labels: area-Infrastructure

#27562 Fix GC holes in array marshallers in the field scenario
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/mscorlib.h
  src/vm/olevariant.cpp
Labels: area-Interop

#27554 Implement GC.KeepAlive JIT intrinsic
  src/System.Private.CoreLib/src/System/GC.cs
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/gentree.cpp
  src/jit/gtlist.h
  src/jit/importer.cpp
  src/jit/liveness.cpp
  src/jit/lower.cpp
  src/jit/lsraarm.cpp
  src/jit/lsraarm64.cpp
  src/jit/lsraxarch.cpp
  src/jit/namedintrinsiclist.h
Labels: area-CodeGen

#27614 Disable JIT/Directed/pinvoke/pinvoke-examples test.
  tests/src/JIT/Directed/pinvoke/CMakeLists.txt
  tests/src/JIT/Directed/pinvoke/pinvoke-examples.cs
  tests/src/JIT/Directed/pinvoke/pinvoke-examples.csproj
  tests/src/JIT/Directed/pinvoke/pinvokeexamplenative.cpp
  tests/src/JIT/Directed/pinvoke/tail.il
Labels: area-CodeGen, disabled-test

#27618 Remove FEATURE_VERSIONING_LOG define
  clrdefinitions.cmake
  src/binder/CMakeLists.txt
  src/binder/assemblybinder.cpp
  src/binder/bindinglog.cpp
  src/binder/cdebuglog.cpp
  src/binder/inc/applicationcontext.hpp
  src/binder/inc/applicationcontext.inl
  src/binder/inc/assembly.hpp
  src/binder/inc/assembly.inl
  src/binder/inc/assemblyname.hpp
  src/binder/inc/assemblyname.inl
  src/binder/inc/bindertypes.hpp
  src/binder/inc/bindinglog.hpp
  src/binder/inc/bindinglog.inl
  src/binder/inc/bindresult.hpp
  src/binder/inc/bindresult.inl
  src/binder/inc/cdebuglog.hpp
  src/binder/inc/list.hpp
  src/binder/inc/variables.hpp
  src/binder/variables.cpp
  src/dlls/mscorrc/fuslog.rc
  src/dlls/mscorrc/fusres.h
  src/dlls/mscorrc/include.rc
  src/inc/clrconfigvalues.h
  src/pal/inc/strsafe.h
  src/vm/.vscode/c_cpp_properties.json
  src/vm/coreassemblyspec.cpp
  src/vm/crossgen/CMakeLists.txt
Labels: area-AssemblyLoader

#27542 Clean up jitstd folder.
  src/jit/jitstd.h
  src/jit/jitstd/hash.h
  src/jit/jitstd/hashtable.h
  src/jit/jitstd/jitstd.cpp
  src/jit/jitstd/jitstd.sln
  src/jit/jitstd/jitstd.vcxproj
  src/jit/jitstd/list.h
  src/jit/jitstd/stdafx.cpp
  src/jit/jitstd/stdafx.h
  src/jit/jitstd/targetver.h
  src/jit/jitstd/unordered_map.h
  src/jit/jitstd/unordered_set.h
  src/jit/jitstd/utility.h
Labels: area-CodeGen

#27603 Rewrite a few more array FCalls in C#
  src/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/jithelpers.cs
  src/classlibnative/bcltype/arraynative.cpp
  src/classlibnative/bcltype/arraynative.h
  src/vm/ecalllist.h
Labels: area-System.Runtime

#27621 Make IncrementingEventCounter test less timing-sensitive
  tests/src/tracing/eventcounter/incrementingeventcounter.cs
Labels: area-Tracing

#27624 Introduce YAML variable coreClrRepoRoot
  eng/build-job.yml
  eng/build-test-job.yml
  eng/run-test-job.yml
  eng/xplat-pipeline-job.yml
Labels: area-Infrastructure

#27633 Clean up package restoration in CoreCLR test build
  build-test.cmd
  build-test.sh
Labels: area-Build

#27632 EnvironGetenv: use strncmp instead of strlen and memcmp
  src/pal/src/misc/environ.cpp
Labels: area-PAL

#27625 Compile with gcc 4.8
  configurecompiler.cmake
  src/pal/inc/pal.h
  src/pal/inc/palprivate.h
  src/vm/diagnosticsprotocol.h
  src/vm/dumpdiagnosticprotocolhelper.cpp
Labels: area-Build

#27634 Rewrite of Array.Copy fast path in C#
  src/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/classlibnative/bcltype/arraynative.cpp
  src/classlibnative/bcltype/arraynative.h
  src/vm/ecalllist.h
Labels: area-System.Runtime

#27644 Consolidate *.Fast.cs
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/MemoryExtensions.Globalization.cs
  src/System.Private.CoreLib/shared/System/MemoryExtensions.cs
  src/System.Private.CoreLib/shared/System/ReadOnlySpan.Fast.cs
  src/System.Private.CoreLib/shared/System/ReadOnlySpan.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/MemoryMarshal.Fast.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/MemoryMarshal.cs
  src/System.Private.CoreLib/shared/System/Span.Fast.cs
  src/System.Private.CoreLib/shared/System/Span.cs
Labels: area-System.Memory

#27641 Use simple Array.Copy overload where possible
  src/System.Private.CoreLib/shared/System/Collections/ArrayList.cs
  src/System.Private.CoreLib/shared/System/Collections/Generic/Dictionary.cs
  src/System.Private.CoreLib/shared/System/Collections/Generic/List.cs
  src/System.Private.CoreLib/shared/System/DefaultBinder.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventSource.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/TraceLogging/ConcurrentSet.cs
  src/System.Private.CoreLib/shared/System/Globalization/CultureData.cs
  src/System.Private.CoreLib/shared/System/Globalization/StringInfo.cs
  src/System.Private.CoreLib/shared/System/Runtime/Serialization/SerializationInfo.cs
  src/System.Private.CoreLib/shared/System/Text/EncodingProvider.cs
  src/System.Private.CoreLib/shared/System/Text/StringBuilder.cs
  src/System.Private.CoreLib/shared/System/Threading/AsyncLocal.cs
  src/System.Private.CoreLib/shared/System/Threading/ThreadPool.cs
  src/System.Private.CoreLib/src/System/Attribute.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/TraceLogging/TraceLoggingEventHandleTable.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/CustomAttributeBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/DynamicMethod.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/ILGenerator.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/SignatureHelper.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/SymbolMethod.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/SymbolType.cs
  src/System.Private.CoreLib/src/System/Reflection/RuntimeConstructorInfo.cs
  src/System.Private.CoreLib/src/System/Reflection/RuntimeMethodInfo.cs
  src/System.Private.CoreLib/src/System/Reflection/RuntimePropertyInfo.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
Labels: area-Meta-corelib

#27643 Refactor away jithelpers.cs
  Documentation/botr/mscorlib.md
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/Interop/Unix/Interop.Libraries.cs
  src/System.Private.CoreLib/src/System/ApplicationModel.Windows.cs
  src/System.Private.CoreLib/src/System/Buffer.CoreCLR.cs
  src/System.Private.CoreLib/src/System/CLRConfig.cs
  src/System.Private.CoreLib/src/System/Collections/Generic/Comparer.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Collections/Generic/EqualityComparer.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/XplatEventLogger.cs
  src/System.Private.CoreLib/src/System/Enum.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Environment.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Exception.CoreCLR.cs
  src/System.Private.CoreLib/src/System/GC.cs
  src/System.Private.CoreLib/src/System/IO/FileLoadException.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Reflection/Assembly.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/AQNBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/EventBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/FieldBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/MethodBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/ModuleBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/ParameterBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/PropertyBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/Emit/TypeBuilder.cs
  src/System.Private.CoreLib/src/System/Reflection/LoaderAllocator.cs
  src/System.Private.CoreLib/src/System/Reflection/Metadata/AssemblyExtensions.cs
  src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/System.Private.CoreLib/src/System/Reflection/RuntimeModule.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/QCallHandles.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/jithelpers.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/NativeLibrary.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/System.Private.CoreLib/src/System/Threading/Interlocked.cs
  src/System.Private.CoreLib/src/System/Threading/Monitor.cs
  src/System.Private.CoreLib/src/System/Threading/SynchronizationContext.Uap.cs
  src/System.Private.CoreLib/src/System/Threading/Thread.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Threading/Timer.CoreCLR.cs
  src/System.Private.CoreLib/src/System/TypeLoadException.CoreCLR.cs
  src/System.Private.CoreLib/src/System/TypeNameParser.cs
  src/vm/jitinterface.cpp
  src/vm/mscorlib.h
Labels: area-Meta-corelib

#27640 Delete two more FCalls
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/TraceLogging/InvokeTypeInfo.cs
  src/System.Private.CoreLib/src/System/Exception.CoreCLR.cs
  src/vm/comutilnative.cpp
  src/vm/comutilnative.h
  src/vm/ecalllist.h
  src/vm/object.h
Labels: area-System.Runtime

#27591 Fix Buggy code in TimeZoneInfo
  src/System.Private.CoreLib/shared/System/TimeZoneInfo.cs
Labels: area-System.Runtime

#27568 Implement LeadingSignCount,LeadingZeroCount,PopCount
  src/jit/hwintrinsiclistarm64.h
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_r.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd.Arm64/AdvSimd.Arm64_ro.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_r.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/AdvSimd_ro.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingSignCount.Vector128.Int16.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingSignCount.Vector128.Int32.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingSignCount.Vector128.SByte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingSignCount.Vector64.Int16.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingSignCount.Vector64.Int32.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingSignCount.Vector64.SByte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector128.Byte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector128.Int16.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector128.Int32.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector128.SByte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector128.UInt16.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector128.UInt32.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector64.Byte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector64.Int16.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector64.Int32.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector64.SByte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector64.UInt16.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/LeadingZeroCount.Vector64.UInt32.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/PopCount.Vector128.Byte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/PopCount.Vector128.SByte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/PopCount.Vector64.Byte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/PopCount.Vector64.SByte.cs
  tests/src/JIT/HardwareIntrinsics/Arm/AdvSimd/Program.AdvSimd.cs
  tests/src/JIT/HardwareIntrinsics/Arm/Aes/Aes_r.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/Aes/Aes_ro.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ArmBase.Arm64_r.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/ArmBase.Arm64/ArmBase.Arm64_ro.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/ArmBase/ArmBase_r.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/ArmBase/ArmBase_ro.csproj
  tests/src/JIT/HardwareIntrinsics/Arm/Shared/GenerateTests.csx
  tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.cs
  tests/src/JIT/HardwareIntrinsics/Arm/Shared/Helpers.tt
Labels: arch-arm64, area-CodeGen

#27578 Suspension fixes
  src/gc/gc.cpp
  src/vm/threadsuspend.cpp
Labels: area-GC

#23524 Fix invalid-noreturn warning for __CorHlprThrowOOM in corhlpr.h
  src/inc/check.h
  src/inc/corhlpr.h
  src/inc/gcinfodecoder.h
  src/inc/unreachable.h
Labels: area-Build

#27649 YAML consolidation changes part 2
  eng/build-job.yml
  eng/build-test-job.yml
  eng/checkout-job.yml
  eng/common/templates/job/generate-graph-files.yml
  eng/common/templates/jobs/jobs.yml
  eng/crossgen-comparison-job.yml
  eng/job.yml
  eng/perf-job.yml
  eng/pipelines/ci.yml
  eng/pipelines/corefx-jitstress.yml
  eng/pipelines/corefx-jitstress2-jitstressregs.yml
  eng/pipelines/corefx-jitstressregs.yml
  eng/pipelines/corefx.yml
  eng/pipelines/gc-longrunning.yml
  eng/pipelines/gc-simulator.yml
  eng/pipelines/gcstress-extra.yml
  eng/pipelines/gcstress0x3-gcstress0xc.yml
  eng/pipelines/internal.yml
  eng/pipelines/jitstress-isas-arm.yml
  eng/pipelines/jitstress-isas-x86.yml
  eng/pipelines/jitstress.yml
  eng/pipelines/jitstress2-jitstressregs.yml
  eng/pipelines/jitstressregs-x86.yml
  eng/pipelines/jitstressregs.yml
  eng/pipelines/perf.yml
  eng/pipelines/pr.yml
  eng/pipelines/r2r-extra.yml
  eng/pipelines/r2r.yml
  eng/pipelines/runincontext.yml
  eng/run-performance-job.yml
  eng/run-test-job.yml
  eng/send-to-helix-step.yml
  eng/xplat-job.yml
  eng/xplat-pipeline-job.yml
Labels: area-Infrastructure

#27635 Consolidation resiliency fixes in CoreCLR build scripts
  build-packages.cmd
  build-packages.sh
  build-test.cmd
  build-test.sh
  build.cmd
  build.sh
  dotnet.cmd
  dotnet.sh
  init-dotnet.cmd
  init-dotnet.sh
  tests/build.proj
Labels: area-Build

#27582 Arm64: Add S.P.CoreLib instrinsics for ReverseBitOrder
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/ArmBase.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/ArmBase.cs
Labels: area-CodeGen

#27648 Reduce unneeded forcing to boolean
  src/gc/sample/gcenv.ee.cpp
  src/gc/sample/gcenv.h
  src/gc/unix/events.cpp
  src/md/enc/metamodelrw.cpp
  src/vm/gcenv.ee.cpp
Labels: area-Build

#27515 MethodDetails event
  src/inc/eventtracebase.h
  src/vm/ClrEtwAll.man
  src/vm/ClrEtwAllMeta.lst
  src/vm/eventtrace.cpp
Labels: area-Tracing

#27516 Tweaks to existing BulkType event
  src/inc/eventtracebase.h
  src/vm/ClrEtwAll.man
  src/vm/eventtrace.cpp
Labels: area-Tracing

#27589 Avoid instantiating abstract class
  src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
Labels: area-crossgen2

#27669 Reword comments for policheck
  src/inc/bbsweep.h
  src/pal/inc/rt/specstrings_strict.h
  src/vm/rejit.cpp
Labels: area-Meta

#27660 Move helper pipeline scripts under eng/pipeline/scripts
  eng/pipelines/ci.yml
  eng/pipelines/corefx-jitstress.yml
  eng/pipelines/corefx-jitstress2-jitstressregs.yml
  eng/pipelines/corefx-jitstressregs.yml
  eng/pipelines/corefx.yml
  eng/pipelines/gc-longrunning.yml
  eng/pipelines/gc-simulator.yml
  eng/pipelines/gcstress-extra.yml
  eng/pipelines/gcstress0x3-gcstress0xc.yml
  eng/pipelines/internal.yml
  eng/pipelines/jitstress-isas-arm.yml
  eng/pipelines/jitstress-isas-x86.yml
  eng/pipelines/jitstress.yml
  eng/pipelines/jitstress2-jitstressregs.yml
  eng/pipelines/jitstressregs-x86.yml
  eng/pipelines/jitstressregs.yml
  eng/pipelines/perf.yml
  eng/pipelines/pr.yml
  eng/pipelines/r2r-extra.yml
  eng/pipelines/r2r.yml
  eng/pipelines/readme.md
  eng/pipelines/runincontext.yml
  eng/pipelines/templates/build-job.yml
  eng/pipelines/templates/build-test-job.yml
  eng/pipelines/templates/checkout-job.yml
  eng/pipelines/templates/crossgen-comparison-job.yml
  eng/pipelines/templates/download-artifact-step.yml
  eng/pipelines/templates/finalize-publish.yml
  eng/pipelines/templates/format-job.yml
  eng/pipelines/templates/job.yml
  eng/pipelines/templates/perf-job.yml
  eng/pipelines/templates/platform-matrix.yml
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/run-test-job.yml
  eng/pipelines/templates/send-to-helix-step.yml
  eng/pipelines/templates/test-job.yml
  eng/pipelines/templates/upload-artifact-step.yml
  eng/pipelines/templates/xplat-job.yml
  eng/pipelines/templates/xplat-pipeline-job.yml
Labels: area-Infrastructure

#27397 JIT: cleanup redundant exact type tests
  src/jit/assertionprop.cpp
  src/jit/compiler.h
  src/jit/morph.cpp
Labels: area-CodeGen

#27642 Change BulkMoveWithWriteBarrier to be GC suspension friendly
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/System/Buffer.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Object.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/classlibnative/bcltype/objectnative.cpp
  src/classlibnative/bcltype/objectnative.h
  src/vm/ecalllist.h
Labels: area-VM

#27667 Handling generic attribute in AttributePresenceFilterNode
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/AttributePresenceFilterNode.cs
Labels: area-crossgen2

#27571 Some follow up changes after the cast caching change
  src/classlibnative/bcltype/arraynative.cpp
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/daccess/nidump.cpp
  src/debug/daccess/request.cpp
  src/vm/array.cpp
  src/vm/ceeload.cpp
  src/vm/ceeload.h
  src/vm/class.cpp
  src/vm/clsload.cpp
  src/vm/comdelegate.cpp
  src/vm/custommarshalerinfo.cpp
  src/vm/gchelpers.cpp
  src/vm/interoputil.cpp
  src/vm/jitinterface.cpp
  src/vm/methodtable.cpp
  src/vm/methodtable.h
  src/vm/methodtable.inl
  src/vm/object.cpp
  src/vm/object.h
  src/vm/object.inl
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/runtimehandles.cpp
  src/vm/typedesc.cpp
  src/vm/typedesc.h
  src/vm/typehandle.cpp
  src/vm/typehandle.h
  src/vm/typestring.cpp
  src/vm/zapsig.cpp
Labels: area-TypeSystem

#27581 Prevent DivideByZeroException in EventCounter.ToString()
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventCounter.cs
Labels: area-Tracing

#23890 Update Profiler Loading.md
  Documentation/Profiling/Profiler Loading.md
Labels: area-Diagnostics

#27605 Add gcc9 config and remove ZeroInit macro
  build-test.sh
  build.sh
  src/inc/dacprivate.h
Labels: area-Diagnostics

#27576 Enable rejit feature on all cpu architectures
  clrdefinitions.cmake
Labels: area-Diagnostics

#27673 Move p/invoke pregeneration out of single-exe branch
  src/tools/crossgen2/Common/JitInterface/CorInfoImpl.Intrinsics.cs
  src/tools/crossgen2/Common/JitInterface/CorInfoImpl.cs
  src/tools/crossgen2/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
  src/tools/crossgen2/Common/TypeSystem/IL/EcmaMethodIL.cs
  src/tools/crossgen2/Common/TypeSystem/IL/Stubs/PInvokeILCodeStreams.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/InteropTypes.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/MarshalAsDescriptor.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/CompilationModuleGroup.ReadyToRun.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilation.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunSingleAssemblyCompilationModuleGroup.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/SingleMethodCompilationModuleGroup.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/IL/ReadyToRunILProvider.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/IL/Stubs/PInvokeILEmitter.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/tools/crossgen2/ILCompiler.ReadyToRun/Interop/IL/Marshaller.ReadyToRun.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  src/vm/prestub.cpp
Labels: area-crossgen2

#21711 Improve init/copy block codegen
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/lower.h
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarmarch.cpp
  src/jit/lsraxarch.cpp
Labels: area-CodeGen

#27698 Fix intermittent arm/arm64 Linux build failures
  src/pal/src/eventprovider/lttngprovider/CMakeLists.txt
Labels: area-Build

#27700 Add Span.Sort, and make Array.Sort span-based
  src/System.Private.CoreLib/shared/System/Array.cs
  src/System.Private.CoreLib/shared/System/Collections/Generic/ArraySortHelper.cs
  src/System.Private.CoreLib/shared/System/Collections/Generic/List.cs
  src/System.Private.CoreLib/shared/System/MemoryExtensions.cs
  src/System.Private.CoreLib/shared/System/ThrowHelper.cs
  src/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Collections/Generic/ArraySortHelper.CoreCLR.cs
  src/classlibnative/bcltype/arrayhelpers.cpp
  src/classlibnative/bcltype/arrayhelpers.h
  src/vm/ecalllist.h
Labels: area-System.Runtime

#27697 Revert changes to tryrun.cmake
  cross/tryrun.cmake
Labels: area-Infrastructure

#27355 Implement comparisons for all ObjectNodes
  src/tools/crossgen2/Common/Compiler/DependencyAnalysis/ArrayOfEmbeddedPointersNode.cs
  src/tools/crossgen2/Common/Compiler/DependencyAnalysis/EmbeddedPointerIndirectionNode.cs
  src/tools/crossgen2/Common/Compiler/DependencyAnalysis/SortableDependencyNode.cs
  src/tools/crossgen2/Common/TypeSystem/Ecma/EcmaModule.Sorting.cs
  src/tools/crossgen2/ILCompiler.DependencyAnalysisFramework/DependencyAnalyzer.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedCorHeaderNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedFieldRvaNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedManagedResourcesNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedMetadataBlobNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedStrongNameSignatureNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelayLoadHelperImport.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelayLoadHelperMethodImport.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/DelegateCtorSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ExternalMethodImport.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/FieldFixupSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GCRefMapNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/GenericLookupSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/Import.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportSectionNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportSectionsTableNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportThunk.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/LocalMethodImport.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodFixupSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodGCInfoNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodWithGCInfo.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ModuleToken.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/NewArrayFixupSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/NewObjectFixupSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/PrecodeHelperImport.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/PrecodeMethodImport.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ProfileDataNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ProfileDataSectionNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/RuntimeFunctionsGCInfoNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/Signature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureContext.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/SignatureEmbeddedPointerIndirectionNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/StringImport.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/StringImportSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/TypeFixupSignature.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/Win32ResourcesNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunSymbolNodeFactory.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunTableManager.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/tools/crossgen2/ILCompiler.ReadyToRun/JitInterface/CorInfoImpl.ReadyToRun.cs
  tests/src/readytorun/determinism/Program.cs
  tests/src/readytorun/determinism/crossgen2determinism.csproj
Labels: area-crossgen2

#27558 Populate properties of AssemblyLoadStart/Stop events
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/ActivityTracker.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/binder/activitytracker.cpp
  src/binder/bindertracing.cpp
  src/binder/inc/bindertracing.h
  src/vm/ClrEtwAll.man
  src/vm/appdomain.cpp
  src/vm/assemblynative.cpp
  src/vm/assemblyspec.cpp
  src/vm/baseassemblyspec.h
  src/vm/coreassemblyspec.cpp
  tests/src/Loader/binding/tracing/AssemblyToLoad.cs
  tests/src/Loader/binding/tracing/AssemblyToLoad.csproj
  tests/src/Loader/binding/tracing/BinderEventListener.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.csproj
Labels: area-AssemblyLoader

#27060 Improve Math(F).FusedMultiplyAdd codegen
  src/jit/instrsxarch.h
  src/jit/lower.h
  src/jit/lowerxarch.cpp
  tests/src/JIT/Intrinsics/MathFusedMultiplyAdd.cs
  tests/src/JIT/Intrinsics/MathFusedMultiplyAdd_r.csproj
  tests/src/JIT/Intrinsics/MathFusedMultiplyAdd_ro.csproj
Labels: area-CodeGen

#27702 Fix VN for byrefx on x86.
  src/jit/valuenum.cpp
  src/jit/valuenum.h
  tests/src/JIT/Regression/JitBlue/GitHub_27279/GitHub_27279.cs
  tests/src/JIT/Regression/JitBlue/GitHub_27279/GitHub_27279.csproj
Labels: arch-x86, area-CodeGen

#26732 Remove silent catch
  src/System.Private.CoreLib/src/System/StubHelpers.cs
Labels: area-Interop

#27567 [test] Improve diagnostics for failures in IPC/EventPipe tests
  tests/src/tracing/eventpipe/common/IpcTraceTest.cs
  tests/src/tracing/eventpipe/common/StreamProxy.cs
  tests/src/tracing/eventpipe/common/common.csproj
Labels: EventPipe, area-Tracing

#26262 Feature: dynamic expansion for generic dictionaries
  Documentation/botr/shared-generics.md
  src/debug/daccess/nidump.cpp
  src/vm/appdomain.cpp
  src/vm/ceeload.cpp
  src/vm/ceeload.h
  src/vm/class.cpp
  src/vm/class.h
  src/vm/clsload.cpp
  src/vm/clsload.hpp
  src/vm/genericdict.cpp
  src/vm/genericdict.h
  src/vm/generics.cpp
  src/vm/genmeth.cpp
  src/vm/jitinterface.cpp
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/methodtable.cpp
  src/vm/methodtable.h
  src/vm/methodtable.inl
  src/vm/methodtablebuilder.cpp
  src/vm/prestub.cpp
Labels: area-TypeSystem

#27445 Change the SSA def node to ASG
  src/jit/compiler.h
  src/jit/earlyprop.cpp
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/rangecheck.h
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
  src/jit/valuenum.cpp
Labels: area-CodeGen

#27717 Move tryrun to importing project
  src/pal/tools/gen-buildsys.sh
  src/pal/tools/tryrun.cmake
Labels: area-Infrastructure

#27701 Delete some dead code from vm/threads.cpp/.h
  src/debug/daccess/daccess.cpp
  src/debug/daccess/dacfn.cpp
  src/inc/vptr_list.h
  src/strongname/api/common.h
  src/vm/common.h
  src/vm/comthreadpool.cpp
  src/vm/threads.cpp
  src/vm/threads.h
Labels: area-System.Threading

#27676 Support custom modifier for method signature
  src/tools/crossgen2/Common/TypeSystem/Common/MethodDesc.cs
  src/tools/crossgen2/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
Labels: area-crossgen2

#27704 Fix unquoted path parameters in Microsoft.NET.Sdk.IL.targets
  src/.nuget/Microsoft.NET.Sdk.IL/targets/Microsoft.NET.Sdk.IL.targets
Labels: area-Infrastructure

#27718 Crossgen2 node size relocation
  src/tools/crossgen2/Common/Compiler/DependencyAnalysis/ObjectDataBuilder.cs
  src/tools/crossgen2/Common/Compiler/DependencyAnalysis/Relocation.cs
  src/tools/crossgen2/Common/Compiler/DependencyAnalysis/SortableDependencyNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/AttributePresenceFilterNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/CopiedCorHeaderNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/HeaderNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportSectionNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ImportSectionsTableNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/MethodEntryPointTableNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/RuntimeFunctionsTableNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/RelocationHelper.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/ObjectWriter/SectionBuilder.cs
Labels: area-crossgen2

#27705 Use preinstalled system dotnet if its version matches
  dotnet.cmd
  dotnet.sh
  eng/configure-toolset.ps1
  init-dotnet.cmd
  init-dotnet.sh
  tests/build.proj
Labels: area-Build

#27726 Minor cleanup in download-artifact-step / upload-artifact-step
  eng/pipelines/templates/build-job.yml
  eng/pipelines/templates/build-test-job.yml
  eng/pipelines/templates/checkout-job.yml
  eng/pipelines/templates/crossgen-comparison-job.yml
  eng/pipelines/templates/download-artifact-step.yml
  eng/pipelines/templates/perf-job.yml
  eng/pipelines/templates/run-test-job.yml
  eng/pipelines/templates/upload-artifact-step.yml
  eng/pipelines/templates/xplat-job.yml
Labels: area-Infrastructure

#27727 Remove root cross folder in favor of eng/common/cross
  Documentation/building/cross-building.md
  build-test.sh
  build.sh
  cross/android/arm/toolchain.cmake
  cross/android/arm/tryrun.cmake
  cross/android/arm64/toolchain.cmake
  cross/android/arm64/tryrun.cmake
  cross/arm/sources.list.bionic
  cross/arm/sources.list.jessie
  cross/arm/sources.list.trusty
  cross/arm/sources.list.vivid
  cross/arm/sources.list.wily
  cross/arm/sources.list.xenial
  cross/arm/sources.list.zesty
  cross/arm/trusty-lttng-2.4.patch
  cross/arm/trusty.patch
  cross/arm64/sources.list.bionic
  cross/arm64/sources.list.trusty
  cross/arm64/sources.list.vivid
  cross/arm64/sources.list.wily
  cross/arm64/sources.list.xenial
  cross/arm64/sources.list.zesty
  cross/armel/sources.list.jessie
  cross/armel/tizen-build-rootfs.sh
  cross/armel/tizen-fetch.sh
  cross/armel/tizen/tizen-dotnet.ks
  cross/armel/tizen/tizen.patch
  cross/build-android-rootfs.sh
  cross/build-rootfs.sh
  cross/toolchain.cmake
  cross/x86/sources.list.bionic
  cross/x86/sources.list.trusty
  cross/x86/sources.list.vivid
  cross/x86/sources.list.wily
  cross/x86/sources.list.xenial
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/cross/toolchain.cmake
  global.json
  src/pal/tools/gen-buildsys.sh
  tests/scripts/arm32_ci_script.sh
  tests/scripts/arm32_ci_test.sh
Labels: area-Infrastructure

#27663 Arm64: Add S.P.CoreLib instrinsics for AddAcross
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.cs
Labels: area-CodeGen

#27685 Fix dotnet-coreclr-perf pipeline
  eng/pipelines/templates/run-performance-job.yml
  eng/pipelines/templates/xplat-job.yml
  eng/pipelines/templates/xplat-pipeline-job.yml
Labels: area-Infrastructure

#27688 Updating NumberToFloatingPointBitsSlow to handle the remaining parsed fractional digits being zero.
  src/System.Private.CoreLib/shared/System/Number.NumberToFloatingPointBits.cs
Labels: area-System.Numerics

#27736 Add ILLink.Tasks to Version.Details.xml
  eng/Version.Details.xml
Labels: area-Infrastructure

#27439 Check we don't marshal out parameters in SizeParamIndex test
  tests/src/Interop/PInvoke/SizeParamIndex/PInvoke/helper.h
Labels: area-Interop

#27746 Port IsBlittable fix and related changes from single-exe
  src/tools/crossgen2/Common/TypeSystem/Ecma/EcmaField.cs
  src/tools/crossgen2/Common/TypeSystem/Ecma/EcmaSignatureParser.cs
  src/tools/crossgen2/Common/TypeSystem/Ecma/EcmaType.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/FieldDesc.Interop.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/IL/MarshalHelpers.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/IL/MarshalUtils.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/IL/Marshaller.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/InteropTypes.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/MarshalAsDescriptor.cs
  src/tools/crossgen2/Common/TypeSystem/Interop/MetadataType.Interop.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/ILCompiler.ReadyToRun.csproj
  src/tools/crossgen2/ILCompiler.TypeSystem.ReadyToRun/ILCompiler.TypeSystem.ReadyToRun.csproj
Labels: area-crossgen2

#27730 Arm64: Add S.P.CoreLib instrinsics ZipLow and ZipHigh
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.cs
Labels: area-CodeGen

#27753 Miscellaneous cleanup to the NativeLibrary tests
  tests/src/Interop/NativeLibrary/NativeLibraryTests.cs
Labels: area-VM

#27731 Arm64: Add S.P.CoreLib instrinsics UnzipEven and UnzipOdd
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.PlatformNotSupported.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Arm/AdvSimd.cs
Labels: area-CodeGen

#27751 Leftover changes after rebasing my runtime changes against CoreCLR
  build.cmd
  dotnet.cmd
  eng/pipelines/templates/send-to-helix-step.yml
  eng/pipelines/templates/xplat-pipeline-job.yml
  tests/setup-stress-dependencies.sh
Labels: area-Infrastructure

#27738 Fix r2r-extra job definition (incorrect placement of testGroup)
  eng/pipelines/r2r-extra.yml
Labels: area-Infrastructure

#27520 Crossgen2 CI Pipeline
  build-test.cmd
  build-test.sh
  eng/pipelines/crossgen2.yml
  eng/pipelines/templates/run-test-job.yml
  eng/pipelines/templates/send-to-helix-step.yml
  tests/runtest.cmd
  tests/runtest.py
  tests/runtest.sh
  tests/src/CLRTest.CrossGen.targets
  tests/src/helixpublishwitharcade.proj
Labels: area-crossgen2

#27767 Fix exclusion of the Common folder in runtest.proj
  tests/src/runtest.proj
Labels: area-Build

#27766 Fix sequential layout for classes
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
Labels: area-crossgen2

#27720 Use cross-module R2R generics from main module with version bubble
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/CompilationModuleGroup.ReadyToRun.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRun/ManifestMetadataTableNode.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/DependencyAnalysis/ReadyToRunCodegenNodeFactory.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunSingleAssemblyCompilationModuleGroup.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/SingleMethodCompilationModuleGroup.cs
  src/vm/prestub.cpp
Labels: area-crossgen2

#27577 Fix struct assignment where types differ
  src/jit/importer.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_27551/GitHub_27551.cs
  tests/src/JIT/Regression/JitBlue/GitHub_27551/GitHub_27551.csproj
Labels: area-CodeGen

#27748 Fix mismatched type IND(LCL_VAR_ADDR) folding in RewriteSIMDOperand
  src/jit/compiler.h
  src/jit/rationalize.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_27405/GitHub_27405.cs
  tests/src/JIT/Regression/JitBlue/GitHub_27405/GitHub_27405.csproj
Labels: area-CodeGen

#27268 Improve Encoding.UTF8.GetString / GetChars performance for small inputs
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Text/UTF8Encoding.Sealed.cs
  src/System.Private.CoreLib/shared/System/Text/UTF8Encoding.cs
Labels: area-System.Runtime

#27774 Avoid promoting over-sized intrinsic
  src/jit/lclvars.cpp
Labels: area-CodeGen

#27783 Fix computation of offset of n-th item in an array in PC_REL_OFFSET(_field)
  src/vm/arm64/virtualcallstubcpu.hpp
Labels: arch-arm64, area-VM

#27777 Pre-consolidation mop-up fixes part 2 (mostly path shuffles)
  build-test.sh
  build.sh
  eng/pipelines/templates/build-job.yml
  eng/pipelines/templates/build-test-job.yml
  eng/pipelines/templates/job.yml
  src/pal/tools/gen-buildsys.sh
  tryrun.cmake
Labels: area-Build

#27775 Move AssemblyLoadContext.GetResolvedUnmanagedDll to shared
  src/System.Private.CoreLib/shared/System/Runtime/Loader/AssemblyLoadContext.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
Labels: area-AssemblyLoader

#27776 Change BulkMoveWithWriteBarrier to be GC suspension friendly
  src/System.Private.CoreLib/src/System/Buffer.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Object.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Runtime/CompilerServices/RuntimeHelpers.CoreCLR.cs
  src/classlibnative/bcltype/objectnative.cpp
  src/classlibnative/bcltype/objectnative.h
  src/vm/ecalllist.h
Labels: area-GC

#27703 Rewrite the rest of the array non-generic fast paths in C#
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/shared/System/Array.cs
  src/System.Private.CoreLib/shared/System/Buffer.cs
  src/System.Private.CoreLib/shared/System/Runtime/CompilerServices/RuntimeHelpers.cs
  src/System.Private.CoreLib/shared/System/RuntimeType.cs
  src/System.Private.CoreLib/shared/System/ThrowHelper.cs
  src/System.Private.CoreLib/src/System/Array.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Buffer.CoreCLR.cs
  src/classlibnative/bcltype/CMakeLists.txt
  src/classlibnative/bcltype/arrayhelpers.cpp
  src/classlibnative/bcltype/arrayhelpers.h
  src/classlibnative/bcltype/arraynative.cpp
  src/classlibnative/bcltype/arraynative.h
  src/vm/comutilnative.cpp
  src/vm/comutilnative.h
  src/vm/ecalllist.h
  src/vm/mscorlib.cpp
Labels: area-System.Runtime

#27792 Rewrite Enum.CompareTo in C#
  src/System.Private.CoreLib/shared/System/Enum.cs
  src/System.Private.CoreLib/src/System/Enum.CoreCLR.cs
  src/vm/ecalllist.h
  src/vm/reflectioninvocation.cpp
  src/vm/reflectioninvocation.h
Labels: area-VM

#27778 Create a simple minimal MSBuild front-end
  build.sh
  coreclr.proj
Labels: area-Infrastructure

#27799 Update SOS_README.md
  src/ToolBox/SOS/SOS_README.md
Labels: area-Diagnostics, documentation

#27806 Remove unused argument from GetRegionDisplayName
  src/System.Private.CoreLib/shared/System/Globalization/CultureData.Unix.cs
  src/System.Private.CoreLib/shared/System/Globalization/CultureData.Windows.cs
  src/System.Private.CoreLib/shared/System/Globalization/CultureData.cs
Labels: area-System.Globalization

#27801 Suppress ms_struct warnings for non-Intel arches
  src/inc/dacprivate.h
Labels: area-Build

#27182 Implement SetThreadName in PAL for Linux.
  src/dlls/mscordac/mscordac_unixexports.src
  src/pal/inc/pal.h
  src/pal/inc/rt/palrt.h
  src/pal/src/include/pal/thread.hpp
  src/pal/src/thread/thread.cpp
  src/utilcode/winfix.cpp
  src/vm/comsynchronizable.cpp
  src/vm/threads.cpp
  src/vm/win32threadpool.cpp
Labels: area-PAL

#25473 Explicitly enable relro
  configurecompiler.cmake
Labels: area-Build

#27636 Deduplicate some build configuration code
  _build-commons.sh
  build-test.sh
  build.sh
  configuretools.cmake
Labels: area-Build

#27807 Fixing an assert around Avx.ExtractVector128 and Avx2.ExtractVector128
  src/jit/lowerxarch.cpp
Labels: area-CodeGen

#27670 [release/3.1] Reword comments for policheck
  src/inc/bbsweep.h
  src/pal/inc/rt/specstrings_strict.h
  src/vm/rejit.cpp
Labels: area-Meta

#27740 [Release/3.1] stablize package version
  dir.common.props
Labels: area-Infrastructure

#19941 Raw EventListener Design Document
  Documentation/design-docs/raw-eventlistener.md
Labels: area-Diagnostics, area-Tracing

#27737 Use Stream's BeginRead/WriteInternal from FileStream
  src/System.Private.CoreLib/shared/System/IO/FileStream.cs
Labels: area-System.IO

#27817 fix sysctlt compilation error on FreeBSD
  src/pal/src/misc/sysinfo.cpp
Labels: os-freebsd

#27449 Implement alive across call for CSE candidates
  src/jit/block.h
  src/jit/compiler.h
  src/jit/morph.cpp
  src/jit/optcse.cpp
  src/jit/utils.cpp
Labels: area-CodeGen, post-consolidation

#27280 Address bugs in BigInteger
  src/System.Private.CoreLib/shared/System/Number.BigInteger.cs
  src/System.Private.CoreLib/shared/System/Number.Dragon4.cs
Labels: area-System.Runtime

#27815 runtest changes and cleanup
  tests/runtest.cmd
  tests/runtest.py
  tests/runtest.sh
Labels: area-Infrastructure

#27756 Non virtual calls to instance methods non-virtual dispatch
  src/vm/jitinterface.cpp
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/non_virtual_calls_to_instance_methods.cs
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/non_virtual_calls_to_instance_methods.il
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/non_virtual_calls_to_instance_methods.ilproj
Labels: area-TypeSystem

#27788 Add tracing for Resolving/AssemblyResolve event handler invocation
  src/System.Private.CoreLib/shared/System/Runtime/Loader/AssemblyLoadContext.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/vm/ClrEtwAll.man
  src/vm/assemblynative.cpp
  src/vm/assemblynative.hpp
  src/vm/ecalllist.h
  tests/src/Loader/binding/tracing/AssemblyToLoad.csproj
  tests/src/Loader/binding/tracing/BinderEventListener.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.EventHandlers.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.csproj
Labels: area-AssemblyLoader

#27826 Upload the final modified version of the tests that is sent to helix
  eng/pipelines/templates/run-test-job.yml
  eng/pipelines/templates/xplat-pipeline-job.yml
Labels: area-Infrastructure

#27822 Fixing an assert in card stealing.
  src/gc/gc.cpp
Labels: area-GC

#27053 Some GT_BLK/GT_OBJ related cleanup
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gschecks.cpp
  src/jit/importer.cpp
  src/jit/morph.cpp
  src/jit/objectalloc.cpp
  src/jit/rationalize.cpp
  src/jit/rationalize.h
  src/jit/simd.cpp
Labels: area-CodeGen, post-consolidation

#27836 Pre-consolidation mop up fixes #3
  build-test.cmd
  build.sh
  eng/helixcorefxtests.proj
  eng/pipelines/templates/build-test-job.yml
  eng/pipelines/templates/crossgen-comparison-job.yml
  eng/pipelines/templates/perf-job.yml
  eng/pipelines/templates/run-test-job.yml
  tests/runtest.cmd
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByOut/CMakeLists.txt
  tests/src/Interop/PInvoke/SizeParamIndex/ReversePInvoke/PassingByRef/CMakeLists.txt
Labels: area-Infrastructure

#26912 Fix out of range access in GetRecycleMemoryInfo (#26873)
  src/vm/win32threadpool.h
Labels: area-PAL

#20383 Changes to DBG_printf
  src/pal/src/misc/dbgmsg.cpp
Labels: area-PAL

#27842 Fix an AV in crossgen caused by invalid profiling data
  src/vm/ceeload.cpp
Labels: area-CrossGen/NGEN

#27841 Install binaries that are part of shared framework into separate folder
  functions.cmake
  src/ToolBox/SOS/CMakeLists.txt
  src/coreclr/hosts/coreconsole/CMakeLists.txt
  src/coreclr/hosts/corerun/CMakeLists.txt
  src/coreclr/hosts/coreshim/CMakeLists.txt
  src/coreclr/hosts/osxbundlerun/CMakeLists.txt
  src/coreclr/hosts/unixcoreconsole/CMakeLists.txt
  src/coreclr/hosts/unixcorerun/CMakeLists.txt
  src/corefx/System.Globalization.Native/CMakeLists.txt
  src/debug/createdump/CMakeLists.txt
  src/dlls/clretwrc/CMakeLists.txt
  src/dlls/dbgshim/CMakeLists.txt
  src/dlls/mscordac/CMakeLists.txt
  src/dlls/mscordbi/CMakeLists.txt
  src/dlls/mscoree/coreclr/CMakeLists.txt
  src/dlls/mscorrc/full/CMakeLists.txt
  src/dlls/mscorrc/small/CMakeLists.txt
  src/gc/CMakeLists.txt
  src/ilasm/CMakeLists.txt
  src/ildasm/exe/CMakeLists.txt
  src/jit/armelnonjit/CMakeLists.txt
  src/jit/linuxnonjit/CMakeLists.txt
  src/jit/protojit/CMakeLists.txt
  src/jit/protononjit/CMakeLists.txt
  src/jit/standalone/CMakeLists.txt
  src/pal/src/eventprovider/lttngprovider/CMakeLists.txt
  src/tools/crossgen/CMakeLists.txt
  src/tools/crossgen2/jitinterface/CMakeLists.txt
Labels: area-Infrastructure

#27833 Add tracing for handling of dependencies for assemblies loaded through Assembly.LoadFrom
  src/System.Private.CoreLib/shared/System/Reflection/Assembly.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/vm/ClrEtwAll.man
  src/vm/assemblynative.cpp
  src/vm/assemblynative.hpp
  src/vm/ecalllist.h
  tests/src/Loader/binding/tracing/AssemblyToLoad.cs
  tests/src/Loader/binding/tracing/AssemblyToLoad.csproj
  tests/src/Loader/binding/tracing/AssemblyToLoadDependency.cs
  tests/src/Loader/binding/tracing/AssemblyToLoadDependency.csproj
  tests/src/Loader/binding/tracing/BinderEventListener.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.EventHandlers.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.cs
  tests/src/Loader/binding/tracing/BinderTracingTest.csproj
Labels: area-AssemblyLoader

#27839 Fix assert when extending lifetimes
  src/jit/lsra.cpp
Labels: area-CodeGen

#27854 Make SuperILC execute .cmd/.sh only
  src/tools/ReadyToRun.SuperIlc/BuildFolder.cs
Labels: area-crossgen2

#27852 Run the format job in a temp dir
  tests/scripts/format.py
Labels: area-Infrastructure

#27274 Fix Vector128 and Vector256 WithUpper documentation
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Vector128.cs
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Vector256.cs
Labels: area-System.Runtime

#27853 Fix SIMD intrinsics handling in crossgen2
  src/tools/crossgen2/Common/Compiler/VectorFieldLayoutAlgorithm.cs
  src/tools/crossgen2/Common/JitInterface/CorInfoImpl.cs
  src/tools/crossgen2/Common/JitInterface/SystemVStructClassificator.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCompilerContext.cs
Labels: area-crossgen2

#27858 Update CoreLib sources path and import runtime
  Directory.Build.props
  Directory.Build.targets
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
Labels: area-Infrastructure

#27639 Add span-based CopyTo and CopyToAsync methods
  src/System.Private.CoreLib/shared/System/IO/MemoryStream.cs
  src/System.Private.CoreLib/shared/System/IO/Stream.cs
  src/System.Private.CoreLib/shared/System/IO/StreamHelpers.CopyValidation.cs
  src/System.Private.CoreLib/shared/System/IO/UnmanagedMemoryStream.cs
Labels: area-System.IO

#27857 Remove exclusion of two runtime assemblies from build in SuperILC
  src/tools/ReadyToRun.SuperIlc/BuildFolderSet.cs
Labels: area-crossgen2

#27863 Fix RHEL6 build
  functions.cmake
  src/corefx/System.Globalization.Native/CMakeLists.txt
  src/dlls/clretwrc/CMakeLists.txt
  src/dlls/dbgshim/CMakeLists.txt
  src/dlls/mscordac/CMakeLists.txt
  src/dlls/mscordbi/CMakeLists.txt
  src/dlls/mscoree/coreclr/CMakeLists.txt
  src/dlls/mscorrc/full/CMakeLists.txt
  src/dlls/mscorrc/small/CMakeLists.txt
  src/jit/standalone/CMakeLists.txt
  src/tools/crossgen/CMakeLists.txt
Labels: area-Infrastructure, blocking-clean-ci

#27729 Bgc suspension fixes
  src/gc/gc.cpp
Labels: area-GC

#27859 Fix naming in AssemblyLoadFromResolveHandlerInvoked user data template
  src/vm/ClrEtwAll.man
Labels: area-AssemblyLoader

#27481 Adding tests for the new apis to convert between S.Numerics and S.R.Intrinsic vectors
  src/System.Private.CoreLib/shared/System/Runtime/Intrinsics/Vector128.cs
  tests/src/JIT/HardwareIntrinsics/General/Shared/GenerateTests.csx
  tests/src/JIT/HardwareIntrinsics/General/Shared/VectorAsNumericsTest.template
  tests/src/JIT/HardwareIntrinsics/General/Shared/VectorAsNumericsVectorTest.template
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.Byte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.Double.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.Int16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.Int32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.Int64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.SByte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.Single.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.UInt16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.UInt32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/As.UInt64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.Byte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.Double.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.Int16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.Int32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.Int64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.SByte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.Single.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.UInt16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.UInt32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector.UInt64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector2.Single.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector3.Single.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/AsVector4.Single.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/Program.Vector128_1.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/Vector128_1_r.csproj
  tests/src/JIT/HardwareIntrinsics/General/Vector128_1/Vector128_1_ro.csproj
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.Byte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.Double.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.Int16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.Int32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.Int64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.SByte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.Single.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.UInt16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.UInt32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/As.UInt64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.Byte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.Double.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.Int16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.Int32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.Int64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.SByte.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.Single.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.UInt16.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.UInt32.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/AsVector.UInt64.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/Program.Vector256_1.cs
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/Vector256_1_r.csproj
  tests/src/JIT/HardwareIntrinsics/General/Vector256_1/Vector256_1_ro.csproj
Labels: area-CodeGen, post-consolidation

#27795 ARM32 compilation fixes with GCC
  src/ToolBox/superpmi/superpmi-shared/lightweightmap.h
  src/debug/createdump/dumpwriter.cpp
  src/debug/di/rspriv.h
  src/debug/ee/arm/dbghelpers.S
  src/gc/gc.cpp
  src/pal/src/CMakeLists.txt
  src/pal/src/libunwind/src/CMakeLists.txt
  src/unwinder/arm/unwinder_arm.cpp
  src/vm/arm/asmhelpers.S
  src/vm/arm/pinvokestubs.S
  src/vm/arm/stubs.cpp
  src/vm/arm/virtualcallstubcpu.hpp
  src/vm/precode.h
Labels: area-Infrastructure-coreclr

#27282 Improve dominator tree building & walking
  src/jit/block.h
  src/jit/compiler.h
  src/jit/copyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
Labels: area-CodeGen, post-consolidation

#27422 Add ability to patch corefx binaries from a locally built enlistment for coreclr tests
  build-test.cmd
  build-test.sh
  tests/build.proj
  tests/dir.common.props
  tests/runtest.cmd
  tests/scripts/patch-corefx.py
  tests/src/Common/test_dependencies/test_dependencies.csproj
  tests/src/runtest.proj
Labels: area-Infrastructure-coreclr

#27873 Return compGetTieringName printing.
  src/jit/compiler.cpp
Labels: area-CodeGen

#27846 Unifying the type used for number of heaps/locks/threads
  src/gc/gc.cpp
  src/gc/gcpriv.h
Labels: area-GC

#27869 Remove obsolete benchmark projs
  NuGet.config
  tests/build.proj
  tests/src/JIT/config/benchmark+intrinsic/benchmark+intrinsic.csproj
  tests/src/JIT/config/benchmark+roslyn/benchmark+roslyn.csproj
  tests/src/JIT/config/benchmark+serialize/benchmark+serialize.csproj
  tests/src/JIT/config/benchmark/benchmark.csproj
  tests/src/dirs.proj
  tests/src/performance/performance.csproj
Labels: area-Infrastructure-coreclr

#27820 [release/3.0] Fix use of ilasm during test builds when using a 3.0 SDK
  ILAsmVersion.txt
  dependencies.props
  global.json
  init-tools.cmd
  init-tools.sh
  tests/ilasm-restore/Directory.Build.props
  tests/ilasm-restore/Directory.Build.targets
  tests/ilasm-restore/ilasm.depproj
Labels: area-Infrastructure-coreclr

#27214 Add alpine3.10 testing to 3.0
  eng/platform-matrix.yml
Labels: area-Infrastructure-coreclr

#27843 Fix GetSequencePoints when profiler provides mapping via SetILInstrumentedCodeMap (Port #25802)
  src/debug/daccess/dacdbiimpl.cpp
Labels: Servicing-approved, area-Diagnostics

#27295 [Release/2.1] Respect profiler provided IL maps (Port #25802)
  src/debug/daccess/dacdbiimpl.cpp
Labels: Servicing-approved, area-Diagnostics

#27868 Non virtual calls to interface instance methods
  src/vm/jitinterface.cpp
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/non_virtual_calls_to_instance_methods.cs
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/non_virtual_calls_to_instance_methods.il
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/non_virtual_calls_to_instance_methods.ilproj
Labels: Servicing-approved
