Repository dotnet/coreclr, pull requests merged in 2019-09, with the labels that each got.

#25958 Modify amd64walker to use table based decode
  src/debug/ee/amd64/amd64InstrDecode.h
  src/debug/ee/amd64/amd64walker.cpp
  src/debug/ee/amd64/gen_amd64InstrDecode/Amd64InstructioTableGenerator.cs
  src/debug/ee/amd64/gen_amd64InstrDecode/Amd64InstructioTableGenerator.csproj
  src/debug/ee/amd64/gen_amd64InstrDecode/README.md
  src/debug/ee/amd64/gen_amd64InstrDecode/createOpcodes.cpp
Labels: arch-x64, area-Diagnostics

#26393 Refactor call counting for tiering and some other things
  src/inc/clrtypes.h
  src/vm/callcounter.cpp
  src/vm/callcounter.h
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  src/vm/tieredcompilation.h
Labels: area-TieredCompilation

#26503 Don't use code rejitted at tier 1 when the JIT falls back to min-opts due to method size/complexity
  src/vm/tieredcompilation.cpp
Labels: area-TieredCompilation

#21705 Pull struct type info out of GenTreeObj
  src/jit/CMakeLists.txt
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/compmemkind.h
  src/jit/gcencode.cpp
  src/jit/gcinfo.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/importer.cpp
  src/jit/layout.cpp
  src/jit/layout.h
  src/jit/lclvars.cpp
  src/jit/lower.cpp
  src/jit/lowerarmarch.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarmarch.cpp
  src/jit/lsrabuild.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/rationalize.cpp
  src/jit/simd.cpp
Labels: area-CodeGen

#20782 Fix broken float compare mapping to VNFunc
  src/jit/gentree.cpp
  src/jit/valuenum.cpp
  src/jit/valuenum.h
  src/jit/valuenumfuncs.h
Labels: area-CodeGen

#26530 Remove unnecessary file handle parameter in PEImageLayout methods
  src/vm/peimage.cpp
  src/vm/peimagelayout.cpp
  src/vm/peimagelayout.h
Labels: area-AssemblyLoader

#26553 Add a repro for GitHub_26311.
  tests/issues.targets
  tests/src/JIT/Regression/JitBlue/GitHub_26311/GitHub_26311.il
  tests/src/JIT/Regression/JitBlue/GitHub_26311/GitHub_26311.ilproj
Labels: area-CodeGen, test enhancement

#26392 Stop using LIST nodes for CALL arg lists
  src/jit/assertionprop.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/decomposelongs.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/lower.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraarmarch.cpp
  src/jit/lsraxarch.cpp
  src/jit/morph.cpp
  src/jit/objectalloc.cpp
  src/jit/rationalize.cpp
  src/jit/rationalize.h
  src/jit/valuenum.cpp
Labels: area-CodeGen

#26454 Remove unused CMake command to build native test assets as part of product test build.
  CMakeLists.txt
Labels: area-Build

#26573 [test] Protect against zombie IPC sockets in tests
  tests/src/tracing/eventpipe/common/IpcTraceTest.cs
Labels: area-Tracing

#26599 Fix the loop iterator in `CheckNoTransformableIndirectCallsRemain`.
  src/jit/indirectcalltransformer.cpp
Labels: area-CodeGen

#26572 Abort FuncEval on unaligned SP
  src/debug/ee/debugger.cpp
Labels: area-Diagnostics

#26606 [test] Mark EventPipe tests JITStress Incompatible and Partially GC Stress Incompatible
  tests/src/tracing/eventpipe/buffersize/buffersize.csproj
  tests/src/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.cs
  tests/src/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.csproj
  tests/src/tracing/eventpipe/eventsvalidation/GCEvents.cs
  tests/src/tracing/eventpipe/eventsvalidation/GCEvents.csproj
  tests/src/tracing/eventpipe/eventsvalidation/GCFinalizers.cs
  tests/src/tracing/eventpipe/eventsvalidation/GCFinalizers.csproj
  tests/src/tracing/eventpipe/providervalidation/providervalidation.csproj
  tests/src/tracing/eventpipe/rundownvalidation/rundownvalidation.csproj
Labels: EventPipe, area-Tracing

#26496 Manually marshal parameters for EventPipeInternal.Enable.
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
Labels: EventPipe

#26646 Return a missed field init to `GenTreeILOffset`.
  src/jit/gentree.h
  src/jit/rationalize.cpp
Labels: area-CodeGen

#26662 Fix build on RHEL 6
  configurecompiler.cmake
Labels: area-Build

#26522 Improve the performance of Environment.WorkingSet in Windows
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.GetProcessMemoryInfo.cs
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Environment.Unix.cs
  src/System.Private.CoreLib/shared/System/Environment.Windows.cs
  src/System.Private.CoreLib/shared/System/Environment.cs
Labels: area-Tracing

#26136 [release/2.1] Replace hex number representation in ASM files
  src/debug/ee/amd64/dbghelpers.S
  src/pal/inc/unixasmmacros.inc
  src/vm/amd64/jithelpers_fast.S
  src/vm/amd64/jithelpers_fastwritebarriers.S
  src/vm/amd64/jithelpers_slow.S
  src/vm/amd64/virtualcallstubamd64.S
  src/vm/i386/asmhelpers.S
  src/vm/i386/jithelp.S
Labels: Servicing-consider

#23234 Improve LclVar sorting throughput
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/jitstd/algorithm.h
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/lsra.cpp
  src/jit/lsrabuild.cpp
  src/jit/optcse.cpp
  src/jit/scopeinfo.cpp
  src/jit/ssabuilder.cpp
Labels: area-CodeGen

#26668 Continue cleaning GenTreeStmt.
  src/jit/assertionprop.cpp
  src/jit/block.cpp
  src/jit/block.h
  src/jit/codegencommon.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/copyprop.cpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/gtlist.h
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/inline.cpp
  src/jit/inline.h
  src/jit/lclvars.cpp
  src/jit/liveness.cpp
  src/jit/loopcloning.cpp
  src/jit/loopcloning.h
  src/jit/morph.cpp
  src/jit/objectalloc.cpp
  src/jit/objectalloc.h
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/rangecheck.h
  src/jit/rationalize.cpp
  src/jit/rationalize.h
  src/jit/simd.cpp
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
  src/jit/valuenum.cpp
Labels: area-CodeGen

#26714 Fix watson bucketing/broken triage dumps
  src/vm/method.cpp
Labels: area-Diagnostics

#26584 Remove some boxing from tuples with >= 8 elements
  src/System.Private.CoreLib/shared/System/ValueTuple.cs
Labels: tenet-performance

#26734 Remove unused flags on ArrayMarshalInfo only used for type library exporting.
  src/vm/mlinfo.cpp
  src/vm/mlinfo.h
Labels: area-Interop

#26455 Enable minidumps on all helix runs.
  tests/helixpublishwitharcade.proj
  tests/src/Common/Coreclr.TestWrapper/CoreclrTestWrapperLib.cs
  tests/testenvironment.proj
Labels: area-Infrastructure

#26743 Fix R2RDump to correctly parse array lower bounds
  src/tools/r2rdump/R2RSignature.cs
Labels: area-Meta

#26664 [release/3.1] Fix marshalling a pinnable multi-dimensional array via a P/Invoke
  src/vm/ilmarshalers.cpp
  src/vm/mlinfo.cpp
  src/vm/mlinfo.h
Labels: area-Interop, ask-mode

#26741 [test] Disable all EventPipe tests under GCStress
  tests/src/tracing/eventpipe/buffersize/buffersize.csproj
  tests/src/tracing/eventpipe/eventsvalidation/ExceptionThrown_V1.csproj
  tests/src/tracing/eventpipe/providervalidation/providervalidation.csproj
  tests/src/tracing/eventpipe/rundownvalidation/rundownvalidation.csproj
Labels: EventPipe, GCStress

#26737 Remove duplicate call to SetProfilerMayHaveActivatedNonDefaultCodeVersion
  src/vm/method.hpp
Labels: area-Diagnostics

#23327 Adding comments
  src/jit/codegen.h
  src/jit/codegenarm.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/copyprop.cpp
  src/jit/emitxarch.cpp
Labels: area-CodeGen

#26744 Statements: return dumping methods.
  src/jit/assertionprop.cpp
  src/jit/block.h
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/jit.h
  src/jit/lclvars.cpp
  src/jit/morph.cpp
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
  src/jit/rangecheck.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#26776 Mark GC_TRANSITION(FALSE) for EventPipe stack sampling
  src/vm/eventpipe.cpp
Labels: area-Tracing

#26801 find ./ -type f -exec sed -i -e 's/\<gtNextStmt\>/GetNextStmt()/g' {} \;
  src/jit/assertionprop.cpp
  src/jit/block.cpp
  src/jit/compiler.cpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.h
  src/jit/importer.cpp
  src/jit/morph.cpp
  src/jit/optimizer.cpp
  src/jit/valuenum.cpp
Labels: area-CodeGen

#26805 Port The Fix When Enabling Windows Compatibilty Mode
  src/System.Private.CoreLib/shared/Interop/Windows/Kernel32/Interop.Globalization.cs
  src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Windows.cs
  src/System.Private.CoreLib/shared/System/Globalization/TextInfo.Windows.cs
Labels: Servicing-approved

#26806 [release/3.1] Do not clip CPU count when CPU quota is used. (#26153)
  src/classlibnative/bcltype/system.cpp
  src/pal/src/thread/process.cpp
  src/utilcode/util.cpp
Labels: Servicing-consider

#26810 Replace genEmitter with GetEmitter()
  src/jit/codegenarm.cpp
  src/jit/codegenarm64.cpp
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegeninterface.h
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/gcencode.cpp
  src/jit/gcinfo.cpp
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/instr.cpp
  src/jit/jiteh.cpp
  src/jit/lowerxarch.cpp
  src/jit/lsraxarch.cpp
  src/jit/regset.cpp
  src/jit/scopeinfo.cpp
  src/jit/simdcodegenxarch.cpp
  src/jit/unwind.cpp
  src/jit/unwindamd64.cpp
  src/jit/unwindarm.cpp
  src/jit/unwindx86.cpp
Labels: area-CodeGen

#26808 Replace gtCostSz with GetCostSz()
  src/jit/compiler.h
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/optcse.cpp
  src/jit/optimizer.cpp
Labels: area-CodeGen

#26763 Fix issue with locals overlapping out of scope GCFrame
  src/vm/assembly.cpp
  src/vm/exceptionhandling.cpp
  src/vm/exceptionhandling.h
  src/vm/frames.cpp
  src/vm/frames.h
  src/vm/syncblk.cpp
Labels: area-VM

#26837 Replace hasTailCalls with GetTailCalls()
  src/jit/codegencommon.cpp
  src/jit/codegeninterface.h
  src/jit/compiler.h
  src/jit/gcencode.cpp
Labels: area-CodeGen

#26836 Replace gtSsaNum with GetSsaNum
  src/jit/assertionprop.cpp
  src/jit/compiler.cpp
  src/jit/compiler.hpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/rangecheck.cpp
  src/jit/rationalize.cpp
  src/jit/ssabuilder.cpp
  src/jit/ssabuilder.h
  src/jit/valuenum.cpp
Labels: area-CodeGen

#26551 Don't allow the hoisting of GT_CLS_VARs that were assigned a constant value.
  src/jit/optimizer.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_26417/GitHub_26417.cs
  tests/src/JIT/Regression/JitBlue/GitHub_26417/GitHub_26417.csproj
Labels: area-CodeGen

#26819 Add "inline" labels and rename IGF_EMIT_ADD to IGF_EXTEND
  src/jit/codegen.h
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenlinear.cpp
  src/jit/codegenxarch.cpp
  src/jit/emit.cpp
  src/jit/emit.h
Labels: area-CodeGen

#24584 Replace (val / 2) with (val * 0.5) in Jit
  src/jit/morph.cpp
  src/jit/utils.cpp
  src/jit/utils.h
  tests/src/JIT/opt/InstructionCombining/DivToMul.cs
  tests/src/JIT/opt/InstructionCombining/DivToMul.csproj
Labels: area-CodeGen

#22896 Allow containing ExtractVector128 into Store
  src/jit/emitxarch.cpp
  src/jit/emitxarch.h
  src/jit/gentree.cpp
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/lowerxarch.cpp
Labels: area-CodeGen

#26764 Fix available memory extraction on Linux
  src/gc/unix/config.gc.h.in
  src/gc/unix/configure.cmake
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/misc/sysinfo.cpp
Labels: area-PAL

#22043 Lower SSE compare scalar and test nodes
  src/jit/codegen.h
  src/jit/gentree.h
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/hwintrinsiclistxarch.h
  src/jit/lower.cpp
  src/jit/lower.h
  src/jit/lowerxarch.cpp
  src/jit/lsraxarch.cpp
  tests/src/JIT/HardwareIntrinsics/X86/Regression/GitHub_17073/GitHub_17073.cs
  tests/src/JIT/HardwareIntrinsics/X86/Regression/GitHub_17073/GitHub_17073.csproj
  tests/src/JIT/HardwareIntrinsics/X86/Regression/GitHub_17073/GitHub_17073_gen.csx
Labels: area-CodeGen

#26871 Initialize variant return value.
  tests/src/Interop/PInvoke/Delegate/DelegateAsInterfaceTestNative.cpp
Labels: area-Interop, test bug

#26888 Replace lvArgInitReg with GetArgInitReg
  src/jit/codegencommon.cpp
  src/jit/compiler.h
  src/jit/lclvars.cpp
  src/jit/lsra.cpp
Labels: area-CodeGen

#26891 Replace isVararg with GetIsVararg()
  src/jit/compiler.h
  src/jit/morph.cpp
Labels: area-CodeGen

#26887 Replace lateArgInx with GetLateArgInx
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/morph.cpp
Labels: area-CodeGen

#26762 Stop unloading the profiler on shutdown to prevent segfaults on background threads
  src/vm/ceemain.cpp
Labels: area-Diagnostics

#26803 Port to Release/3.1 - enable Mojave Hardened Runtime support
  clrdefinitions.cmake
  src/pal/src/include/pal/utils.h
  src/pal/src/map/map.cpp
  src/pal/src/map/virtual.cpp
  src/pal/src/misc/utils.cpp
  src/vm/amd64/jithelpers_fast.S
  src/vm/amd64/jitinterfaceamd64.cpp
  src/vm/ceemain.cpp
  src/vm/excep.cpp
  src/vm/exceptionhandling.cpp
  src/vm/stackwalk.cpp
  src/vm/threads.cpp
  src/vm/threads.h
Labels: area-Meta

#26914 Replace hfaType with GetHfaType()
  src/jit/compiler.h
  src/jit/morph.cpp
Labels: area-CodeGen

#26911 Check for nullity of the context in FuncEval setup's SP alignment checks
  src/debug/ee/debugger.cpp
Labels: area-Diagnostics

#26802 Fix crossgen2 handling of non-gc statics in generic classes
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunMetadataFieldLayoutAlgorithm.cs
Labels: area-crossgen2

#26607 Abort FuncEval on unaligned SP (for 3.1)
  src/debug/ee/debugger.cpp
Labels: area-Diagnostics, ask-mode

#24294 Delete fgArgTabEntry::node
  src/jit/assertionprop.cpp
  src/jit/compiler.cpp
  src/jit/compiler.h
  src/jit/compiler.hpp
  src/jit/earlyprop.cpp
  src/jit/flowgraph.cpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gschecks.cpp
  src/jit/importer.cpp
  src/jit/indirectcalltransformer.cpp
  src/jit/lower.cpp
  src/jit/morph.cpp
  src/jit/stacklevelsetter.cpp
Labels: area-CodeGen

#26740 Disable nop padding in R2R images and remove jumpstamps from the runtime
  clrdefinitions.cmake
  src/inc/clrconfigvalues.h
  src/inc/readytorun.h
  src/tools/crossgen2/Common/Internal/Runtime/ModuleHeaders.cs
  src/tools/crossgen2/ILCompiler.ReadyToRun/Compiler/ReadyToRunCodegenCompilationBuilder.cs
  src/vm/.vscode/c_cpp_properties.json
  src/vm/codeman.cpp
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/jitinterface.cpp
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/methodtable.cpp
  src/vm/methodtablebuilder.cpp
  src/vm/prestub.cpp
  src/vm/rejit.cpp
  src/zap/zapinfo.cpp
Labels: area-Diagnostics
