Repository dotnet/coreclr, pull requests merged in 2019-06, with the labels that each got.

#24901 Move EventPipeEventSource deletion to a better place
  src/vm/eventpipe.cpp
Labels: EventPipe, area-Tracing

#23622 JIT HW Intrinsic implementation doc
  Documentation/design-docs/hw-intrinsics.md
Labels: area-CodeGen

#24892 Fix error path for Diagnostics IPC
  src/vm/diagnosticsprotocol.h
Labels: area-Tracing, diagnostic global tooling

#24924 Fix use after free AV in EventPipe
  src/vm/eventpipe.cpp
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventpipesessionprovider.cpp
  tests/issues.targets
Labels: EventPipe, area-Tracing, bug

#24897 Remove some tiering event trace asserts that can fail if tracing is stopped at a particular point
  src/vm/eventtrace.cpp
Labels: area-TieredCompilation

#24930 Specify TaskScheduler.Default in EventPipeEventDispatcher
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
Labels: EventPipe, area-Tracing

#24936 Update to AutoTrace
  Documentation/workflow/AutomatedStressTestingForDiagnosticServer.md
  clrfeatures.cmake
  src/vm/CMakeLists.txt
  src/vm/autotrace.cpp
  src/vm/autotrace.h
Labels: diagnostic global tooling, documentation, enhancement

#24858 Port #22775 into release/2.1
  src/jit/compiler.h
  src/jit/lclvars.cpp
  src/jit/morph.cpp
  src/jit/register_arg_convention.h
  tests/src/JIT/Regression/JitBlue/GitHub_22330/GitHub_22330.cs
  tests/src/JIT/Regression/JitBlue/GitHub_22330/GitHub_22330.csproj
Labels: Servicing-approved

#24949 Fix PGO on Windows
  configurecompiler.cmake
  src/vm/i386/jitinterfacex86.cpp
Labels: area-Build

#24952 EventPipe fixes
  src/vm/eventpipe.cpp
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipesession.cpp
Labels: EventPipe, area-Tracing

#24955 Make sure we can enable auto-trace when the root level define is added
  src/vm/CMakeLists.txt
Labels: EventPipe, area-Tracing

#24960 Resolve Windows 10 Kits dir via the environment variable.
  tests/src/Interop/WinRT/NativeComponent/CMakeLists.txt
Labels: area-Build, area-Interop, os-windows, test bug

#24957 Small fixes around AST nodes.
  src/jit/compiler.hpp
  src/jit/gentree.cpp
  src/jit/gentree.h
  src/jit/gtlist.h
  src/jit/jitstd/type_traits.h
  src/jit/jitstd/vector.h
Labels: area-CodeGen

#24861 Use Modern CMake features instead of CMAKE_CXX_FLAGS
  CMakeLists.txt
  configurecompiler.cmake
  configureoptimization.cmake
  src/ToolBox/SOS/Strike/CMakeLists.txt
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
  src/dlls/mscorpe/CMakeLists.txt
  src/ilasm/CMakeLists.txt
  src/inc/CMakeLists.txt
  src/jit/CMakeLists.txt
  src/pal/src/libunwind/src/CMakeLists.txt
  src/pal/tests/CMakeLists.txt
  src/pal/tests/palsuite/CMakeLists.txt
  tests/CMakeLists.txt
Labels: area-Build

#24959 Add test verifying reliable SafeHandle unmarshalling
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/ReleaseHandle/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/ReleaseHandle/ReleaseHandleNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/ReleaseHandle/ReleaseHandleTest.cs
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/CMakeLists.txt
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/ReliableUnmarshalNative.cpp
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/ReliableUnmarshalTest.cs
  tests/src/Interop/PInvoke/SafeHandles/ReliableUnmarshal/ReliableUnmarshalTest.csproj
Labels: area-Interop, test enhancement

#24371 Zero initReg in genSetGSSecurityCookie
  src/jit/codegen.h
  src/jit/codegenarmarch.cpp
  src/jit/codegencommon.cpp
  src/jit/codegenxarch.cpp
  src/jit/instr.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_24278/GitHub_24278.il
  tests/src/JIT/Regression/JitBlue/GitHub_24278/GitHub_24278.ilproj
Labels: area-CodeGen

#24826 Fix GCStress coverage for multi reg returns.
  src/inc/gcinfotypes.h
  src/vm/gccover.cpp
  src/vm/gccover.h
  src/vm/method.cpp
  src/vm/method.hpp
  tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.cs
  tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.csproj
  tests/src/ilasm/System/Runtime/CompilerServices/MethodImplOptionsTests.csproj
Labels: GCStress

#24968 APIs to allow DoStackSnapshot on Linux
  src/inc/corerror.xml
  src/inc/corprof.idl
  src/inc/profilepriv.h
  src/inc/profilepriv.inl
  src/pal/prebuilt/inc/corerror.h
  src/pal/prebuilt/inc/corprof.h
  src/vm/profilingenumerators.cpp
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/proftoeeinterfaceimpl.h
  src/vm/threadsuspend.h
Labels: area-Diagnostics

#24984 Merge two equal exclusion groups for arm32 All OS.
  tests/issues.targets
Labels: disabled-test

#24982 Delete TwoKeywords test.
  tests/issues.targets
  tests/src/tracing/keyword/TwoKeywords/TwoKeywords.cs
  tests/src/tracing/keyword/TwoKeywords/TwoKeywords.csproj
Labels: EventPipe, area-Tracing, disabled-test, test bug

#25003 Fix tmp dir in configure.cmake
  src/pal/src/configure.cmake
Labels: area-Build

#24834 PInvoke stubs for Unix platforms
  src/vm/amd64/PInvokeStubs.asm
  src/vm/amd64/asmconstants.h
  src/vm/amd64/pinvokestubs.S
  src/vm/arm/asmconstants.h
  src/vm/arm/pinvokestubs.S
  src/vm/arm64/asmconstants.h
  src/vm/arm64/pinvokestubs.S
  src/vm/frames.h
  src/zap/zapinfo.cpp
Labels: area-ReadyToRun, os-linux

#24995 Exclude tests that do not work without tail calls on arm32 Unix.
  tests/issues.targets
Labels: disabled-test

#24987 Reenable StackTracePreserveTests.
  tests/issues.targets
Labels: disabled-test

#24990 Move COM object lifetime control tests to CoreCLR.
  tests/src/Interop/COM/NETClients/Primitives/Program.cs
Labels: area-Interop, os-windows, test enhancement

#24342 Use CMake's C# support to build DacTableGen instead of manually invoking csc.exe ourselves.
  clrdefinitions.cmake
  configurecompiler.cmake
  crossgen.cmake
  src/ToolBox/SOS/CMakeLists.txt
  src/ToolBox/SOS/DacTableGen/CMakeLists.txt
  src/ToolBox/SOS/DacTableGen/DacTableGen.csproj
  src/ToolBox/SOS/Strike/CMakeLists.txt
  src/ToolBox/SOS/lldbplugin/CMakeLists.txt
  src/corefx/System.Globalization.Native/CMakeLists.txt
  src/debug/createdump/CMakeLists.txt
  src/debug/debug-pal/CMakeLists.txt
  src/dlls/mscoree/coreclr/CMakeLists.txt
  src/gc/sample/CMakeLists.txt
  src/gcinfo/gcinfo_arm/CMakeLists.txt
  src/gcinfo/gcinfo_arm64/CMakeLists.txt
  src/jit/CMakeLists.txt
  src/jit/armelnonjit/CMakeLists.txt
  src/jit/protononjit/CMakeLists.txt
  src/pal/src/CMakeLists.txt
  src/pal/tests/CMakeLists.txt
  src/pal/tests/palsuite/eventprovider/CMakeLists.txt
  src/vm/CMakeLists.txt
  src/vm/crossgen_mscorlib/CMakeLists.txt
  tests/CMakeLists.txt
Labels: area-Build, os-windows

#24981 Add DisplayUnits property to DiagnosticCounter
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterPayload.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/DiagnosticCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/IncrementingEventCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/IncrementingPollingCounter.cs
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/PollingCounter.cs
Labels: area-Tracing

#24868 Add docs for rejit on attach and the new profiler attach mechanism
  Documentation/Profiling/Profiler Attach on CoreCLR.md
  Documentation/Profiling/Profiler Breaking Changes.md
  Documentation/Profiling/ReJIT on Attach.md
  Documentation/Profiling/davbr-blog-archive/Attach.md
  Documentation/Profiling/davbr-blog-archive/Attach2.md
Labels: area-Diagnostics

#24988 Explicitly set permission on the socket file created by DiagnosticServer
  src/debug/debug-pal/unix/diagnosticsipc.cpp
Labels: EventPipe, area-Tracing

#24007 Compile JIT sources with /W4
  src/inc/yieldprocessornormalized.h
  src/jit/CMakeLists.txt
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/hashbv.cpp
  src/jit/hwintrinsiccodegenxarch.cpp
  src/jit/hwintrinsicxarch.cpp
  src/jit/unwind.cpp
  src/jit/unwindamd64.cpp
  src/jit/unwindarm.cpp
  src/jit/unwindarm64.cpp
  src/jit/unwindx86.cpp
Labels: area-CodeGen

#25019 Populate AppDomain.*Resolve event sender
  eng/common/dotnet-install.sh
  src/System.Private.CoreLib/shared/System/AppContext.cs
  src/System.Private.CoreLib/shared/System/Runtime/Loader/AssemblyLoadContext.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/WindowsRuntime/WindowsRuntimeMetadata.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
Labels: area-AssemblyLoader

#25025 Fix a race condition in EventPipe
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
Labels: EventPipe, area-Tracing

#24896 Fix `EventPipe::Disable` threading issues.
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
Labels: EventPipe, area-Tracing

#25029 Fix field offset computation for large version bubble
  src/utilcode/pedecoder.cpp
  src/vm/ceeload.cpp
  src/vm/ceeload.h
  src/vm/methodtablebuilder.cpp
Labels: area-ReadyToRun

#24853 Netperf format change pr
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeController.cs
  src/debug/daccess/request.cpp
  src/inc/clrconfigvalues.h
  src/pal/inc/pal.h
  src/pal/src/include/pal/thread.hpp
  src/pal/src/synchmgr/synchmanager.cpp
  src/pal/src/thread/process.cpp
  src/pal/src/thread/thread.cpp
  src/vm/CMakeLists.txt
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeblock.cpp
  src/vm/eventpipeblock.h
  src/vm/eventpipebuffer.cpp
  src/vm/eventpipebuffer.h
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeeventinstance.cpp
  src/vm/eventpipeeventinstance.h
  src/vm/eventpipefile.cpp
  src/vm/eventpipefile.h
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventpipethread.cpp
  src/vm/eventpipethread.h
  src/vm/fastserializableobject.h
  src/vm/fastserializer.cpp
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/threadsuspend.cpp
Labels: EventPipe, area-Tracing

#25062 Fix inline tracking
  src/vm/inlinetracking.cpp
Labels: area-VM

#24967 Add optimization tiers to the Linux perf maps for perfcollect
  src/inc/clrconfigvalues.h
  src/inc/eventtracebase.h
  src/vm/eventtrace.cpp
  src/vm/method.hpp
  src/vm/perfmap.cpp
  src/vm/perfmap.h
  src/vm/prestub.cpp
Labels: area-TieredCompilation, area-Tracing

#25064 Enable lab support for coreclr tests in unloadable context
  eng/send-to-helix-step.yml
  tests/helixpublishwitharcade.proj
  tests/runtest.cmd
  tests/runtest.py
  tests/src/CLRTest.Execute.Bash.targets
  tests/src/CLRTest.Execute.Batch.targets
Labels: area-Infrastructure

#24993 Send tiered compilation settings rundown event on EventPipe detach
  src/inc/eventtracebase.h
  src/vm/eventpipe.cpp
  src/vm/eventtrace.cpp
Labels: EventPipe, area-TieredCompilation, area-Tracing

#25085 Make GetSessionProvider const
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventpipesessionprovider.cpp
  src/vm/eventpipesessionprovider.h
Labels: EventPipe, area-Tracing

#25088 Use the per session configuration to invoke the EventPipeProvider callbacks
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
Labels: EventPipe, area-Tracing

#25061 Track timer count and add Timer.ActiveCount
  src/System.Private.CoreLib/shared/System/Threading/Timer.cs
Labels: area-System.Threading

#25074 Fix ForeignThreadExceptions test
  tests/src/Exceptions/ForeignThread/CMakeLists.txt
  tests/src/Exceptions/ForeignThread/ForeignThreadExceptionsNative.cpp
Labels: area-ExceptionHandling, os-linux

#25106 Fix Module::IsInSameVersionBubble contract
  src/vm/ceeload.cpp
Labels: area-ReadyToRun

#25073 Enable coreclr-runincontext in azure pipelines
  azure-pipelines.yml
  eng/send-to-helix-step.yml
  eng/test-job.yml
  tests/helixpublishwitharcade.proj
Labels: area-Infrastructure

#25105 Allocate handles for custom marshalers in ALCs instead of in the AppDomain.
  src/vm/custommarshalerinfo.cpp
  src/vm/custommarshalerinfo.h
  src/vm/mlinfo.cpp
Labels: area-Interop

#25112 Multiple EventPipe related bugs/issues
  src/vm/ceemain.cpp
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipeconfiguration.cpp
Labels: * NO MERGE *, EventPipe, area-Tracing

#25129 Fix code version table lock / coop GC mode switch ordering
  src/vm/codeversion.cpp
  src/vm/tieredcompilation.cpp
Labels: area-TieredCompilation

#25138 Change how build.sh/build.cmd parse the PGO and IBC versions
  build.cmd
  build.sh
  init-dotnet.sh
  src/.nuget/optdata/ibcmerge.csproj
  src/.nuget/optdata/optdata.csproj
Labels: source-build

#25104 Make DisplayUnits string.Empty by default instead of null
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/DiagnosticCounter.cs
Labels: area-Tracing

#25171 Add a build option to skip building managed tools
  build.cmd
  build.sh
Labels: source-build

#25158 Fix crash/corruption in VSD hash tables when backpatching entry point slots is enabled
  src/vm/virtualcallstub.cpp
  src/vm/virtualcallstub.h
Labels: area-TieredCompilation

#25161 Moving non-EventPipe types out of eventpipe.*
  src/vm/CMakeLists.txt
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipebuffer.cpp
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipecommontypes.cpp
  src/vm/eventpipecommontypes.h
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeeventpayload.cpp
  src/vm/eventpipeeventpayload.h
  src/vm/eventpipeeventsource.cpp
  src/vm/eventpipesession.cpp
  src/vm/stackcontents.h
Labels: EventPipe, area-Tracing

#25162 Do not force GcStress=0xc for GitHub_23199 on OSX.
  tests/src/JIT/Regression/JitBlue/GitHub_23199/GitHub_23199.csproj
Labels: test bug

#25140 abort build-tests if failed to restore stress dependencies
  build-test.cmd
  build-test.sh
  tests/bringup_runtest.sh
  tests/setup-stress-dependencies.cmd
  tests/setup-stress-dependencies.sh
Labels: GCStress, area-Infrastructure

#20900 Don't change LCL_FLD node type when replacing param with its shadow copy
  src/jit/gschecks.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_20799/GitHub_20799.il
  tests/src/JIT/Regression/JitBlue/GitHub_20799/GitHub_20799.ilproj
Labels: area-CodeGen

#25186 Add active timer counter
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSource.cs
Labels: area-Tracing

#25117 avoid expensive ref counting for CompareInfo on Linux
  src/System.Private.CoreLib/shared/Interop/Unix/System.Globalization.Native/Interop.Collation.cs
  src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Unix.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/CriticalHandle.cs
Labels: area-System.Globalization, tenet-performance

#25147 Fix GetFunctionEnter3Info on linux
  src/vm/amd64/asmhelpers.S
  src/vm/amd64/profiler.cpp
  src/vm/proftoeeinterfaceimpl.h
Labels: area-Diagnostics

#25199 Fix missing MethodEvents for R2R images
  src/vm/eventtrace.cpp
Labels: EventPipe, area-Tracing

#25196 Enable running SIGSEGV handler on non-alternate stack
  src/pal/src/exception/signal.cpp
Labels: area-PAL

#25198 Remove unused TRACE_LEVEL_NONE (#23711)
  src/inc/eventtracebase.h
  src/vm/eventtrace.cpp
Labels: area-Tracing

#25160 Start cleaning emitxarch::GetSize estimates.
  src/jit/emit.cpp
  src/jit/emit.h
  src/jit/emitinl.h
  src/jit/emitxarch.cpp
Labels: arch-x64, area-CodeGen

#25208 Don't free the loader handle if the LoaderAllocator is already dead.
  src/vm/custommarshalerinfo.cpp
Labels: area-Interop

#21227 ILMarshaler Refactor
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/vm/fieldmarshaler.cpp
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/metasig.h
  src/vm/mlinfo.cpp
  src/vm/mscorlib.h
Labels: area-Interop

#25031 Change Diagnostic Server transport name to align with spec
  src/vm/diagnosticserver.cpp
Labels: EventPipe, area-Tracing, diagnostic global tooling

#25257 Store ARM volatile registers when populating RegDisplay
  src/inc/regdisp.h
Labels: area-Diagnostics

#25277 Delete test 366085
  tests/src/baseservices/exceptions/regressions/whidbeybeta2/366085/366085.cs
  tests/src/baseservices/exceptions/regressions/whidbeybeta2/366085/366085.csproj
Labels: area-Meta

#25284 Disable NativeVarargsTest on Windows Nano Server.
  tests/src/Interop/IJW/NativeVarargs/NativeVarargsTest.cs
Labels: area-Interop, disabled-test

#25264 Remove dead code related to copy-constructors and intercept stubs
  src/debug/daccess/nidump.cpp
  src/vm/dllimport.cpp
  src/vm/method.hpp
  src/vm/stubhelpers.cpp
Labels: area-Interop

#25212 Update linux-performace-tracing doc to add eventpipe/dotnet-trace
  Documentation/project-docs/linux-performance-tracing.md
Labels: EventPipe, area-Tracing, documentation

#25221 Fix eventpipe filtering
  src/inc/eventtracebase.h
  src/scripts/genEventing.py
  src/vm/ceeload.cpp
  src/vm/comcallablewrapper.cpp
  src/vm/comsynchronizable.cpp
  src/vm/comthreadpool.cpp
  src/vm/dllimport.cpp
  src/vm/eepolicy.cpp
  src/vm/eventpipesession.cpp
  src/vm/eventtrace.cpp
  src/vm/eventtrace.inl
  src/vm/excep.cpp
  src/vm/jithelpers.cpp
  src/vm/jitinterface.cpp
  src/vm/multicorejitplayer.cpp
  src/vm/nativeoverlapped.cpp
  src/vm/prestub.cpp
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/readytoruninfo.cpp
  src/vm/syncblk.cpp
  src/vm/threadpoolrequest.cpp
  src/vm/win32threadpool.cpp
Labels: area-Tracing

#25292 Revert "ILMarshaler Refactor"
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/vm/fieldmarshaler.cpp
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/metasig.h
  src/vm/mlinfo.cpp
  src/vm/mscorlib.h
Labels: area-Interop

#25295 Fix OSX floating point state extraction
  src/pal/src/exception/machexception.cpp
  src/pal/src/thread/context.cpp
Labels: arch-x64, area-PAL, os-mac-os-x

#25249 Mark the profiler attach thread during attach
  src/vm/profilerdiagnosticprotocolhelper.cpp
Labels: area-Diagnostics

#25126 Disable unloading incompatible test for runincontext
  src/tools/runincontext/runincontext.cs
  tests/scripts/runincontext.sh
  tests/src/GC/Features/KeepAlive/keepaliveother/keepalivefinalize.csproj
  tests/src/Interop/COM/Activator/Activator.csproj
  tests/src/Interop/WinRT/NETClients/Bindings/NETClientBindings.csproj
  tests/src/Interop/WinRT/NETClients/Primitives/NETClientPrimitives.csproj
  tests/src/Loader/AssemblyLoadContext30Extensions/AssemblyLoadContext30Extensions.csproj
  tests/src/Loader/ContextualReflection/ContextualReflection.csproj
  tests/src/baseservices/exceptions/regressions/V1/SEH/VJ/HandlerException.csproj
  tests/src/baseservices/exceptions/regressions/V1/SEH/VJ/NestedException.csproj
Labels: area-Meta

#25316 WorkAround for #25050.
  src/jit/emit.h
Labels: area-CodeGen

#25276 Add EventPipe Processor Number support and make NetTrace the default …
  dependencies.props
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeController.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
  src/inc/clrconfigvalues.h
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeblock.cpp
  src/vm/eventpipeblock.h
  src/vm/eventpipebuffer.cpp
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeeventinstance.cpp
  src/vm/eventpipeeventinstance.h
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeinternal.h
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
  tests/src/tracing/common/TraceConfiguration.cs
  tests/src/tracing/regress/GitHub_22247/GitHub_22247.cs
Labels: EventPipe, area-Tracing

#25034 Fix generation of RID on distros that do not set VERSION_ID
  init-distro-rid.sh
Labels: area-Build, os-unsupported

#25327 MemoryExtensions ToUpper / ToLower throws for overlapping buffer
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/shared/System/MemoryExtensions.Fast.cs
  tests/CoreFX/CoreFX.issues.rsp
Labels: area-System.Memory

#25308 Multiple bug fixes
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeevent.cpp
  src/vm/eventpipeevent.h
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventpipethread.cpp
  src/vm/eventpipethread.h
Labels: EventPipe, area-Tracing

#25361 Allow events with keyword 0 to be fired under EventPipe
  src/vm/eventtrace.cpp
Labels: EventPipe, area-Tracing

#25366 Make s_numberOfSessions Volatile
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
Labels: EventPipe, area-Tracing

#25364 Fix broken ETW events
  src/inc/eventtracebase.h
  src/scripts/genEventing.py
Labels: area-Tracing

#25349 Brick table
  src/gc/gc.cpp
  src/gc/gcpriv.h
Labels: area-GC

#25369 Stop deallocating provider/events on shutdown
  src/vm/eventpipe.cpp
Labels: EventPipe, area-Tracing

#25359 Fix StackFrameIterator::IsValid check race
  src/vm/stackwalk.cpp
Labels: area-VM

#25363 Remove outputPath parameter for EventPipe IPC protocol
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
Labels: EventPipe, area-Tracing, diagnostic global tooling

#25358 Make sure EventPipeProvider::m_keywords is accurate after EventPipeConfiguration::Disable
  src/vm/eventpipe.cpp
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/eventpipesessionprovider.cpp
  src/vm/eventpipesessionprovider.h
Labels: EventPipe, area-Tracing

#25371 emit rundown event for generic methods in R2R images
  src/vm/eventtrace.cpp
  src/vm/nativeformatreader.h
  src/vm/readytoruninfo.cpp
  src/vm/readytoruninfo.h
Labels: area-Tracing

#25377 Fix ReJIT failures
  src/inc/profilepriv.h
  src/vm/codeversion.cpp
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/proftoeeinterfaceimpl.h
  src/vm/proftoeeinterfaceimpl.inl
Labels: area-Diagnostics

#25374 Fix LTTng filtering for runtime providers
  src/inc/clrconfigvalues.h
  src/inc/eventtracebase.h
  src/scripts/genEventing.py
  src/vm/eventtrace.cpp
Labels: area-Tracing

#25409 Fix disabling wrong session on EventPipe::Shutdown
  src/vm/eventpipe.cpp
Labels: EventPipe, area-Tracing

#25362 Delegate inspection API in the DBI
  src/debug/daccess/dacdbiimpl.cpp
  src/debug/daccess/dacdbiimpl.h
  src/debug/di/divalue.cpp
  src/debug/di/rspriv.h
  src/debug/inc/dacdbiinterface.h
  src/inc/cordebug.idl
  src/inc/corerror.xml
  src/pal/prebuilt/corerror/mscorurt.rc
  src/pal/prebuilt/idl/cordebug_i.cpp
  src/pal/prebuilt/inc/cordebug.h
  src/pal/prebuilt/inc/corerror.h
  src/vm/comdelegate.cpp
  src/vm/common.h
Labels: area-Diagnostics

#25397 Fix EncoderNLS / DecoderNLS regression in reporting error index
  src/System.Private.CoreLib/shared/System/Text/DecoderNLS.cs
  src/System.Private.CoreLib/shared/System/Text/EncoderNLS.cs
  src/System.Private.CoreLib/shared/System/Text/Encoding.Internal.cs
Labels: * NO MERGE *

#25401 EventPipe events should only be sent to sessions that are listening to the event
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeevent.cpp
  src/vm/eventpipeevent.h
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
Labels: EventPipe, area-Tracing

#25441 Don't reload or spill for keepAliveThis
  src/jit/lsra.cpp
Labels: arch-x86, area-CodeGen

#25392 Fix VersionBubbles test
  tests/src/readytorun/tests/versionbubbles/versionbubbles.csproj
Labels: area-CrossGen/NGEN

#25462 Add test for IncrementingEventCounter
  tests/src/tracing/eventcounter/incrementingeventcounter.cs
  tests/src/tracing/eventcounter/incrementingeventcounter.csproj
Labels: area-Tracing, test enhancement

#25451 Enable parsing multiple providers for LTTngConfig variable
  src/inc/eventtracebase.h
Labels: area-Tracing

#25454 [WIP] Avoid the multiplication generated by mc.exe
  src/scripts/genEtwProvider.py
Labels: area-Tracing

#25482 Fix an assertion failure in the thread pool's QueueUserWorkItemCallbackBase
  src/System.Private.CoreLib/shared/System/Threading/ThreadPool.cs
Labels: area-System.Threading

#25459 Don't return TRUE on tracepoint_enabled if LTTng library does not exist
  src/scripts/genLttngProvider.py
Labels: area-Tracing

#25489 Stop using reflection on PollingCounter tests
  tests/src/tracing/eventcounter/incrementingpollingcounter.cs
  tests/src/tracing/eventcounter/pollingcounter.cs
Labels: area-Tracing, test enhancement

#25452 Fix a mutex abandon case with WaitHandle.WaitAll in the PAL
  src/pal/src/synchmgr/wait.cpp
Labels: area-System.Threading
