Repository dotnet/coreclr, pull requests merged in 2019-01, with the labels that each got.

#21732 Simplify and improve integer overflow checks in Interop
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/Marshal.cs
  src/System.Private.CoreLib/src/System/StubHelpers.cs
  src/vm/ilmarshalers.cpp
Labels: area-Interop

#21782 Fix GC for collectible array of pure value types
  src/gc/gc.cpp
Labels: area-GC

#21787 Use Kernel32 instead of api-ms-win-core-* in SafeHandlesTests
  tests/src/Interop/PInvoke/SafeHandles/SafeFileHandle.cs
Labels: arch-x64, arch-x86, area-Interop, os-windows, test bug

#21800 Add test for StringBuilder null terminator implementation detail
  src/vm/ilmarshalers.cpp
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTest.cs
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTestNative.cpp
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTestPInvokeDef.cs
Labels: area-Interop, tenet-compatibility

#21737 Reflection performance tweaks & cleanup
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/System/Attribute.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Reflection/CustomAttribute.cs
  src/System.Private.CoreLib/src/System/Reflection/RtFieldInfo.cs
  src/System.Private.CoreLib/src/System/RtType.cs
  src/System.Private.CoreLib/src/System/Runtime/InteropServices/GcHandle.cs
  src/System.Private.CoreLib/src/System/ValueType.cs
Labels: * NO MERGE *

#21709 Removes AppDomain dependency from TPLETWProvider
  src/System.Private.CoreLib/src/System/Threading/Tasks/TPLETWProvider.cs
  src/System.Private.CoreLib/src/System/Threading/Tasks/Task.cs
Labels: area-Tracing

#21716 EventPipePayloadDecoder clean-up
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipePayloadDecoder.cs
Labels: area-Tracing

#21507 Remove invalid test b21296
  tests/src/JIT/Regression/CLR-x86-JIT/V1.2-M02/b21296/b21296.csproj
  tests/src/JIT/Regression/CLR-x86-JIT/V1.2-M02/b21296/ptr.cs
Labels: area-Meta

#21786 Respect the instrumented code maps passed by the profiler in a rejit
  src/debug/ee/functioninfo.cpp
Labels: area-Diagnostics

#21853 Fix CharSet on StringBuilder hidden null terminator test
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTestPInvokeDef.cs
Labels: area-Interop, test bug

#21641 Fixing ContainCheckHWIntrinsic to ensure that scalar integer operands are the appropriate size
  src/jit/lowerxarch.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_21625/GitHub_21625.cs
  tests/src/JIT/Regression/JitBlue/GitHub_21625/GitHub_21625.csproj
Labels: area-CodeGen

#21861 Moves ComTypes to shared partition
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/shared/System.Private.CoreLib.Shared.projitems
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IBindCtx.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPoint.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IConnectionPointContainer.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumConnectionPoints.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumConnections.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumMoniker.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumString.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumVARIANT.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IEnumerable.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IMoniker.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IPersistFile.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IRunningObjectTable.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/IStream.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeComp.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeInfo.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeInfo2.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/ComTypes/ITypeLib2.cs
Labels: area-Interop

#21852 Extract cleanup changes from #21793.
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/mlinfo.cpp
  src/vm/mlinfo.h
  src/vm/stubgen.cpp
  src/vm/stubgen.h
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/AsDefault/AsDefaultTest.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsParam/AsLPArray/AsLPArrayTest.cs
Labels: area-Interop

#21683 Use `saveNext` unwind opcode on arm64.
  src/jit/arraystack.h
  src/jit/codegen.h
  src/jit/codegenarm64.cpp
  src/jit/codegencommon.cpp
Labels: arch-arm64, area-CodeGen, optimization

#21876 Enable FinalizeQueue SOS command for Unix
  src/ToolBox/SOS/Strike/sos_unixexports.src
  src/ToolBox/SOS/Strike/sosdocsunix.txt
  src/ToolBox/SOS/Strike/strike.cpp
  src/ToolBox/SOS/lldbplugin/soscommand.cpp
Labels: area-Diagnostics

#21590 Remove extraneous eightbytes check for native structures and add tests.
  src/vm/fieldmarshaler.h
  src/vm/methodtable.cpp
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsByValArray/AsByValArrayTest.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/LPArrayNative/MarshalArrayByValArrayNative.cpp
  tests/src/Interop/StructMarshalling/PInvoke/Helper.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/StructMarshalling/PInvoke/Struct.cs
Labels: arch-x64, area-CodeGen, os-linux, os-mac-os-x

#21891 Fix DynamicMethodDesc memory leak
  src/vm/dynamicmethod.cpp
  src/vm/dynamicmethod.h
  src/vm/method.cpp
  src/vm/method.hpp
Labels: area-VM

#21771 Addressing https://github.com/dotnet/coreclr/issues/21461
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeController.cs
  tests/src/tracing/tracecontrol/TraceControl.cs
Labels: * NO MERGE *

#21575 [release/2.2] Added support for debugging a sandboxed app on Mac
  src/debug/debug-pal/CMakeLists.txt
  src/debug/debug-pal/unix/processdescriptor.cpp
  src/debug/debug-pal/unix/twowaypipe.cpp
  src/debug/debug-pal/win/processdescriptor.cpp
  src/debug/debug-pal/win/twowaypipe.cpp
  src/debug/di/cordb.cpp
  src/debug/di/dbgtransportmanager.cpp
  src/debug/di/dbgtransportmanager.h
  src/debug/di/dbgtransportpipeline.cpp
  src/debug/di/eventchannel.h
  src/debug/di/eventredirectionpipeline.cpp
  src/debug/di/eventredirectionpipeline.h
  src/debug/di/localeventchannel.cpp
  src/debug/di/nativepipeline.h
  src/debug/di/process.cpp
  src/debug/di/remoteeventchannel.cpp
  src/debug/di/rsmain.cpp
  src/debug/di/rspriv.h
  src/debug/di/shimdatatarget.h
  src/debug/di/shimlocaldatatarget.cpp
  src/debug/di/shimpriv.h
  src/debug/di/shimprocess.cpp
  src/debug/di/shimremotedatatarget.cpp
  src/debug/di/windowspipeline.cpp
  src/debug/inc/dbgtransportsession.h
  src/debug/inc/processdescriptor.h
  src/debug/inc/twowaypipe.h
  src/debug/shared/dbgtransportsession.cpp
  src/dlls/dbgshim/dbgshim.cpp
  src/dlls/dbgshim/dbgshim.h
  src/dlls/dbgshim/dbgshim.ntdef
  src/dlls/dbgshim/dbgshim_unixexports.src
  src/dlls/mscordbi/mscordbi.src
  src/dlls/mscordbi/mscordbi_unixexports.src
  src/pal/inc/pal.h
  src/pal/src/include/pal/stackstring.hpp
  src/pal/src/thread/process.cpp
Labels: Servicing-approved

#21475 [release/2.2] Added Close On Exec Attribute for Mutex files
  src/pal/src/sharedmemory/sharedmemory.cpp
  src/pal/tests/palsuite/threading/NamedMutex/test1/namedmutex.cpp
Labels: * NO MERGE *, Servicing-approved, area-System.Threading

#21285 Port to 2.1 - Fix Unix ARM JIT_MemCpy and JIT_MemSet
  src/vm/arm/crthelpers.S
Labels: Servicing-approved, area-VM

#21286 Port to 2.1 - Improve performance of cgroup access
  src/gc/unix/cgroup.cpp
  src/gc/unix/cgroup.h
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/include/pal/cgroup.h
  src/pal/src/init/pal.cpp
  src/pal/src/misc/cgroup.cpp
Labels: Servicing-approved, area-VM

#20867 Add tests for our layout-class marshalling
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/LayoutClass/CMakeLists.txt
  tests/src/Interop/LayoutClass/LayoutClassNative.cpp
  tests/src/Interop/LayoutClass/LayoutClassTest.cs
  tests/src/Interop/LayoutClass/LayoutClassTest.csproj
Labels: area-Interop, test enhancement

#21219 Fix LTTng-UST Error while registering when debugging
  src/dlls/mscoree/coreclr/CMakeLists.txt
  src/pal/src/CMakeLists.txt
Labels: Servicing-approved, area-Diagnostics

#21474 [release/2.2] Fixed bug where "DCI_NUMA" was missing from debug channel names
  src/pal/src/include/pal/dbgmsg.h
  src/pal/src/misc/dbgmsg.cpp
Labels: Servicing-approved, area-PAL

#21815 [x86] Make copies of odd-size struct arguments
  src/jit/codegenxarch.cpp
  src/jit/morph.cpp
Labels: arch-x86, area-CodeGen

#21914 Add an exclusion for hugeexpr1 on arm32 under `JitOptSensitive`.
  tests/src/JIT/jit64/opt/cse/hugeexpr1.csproj
Labels: disabled-test

#21586 Normalize a few more spin-wait loops
  src/gc/env/gcenv.os.h
  src/gc/gc.cpp
  src/gc/handletablecache.cpp
  src/inc/clrhost.h
  src/inc/yieldprocessornormalized.h
  src/utilcode/CMakeLists.txt
  src/utilcode/utsem.cpp
  src/utilcode/yieldprocessornormalized.cpp
  src/vm/CMakeLists.txt
  src/vm/common.h
  src/vm/comsynchronizable.cpp
  src/vm/object.cpp
  src/vm/simplerwlock.cpp
  src/vm/spinlock.cpp
  src/vm/syncblk.cpp
  src/vm/syncblk.h
  src/vm/threadsuspend.cpp
  src/vm/weakreferencenative.cpp
  src/vm/win32threadpool.h
  src/vm/yieldprocessornormalized.cpp
  src/vm/yieldprocessornormalized.h
Labels: area-System.Threading

#21943 Add cleanup of the TypeIDMap at unload time
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/contractimpl.cpp
  src/vm/contractimpl.h
  src/vm/loaderallocator.cpp
Labels: area-VM

#21470 Enable returning more complex structures via PInvoke returns.
  src/vm/dllimport.cpp
  src/vm/mlinfo.cpp
  src/vm/mlinfo.h
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/AsByValArray/AsByValArrayTest.cs
  tests/src/Interop/PInvoke/Array/MarshalArrayAsField/LPArrayNative/MarshalArrayByValArrayNative.cpp
  tests/src/Interop/PInvoke/ArrayWithOffset/ArrayWithOffsetNative.cpp
  tests/src/Interop/PInvoke/ArrayWithOffset/ArrayWithOffsetTest.cs
  tests/src/Interop/PInvoke/ArrayWithOffset/PInvokeDefs.cs
  tests/src/Interop/PInvoke/CriticalHandles/StructTest/StructTest.cs
  tests/src/Interop/PInvoke/DateTime/DateTimeTest.cs
  tests/src/Interop/PInvoke/DateTime/NativeDateTime.cpp
  tests/src/Interop/PInvoke/Decimal/PInvoke/DecNative.cpp
  tests/src/Interop/PInvoke/Decimal/PInvoke/DecimalTest.cs
  tests/src/Interop/PInvoke/Decimal/ReversePInvoke/DecimalTest.cs
  tests/src/Interop/PInvoke/Miscellaneous/HandleRef/HandleRefNative.cpp
  tests/src/Interop/PInvoke/Miscellaneous/HandleRef/HandleRefTest.cs
  tests/src/Interop/PInvoke/SafeHandles/Misc.Unsupported/MiscUnsupportedTest.cs
  tests/src/Interop/PInvoke/Varargs/VarargsNative.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutExp.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/StructMarshalling/PInvoke/Struct.cs
Labels: area-Interop, enhancement

#21292 Patch vtable slots and similar when tiering is enabled
  Documentation/design-docs/code-versioning.md
  src/inc/CrstTypes.def
  src/inc/clrconfigvalues.h
  src/inc/crsttypes.h
  src/inc/shash.inl
  src/vm/CMakeLists.txt
  src/vm/amd64/cgenamd64.cpp
  src/vm/amd64/virtualcallstubcpu.hpp
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/arm/stubs.cpp
  src/vm/arm/virtualcallstubcpu.hpp
  src/vm/arm64/virtualcallstubcpu.hpp
  src/vm/array.cpp
  src/vm/ceeload.h
  src/vm/ceeload.inl
  src/vm/ceemain.cpp
  src/vm/codeversion.cpp
  src/vm/codeversion.h
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/fptrstubs.cpp
  src/vm/frames.cpp
  src/vm/generics.cpp
  src/vm/i386/cgenx86.cpp
  src/vm/i386/virtualcallstubcpu.hpp
  src/vm/loaderallocator.cpp
  src/vm/loaderallocator.hpp
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/method.inl
  src/vm/methoddescbackpatchinfo.cpp
  src/vm/methoddescbackpatchinfo.h
  src/vm/methodtable.cpp
  src/vm/methodtable.h
  src/vm/methodtable.inl
  src/vm/methodtablebuilder.cpp
  src/vm/precode.cpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
  src/vm/virtualcallstub.cpp
  src/vm/virtualcallstub.h
  tests/src/baseservices/TieredCompilation/TieredVtableMethodTests.cs
  tests/src/baseservices/TieredCompilation/TieredVtableMethodTests.csproj
Labels: area-VM

#21606 Custom Marshalers in custom-ALC-loaded assemblies results in types loaded from crossing ALCs
  src/vm/appdomain.cpp
  src/vm/appdomain.hpp
  src/vm/ceemain.cpp
  src/vm/cominterfacemarshaler.cpp
  src/vm/custommarshalerinfo.cpp
  src/vm/custommarshalerinfo.h
  src/vm/dispparammarshaler.cpp
  src/vm/ilmarshalers.cpp
  src/vm/ilmarshalers.h
  src/vm/interopconverter.cpp
  src/vm/interoputil.cpp
  src/vm/loaderallocator.cpp
  src/vm/loaderallocator.hpp
  src/vm/mlinfo.cpp
  src/vm/mlinfo.h
  tests/src/Interop/CMakeLists.txt
  tests/src/Interop/ICustomMarshaler/ConflictingNames/CMakeLists.txt
  tests/src/Interop/ICustomMarshaler/ConflictingNames/CustomMarshaler.cs
  tests/src/Interop/ICustomMarshaler/ConflictingNames/CustomMarshaler.csproj
  tests/src/Interop/ICustomMarshaler/ConflictingNames/CustomMarshaler2.csproj
  tests/src/Interop/ICustomMarshaler/ConflictingNames/CustomMarshalerNative.cpp
  tests/src/Interop/ICustomMarshaler/ConflictingNames/MultipleALCs.csproj
  tests/src/Interop/ICustomMarshaler/ConflictingNames/RunInALC.cs
  tests/src/Interop/ICustomMarshaler/ConflictingNames/SameNameDifferentAssembly.cs
  tests/src/Interop/ICustomMarshaler/ConflictingNames/SameNameDifferentAssembly.csproj
  tests/src/Interop/ICustomMarshaler/Primitives/ICustomMarshaler.cs
  tests/src/Interop/ICustomMarshaler/Primitives/ICustomMarshaler.csproj
Labels: area-Interop

#21984 Add test calling a NativeCallable via an unmanaged calli.
  tests/src/Interop/NativeCallable/NativeCallableTest.cs
Labels: area-Interop, test enhancement

#21983 Finding Standalone GC and CoreDisTools in non-standard host testing
  src/vm/disassembler.cpp
  src/vm/gcheaputilities.cpp
Labels: area-GC, area-Interop, test enhancement

#22051 Run Azure DevOps builds against pull requests in master
  azure-pipelines.yml
  netci.groovy
  tests/helixpublishwitharcade.proj
Labels: area-Infrastructure

#22044 Fix AssemblyDependencyResolver tests on Windows x86 test runs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyDependencyResolver.cs
  tests/src/Loader/AssemblyDependencyResolverTests/HostPolicyMock.cs
Labels: arch-x86, area-AssemblyLoader, os-windows, test bug

#22067 Cleanup: Remove MethodDesc::GetLoaderAllocatorForCode
  src/vm/amd64/cgenamd64.cpp
  src/vm/arm/stubs.cpp
  src/vm/codeman.cpp
  src/vm/comdelegate.cpp
  src/vm/dynamicmethod.cpp
  src/vm/fptrstubs.cpp
  src/vm/gccover.cpp
  src/vm/i386/stublinkerx86.cpp
  src/vm/jitinterface.cpp
  src/vm/method.cpp
  src/vm/method.hpp
  src/vm/precode.cpp
Labels: area-VM

#22072 Don't redirect stdlib wchar functions to our test platform shims.
  tests/src/Common/Platform/platformdefines.cpp
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/ArrayMarshalling/SafeArray/RecordNative.cpp
  tests/src/Interop/COM/NativeServer/DispatchTesting.h
  tests/src/Interop/COM/NativeServer/Servers.cpp
  tests/src/Interop/COM/NativeServer/StringTesting.h
  tests/src/Interop/PInvoke/DateTime/NativeDateTime.cpp
  tests/src/Interop/PInvoke/DllImportPath/DllImportPathNative.cpp
  tests/src/Interop/PInvoke/IEnumerator/IEnumeratorNative.h
  tests/src/Interop/StringMarshalling/LPSTR/LPSTRTestNative.cpp
  tests/src/Interop/StringMarshalling/LPTSTR/LPTSTRTestNative.cpp
  tests/src/Interop/StringMarshalling/UTF8/UTF8TestNative.cpp
  tests/src/Interop/StringMarshalling/VBByRefStr/VBByRefStrNative.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/StructMarshalling/ReversePInvoke/MarshalExpStruct/ExpStructAsParamNative.h
  tests/src/Interop/StructMarshalling/ReversePInvoke/MarshalSeqStruct/SeqStructDelRevPInvokeNative.cpp
  tests/src/Interop/StructMarshalling/ReversePInvoke/MarshalSeqStruct/SeqStructDelRevPInvokeNative.h
Labels: area-Interop

#22064 Add unloadability testing tool
  tests/scripts/runincontext.cmd
  tests/src/runincontext/runincontext.cs
  tests/src/runincontext/runincontext.csproj
Labels: area-Diagnostics

#22133 Add GC.KeepAlive to keep collectible ALC alive across usage in ICustomMarshaler tests
  tests/src/Interop/ICustomMarshaler/ConflictingNames/RunInALC.cs
Labels: area-Interop, test bug

#22138 Work around build failure
  src/vm/amd64/virtualcallstubcpu.hpp
Labels: area-TieredCompilation

#14393 Improve `new Vector2/3/4(c1, c2, c3, c4)` codegen
  src/jit/codegenxarch.cpp
  src/jit/emit.cpp
  src/jit/emit.h
  src/jit/emitpub.h
  src/jit/gentree.h
  src/jit/lowerxarch.cpp
Labels: area-CodeGen

#22195 Remove reflection-based wraper for AssemblyDependencyResolver.
  tests/src/Loader/AssemblyDependencyResolverTests/AssemblyDependencyResolver.cs
  tests/src/Loader/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.cs
  tests/src/Loader/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.csproj
  tests/src/Loader/AssemblyDependencyResolverTests/HostPolicyMock.cs
  tests/src/Loader/AssemblyDependencyResolverTests/InvalidHostingTest.cs
  tests/src/Loader/AssemblyDependencyResolverTests/NativeDependencyTests.cs
Labels: area-AssemblyLoader

#22214 this test should not be run under gcstress
  tests/src/GC/API/GC/Collect1.csproj
Labels: GCStress, disabled-test

#22305 Stop collecting source line information during a stacktrace for the E…
  src/System.Private.CoreLib/src/System/Exception.cs
Labels: tenet-performance
