Repository dotnet/coreclr, pull requests merged in 2019-04, with the labels that each got.

#23448 [EventPipe] Streaming events out-of-proc using IPC
  src/debug/debug-pal/unix/diagnosticsipc.cpp
  src/debug/debug-pal/win/diagnosticsipc.cpp
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticserver.h
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeblock.cpp
  src/vm/eventpipeblock.h
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipefile.cpp
  src/vm/eventpipefile.h
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/fastserializableobject.h
  src/vm/fastserializer.cpp
  src/vm/fastserializer.h
Labels: EventPipe, area-Tracing

#23470 Change tests to not modify Core_Root
  src/coreclr/hosts/corerun/corerun.cpp
  src/coreclr/hosts/coreshim/CoreShim.cpp
  src/coreclr/hosts/unixcoreruncommon/coreruncommon.cpp
  tests/src/CLRTest.Execute.Bash.targets
  tests/src/CLRTest.Execute.targets
  tests/src/CLRTest.MockHosting.targets
  tests/src/Common/CoreCLRTestLibrary/HostPolicyMock.cs
  tests/src/Interop/COM/Activator/Activator.csproj
  tests/src/Interop/COM/NativeClients/DefaultInterfaces.csproj
  tests/src/Interop/COM/NativeClients/Licensing.csproj
  tests/src/Interop/COM/NativeClients/Primitives.csproj
  tests/src/Interop/IJW/LoadIjwFromModuleHandle/LoadIjwFromModuleHandle.csproj
  tests/src/Interop/Interop.settings.targets
  tests/src/Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.cs
  tests/src/Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.csproj
  tests/src/Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/NativeDependencyTests.cs
  tests/src/Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/TestBase.cs
  tests/src/Loader/AssemblyDependencyResolver/MissingHostPolicyTests/InvalidHostingTest.cs
  tests/src/Loader/AssemblyDependencyResolver/MissingHostPolicyTests/MissingHostPolicyTests.csproj
  tests/src/Loader/AssemblyDependencyResolverTests/InvalidHostingTest.cs
  tests/src/Loader/NativeLibs/FromNativePaths.cs
  tests/src/Loader/NativeLibs/FromNativePaths.csproj
Labels: area-Infrastructure

#23678 Treat WinMDs as having been loaded in the default ALC for AssemblyLoadContext.GetLoadContext
  src/vm/assemblynative.cpp
Labels: area-AssemblyLoader

#23599 [Preview 4] Disable tier 0 JIT (quick JIT) by default, rename config option
  src/inc/clrconfigvalues.h
  src/vm/callcounter.cpp
  src/vm/eeconfig.cpp
  src/vm/eeconfig.h
  src/vm/method.cpp
  src/vm/prestub.cpp
  src/vm/tieredcompilation.cpp
Labels: area-TieredCompilation

#23553 Fix accidental non-collectible context unloading
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/shared/System/Runtime/Loader/AssemblyLoadContext.cs
Labels: area-System.Runtime

#23664 Change Auto charset to mean UTF-8 off-Windows
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/Marshal.Unix.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/Marshal.Windows.cs
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/Marshal.cs
  src/vm/dllimport.cpp
  src/vm/methodtablebuilder.cpp
  tests/CoreFX/CoreFX.issues.json
  tests/src/Interop/PInvoke/ExactSpelling/ExactSpellingTest.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/StructMarshalling/PInvoke/Struct.cs
Labels: area-Interop, breaking-change, os-freebsd, os-linux, os-mac-os-x

#23706 Run CoreFX baseline arm/arm64 Windows/Ubuntu daily.
  netci.groovy
Labels: area-Infrastructure, test-corefx

#23692 Fix prefix of mock hostpolicy on Unix
  tests/src/CLRTest.MockHosting.targets
Labels: area-Interop, test bug

#23721 Fix MUSL ARM64 cross build
  cross/toolchain.cmake
  src/vm/arm64/asmhelpers.S
Labels: area-Build

#23517 Support simple assembly name in startup hook
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/src/System/StartupHookProvider.cs
Labels: area-AssemblyLoader

#23402 Runtime support for upcoming .NET Core WinRT Host
  src/System.Private.CoreLib/ILLinkTrim.xml
  src/System.Private.CoreLib/System.Private.CoreLib.csproj
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/WindowsRuntime/ActivationFactoryLoader.cs
  src/System.Private.CoreLib/src/System/RtType.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/vm/appdomain.cpp
  src/vm/assemblynative.cpp
  src/vm/assemblynative.hpp
  src/vm/assemblyspec.cpp
  src/vm/clrprivbinderwinrt.cpp
  src/vm/clrprivbinderwinrt.h
  src/vm/corhost.cpp
  src/vm/ecalllist.h
  src/vm/interoputil.cpp
  src/vm/interoputil.h
  src/vm/runtimecallablewrapper.cpp
  src/vm/runtimehandles.cpp
  src/vm/runtimehandles.h
  src/vm/stdinterfaces.cpp
  src/vm/stubhelpers.cpp
  src/vm/winrttypenameconverter.cpp
  src/vm/winrttypenameconverter.h
Labels: area-Interop, os-windows

#23537 Remove CPU groups notion from the gc.cpp
  src/gc/env/gcenv.base.h
  src/gc/env/gcenv.os.h
  src/gc/gc.cpp
  src/gc/gcconfig.cpp
  src/gc/gcconfig.h
  src/gc/unix/config.h.in
  src/gc/unix/configure.cmake
  src/gc/unix/gcenv.unix.cpp
  src/gc/windows/gcenv.windows.cpp
  src/inc/clrconfigvalues.h
  src/inc/corerror.xml
  src/inc/utilcode.h
  src/pal/prebuilt/corerror/mscorurt.rc
  src/pal/prebuilt/inc/corerror.h
  src/utilcode/util.cpp
  src/vm/gcenv.ee.cpp
  src/vm/gcenv.os.cpp
Labels: area-GC

#22041 Fix SystemV AMD64 Explicit structure classification
  src/inc/readytorun.h
  src/vm/class.cpp
  src/vm/fieldmarshaler.h
  src/vm/methodtable.cpp
  src/vm/readytoruninfo.cpp
  tests/src/Common/Platform/platformdefines.h
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutExp.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutExp.csproj
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsLayoutSeq.cs
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.cpp
  tests/src/Interop/StructMarshalling/PInvoke/MarshalStructAsParamDLL.h
  tests/src/Interop/StructMarshalling/PInvoke/Struct.cs
Labels: area-Interop

#23697 Disable a couple of S.R.InteropServices tests
  tests/CoreFX/CoreFX.issues.json
Labels: area-Interop, disabled-test, test-run-core

#23738 Disable marshalling delegates as _Delegate and enable marshalling delegates as IDispatch.
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/fieldmarshaler.cpp
  src/vm/mlinfo.cpp
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/AsFieldNative.cpp
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsField/RefLib/RefLib.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsInterface/AsInterfaceTest.cs
  tests/src/Interop/PInvoke/Delegate/MarshalDelegateAsParam/AsParamNative.cpp
Labels: area-Interop, breaking-change, os-windows

#23758 Fix invalid use of stack memory
  src/pal/src/locale/utf8.cpp
Labels: area-PAL, bug

#23625 Enable return buffers on Windows ARM64 for struct-returning member functions
  src/vm/clrtocomcall.cpp
  src/vm/comtoclrcall.cpp
  src/vm/dispatchinfo.cpp
  src/vm/dllimport.cpp
  src/vm/ilmarshalers.h
  src/vm/mlinfo.cpp
  src/vm/mlinfo.h
  tests/src/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallNative.cpp
  tests/src/Interop/PInvoke/Miscellaneous/ThisCall/ThisCallTest.cs
Labels: arch-arm64, area-Interop

#23767 Fix issue 23713: handle TypeDesc field handles
  src/vm/methodtable.cpp
Labels: area-CrossGen/NGEN, area-ReadyToRun, bug

#23771 Replacing some calls to GetThread with an inlined version
  src/vm/arm/asmhelpers.asm
  src/vm/arm64/asmhelpers.asm
  src/vm/i386/jithelp.asm
Labels: enhancement

#23765 Fedora.28.Amd64 queue is dead. Use container instead
  eng/platform-matrix.yml
Labels: area-Infrastructure

#23731 Match PtrToStringUTF8 to the other PtrToString* families.
  src/System.Private.CoreLib/shared/System/Runtime/InteropServices/Marshal.cs
  tests/CoreFX/CoreFX.issues.json
Labels: area-Interop

#23776 Normalize directory separators before calling LoadLibrary
  src/utilcode/longfilepathwrappers.cpp
Labels: area-Interop

#23775 Reenable System.Runtime.Tests. for arm64.
  tests/arm64/corefx_linux_test_exclusions.txt
  tests/arm64/corefx_test_exclusions.txt
Labels: disabled-test, test-corefx

#23777 Remove the MultiFileSec option from EventPipe.
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipe.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeController.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeEventDispatcher.cs
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeinternal.h
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
Labels: EventPipe, area-Tracing

#23814 Diable CoreFX System.IO.Tests.dll on windows arm64.
  tests/arm64/corefx_test_exclusions.txt
Labels: test-corefx

#23826 Set CrossGenTest to false for tests blocking green CI
  tests/src/readytorun/tests/mainv1.csproj
  tests/src/readytorun/tests/mainv2.csproj
Labels: disabled-test

#23828 Exclude PInvokes declared on other modules. We don't yet encode crossmodule references
  src/zap/zapinfo.cpp
Labels: area-CrossGen/NGEN, area-ReadyToRun, bug

#23816 Don't denormalize enum return values on instance methods on x86.
  src/vm/mlinfo.cpp
Labels: arch-x86, area-Interop

#23661 [release/2.2][Port] Fix EventPipe EventHandle Caching for TraceLogging (#18355)
  src/mscorlib/System.Private.CoreLib.csproj
  src/mscorlib/shared/System/Diagnostics/Tracing/TraceLogging/NameInfo.cs
  src/mscorlib/shared/System/Diagnostics/Tracing/TraceLogging/TraceLoggingEventSource.cs
  src/mscorlib/src/System/Diagnostics/Eventing/TraceLogging/TraceLoggingEventHandleTable.cs
Labels: Servicing-approved, area-Tracing, bug

#23390 [release/2.2] Add stack depth check to all Task continuations
  src/mscorlib/src/System/Threading/Tasks/Task.cs
  src/mscorlib/src/System/Threading/Tasks/TaskScheduler.cs
Labels: Servicing-approved

#23368 JIT: optimize fgMorphTree for GenTreeArgList
  src/jit/compiler.h
  src/jit/morph.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_18582/GitHub_18582.cs
  tests/src/JIT/Regression/JitBlue/GitHub_18582/GitHub_18582.csproj
Labels: Servicing-approved

#23825 Check for a null import descriptor when fixing up vtables.
  src/vm/ceeload.cpp
Labels: area-AssemblyLoader

#23858 Clean optVNConstantPropOnTree.
  src/jit/assertionprop.cpp
  src/jit/compiler.h
  src/jit/gentree.cpp
Labels: area-CodeGen

#23824 Remove Unix CPU groups emulation
  src/classlibnative/bcltype/system.cpp
  src/dlls/mscordac/mscordac_unixexports.src
  src/gc/env/gcenv.os.h
  src/gc/unix/gcenv.unix.cpp
  src/gc/windows/gcenv.windows.cpp
  src/inc/utilcode.h
  src/pal/inc/pal.h
  src/pal/src/misc/sysinfo.cpp
  src/pal/src/numa/numa.cpp
  src/pal/src/numa/numashim.h
  src/pal/src/thread/thread.cpp
  src/utilcode/util.cpp
  src/vm/ceemain.cpp
  src/vm/eeconfig.cpp
  src/vm/gcenv.os.cpp
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/win32threadpool.cpp
  src/vm/win32threadpool.h
Labels: area-GC

#23740 Contextual reflection
  src/System.Private.CoreLib/shared/System/Activator.RuntimeType.cs
  src/System.Private.CoreLib/shared/System/Runtime/Loader/AssemblyLoadContext.cs
  src/System.Private.CoreLib/src/System/Reflection/Assembly.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/System.Private.CoreLib/src/System/TypeNameParser.cs
  src/strongname/api/common.h
  src/vm/assemblynative.cpp
  src/vm/assemblynative.hpp
  src/vm/common.h
  src/vm/mscorlib.h
  src/vm/object.h
  src/vm/qcall.cpp
  src/vm/qcall.h
  src/vm/runtimehandles.cpp
  src/vm/runtimehandles.h
  src/vm/typeparse.cpp
  src/vm/vars.hpp
  tests/src/Loader/ContextualReflection/ContextualReflection.cs
  tests/src/Loader/ContextualReflection/ContextualReflection.csproj
  tests/src/Loader/ContextualReflection/ContextualReflectionDependency.cs
  tests/src/Loader/ContextualReflection/ContextualReflectionDependency.csproj
Labels: area-System.Reflection, area-System.Runtime

#23887 Remove over release in test
  tests/src/Interop/COM/NETClients/ConsumeNETServer/Program.cs
Labels: area-Interop, os-windows, test bug

#23877 If a delegate type is a WinRT delegate or a WinRT-projected delegate, allow default marshalling.
  src/vm/mlinfo.cpp
Labels: area-Interop, os-windows

#23924 Fix OSX debugging
  src/dlls/mscordac/mscordac_unixexports.src
  src/utilcode/staticnohost/CMakeLists.txt
Labels: area-Build

#23768 Fix EventPipe IPC streaming
  src/vm/eventpipebuffermanager.cpp
  src/vm/eventpipebuffermanager.h
  src/vm/eventpipefile.cpp
  src/vm/eventpipefile.h
  src/vm/fastserializer.cpp
  src/vm/fastserializer.h
Labels: EventPipe, area-Tracing, enhancement

#23942 Exclude ResolveEventTests.cmd and CallbackTests.cmd on Windows_NT x86
  tests/issues.targets
Labels: disabled-test

#23974 Opt COM methods out of the new Windows instance-method handling.
  src/vm/dllimport.cpp
  src/vm/ilmarshalers.h
  tests/src/Interop/COM/NETClients/Primitives/ErrorTests.cs
  tests/src/Interop/COM/NETClients/Primitives/NumericTests.cs
  tests/src/Interop/COM/NETServer/ErrorMarshalTesting.cs
  tests/src/Interop/COM/NETServer/NumericTesting.cs
  tests/src/Interop/COM/NativeClients/Primitives/ErrorTests.cpp
  tests/src/Interop/COM/NativeClients/Primitives/NumericTests.cpp
  tests/src/Interop/COM/NativeServer/ErrorMarshalTesting.h
  tests/src/Interop/COM/NativeServer/NumericTesting.h
  tests/src/Interop/COM/ServerContracts/Server.Contracts.cs
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
Labels: area-Interop, os-windows

#24001 Initialize IsolatedComponentLoadContext.Name
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/IsolatedComponentLoadContext.cs
Labels: area-System.Runtime

#24011 Fix issue #23943
  src/jit/emitarm64.cpp
  src/jit/emitarm64.h
Labels: arch-arm64, area-CodeGen

#24009 Fix lsraBlockEpoch check.
  src/jit/lsra.cpp
  src/jit/lsra.h
Labels: area-CodeGen

#23947 Reenable System.ComponentModel.Composition.Tests arm64 Windows.
  tests/arm64/corefx_test_exclusions.txt
Labels: test-corefx

#23956 [EventPipe] Minor bug fixes, and remove redundant/unused code.
  dependencies.props
  src/debug/debug-pal/win/diagnosticsipc.cpp
  src/vm/diagnosticserver.cpp
  src/vm/diagnosticserver.h
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeinternal.cpp
  src/vm/eventpipeinternal.h
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/eventpipeprotocolhelper.h
  src/vm/eventpipesession.cpp
  src/vm/eventpipesession.h
  src/vm/fastserializer.cpp
  src/vm/fastserializer.h
Labels: EventPipe, area-Tracing

#24045 Fix incorrect thread affinitization
  src/pal/src/thread/thread.cpp
Labels: area-PAL

#24042 Remove limits on IVT public key lengths.
  src/binder/textualidentityparser.cpp
Labels: area-AssemblyLoader

#24065 Add --runtime-path to CoreFX test runner.
  tests/scripts/run-corefx-tests.bat
  tests/scripts/run-corefx-tests.sh
Labels: area-Infrastructure, test-corefx

#24052 Runtime counters naming change and setting default rates.
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/RuntimeEventSource.cs
Labels: area-Tracing

#24066 Put back the CPU limiting in GC
  src/gc/unix/gcenv.unix.cpp
  src/vm/gcenv.os.cpp
Labels: area-GC

#23853 Fix CMake warning about clrjit.exports.in file when using Ninja generator
  functions.cmake
  src/jit/CMakeLists.txt
  src/jit/ClrJit.PAL.exports
  src/jit/ClrJit.exports
  src/jit/armelnonjit/CMakeLists.txt
  src/jit/dll/CMakeLists.txt
  src/jit/linuxnonjit/CMakeLists.txt
  src/jit/protojit/CMakeLists.txt
  src/jit/protononjit/CMakeLists.txt
  src/jit/standalone/CMakeLists.txt
Labels: area-Build, os-linux

#24082 If IPC connections fails, then remove active session.
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipefile.cpp
  src/vm/eventpipefile.h
  src/vm/fastserializer.cpp
  src/vm/fastserializer.h
Labels: EventPipe, area-Tracing

#24041 Disable COM native-client tests on IL round-trip
  tests/src/Interop/COM/NativeClients/DefaultInterfaces.csproj
  tests/src/Interop/COM/NativeClients/Licensing.csproj
  tests/src/Interop/COM/NativeClients/Primitives.csproj
Labels: area-Interop, disabled-test, os-windows

#23970 Block usage of default interfaces feature in COM scenarios
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  src/dlls/mscorrc/mscorrc.rc
  src/dlls/mscorrc/resource.h
  src/vm/class.h
  src/vm/comcallablewrapper.cpp
  src/vm/comcallablewrapper.h
  src/vm/methodtable.cpp
  src/vm/methodtable.h
  src/vm/methodtablebuilder.cpp
  src/vm/stdinterfaces.cpp
  tests/src/Interop/COM/NETServer/NETServer.DefaultInterfaces.il
  tests/src/Interop/COM/NativeClients/DefaultInterfaces/DefaultInterfacesTests.cpp
  tests/src/Interop/COM/ServerContracts/Server.Contracts.h
Labels: area-Interop, area-TypeSystem, os-windows

#24127 Fix Arm32 Ubuntu CoreFX script.
  tests/scripts/run-corefx-tests.py
Labels: test-corefx

#24126 Fix bug in impGetStructAddr.
  src/jit/importer.cpp
Labels: area-CodeGen

#24113 Implement APIs for some threading metrics (CoreCLR)
  src/System.Private.CoreLib/shared/System/Threading/ThreadPool.cs
  src/System.Private.CoreLib/src/System/Threading/Monitor.cs
  src/System.Private.CoreLib/src/System/Threading/ThreadPool.CoreCLR.cs
  src/classlibnative/bcltype/objectnative.cpp
  src/classlibnative/bcltype/objectnative.h
  src/vm/comthreadpool.cpp
  src/vm/comthreadpool.h
  src/vm/ecalllist.h
  src/vm/syncblk.cpp
  src/vm/threadpoolrequest.h
  src/vm/threads.cpp
  src/vm/threads.h
  src/vm/win32threadpool.cpp
  src/vm/win32threadpool.h
Labels: * NO MERGE *

#24133 The thread triggering finalizer shutdown events should be in an alert…
  src/vm/finalizerthread.h
Labels: area-Interop

#24124 Tighten GC mode assertion for EventPipe::Enable()
  src/vm/diagnosticserver.cpp
  src/vm/eventpipe.cpp
  src/vm/eventpipefile.cpp
  src/vm/eventpipeprotocolhelper.cpp
  src/vm/fastserializer.cpp
Labels: EventPipe, area-Tracing, enhancement

#24101 Eventpipe Crst ordering fix
  src/inc/CrstTypes.def
  src/inc/crsttypes.h
Labels: EventPipe, area-Tracing

#24138 Fix AssemblyName cache hash and key
  src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/binder/assemblyname.cpp
  src/vm/assemblynative.cpp
  tests/CoreFX/CoreFX.issues.json
  tests/src/Loader/ContextualReflection/ContextualReflection.cs
  tests/src/Loader/ContextualReflection/ContextualReflectionDependency.cs
Labels: area-System.Reflection

#24043 Fix Arm64 UpperVector save/restore
  src/jit/codegenarm64.cpp
  src/jit/lsra.cpp
  src/jit/lsra.h
  src/jit/lsrabuild.cpp
  src/jit/simdcodegenxarch.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_23885/GitHub_23885.cs
  tests/src/JIT/Regression/JitBlue/GitHub_23885/GitHub_23885.csproj
Labels: arch-arm64, area-CodeGen

#24154 Remove create assembly name
  src/System.Private.CoreLib/shared/System/Activator.RuntimeType.cs
  src/System.Private.CoreLib/shared/System/Reflection/Assembly.cs
  src/System.Private.CoreLib/src/System/Reflection/Assembly.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Reflection/AssemblyName.CoreCLR.cs
  src/System.Private.CoreLib/src/System/Reflection/RuntimeAssembly.cs
  src/vm/assemblyname.cpp
  src/vm/assemblyname.hpp
  tests/CoreFX/CoreFX.issues.json
Labels: area-System.Runtime

#24196 Fix crash after unload with server GC
  src/vm/domainfile.cpp
Labels: area-VM

#24203 Match managed DetermineLibraryNameVariations implementation to native DetermineLibNameVariations implementation.
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyDependencyResolver.cs
Labels: area-Interop

#24205 Update IBCMerge and ensure that it runs when in a release build and ibcoptimize is set.
  build.cmd
  dependencies.props
Labels: area-Build

#24198 Fix LTTng probe check disabling GC events enabled by EventPipe
  src/vm/gcenv.ee.cpp
Labels: area-Tracing

#24156 Add Medium GC Profiling & ICorProfilerInfo::GetObjectReferences
  src/gc/env/gcenv.ee.h
  src/gc/gc.cpp
  src/gc/gcenv.ee.standalone.inl
  src/gc/gcimpl.h
  src/gc/gcinterface.ee.h
  src/gc/gcinterface.h
  src/gc/sample/gcenv.ee.cpp
  src/inc/corprof.idl
  src/inc/profilepriv.inl
  src/pal/prebuilt/idl/corprof_i.cpp
  src/pal/prebuilt/inc/corprof.h
  src/vm/gcenv.ee.cpp
  src/vm/gcenv.ee.h
  src/vm/proftoeeinterfaceimpl.cpp
  src/vm/proftoeeinterfaceimpl.h
Labels: area-Diagnostics

#24230 Postponing the managed callback so that they are called after the lock acquisition
  src/vm/eventpipe.cpp
  src/vm/eventpipe.h
  src/vm/eventpipeconfiguration.cpp
  src/vm/eventpipeconfiguration.h
  src/vm/eventpipeprovider.cpp
  src/vm/eventpipeprovider.h
  src/vm/sampleprofiler.cpp
  src/vm/sampleprofiler.h
Labels: EventPipe, area-Tracing

#24235 Fix verification of 3-byte UTF-8 sequence followed by non-ASCII byte
  src/System.Private.CoreLib/shared/System/Text/Unicode/Utf8Utility.Validation.cs
Labels: area-System.Runtime

#24232 Fix crossgen with large version bubble enabled
  src/vm/zapsig.cpp
Labels: area-ReadyToRun

#24250 Add IBCMerge restore source to the restore command.
  build.cmd
Labels: area-Build

#24242 Fix NUMA node for heap when NUMA is not available
  src/gc/windows/gcenv.windows.cpp
  src/vm/gcenv.os.cpp
Labels: area-GC

#24225 Removing EventPipe file polling (EventPipeController+Timer)
  src/System.Private.CoreLib/shared/System/Threading/Timer.cs
  src/System.Private.CoreLib/src/System/Diagnostics/Eventing/EventPipeController.cs
Labels: EventPipe, area-Tracing

#24262 Undo a change where the EventPipe sessionType is ignored.
  src/vm/eventpipe.cpp
Labels: EventPipe, area-Tracing, bug

#24270 Fix creation of the NUMA node to heap number map
  src/gc/gc.cpp
Labels: area-GC

#24261 Fix optAssertionProp_Update.
  src/jit/assertionprop.cpp
  src/jit/compiler.h
  src/jit/gentree.cpp
  src/jit/optcse.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_24185/GitHub_24185.cs
  tests/src/JIT/Regression/JitBlue/GitHub_24185/GitHub_24185.csproj
Labels: area-CodeGen

#24286 Add missing check for UTF-16 low surrogate char at start of buffer
  src/System.Private.CoreLib/shared/System/Text/Unicode/Utf16Utility.Validation.cs
Labels: area-System.Runtime

#24284 Restore IBCMerge using an authenticated service connection
  build.cmd
  eng/build-job.yml
  eng/internal/NuGet.config
  src/.nuget/optdata/ibcmerge.csproj
Labels: area-Build, os-windows

#24191 Fix Satellite Assembly loading
  src/System.Private.CoreLib/shared/System/Runtime/Loader/AssemblyLoadContext.cs
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyLoadContext.CoreCLR.cs
  src/binder/clrprivbinderassemblyloadcontext.cpp
  src/vm/appdomain.cpp
  src/vm/baseassemblyspec.h
  src/vm/baseassemblyspec.inl
  src/vm/mscorlib.h
Labels: area-AssemblyLoader
