Repository dotnet/coreclr, pull requests merged in 2020-07, with the labels that each got.

#28051 Port to 3.1 - Fix JIT_CheckedWriteBarrier on macOS
  src/vm/amd64/jithelpers_fast.S
Labels: Servicing-approved, area-VM

#28053 [release/2.1] Fix CancellationTokenRegistration.Token after CTS.Dispose
  src/mscorlib/src/System/Threading/CancellationTokenRegistration.cs
Labels: Servicing-approved, area-System.Threading

#28061 Don't prune the IManagedActivationFactory type
  src/System.Private.CoreLib/ILLinkTrim.xml
Labels: Servicing-approved
