Repository dotnet/coreclr, pull requests merged in 2020-08, with the labels that each got.

#28072 Fix DataTargetReader::AlignBase()
  src/md/datasource/datatargetreader.cpp
Labels: Servicing-approved, area-Diagnostics

#28073 [.NET Core 3.1] Don't rely on the built-in interface marshaller during COM activation.
  src/System.Private.CoreLib/src/Internal/Runtime/InteropServices/ComActivator.cs
  tests/src/Interop/COM/Activator/Program.cs
Labels: Servicing-approved, area-Interop

#28074 [.NET Core 3.1] Fix memory leaked caused by Marshal.GetFunctionPointerForDelegate
  src/vm/dllimportcallback.cpp
  src/vm/dllimportcallback.h
Labels: Servicing-approved, area-Interop

#28078 Merge v3.1.7
  eng/Versions.props
  src/System.Private.CoreLib/ILLinkTrim.xml
  src/debug/ee/amd64/amd64InstrDecode.h
  src/debug/ee/amd64/amd64walker.cpp
  src/debug/ee/amd64/gen_amd64InstrDecode/Amd64InstructionTableGenerator.cs
  src/debug/ee/amd64/gen_amd64InstrDecode/Amd64InstructionTableGenerator.csproj
  src/debug/ee/amd64/gen_amd64InstrDecode/README.md
  src/debug/ee/amd64/gen_amd64InstrDecode/createOpcodes.cpp
  src/vm/amd64/jithelpers_fast.S
Labels: * NO SQUASH *
