Repository dotnet/coreclr, pull requests merged in 2020-02, with the labels that each got.

#28003 Port the 5.0 fix for issue #1104
  src/jit/rangecheck.cpp
  tests/src/JIT/Regression/JitBlue/Runtime_1104/Runtime_1104.cs
  tests/src/JIT/Regression/JitBlue/Runtime_1104/Runtime_1104.csproj
Labels: Servicing-approved, area-CodeGen

#27985 [3.1 port] Fix GC heap corruption on ARM
  src/gc/gc.cpp
Labels: Servicing-approved, arch-arm32, area-GC

#27984 Port PR #258 to 3.1
  src/jit/gentree.cpp
  tests/src/Regressions/coreclr/GitHub_27937/Test27937.csproj
  tests/src/Regressions/coreclr/GitHub_27937/test27937.cs
Labels: Servicing-approved, area-CodeGen

#27983 Port fix for #1241 to 3.1
  src/jit/morph.cpp
  tests/src/JIT/Regression/JitBlue/Runtime_1241/Runtime_1241.cs
  tests/src/JIT/Regression/JitBlue/Runtime_1241/Runtime_1241.csproj
Labels: Servicing-approved, area-CodeGen

#27986 Port of dotnet/runtime#1059 to 3.1 branch
  src/jit/codegenxarch.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_27924/GitHub_27924.cs
  tests/src/JIT/Regression/JitBlue/GitHub_27924/GitHub_27924.csproj
Labels: Servicing-approved, area-CodeGen

#28013 [release/3.1] Port dotnet/runtime#31904 fix for slow UTF-8 transcoding performance
  src/System.Private.CoreLib/shared/System/Text/ASCIIUtility.cs
  src/System.Private.CoreLib/shared/System/Text/Unicode/Utf8Utility.Helpers.cs
  src/System.Private.CoreLib/shared/System/Text/Unicode/Utf8Utility.Transcoding.cs
Labels: Servicing-approved, area-System.Runtime

#28012 [release/3.1] Fix build on systems with glibc >= 2.30
  configurecompiler.cmake
Labels: Servicing-approved

#28019 [release/3.1] Port dotnet/runtime#32104 fix for Thread.CurrentPrincipal regression
  src/System.Private.CoreLib/shared/System/Threading/Thread.cs
Labels: Servicing-approved

#28014 [release/3.1] Port dotnet/runtime#31946 fix for string.Replace infinite loop
  src/System.Private.CoreLib/shared/System/String.Manipulation.cs
Labels: Servicing-approved, area-System.Runtime

#28006 [3.1] Fail FuncEval if slot backpatching lock is held by any thread
  src/debug/ee/debugger.cpp
  src/vm/methoddescbackpatchinfo.cpp
  src/vm/methoddescbackpatchinfo.h
  src/vm/tieredcompilation.cpp
Labels: Servicing-approved, area-TieredCompilation
