Repository dotnet/coreclr, pull requests merged in 2020-03, with the labels that each got.

#28023 [3.1 port] Fix debugger crash during unload of assemblies in ALC
  src/debug/ee/debugger.cpp
  src/debug/ee/debuggermodule.cpp
Labels: Servicing-approved, area-Diagnostics

#28025 Port to 3.1: Fix allocation of RuntimeTypeCache GC handle
  src/System.Private.CoreLib/src/System/RuntimeHandles.cs
  src/System.Private.CoreLib/src/System/RuntimeType.CoreCLR.cs
  src/vm/ecalllist.h
  src/vm/loaderallocator.cpp
  src/vm/loaderallocator.hpp
  src/vm/runtimehandles.cpp
  src/vm/runtimehandles.h
Labels: Servicing-approved, area-TypeSystem

#28026 [release/3.1] Fix build with clang 10
  build.sh
  src/inc/slist.h
  src/pal/inc/mbusafecrt.h
  src/pal/inc/pal.h
Labels: Servicing-approved

#28024 Port fix for dotnet/runtime#32059 to release/3.1 (JIT: make sure to set compLongUsed during struct promotion)
  src/jit/lclvars.cpp
  tests/src/JIT/Regression/JitBlue/Runtime_32059/Runtime_32059.il
  tests/src/JIT/Regression/JitBlue/Runtime_32059/Runtime_32059.ilproj
Labels: Servicing-approved

#28029 Port to 3.1 - Fix handling thread abort in HelperMethodFrame
  src/vm/fcall.h
Labels: Servicing-approved
