Repository dotnet/coreclr, pull requests merged in 2020-09, with the labels that each got.

#28089 Fix a deadlock in EventCounter/EventSource (backport runtime #40259)
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
Labels: Servicing-approved, area-Tracing

#28090 [release/3.1] Port fix for InlinedCallFrame corruption to 3.1
  src/vm/i386/excepx86.cpp
Labels: Servicing-approved

#28099 [release/3.1] [coreclr] Fix FileStream.Dispose silently fails on Dispose when disk has run out of space
  src/System.Private.CoreLib/shared/Microsoft/Win32/SafeHandles/SafeFileHandle.Unix.cs
  src/System.Private.CoreLib/shared/System/IO/FileStream.Unix.cs
Labels: Servicing-approved, area-System.IO
