Repository dotnet/coreclr, pull requests merged in 2020-01, with the labels that each got.

#27957 Port to 3.1 - Fix getting affinity set on MUSL on Jetson TX2
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/thread/thread.cpp
  src/vm/gcenv.os.cpp
Labels: Servicing-approved, area-GC

#27958 Port to 3.1 - Fix VirtualMemoryLogging::logRecords overflow
  src/pal/src/map/virtual.cpp
Labels: Servicing-approved, area-PAL

#27959 Port to 3.1 - Fix out of range access in GetRecycleMemoryInfo
  src/vm/win32threadpool.h
Labels: Servicing-approved, area-VM

#27963 This is a point fix for not allowing fast tail calls on windows arm64 for vararg methods
  src/jit/morph.cpp
Labels: Servicing-approved, area-CodeGen

#27969 [release/3.1] Stop throwing exception in TimeZoneInfo POSIX parsing
  src/System.Private.CoreLib/Resources/Strings.resx
  src/System.Private.CoreLib/shared/System/TimeZoneInfo.Unix.cs
Labels: Servicing-approved, area-System.Runtime

#27979 [3.1 port] Fix EventSource to stop ignoring EventCommand.SendManifest
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/EventSource.cs
Labels: Servicing-approved, area-Tracing

#27973 Release/3.1 port of dotnet/runtime#239
  src/jit/lclvars.cpp
  tests/src/JIT/Regression/JitBlue/GitHub_27923/GitHub_27923.cs
  tests/src/JIT/Regression/JitBlue/GitHub_27923/GitHub_27923.csproj
Labels: Servicing-approved, area-CodeGen

#27949 Fix CancellationTokenRegistration.Unregister race condition
  src/System.Private.CoreLib/shared/System/Threading/CancellationTokenSource.cs
Labels: Servicing-approved, area-System.Threading

#27972 [release/3.1] Port fix for JIT silent bad code
  src/jit/importer.cpp
  tests/src/JIT/Regression/JitBlue/Runtime_764/Runtime_764.cs
  tests/src/JIT/Regression/JitBlue/Runtime_764/Runtime_764.csproj
Labels: Servicing-approved, area-CodeGen

#27967 Port to 2.1 - Fix VirtualMemoryLogging::logRecords overflow
  src/pal/src/map/virtual.cpp
Labels: Servicing-approved, area-PAL

#27990 Revert CPU clipping in the presence of CPU quota to 3.0, 2.x behavior.
  src/classlibnative/bcltype/system.cpp
  src/pal/src/thread/process.cpp
  src/utilcode/util.cpp
Labels: Servicing-approved

#27996 [release/3.1] Port fix to revert EncoderNLS and DecoderNLS Convert changes
  src/System.Private.CoreLib/shared/System/Text/DecoderNLS.cs
  src/System.Private.CoreLib/shared/System/Text/EncoderNLS.cs
  tests/CoreFX/CoreFX.issues.rsp
Labels: Servicing-approved, area-System.Runtime

#28000 Fix issues in release 3.0
  eng/Tools.props
  eng/Versions.props
  eng/pipelines/ci.yml
  eng/pipelines/pr.yml
  src/pal/src/exception/remote-unwind.cpp
Labels: Servicing-approved
