Repository dotnet/coreclr, pull requests merged in 2020-10, with the labels that each got.

#28108 update branding to 2.1.24
  dependencies.props
Labels: * NO MERGE *

#28107 update branding to 3.1.10
  dir.common.props
  eng/Versions.props
Labels: * NO MERGE *

#28106 Port to 3.1 - Fix bad configure tests
  src/pal/src/configure.cmake
Labels: Servicing-approved, area-Infrastructure-coreclr

#28071 [3.1] Change new thread's affinity after thread starts, from the same thread, as a workaround for Snap
  src/gc/unix/config.h.in
  src/gc/unix/configure.cmake
  src/gc/unix/gcenv.unix.cpp
  src/pal/src/config.h.in
  src/pal/src/configure.cmake
  src/pal/src/thread/thread.cpp
Labels: Servicing-approved, area-System.Threading
