Repository dotnet/coreclr, pull requests merged in 2020-11, with the labels that each got.

#28113 update branding to 3.1.11
  dir.common.props
  eng/Versions.props
Labels: * NO MERGE *

#28115 Fix remote-unwind for TARGET_ARM crossdac (dotnet/runtime#44553)
  src/pal/src/exception/remote-unwind-xdac.cpp
Labels: arch-arm32, area-Diagnostics, os-linux

#28104 Fix ilasm managed resource lookup on Linux.
  src/ilasm/asmman.cpp
  src/ilasm/grammar_after.cpp
  src/ilasm/main.cpp
  src/ilasm/writer.cpp
Labels: Servicing-approved, area-CodeGen

#28112 Fix a potential race in iterating counters
  src/System.Private.CoreLib/shared/System/Diagnostics/Tracing/CounterGroup.cs
Labels: Servicing-approved, area-Tracing
