Repository dotnet/coreclr, pull requests merged in 2021-05, with the labels that each got.

#28130 [release/3.1] Fix libunwind linking with gcc10, clang11 or -fno-common
  configurecompiler.cmake
Labels: Servicing-approved, area-VM

#28162 [release/3.1] Backport test build fix when a newer Windows SDK is installed.
  tests/src/Interop/WinRT/NativeComponent/CMakeLists.txt
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.BindingViewModel.h
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.KeyValuePairTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.NullableTesting.cpp
  tests/src/Interop/WinRT/NativeComponent/Component.Contracts.UriTesting.cpp
Labels: area-Infrastructure-coreclr

#28161 [release/3.1] Port 6.0 fix to AssemblyDependencyResolver to not throw for same file
  src/System.Private.CoreLib/src/System/Runtime/Loader/AssemblyDependencyResolver.cs
  tests/src/Loader/AssemblyDependencyResolver/AssemblyDependencyResolverTests/AssemblyDependencyResolverTests.cs
Labels: Servicing-approved, area-AssemblyLoader
