Repository dotnet/coreclr, pull requests merged in 2021-03, with the labels that each got.

#28150 [release/3.1] Fix lazy machine state unwinding for MSVC epilogues on x86
  src/vm/i386/gmsx86.cpp
Labels: Servicing-approved

#28148 GCStress eventing fix
  src/vm/eventpipe.cpp
Labels: Servicing-approved, area-Tracing

#28146 [release/3.1] Backport the fix for dotnet/runtime issue 46529
  src/jit/morph.cpp
Labels: Servicing-approved, area-CodeGen

#28153 [3.1] Use native code slot for default interface methods (#25770)
  src/vm/codeversion.cpp
  src/vm/gccover.cpp
  src/vm/method.cpp
  src/vm/methodtablebuilder.cpp
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_d.ilproj
  tests/src/Loader/classloader/DefaultInterfaceMethods/sharedgenerics/sharedgenerics_r.ilproj
Labels: Servicing-approved, area-TieredCompilation

#28149 [release/3.1] Enable additional CI testing
  eng/pipelines/corefx-jitstress.yml
  eng/pipelines/corefx-jitstress2-jitstressregs.yml
  eng/pipelines/corefx-jitstressregs.yml
  eng/pipelines/corefx.yml
  eng/pipelines/r2r.yml
  eng/platform-matrix.yml
Labels: Servicing-approved, area-Infrastructure-coreclr
